.ep-share-top {margin-left: 10px; padding: 0 20px 0 2px; cursor: pointer; position: relative; z-index: 10; display:inline;}
.ep-poplist-arr { position:absolute; z-index:10; border-color:#888 transparent transparent; border-style:solid dashed dashed; border-width:5px 5px 0; font-size:0; height:0; width:0; line-height:0; -webkit-transition: all .25s ease 0s; -moz-transition: all .25s ease 0s; -o-transition: all .25s ease 0s; transition: all .25s ease 0s; }
.ep-pop-unfold .ep-poplist-arr { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.ep-share-top .ep-poplist-arr { top:3px; right: 5px;*top:8px;}
a .ep-share-icon { display: inline-block; width: 24px; height: 24px; overflow: hidden; background: url(http://img1.cache.netease.com/cnews/css13/share_v2.0.png) no-repeat; _background: url(http://img1.cache.netease.com/cnews/css13/share_ie6_v2.0.png) no-repeat;  -webkit-transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear; -moz-transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear; -o-transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear; transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear; }
a .ep-share-163 { background-position: 0 0; }
a .ep-share-sina { background-position: -50px 0; }
a .ep-share-qzone { background-position: -100px 0; }
a .ep-share-renren { background-position: -150px 0; }
a .ep-share-youdao { background-position: -200px 0; }
a:hover .ep-share-163 { background-position: 0 -25px; }
a:hover .ep-share-sina { background-position: -50px -25px; }
a:hover .ep-share-qzone { background-position: -100px -25px; }
a:hover .ep-share-renren { background-position: -150px -25px; }
a:hover .ep-share-youdao { background-position: -200px -25px; }
.ep-share-end {width:240px; padding-top: 6px; height: 24px; line-height: 24px; }
.ep-share-end li { float: left;_display: inline; padding: 0 2px; margin-right: 8px; cursor: pointer; }
.ep-share-end li a { float: left; cursor: pointer; }
.ep-share-end li a .ep-share-icon { float: left; }
.ep-share-end .extra { float: left; margin-left: 7px; }
/* tie */
.ep-tie-simple { display: block; height: 36px; line-height: 36px; padding-left: 42px; background-position: 0 2px; }
.ep-tie-simple:hover { text-decoration: none; }
.ep-tie-count { font-family: Georgia; font-size: 24px; line-height: 25px; margin-right: 5px; color: #cc1b1b; }
.ep-tie-simple { background: url(http://img1.cache.netease.com/game/img/endpage/sprites_v1.2.png) no-repeat; }

.detail_like ul{overflow: hidden;*zoom:1;}
    .detail_like li{float: left;width:90px;display: inline;margin-left:11px;margin-bottom:10px;}
    .detail_like img{display: block;width: 84px;height: 108px;}

.detail_view{padding:15px 12px;text-align: left;}
    .detail_view dt{position: relative;height: 35px;line-height: 35px;border-bottom: 1px dotted #b8b8b8;}
        .detail_view dt h1{display: inline-block;*display: inline;*zoom:1;font-size:14px;font-weight: bold;padding-left: 5px;}
        .detail_view .detail_view_tip{padding-left: 7px;color:#a9a8a8;}
        .detail_view .detail_view_share{position: absolute;top:-5px;right:0;}
    .detail_view_dd{overflow: hidden;*zoom:1;padding-top: 10px;}
        .detail_view_img{float: left;width: 165px;display: inline;margin-right: 15px;}
        .detail_view_img img{width: 158px;height: 204px;}
        .detail_view_img .img .notline{width:69px;height:37px;}
        .detail_view_img .img .notline span{line-height:37px;padding-right:2px;font-family: 'Impact';font-size: 24px;}
        .detail_view_img .img span s{width:200px;height:60px;background:url(../../img/detail.png) no-repeat;}
        .lt-ie7 .detail_view_img .img span s{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale,src="");background:url(../../img/detail_jt.png) no-repeat;}
        .detail_view_stat{float: left;padding-top:2px;width:245px;display: inline;margin-right: 25px;color: #a9a8a8;}
            .detail_view_stat .blueTit{color: #0b93e1;margin-bottom:10px;position: relative;}
            .detail_view_stat .blueTit span{font-weight: bold;}
            .detail_view_stat .blueTit a:link,
            .detail_view_stat .blueTit a:visited,
            .detail_view_other .card a:link,
            .detail_view_other .card a:visited{color: #0b93e1;}
            .detail_view_other .card{position: relative;}
            .detail_view_other .card .card-th,
            .detail_view_other .card .card-yd,
            .detail_view_other .card .card-lh,
            .detail_view_other .card .card-zw{position: absolute;right:0;top:0;width: 41px;height: 16px;text-align:center;
                -moz-border-radius:2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
            }
            .detail_view_other .card .card-th span{display:block;height:14px;line-height: 14px;border: 1px solid #54c42d;}
            .detail_view_other .card .card-yd span{display:block;height:14px;line-height: 14px;border: 1px solid #fb8b2d;}
            .detail_view_other .card .card-zw span{display:block;height:14px;line-height: 14px;border: 1px solid #9a9a9a;}
            .detail_view_other .card .card-lh span{display:block;height:14px;line-height: 14px;border: 1px solid #1d99f7;}
            .detail_view_other .card .card-th{border: 1px solid #3fa61b;background: #3fa61b;}
            .detail_view_other .card .card-yd{border: 1px solid #f57f1f;background: #f57f1f;}
            .detail_view_other .card .card-lh{border: 1px solid #1d99f7;background: #0480de;}
            .detail_view_other .card .card-zw{border: 1px solid #757575;background: #757575;color: #fff;}
            {border: 1px solid #3fa61b;background: #3fa61b;}
            .detail_view_other .card .card-yd:link,
            .detail_view_other .card .card-lh:link,
            .detail_view_other .card .card-th:link,
            .detail_view_other .card .card-th:visited,
            .detail_view_other .card .card-lh:visited,
            .detail_view_other .card .card-yd:visited{color: #fff;}
            .detail_view_other .card .card-yd:hover{background: #FB922C;text-decoration:none;border: 1px solid #FB922C;}
            .detail_view_other .card .card-th:hover{background: #49c31f;text-decoration:none;border: 1px solid #49c31f;}
            .detail_view_other .card .card-lh:hover{background: #1c99f7;text-decoration:none;border: 1px solid #1d99f7;}

            .detail_view_stat .bluepos{position: absolute;width: 208px;height:20px;overflow: hidden;left: 38px;top:-3px;border: 1px solid #fbfbfb;background: #fbfbfb;}
            .detail_view_stat .bluepos p{height:20px;text-indent:0.3em;line-height: 20px;width: 185px;overflow: hidden;}
            .detail_view_stat .bluepos span{position: absolute;right:0px;top:0px;width: 19px;height: 18px;border: 1px solid #d8d8d8;cursor:pointer;}
            .detail_view_stat .poscur{height: auto;border:1px solid #d8d8d8;}
            .detail_view_stat .poscur span{right:-1px;top:-1px;height:19px;width:20px;}
            .detail_view_stat .poscurp{position: absolute;top: 0;left: 0;background: #fbfbfb;}
            .detail_view_stat .bluepos span s{position: absolute;left:6px;top: 8px;font-size: 0;line-height: 0;height: 4px;width: 7px;background: url(../../img/common.png) no-repeat -127px 0;}
            .detail_view_stat li{width: 120px;float: left;height:24px;line-height: 24px;overflow: hidden;}
            .detail_view_stat li span{color: #333;}
            .detail_view_stat .gz,.detail_view_other .gz{margin: 10px 0 15px;height: 25px;line-height: 25px;border-bottom: 1px solid #d8d8d8;width: 227px;font-weight:bold;color: #363636;}
            .detail_view_stat .pm{margin-bottom: 15px;}
            .detail_view_stat .pm span{position: relative;display: inline-block;width: 105px;}
            .detail_view_stat .pm .p{position: absolute;top:-22px;top:-10px\9;height:36px;line-height:50px;color: #c00;font-family: 'Georgia';font-size:30px;}
            .lt-ie9 .detail_view_stat .pm .p{top:-30px;}

            .detail_view_stat .pm .r{color: #c00;font-weight: bold;line-height:15px;}
            .detail_view_stat .lk input{float: left;background:url(../../img/detail.png) no-repeat -9999px;border:none;width: 91px;height: 29px;outline:none;}
            .detail_view_stat .lk .visible{background-position:-70px 0;cursor:pointer;}
            .detail_view_stat .lk .unvisible{background-position:-162px 0;cursor:default;}
            .detail_view_stat .lk span{float: left;padding-left:12px;padding-top:10px;}
            .detail_view_stat .lk span s{text-decoration:none;}
            
        .detail_view_other{float: left;width: 245px;padding-top:26px;color:#a9a8a8;}
            .detail_view_other li{position: relative;height:24px;line-height: 24px;}
            .detail_view_other .card{line-height: 150%;}
            .detail_view_other .gz{margin-bottom: 10px;}
            .detail_view_other .peizhi{position: absolute;width:180px;height:20px;line-height: 20px;text-indent:0.4em;overflow: hidden;left:58px;top:1px;border: 1px solid #d8d8d8;background: #fbfbfb;color: #333;z-index: 1;}
            .detail_view_other .peizhi p{width:154px;height:20px;line-height:20px;overflow: hidden;}
            .detail_view_other .peizhi .poscurp{position: absolute;top: 0;left: 0;background: #fbfbfb;}
            .detail_view_other .peizhi span{position: absolute;right:-1px;top:-1px;width: 19px;height: 20px;border: 1px solid #d8d8d8;cursor:pointer;}
            .detail_view_other .peizhi span s{position: absolute;left:6px;top: 8px;font-size: 0;line-height: 0;height: 4px;width: 7px;background: url(../../img/common.png) no-repeat -127px 0;}
            .detail_view_other .poscur{height: auto;}


.detail_view_program{padding:15px;line-height:180%;}
.com_frame4 .detail_view_vidio_c{text-align: center;overflow: hidden;*zoom:1;padding-bottom:15px;padding-top:5px;}
    .detail_view_vidio_c li{float: left;width: 166px;display: inline;margin-left:14px;margin-top: 20px;}
    .vedio_detail_vidio_c li{float: left;width: 166px;display: inline;margin-left:8px;margin-top: 20px;}
    .detail_view_vidio_c li .img a{display: block;height:120px;text-align:center;vertical-align:middle;overflow: hidden;}
    .detail_view_vidio_c li .img img{height:120px;width:160px;vertical-align:middle;}


.detail_new_pic{padding:12px;padding-bottom: 20px;position: relative;}
    .detail_new_pic img{display:block;margin:0 auto;height:auto;}
    .detail_new_pic .c_reader{width:708px;}
    

.detail_new_news,.vedio_new,.download_detail{padding:15px 14px;}
    .detail_new_news_d{border: 1px solid #d1d3d4;padding: 14px;background: #e9eff2;}
    .detail_new_news_d dt{color: #2085c9;font-size: 14px;font-weight: bold;margin-bottom:8px;}
    .detail_new_news_d dt span{color: #a9a8a8;font-size: 12px;font-weight: normal;padding-left: 10px;}
    .detail_new_news_d dd{line-height: 20px;}
    .detail_new_news_l{margin: 0 0 10px 0;}
    .detail_new_news_l li{position: relative;border-bottom:1px dotted #b8b8b8;height:37px;line-height:37px;overflow: hidden;font-size: 14px;}
    .detail_new_news_l li span{position: absolute;right:5px;top: 0;color: #a9a8a8;}

.detail_new_game{padding:23px 13px;}
    .detail_new_game table{border-collapse: collapse;width: 100%;border: 1px solid #d1d3d4;border-bottom: none;}
    .detail_new_game td{padding:0;margin: 0;line-height: 29px;text-align: left;vertical-align: middle;border-bottom: 1px solid #d1d3d4;}
    .detail_new_game .t{background: #e9eff2;border-right: 1px solid #d1d3d4;text-align: center;margin-right:10px;}
    .detail_new_game .t span{position: relative;display: block;}
    .detail_new_game .t s{position: absolute;top: 50%;margin-top:-2px;right: -4px;font-size: 0;line-height: 0;width: 4px;height: 5px;background:url(../../img/detail.png) no-repeat -70px -30px;}
    .detail_new_game a{padding:0 10px;white-space:normal;word-break:break-all;display: inline-block;}
    .detail_new_game a:hover{color: #0b93e1;}

.detail_new_dp{padding:0 15px 30px 15px;}
    .detail_new_dp li{padding-bottom:13px;margin-top: 20px;border-bottom: 1px dotted #b8b8b8;}
    .detail_new_dp .detail_new_dp_img{float: left;padding:1px;border: 1px solid #b8b8b8;width: 47px;height: 47px;}
    .detail_new_dp .detail_new_dp_p{float: right;width: 638px;line-height: 180%;}
    .detail_new_dp .detail_new_dp_zf{clear: both;text-align: right;padding-right: 15px;}
        .detail_new_dp .detail_new_dp_zf span{display: inline-block;padding: 1px 5px;margin-right:1px;color: #fff;}
        .detail_new_dp .detail_new_dp_zf .z{background: #c00;cursor:pointer;}
        .detail_new_dp .detail_new_dp_zf .f{background: #333;cursor:pointer;}
        .detail_new_dp .detail_new_dp_zf .z_num{padding:0 2px;border:1px solid #c00;color: #c00;}
        .detail_new_dp .detail_new_dp_zf .f_num{padding:0 2px;border:1px solid #333;color: #333;}



.detail_gentie{padding:10px;background:#fff;}
/*-- 厂商 --*/
.firm_game .blue_a{font-size:12px;font-family: '\5B8B\4F53';text-shadow:none;padding-left:8px;}
.firm_new{padding:15px 14px 30px;overflow: hidden;*zoom:1;}
    .firm_new .detail_new_news_d dt{margin-bottom:0;}
    .firm_new_d{border: 1px solid #d1d3d4;padding: 14px;background: #e9eff2;margin: 10px 0;font-size: 14px;}
    .firm_new .blue_a{padding-right: 10px;}
    .firm_new_d_t{width: 345px;float: left;}
    .firm_new_d_t li{height:25px;line-height: 25px;text-indent: 0.2em;overflow: hidden;}

.firm_index{text-align: left;padding: 11px 10px;line-height:150%;}
    .firm_index a,.allfirm_title .i{display: inline-block;padding:1px 7px;}
    .firm_index .cur,
    .allfirm_title .cur{background: #6a6a6a;}
    .firm_index .cur:link,
    .firm_index .cur:visited,
    .firm_index .cur:active,
    .allfirm_title .cur:link,
    .allfirm_title .cur:visited,
    .allfirm_title .cur:active{color:#fff;}

.firm_hot li{margin-top: 15px;}
.firm_info{padding:14px 15px;}
    .firm_info .com_img{padding-bottom:15px;border-bottom: 1px dotted #b8b8b8;}
    .firm_info .img{float: left;}
    .firm_info .info{float: right;width: 500px;line-height:22px;color: #a9a8a8;}
    .firm_info .info strong{font-weight: bold;font-size:14px;}
    .firm_info .info i{color: #333;}
    .firm_info .info_btn{margin-top:5px;}
    .firm_info .info_p{padding-top: 15px;line-height: 150%;}
        .firm_info .info_p span{font-size: 14px;font-weight: bold;}

.com_frame4 .firm_view_vidio_c{text-align: center;overflow: hidden;*zoom:1;padding-bottom:15px;}
    .firm_view_vidio_c li{float: left;width: 128px;display: inline;margin-left:16px;margin-top: 20px;}

.com_frame4 .allfirm_title{text-shadow:none;font-size: 12px;font-family: '\5B8B\4F53';color:#5b5b5b;}
    .allfirm_title .allfirm_title_p{position: absolute;left: 10px;top: 10px;height:17px;line-height:17px;}

.allfirm_info{position: relative;overflow: hidden;*zoom:1;padding:15px 22px 30px 0;}
    .allfirm_info .allfirm_index{float: right;width:775px;}
        .allfirm_index li{border-bottom: 1px dotted #b8b8b8;padding:15px 0;overflow: hidden;*zoom:1;}
        .allfirm_index .last{border-bottom:none;}
        .allfirm_index dl{width: 183px;float: left;margin-right: 10px;}
        .allfirm_index dt{font-size: 14px;font-weight:bold;color: #000;margin-bottom:5px;}
            .allfirm_index dt .blue_a{font-size: 12px;font-weight:normal;color: #2085c9;}
        .allfirm_index dd a{display: block;height:22px;line-height:22px;}
        .allfirm_indexPos{position: absolute;top: 21px;left: -1px;width: 123px;height: 44px;line-height: 43px;text-indent:2em;font-size:18px;font-family: '\5FAE\8F6F\96C5\9ED1';color:#fff;background:url(../../img/firm.png);text-shadow: #363636 0 0px 1px;}

/*-- 新闻页 --*/
.new_news_l li{line-height:40px;height:40px;}
    .new_news_l .last{border-bottom: none;}
    .new_news_l li a{font-size: 14px;}

/*-- 视频页 --*/
.vedio_new li{float: left;display: inline;width: 166px;margin-left: 9px;margin-top:20px;text-align: center;}
    .vedio_new li .img a{display: block;text-align:center;vertical-align:middle;overflow: hidden;}
    .vedio_new li .img img{height:120px;width:160px;vertical-align:middle;}

.vedio_detail .vedio_detail_body{padding:15px 14px;}
.vedio_detail .f_title{margin-bottom:15px;}
.vedio_detail .f_title span{padding-left: 5px;padding-right:15px;color:#999;}
.vedio_detail h1{margin-top:15px;margin-bottom:5px;height:25px;padding-left:5px;line-height:25px;color:#2c69aa;font-weight: bold;font-size: 14px;}
.content_body{color:#333;line-height:180%;min-height:655px;}
    .content_body em,.content_body i{font-style: italic;}
    .content_body strong,.content_body b{font-weight: bold;}
    .content_body .p{text-indent:2em;margin-bottom:40px}
    .content_body .content_body_vedio{width:690px;height: 570px;margin:0 auto;}

/*-- 下载页 --*/
.download_detail .com_img{padding:13px 5px 0 5px;overflow: hidden;*zoom:1;color:#999;}
    .download_detail .com_img .img{float: left;width:122px;margin-right: 23px;}
    .download_detail .info{float: left;width:140px;margin-right:40px;line-height:25px;}
    .download_detail .info_btn{margin-top:4px;}
    .download_detail .downInfo{line-height:24px;padding-left:10px;}
    .download_detail .downInfo_t{position: relative;height:24px;font-weight: bold;color:#333;}
    .download_detail .downInfo_t span{padding-left: 20px;}
    .download_detail .downInfo_t s{position: absolute;left:8px;font-size: 0;line-height: 0;height: 15px;width: 20px;top: 8px;background:url(../../img/common.png) no-repeat -69px -56px;}
    .download_detail .info_t{font-weight: bold;color: #333;height: 30px;line-height: 30px;border-bottom: 1px solid #cfcfcf;padding-left:10px;margin-top: 10px;margin-bottom:10px;font-size: 14px;}
    .download_detail .peizhi{border: 1px solid #dbdbdb;float: right;width:330px;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
    }
    .download_detail .peizhi dt{height:33px;line-height:33px;padding-left:10px;border-bottom: 1px solid #dbdbdb;}
    .download_detail .peizhi dd{padding:10px 20px;}
    .download_detail .peizhi dd p{height:20px;overflow: hidden;margin-bottom: 5px;}
    .download_detail .peizhi dd .pe-blue{display: inline-block;margin-right:15px;width:38px;text-align: center;height:18px;line-height:18px;background: #2c69aa;color: #fff;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        border-radius:2px;
    }

/*-- 图片页 --*/
.pic_detail{padding-top:15px;padding-bottom: 17px;}
    .pic_tabs{height: 30px;line-height: 30px;border-bottom: 1px solid #d8d8d8;padding-left:15px;}
    .pic_tabs li{position: relative;float: left;padding: 0 10px;background: #f9f9f9;}
    .pic_tabs .cur{line-height:26px;height:29px;top:1px;border-left: 1px solid #d8d8d8;border-right: 1px solid #d8d8d8;border-top: 1px solid #d8d8d8;}
    .pic_readerDiv{padding:1px;}
    .pic_detail .c_reader{border: none;border-bottom:1px solid #ccc;margin-bottom:20px;}
    .pic_detail .c_reader img{display: block;margin:0 auto;height:auto;}
/*-- 列表页 --*/
.list_gameIndex{padding:15px 14px;overflow: hidden;}
    .list_gameIndex dl{line-height:25px;margin-bottom:8px;}
    .list_gameIndex dt{float: left;color: #585858;font-weight: bold;}
    .list_gameIndex dd{overflow: hidden;*zoom:1;}
    .list_gameIndex dd a{display: inline-block;margin-right:4px;padding:0 4px;}
    .list_gameIndex dd .cur:link,
    .list_gameIndex dd .cur:visited,
    .list_gameIndex dd .cur:hover,
    .list_gameIndex dd .cur:active{background: #4270a4;color: #fff;text-decoration: none;}
.list_sort_dt{padding-left: 14px;position: relative;}
    .list_sort_dt .sort{height: 22px;line-height: 22px;margin-top:10px;}
    .list_sort_dt .sort a{display: inline-block;padding: 0 5px;margin-right: 10px;}
    .list_sort_dt .sort .r{background: #5a5959;color:#fff;}
    .list_sort_dt .wz_a,.list_sort_dt .tp_a{position: absolute;height: 19px;top:10px;line-height: 19px;padding: 0 3px 0 20px;}
    .list_sort_dt .wz_a{right:80px;}
    .list_sort_dt .tp_a{right:20px;}
        .list_sort_dt .wz_a s,.list_sort_dt .tp_a s{position: absolute;width: 10px;height: 9px;background-image:url(../../img/list.png);background-repeat: no-repeat;font-size: 0;line-height: 0;}
        .list_sort_dt .wz_a s{left:5px;top:5px;}
        .list_sort_dt .tp_a s{left:5px;top:5px;background-position: -10px 0;}
        .list_sort_dt .sort_cur .wz_a,.list_sort_dt .sort_cur .tp_a{background-color: #2c69aa;color:#fff;text-decoration: none;}
        .list_sort_dt .sort_cur .wz_a s{background-position: 0 -9px;}
        .list_sort_dt .sort_cur .tp_a s{background-position: -10px -9px;}
.list_sort_dd{padding: 0 14px 50px 14px;}
    .list_sort_dd li{position: relative;overflow: hidden;*zoom:1;border-bottom: 1px solid #cfcfcf;margin-top:25px;padding-bottom:25px;padding-left: 3px;}
    .list_sort_dd .img{float: left;}
    .list_sort_dd dl{float: right;width: 556px;}
        .list_sort_dd dd{line-height:180%;padding: 5px 0;}
        .list_sort_dd .sortContent{width: 400px;height: 85px;overflow: hidden;}
        .list_sort_dd .sortContent a{color:#db1011;}
        .list_sort_dd .pic,
        .list_sort_dd .nopic{position: absolute;top:80px;right: 90px;width:26px;padding-top: 35px;text-align: center;}
        .list_sort_dd .pic{background:url(../../img/list.png) no-repeat -108px 0;}
        .list_sort_dd .nopic{background:url(../../img/list.png) no-repeat -21px 0;}
        .list_sort_dd .ved,
        .list_sort_dd .noved{position: absolute;top:80px;right: 25px;width:26px;padding-top: 35px;text-align: center;}
        .list_sort_dd .ved{background:url(../../img/list.png) no-repeat -135px 0;}
        .list_sort_dd .noved{background:url(../../img/list.png) no-repeat -48px 0;}
    .list_sort_dd .sortTitle{position: relative;font-size:14px;height: 25px;line-height: 25px;font-weight: bold;color: #333;border-bottom: 1px dotted #b8b8b8;}
    .list_sort_dd .sortTitle .tip{font-weight: normal;font-size:12px;padding-left:10px;color:#aeadad;}
    .list_sort_dd .sortTitle .r{font-weight: normal;font-size:12px;position: absolute;right: 5px;top:2px;}
.game_sort_dd{padding:0 20px 50px 20px;overflow: hidden;*zoom:1;}
    .game_sort_dd li img{width:330px;height: auto;border: 1px solid #f9f9f9;}
    .game_sort_dd li .name1{line-height:200%;position: relative;padding:5px 0 5px 10px;}
    .game_sort_dd li .name1 a{font-size:14px;}
    .game_sort_dd li span{color:#7b7b7b;position: absolute;right: 10px;top: 5px;}

.list_zhankaiDiv{height: 175px;overflow: hidden;}
.list_zhankai{text-align: center;padding: 10px 0 15px 0}
    .list_zhankai span{color: #2c69aa;cursor: pointer;padding-left:15px;background:url(../../img/list_zhankai.png) no-repeat 0 2px;}
    .list_zhankai .shouqi{background-position: 0 -10px;}
/*-- 游戏测试表页 --*/
.comt_tile{border: 1px solid #214c7a;background: #2c69aa;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius:2px;
}
.comt_tile .comt_inside{display: block;border: 1px solid #5197e2;color:#fff;height:38px;line-height: 38px;text-align: center;padding: 0 18px;font-size: 20px;}
.game_table{padding: 10px;background: #fff;border: 1px solid #c4c4c4;}
    .game_table .stat{float: left;height:30px;line-height: 30px;}
    .game_table .stat span{float: left;}
    .game_table .stat label{float: left;overflow: hidden;*zoom:1;display: inline-block;margin-right: 15px;}
    .game_table .stat input{float: left;display: inline;height: 13px;width: 13px;margin-right:3px;margin-top: 8px;}
.stat_sch{width: 230px;float: right;}
.stat_sch input{border: 1px solid #c4c4c4;height:22px;line-height:22px;float: left;padding: 2px 5px;}
.stat_sch label{height:26px;display: inline-block;cursor:pointer;font-size: 12px;}
.stat_sch label .comt_inside{font-size: 12px;line-height:24px;height: 24px;}

.tabel_wrap{margin-top:18px;}
.com_tabel{border-collapse:collapse;width: 100%;}
    .com_tabel tbody .even{background: #e8eff6;}
    .com_tabel thead{height: 30px;line-height: 30px;background: #e2e2e2;}
    .com_tabel th{font-weight: bold;text-align: center;}
    .com_tabel th span{display: inline-block;width: 100%;padding-right:1px;height:15px;line-height: 15px;border-right: 1px solid #bfbfbf;}
    .com_tabel td{height:30px;line-height:30px;overflow: hidden;}
    .com_tabel td .orange{color: #fb5203;}
    .com_tabel td .btn{height: 16px;line-height: 16px;padding:0 10px;display: inline-block;color:#fff;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius:2px;
        text-decoration: none;
    }
    .com_tabel td .btn:link,
    .com_tabel td .btn:visited,
    .com_tabel td .btn:hover,
    .com_tabel td .btn:active{color:#fff;}
    .com_tabel td .blue_btn{border: 1px solid #1b4a7d;background: #2c69aa;}
    .com_tabel td .green_btn{border: 1px solid #2d5f19;background: #498033;}
    .com_tabel td .gray_btn{border: 1px solid #595959;background: #8c8c8c;}
    .com_tabel td .novedio,
    .com_tabel td .vedio{display: inline-block;position: relative;top: 3px;*top:0;width: 16px;height: 16px;background:url(../../img/list.png) no-repeat -91px 0;}
    .com_tabel td .vedio{background:url(../../img/list.png) no-repeat -178px 0;}
    .com_tabel td .pic,
    .com_tabel td .nopic{display: inline-block;position: relative;top: 3px;*top:0;width: 16px;height: 15px;background:url(../../img/list.png) no-repeat -74px 0;}
    .com_tabel td .pic{background:url(../../img/list.png) no-repeat -161px 0;}

/* 游戏排行榜页面 */
.game_sort_img{position: relative;z-index:200;height: 80px;background: #296bac;margin-top:-13px;margin-bottom:10px;}
    .game_sort_img img{margin:0 auto;}
.sort_list_maintop{border-bottom:1px solid #fefefe;height: 17px;}
.sort_list_main{padding:5px 20px 20px 20px;}
    .sort_list_main li{position: relative;line-height:20px;overflow: hidden;*zoom:1;border-bottom: 1px solid #cfcfcf;padding:20px 0 20px 70px;text-align: left;}
    .sort_list_main .main_first{border-top: none;padding-top:0;}
    .sort_list_main .main_first .img img{width: 122px;height: 157px;}
    .sort_list_main li .sort_list_title,.sort_list_main li .sort_list_plist,.sort_list_main li .sort_list_rd{float: left;}
    .sort_list_main li .sort_list_title{width:140px;overflow: hidden;text-indent:1em;}
    .sort_list_main li .sort_list_plist{width:390px;overflow: hidden;}
    .sort_list_main li .sort_list_rd{width: 90px;color: #000;font-weight: bold;}
    .sort_list_main li .sort_list_rd span{color: #b00;font-weight: normal;}
    .sort_list_main li .sort_list_tip{position: absolute;top:17px;left: 15px;padding:1px;text-align: center;background:#215b97;font-size:18px;color: #fff;
        -moz-border-radius:2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }
    .sort_list_main li .sort_list_tip span{display: block;padding:0 7px;border: 1px solid #3370b0;}

    .sort_list_main .main_first .sort_list_tip{position: absolute;top:55px;padding:0;left: 15px;width:29px;height:36px;line-height:30px;text-align: center;background:url(../../img/sort_list.png) no-repeat -1px -19px;font-size:20px;color: #fff;}
        .sort_list_title a:link,
        .sort_list_title a:visited,
        .sort_list_title a:active{color: #000;font-size:14px;font-weight: bold;}

    .main_first_r{float: left;*zoom:1;display: inline;margin-left:15px;width:477px;text-align:left;}
        .main_first_r dt{line-height: 20px;height: 25px;border-bottom:1px dotted #b8b8b8;}
        .main_first_r_t{position: relative;font-size:14px;font-weight: bold;}
        .main_first_r_tip{color:#aeadad;padding-left:10px;}
        .main_first_rdz{position: absolute;right:2px;top: 2px;padding-left:70px;padding-right:2px;height:18px;line-height:18px;background:#b00 url(../../img/sort_list.png) no-repeat;text-align: center;color: #fff;}
        .main_first_r dd{color:#6a6a6a;line-height: 25px;padding-top:5px;}
        .main_first_r .p_gram a:link{color:#db1011;}
        .main_first_r .p_blue{color:#2c69aa;}
        .main_first_r .p_list a{padding-right:10px;}
        .main_first_r .p_stat{margin-top:15px;}

    .list_gameSort{padding:15px 14px;text-align: left;}
        .list_gameSort dl{line-height:20px;margin-bottom:8px;border-bottom: 1px dotted #b8b8b8;padding-bottom:8px;}
        .list_gameSort dt{color: #000;font-weight: bold;height: 30px;line-height: 30px;}
        .list_gameSort dd a{display: inline-block;*zoom:1;margin-bottom:5px;padding:0 4px;}
        .list_gameSort dd a:link,
        .list_gameSort dd a:visited,
        .list_gameSort dd a:active{color: #696969;}
        .list_gameSort dd .cur:link,
        .list_gameSort dd .cur:visited,
        .list_gameSort dd .cur:hover,
        .list_gameSort dd .cur:active{background: #4270a4;color: #fff;text-decoration: none;}


#tie-quoteWin{top:600px;}

.nocard{margin-top: 25px;}


.zhuanquTip{display: none;position: absolute;top:300px;background: #2c6aab;border: 1px solid #0a4078;color: #fff;padding:10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:3px;
}
.zhuanquTip s{position: absolute;background:url(../../img/bigtipjt.png) no-repeat;left:20px;z-index:11;top:-7px;font-size:0;line-height: 0;height:7px;width: 10px;}