.index_hot{margin-bottom: 16px;}
    .index_hot_t,.index_guess_t{padding-left: 16px;font-family:'\5FAE\8F6F\96C5\9ED1';font-size:16px;}
    .index_hot .hot_content{overflow: hidden;*zoom:1;padding: 15px 25px 23px 35px;}
    .index_hot .hot_content_r{float: right;width: 515px;text-align:left;}
        .hot_content_r dt{line-height: 20px;height: 25px;border-bottom:1px dotted #b8b8b8;}
        .hot_content_r_t{font-size:14px;font-weight: bold;}
        .hot_content_r_t a:link{color: #000;}
        .hot_content_r_t a:hover{color: #ba2636;}
        .hot_content_r_tip{color:#aeadad;padding-left:10px;}
        .hot_content_r dd{color:#6a6a6a;line-height: 25px;padding-top:5px;}
        .hot_content_r .hot_content_r_c{float: left;width:385px;}
        .hot_content_r .p_gram a:link{color:#db1011;}
        .hot_content_r .p_blue{color:#2c69aa;}
        .hot_content_r .p_list a{padding-right:5px;text-decoration:underline;}
        .hot_content_r .p_stat{margin-top:22px;}
        .hot_content_r .hot_content_r_pf{float: right;display:inline;margin-right:14px;margin-top:9px;width: 97px;height: 109px;border:1px solid #d8d8d8;text-align:center;}
        .hot_content_r .hot_content_r_pf dt{position:relative;height: 29px;line-height:29px;border-bottom:1px solid #d8d8d8;}
        .hot_content_r .hot_content_r_pf dd{padding-top:15px;font-family:'Impact';font-size:50px;line-height:45px;color:#fc7d41;}
        .hot_content_r .hot_content_r_pf .pf1,
        .hot_content_r .hot_content_r_pf .pf2{position:absolute;left:10px;top:-4px;background:#f9f9f9;height:8px;width:2px;line-height:0;border: 1px solid #bdbdbd;font-size: 0;}
        .hot_content_r .hot_content_r_pf .pf2{right:10px;left:auto;}

    .index_mb16{margin-bottom: 16px;}
    .index_guess dt{position: relative;}
    .index_guess_tip{padding-left:11px;color: #aeadad;}
    .index_guess_a{position: absolute;padding-left:20px;right:20px;top:0;}
    .index_guess_a:link,
    .index_guess_a:visited,
    .index_guess_a:active{color: #2c69aa;}
    .index_guess_a span{position: absolute;left:2px;top:10px;width: 13px;height: 15px;overflow: hidden;font-size: 0;line-height: 0;}
    .index_guess_a span s{position: absolute;left: -115px;top: 0;width:280px;height:120px;background:url(../../img/common.png) no-repeat;}
    .index_guess dd{padding: 25px 0 13px 0;}
    .index_guess_ul{overflow: hidden;*zoom:1;}
        .index_guess_ul li{float: left;display: inline;margin-left:12px;width: 128px;overflow: hidden;}
        .index_guess_ul li img{vertical-align: top;width:122px;height: 157px;}

.index_game{clear: both;position: relative;margin-bottom: 20px;}
    .index_game .com_frame2_dt{position:relative;padding-left:14px;height:43px;line-height:43px;}
       .index_game .com_frame2_dt .more{position:absolute;right:14px;top:12px;width:60px;height:21px;line-height:21px;text-align:center;border: 1px solid #9a9a9a;background: #ededed;}
       .index_game .com_frame2_dt .more:link,
       .index_game .com_frame2_dt .more:visited,
       .index_game .com_frame2_dt .more:hover,
       .index_game .com_frame2_dt .more:active{color:#2085c9;text-decoration:none;}
    .index_game .com_frame2_dd{padding-top:15px;overflow: hidden;*zoom:1;padding-bottom:10px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius:0px;
    }
    .index_game_line{position: absolute;left: 0;top:0px;width:958px;_width:957px;font-size: 0;line-height: 0;height: 2px;border: 1px solid #13375c;background: #1a5189;
        -moz-border-radius-topright:10px;
        -webkit-border-top-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    .index_game_line span{position: absolute;left: -36px;top:-1px;height:146px;width: 36px;overflow: hidden;font-size: 0;line-height: 0;}
    .index_game_line span s{position: absolute;left:0;top: 0;width:220px;height:150px;background:url(../../img/index.png) no-repeat;}
    
    .index_webGame{margin-bottom: 0;}
    .index_webGame .index_game_line span {left: -36px;top:-1px;height:146px;width: 36px;}
    .index_webGame .index_game_line span s{left:-36px;top: 0;}

    .index_game_l{float:left;width:719px;border-right:1px dotted #aeadad;margin-bottom:6px;}
        .index_game_l ul{overflow: hidden;*zoom:1;}
        .index_game_l li{float: left;display: inline;margin-left:13px;margin-top: 20px;width: 128px;overflow: hidden;}
        .index_game_l_tab{text-align: left;padding-left:15px;color: #cecece;}
        .index_game_l_tab span{position: relative;display: inline-block;*zoom:1;padding: 5px 0;color: #363636;cursor:pointer;}
        .index_game_l_tab .cur{background: #4270a4;padding: 5px 10px;color: #fff;}
        .index_game_l_tab .cur s{position: absolute;left:50%;margin-left:-6px;bottom:-5px;background:url(../../img/common.png) no-repeat -51px 0;height:5px;width: 12px;font-size: 0;line-height: 0;}

/*--------------*/
.index_dayGame{position:relative;padding:64px 80px 0 20px;line-height:40px;height:40px;border: 1px solid #b0a479;background:#fff7d3;color:#333;text-align: left;margin-bottom:14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}
    .index_dayGame a:link{color:#333;}
    .index_dayGame .more{position:absolute;bottom:10px;right:16px;height:17px;width:53px;line-height:17px;background:#a79968;border:1px solid #95885b;text-align: center;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius:2px;
    }
    .index_dayGame .more:link,
    .index_dayGame .more:visited,
    .index_dayGame .more:hover,
    .index_dayGame .more:active{color:#fff;text-decoration: none;}
    .index_dayGame_t{position: absolute;top:-1px;left:-1px;height: 62px;width:223px;border: 1px solid #3e8800;font-family: '\5FAE\8F6F\96C5\9ED1';font-size:18px;font-weight: bold;text-align: center;color:#000;background: url(../../img/index.png) repeat-x 0 -147px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    .index_dayGame_t p{position:absolute;top:10px;left:20px;color:#fff;text-shadow: #333 0 1px 2px;}
    .index_dayGame_t .index_dayGame_t_k{display: inline-block;*zoom:1;margin: 0 7px;padding:0 5px;border: 1px solid #3e8800;background: #e7e3f1;height:25px;line-height:25px;color:#333;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius:2px;
        text-shadow:none;
    }
    
    .lt-ie7 .index_dayGame_t p{top:18px;}

.index_newGame dd a{position:relative;float: left;*zoom:1;width:73px;padding-top:50px;padding-bottom: 8px;}
    .index_newGame dd{overflow: hidden;*zoom:1;_height: 72px;background:#fff;}
    .index_newGame dd a:link,
    .index_newGame dd a:visited,
    .index_newGame dd a:hover,
    .index_newGame dd a:active{color:#6a6a6a;text-decoration: none;}
    .index_newGame dd a:hover{background: #ececec;}
    .index_newGame dd .m{width:74px;border-left:1px solid #d3d3d3;border-right:1px solid #d3d3d3;}
    .index_newGame dd span{position: absolute;overflow: hidden;font-size: 0;line-height: 0;}
    .index_newGame dd span s{position: absolute;width:280px;height:120px;background:url(../../img/index.png) no-repeat;}
    .index_newGame dd .l span{top:10px;left:19px;width:34px;height: 30px;*cursor: pointer;}
    .index_newGame dd .l span s{left:-73px;top: 0;}
    .index_newGame dd .m span{top:10px;left:18px;width:38px;height: 28px;*cursor: pointer;}
    .index_newGame dd .m span s{left:-108px;top: 0;}
    .index_newGame dd .r span{top:10px;left:17px;width:39px;height: 28px;*cursor: pointer;}
    .index_newGame dd .r span s{left:-147px;top: 0;}

.index_newPerson .com_frame3_dd{padding: 11px 10px;}
   .index_newPerson .com_tabs span{width:60px;}
   .index_newPerson .com_tabs span s{width:62px;}
   .index_newPerson_c{padding-top:10px;display: none;}
    .index_newPerson_c .img_c{height:80px;overflow: hidden;*zoom:1;margin-bottom: 10px;*margin-bottom: 0;_margin-bottom: 10px;}
    .index_newPerson_c .img_c img{float: left;width:100px;height: 68px;margin-right:15px;}
    .index_newPerson_c .img_c .img_txt{display: block;overflow: hidden;*zoom:1;text-align: left;}
    .index_newPerson_c .img_c .img_txt a{display: block;font-weight: bold;margin-bottom: 10px;}
    .index_newPerson_c .img_c .img_txt span{color: #666;display: block;margin-bottom: 10px;height: 15px;overflow: hidden;}
    .index_newPerson_c .img_c .img_txt .get{display: block;color:#fff;font-weight:normal;height:16px;line-height: 16px;width:32px;background: #6a6a6a;text-align: center;margin: 0;}
    .index_newPerson_c .img_c .img_txt .get:hover{text-decoration: none;}

    .index_newPerson_c .getNum_c li{position: relative;height: 20px;line-height: 20px;margin-bottom:5px;_margin-bottom:2px;}
    .index_newPerson_c .getNum_c .even{background: #e5e5e5;}
    .index_newPerson_c .getNum_c .txt{position: absolute;top:0;left: 0;height:20px;width:140px;overflow: hidden;text-align: left;}
    .index_newPerson_c .getNum_c .get{position: absolute;top:2px;right:2px;height:16px;line-height: 16px;width:32px;background: #6a6a6a;}
    .index_newPerson_c .getNum_c .get:link,
    .index_newPerson_c .getNum_c .get:visited,
    .index_newPerson_c .getNum_c .get:hover,
    .index_newPerson_c .getNum_c .get:active{color:#fff;text-decoration: none;}
    .index_newPerson_c .srh{display: block;margin-top:11px;_margin-top:6px;text-align: left;height:20px;line-height: 20px;overflow: hidden;*zoom:1;}
    .index_newPerson_c .srh input{border: 1px solid #7d94a2;height: 12px;width: 97px;padding: 3px 5px;border-right: none;outline:none;color: #999;}
    .index_newPerson_c .srh .btn{width: 36px;height: 20px;color: #fff;cursor:pointer;background: #256ba6;text-align: center;}
    .index_tabWrap{position: relative;text-align: left;height: 30px;border-bottom: 1px solid #c8c7c7;}
    .index_tabWrap .com_tabs{border-bottom: none;position: absolute;top:1px;right: 0;width:122px;}
    .index_tabWrap .t{font-size: 18px;line-height: 30px;font-family: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53';}


.index_rank{float: right;display: inline;margin-right:9px;width:215px;}
    .index_rank .com_tabs span{width:106px;}
    .index_rank .com_tabs span s{width:108px;}

.c_slidePic{height:204px;}
    .c_slidePic_ul .c_slidePic_cell{width:718px;}
    .c_leftBtn{left:0;top:50%;margin-top:-28px;width: 24px;height: 28px;background:url(../../img/index.png) no-repeat -98px -31px;}
    .c_rightBtn{right:0;top: 50%;margin-top:-28px;left:auto;width: 24px;height: 28px;background:url(../../img/index.png) no-repeat -72px -31px;}
    .c_indicate{left:50%;bottom:20px;}
    .c_indicate{position: absolute;left:50%;margin-left:-20px;bottom:10px;}
        .c_indicate li{margin-right:10px;border:none;background:#6a6a6a;
             -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius:8px;
        }
        .c_indicate .cur{background:#2c69aa;}