@charset "gb2312";
/* CSS Document */
td{text-align:left; line-height:160%;}
p{ margin:0;}
.sign {background:#FFFFFF;}
.foot{ text-align:center; background:#fff;}
/*顶部导航*/
.NTES_sec_ {border-bottom:1px solid #dcdddd;}
.NTES_nav_ {width:960px; height:30px; line-height:30px; margin:0 auto;}
.NTES_bg_ {height:35px; background:#ffffff;}
.NTES_nav_ .NTES_logo {float:left; display:inline; margin:5px 5px 0 5px;}
.NTES_nav_ .nav_link {float:left; padding-left:6px; color:#B3B3B3;}
.NTES_bg_ .nav_link {margin-top:2px;}
.NTES_nav_ .nav_link a {padding:0 3px;}
.NTES_nav_ .NTES_link {float:left; color:#B3B3B3;}
.NTES_nav_ .NTES_link a {padding:0 2px 0 3px; color:#1E50A2;}
.NTES_nav_ .NTES_link a:hover {color:#ba2636;}
.NTES_nav_ .hidden {display:none;}
#divSelect {float:left;}
.NTES_nav_ .top_search {float:right; margin:6px 6px 0 0; display:inline;}
.NTES_bg_ .top_search {margin-top:8px;}
.NTES_nav_ .top_search .select_box {background:url(http://img1.cache.netease.com/cnews/img09/ntes_nav_img.gif) left -56px no-repeat; width:45px; height:18px; border:none; position:relative; text-align:left; cursor:pointer; float:left; margin-right:4px; z-index:1000;}
.NTES_nav_ .top_search .select_box .select_list {display:block; position:absolute; width:3em; line-height:19px; left:0; top:0; background:#fff; display:none;}
.NTES_nav_ .top_search .select_box .search_site {height:18px; line-height:20px; padding-left:6px; float:left; overflow:hidden;}
.NTES_nav_ .top_search .select_box .select_list {width:43px; border:1px solid #B4B4B4;}
.NTES_nav_ .top_search .select_box {width:45px;}
.NTES_nav_ .top_search .select_box a {display:block; height:18px; text-indent:5px;}
.NTES_nav_ .top_search .select_box a:hover {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
.NTES_nav_ .top_search .select_box a.active {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
.NTES_nav_ .top_search .textBox {width:88px; height:18px; color:#7B7C7D; background:url(http://img1.cache.netease.com/cnews/img09/ntes_nav_img.gif) left top no-repeat; border:none; float:left; line-height:18px; text-indent:3px;}
.NTES_nav_ .top_search .btn {overflow:hidden; width:41px; height:18px; background:url(http://img1.cache.netease.com/cnews/img09/ntes_nav_img.gif) left -28px no-repeat; border:none; float:left; line-height:19px; font-size:12px; cursor:pointer;}
.NTES_nav_ .top_search form {float:left;}
.NTES_nav_ .top_search .rss{float:left; margin:2px 0 0 6px;}
/*新页头页脚额外新增100629*/
.subject_copy{ background:url(http://img1.cache.netease.com/subject/images/newlogo100628/icon1.gif) no-repeat left top; padding-left:20px; padding-bottom:2px; padding-top:3px;}
.subject_tran{ background:url(http://img1.cache.netease.com/subject/images/newlogo100628/icon2.gif) no-repeat left top; padding-left:20px; padding-bottom:2px; padding-top:3px; float:none!important;}
.subject_home{ background:url(http://img1.cache.netease.com/subject/images/newlogo100628/icon3.gif) no-repeat left top; padding-left:20px; padding-bottom:2px; padding-top:3px;}
.subject_top{ background:url(http://img1.cache.netease.com/subject/images/newlogo100628/icon4.gif) no-repeat left top; padding-left:20px; padding-bottom:2px; padding-top:3px;}
/*图片边框*/
.imgBg01{ border:1px solid #dcdddd;}
/* 模块背景 */
.bg01{ background:url(http://img1.cache.netease.com/subject/images/subject091020/bg01.gif) repeat-y top right; margin:0 10px;}
.bg02{ width:298px;}
.bg03{ background:url(http://img1.cache.netease.com/subject/images/subject091020/conEnd230.gif) repeat-y top right;}
/*导航背景*/
.navPurple01{background:url(http://img1.cache.netease.com/subject/images/subject091020/lady_navBg.gif) repeat-x top left; }
.navPurple02{background:url(http://img1.cache.netease.com/subject/images/subject091020/lady_navBg_1.gif) repeat-x top left; }
.navPurple03{background:url(http://img1.cache.netease.com/subject/images/subject091020/lady_navBg_3.gif) repeat-x top left; }
.navBule01{background:url(http://img1.cache.netease.com/subject/images/subject091020/navBg.gif) repeat-x top left; }
.navBlue02{background:url(http://img1.cache.netease.com/subject/images/subject091020/lady_navBg_2.gif) repeat-x top left; }
.navBlue03{background:url(http://img1.cache.netease.com/subject/images/subject091020/auto_navBg_1.gif) repeat-x top left; }
.navBlue04{background:url(http://img1.cache.netease.com/subject/images/subject091020/sports_navBg_3.gif) repeat-x top left; }
.navBlue05{background:url(http://img1.cache.netease.com/subject/images/subject091020/sports_navBg_2.gif) repeat-x top left; }
.navBlue06{background:url(http://img1.cache.netease.com/subject/images/subject091020/travel_navBg_2.gif) repeat-x top left; }
.navBlue07{background:url(http://img1.cache.netease.com/subject/images/subject091020/vedio_navBg_1.gif) repeat-x top left; }
.navBlue08{background:url(http://img1.cache.netease.com/subject/images/subject091020/tech_navBg_1.gif) repeat-x top left; }
.navBlue09{background:url(http://img1.cache.netease.com/subject/images/subject091020/tech_navBg_2.gif) repeat-x top left; }
.navBlue10{background:url(http://img1.cache.netease.com/subject/images/subject091020/tech_navBg_3.gif) repeat-x top left; }
.navBlue11{background:url(http://img1.cache.netease.com/subject/images/subject091020/book_navBg_1.png) repeat-x top left; }
.navBlue12{background:url(http://img1.cache.netease.com/subject/images/subject091020/book_navBg_2.jpg) repeat-x top left; }
.navBlue13{background:url(http://img1.cache.netease.com/subject/images/subject091020/money_navBg_1.png) repeat-x top left; }
.navBlue14{background:url(http://img1.cache.netease.com/subject/images/subject091020/money_navBg_2.png) repeat-x top left; }
.navBlue15{background:url(http://img1.cache.netease.com/subject/images/subject091020/money_navBg_3.gif) repeat-x top left; }
.navBlue16{background:url(http://img1.cache.netease.com/subject/images/subject091020/edu_navBg_1.png) repeat-x top left; }
.navBlue17{background:url(http://img1.cache.netease.com/subject/images/subject100125/nav_bbs.gif) repeat-x top left; }
.navBlue18{background:url(http://img1.cache.netease.com/subject/images/subject100125/digi_navBg_1.png) repeat-x top left; }
.navBlue19{background:url(http://img1.cache.netease.com/subject/images/subject100125/digi_navBg_1.png) repeat-x top left; }
.navBlue20{background:url(http://img1.cache.netease.com/subject/images/subject100125/mobile_navbg1.jpg) repeat-x top left; }
.navBlue21{background:url(http://img1.cache.netease.com/subject/images/subject100109/yy_navbg.png) no-repeat top left; }
.navBlue22{background:url(http://img1.cache.netease.com/subject/images/subject100109/m_navBg.png) repeat-x top left; }
.navBlue23{background:url(http://img1.cache.netease.com/subject/images/subject100109/sb_navBg.png) repeat-x top left; }
.navBlue24{background:url(http://img1.cache.netease.com/subject/images/public/weibo/wbnav1.png) repeat-x top left; }
.navBlue25{ background:url(http://img1.cache.netease.com/subject/images/public/asion/asian2_nav.jpg) repeat-x top left;}
.navWhite01{background:url(http://img1.cache.netease.com/subject/images/subject091020/auto_navBg_2.gif) repeat-x top left; }
.navGray01{background:url(http://img1.cache.netease.com/subject/images/subject091020/auto_navBg_3.gif) repeat-x top left; }
.navGray02{background:url(http://img1.cache.netease.com/subject/images/subject091020/auto_navBg_4.gif) repeat-x top left; }
.navRed01{background:url(http://img1.cache.netease.com/subject/images/subject091020/sports_navBg_1.gif) repeat-x top left; }
.navRed02{background:url(http://img1.cache.netease.com/subject/images/subject091020/house_navBg_5.png) repeat-x top left; }
.navRed03{background:url(http://img1.cache.netease.com/subject/images/subject091020/b_navBg_1.gif) repeat-x top left; }
.navRed04{background:url(http://img1.cache.netease.com/subject/images/subject091020/g_navBg_2.jpg) repeat-x top left; }
.navRed05{background:url(http://img1.cache.netease.com/subject/images/subject091020/gy_navBg_1.png) repeat-x top left; }
.navRed06{background:url(http://img1.cache.netease.com/subject/images/subject100125/auto_navBg_1.gif) repeat-x top left; }
.navCyan01{background:url(http://img1.cache.netease.com/subject/images/subject091020/travel_navBg_1.gif) repeat-x top left; }
.navCyan02{background:url(http://img1.cache.netease.com/subject/images/subject091020/ent_navBg_4.jpg) repeat-x top left; }
.navCyan03{background:url(http://img1.cache.netease.com/subject/images/subject091020/vedio_navBg_2.gif) repeat-x top left; }
.navCyan04{background:url(http://img1.cache.netease.com/subject/images/subject091020/house_navBg_4.png) repeat-x top left; }
.navCyan05{background:url(http://img1.cache.netease.com/subject/images/subject091020/baby_navBg_1.png) repeat-x top left; }
.navBack01{background:url(http://img1.cache.netease.com/subject/images/subject091020/ent_navBg_1.gif) repeat-x top left; }
.navBack02{background:url(http://img1.cache.netease.com/subject/images/subject091020/ent_navBg_2.gif) repeat-x top left;}
.navBack03{background:url(http://img1.cache.netease.com/subject/images/subject091020/vedio_navBg_3.jpg) repeat-x top left;}
.navBack04{background:url(http://img1.cache.netease.com/subject/images/subject091020/vedio_navBg_4.gif) repeat-x top left;}
.navPink01{background:url(http://img1.cache.netease.com/subject/images/subject091020/ent_navBg_3.gif) repeat-x top left; }
.navYellow01{background:url(http://img1.cache.netease.com/subject/images/subject091020/house_navBg_1.png) repeat-x top left; }
.navYellow02{background:url(http://img1.cache.netease.com/subject/images/subject091020/house_navBg_2.png) repeat-x top left; }
.navYellow03{background:url(http://img1.cache.netease.com/subject/images/subject091020/house_navBg_3.png) repeat-x top left; }
.navYellow04{background:url(http://img1.cache.netease.com/subject/images/subject091020/g_navBg_1.jpg) repeat-x top left; }
.navYellow05{background:url(http://img1.cache.netease.com/subject/images/subject100125/nav_cye.jpg) repeat-x top left; }
.navYellow06{background:url(http://img1.cache.netease.com/subject/images/subject100125/yy_navbg2.png) repeat-x top left; }
.navYellow07{ background:url(http://img1.cache.netease.com/subject/images/public/asion/asian1_nav.jpg) repeat-x top left;}
/* 栏目2像素条,特殊模板使用 */
.borBlue1_3{border-top:2px solid #154699;}
.borBlue3_3{border-top:2px solid #6291c0;}
.borBlue2_3{ border-top:2px solid #70b0e0;}
.borBlue4_3{ border-top:2px solid #4a82d4;}
.borBlue5_3{ border-top:2px solid #2fb1e4;}
.borBlue6_3{ border-top:2px solid #6c899d;}
.borBlue7_3{ border-top:2px solid #0079b7;}
.borBlue8_3{ border-top:2px solid #b4c7d8;}
.borBlue9_3{ border-top:2px solid #a5b6d4;}
.borBlue10_3{ border-top:2px solid #3488bc;}
.borPurple1_3{border-top:2px solid #655fb1;}
.borGray1_3{border-top:2px solid #404d6c;}
.borGray2_3{border-top:2px solid #9e9e9e;}
.borGray3_3{border-top:2px solid #505864;}
.borGray4_3{border-top:2px solid #4f5a76;}
.borGray5_3{border-top:2px solid #939393;}
.borGray6_3{border-top:2px solid #b9b9b9;}
.borRed1_3{border-top:2px solid #9e0e0c;}
.borRed2_3{border-top:2px solid #501b1b;}
.borRed3_3{border-top:2px solid #cc0000;}
.borBack1_3{border-top:2px solid #000;}
.borCyan1_3{border-top:2px solid #2ac121;}
.borCyan2_3{border-top:2px solid #829758;}
.borPink1_3{border-top:2px solid #db6d9b;}
.borPink2_3{border-top:2px solid #e1c2b3;}
.borYellow1_3{border-top:2px solid #d2d40e;}
.borYellow2_3{border-top:2px solid #bda15f;}
.borYellow3_3{border-top:2px solid #d6ab0e;}
.borYellow4_3{ border-top:2px solid #b15b14;}
/*专题文字颜色*/
.cOrange,.cOrange:visited,.cOrange a{color:#ffd24e;}
.cOrange a:hover,a.cOrange:hover{color:#ba2636;}
/*间隙090920*/
.blank10 {clear:both; height:10px; overflow:hidden; display:block;}
/* tpNav */
.topban{ position:relative;}
.alllink{display:block; position:absolute; right:0px; bottom:0px; width:84px; height:20px; background:#eeeeee url(http://img1.cache.netease.com/subject/images/subject091020/icon01.gif) no-repeat 9px 7px; padding-left:22px; line-height:23px;}
.keyname{ display:none; line-height:0px;}

.top_nav{ height:35px;}
.top_nav a{ margin-left:14px; margin-right:16px;}
.top_nav a:visited{ color:#fff; text-decoration:none;}
.top_nav a:hover{ color:#f5f20c; text-decoration:none;}
.top_nav a.y1:visited{ color:#db1011; text-align:none;}
.top_nav a.y1:hover{ color:#db1011; text-align:none;}
/* nesting */
.nesting{ margin:0 auto; width:960px; overflow:auto;} 
.nesting_960{ margin:0 auto; width:960px; overflow:auto;} 
/* 焦点图 */
.focusPic{ border:1px solid #dcdddd;overflow:hidden;}
.focusPic .none{display:none;}
.focusPic .on{display:block;}
.focusPic .pic{clear:both; text-align:left;}
.focusPic .pic h3{ font-weight:bold; text-align:left; padding:8px 0 9px 10px; font-size:14px;}
.focusPic .focusNum{ margin:0px 10px 10px 0; float:right;}
.focusPic .focusNum li{float:left; width:21px; height:20px; text-align:center; color:#333; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif; background:url(http://img1.cache.netease.com/cnews/template08/images/focusBg1.gif) no-repeat; margin:0 3px; padding-top:3px; cursor:pointer;}
.focusPic .focusNum .on{float:left; width:21px; height:20px; text-align:center; font-family:Verdana, Arial, Helvetica, sans-serif; background:url(http://img1.cache.netease.com/cnews/template08/images/focusBg2.gif) no-repeat;}
.focusPic1{position:relative; border:1px solid #dcdddd;}
.focusPic1 .none{display:none;}
.focusPic1 .on{display:block;}
.focusPic1 .pic{clear:both; text-align:center;}
.focusPic1 .pic h3{float:left; font-weight:bold; text-align:left; padding:10px 0 10px 10px; font-size:12px;}
.focusPic1 .focusNum{position:absolute; right:0; margin:8px 10px 0 0;}
.focusPic1 .focusNum li{float:left; width:21px; height:20px; text-align:center; color:#333; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif; background:url(http://img1.cache.netease.com/cnews/template08/images/focusBg1.gif) no-repeat; margin:0 3px; padding-top:3px; cursor:pointer;}
.focusPic1 .focusNum .on{float:left; width:21px; height:20px; text-align:center; font-family:Verdana, Arial, Helvetica, sans-serif; background:url(http://img1.cache.netease.com/cnews/template08/images/focusBg2.gif) no-repeat;}
/*栏目css*/
.titleBar{height:25px; line-height:25px; overflow:hidden;}
.titleBar .more {float:right; padding-right:8px;}
.titleBar h2,.titleBar h3 {float:left; color:#2b2b2b; font-weight:bold; line-height:25px;}
.titleBar h2 a,.titleBar h2 a:visited,.titleBar h3 a,.titleBar h3 a:visited {color:#000;}
.titleBar h2 a:hover,.titleBar h3 a:hover {color:#BA2636;}
/* 模块 */
.conLM{width:695px; float:left; overflow:hidden}
.conMR{ width:618px; float:right; overflow:hidden;}
.conR{width:230px; float:right; overflow:hidden;}
.conL{ width:300px; float:left; overflow:hidden;}
.conM{ width:370px; float:right; overflow:hidden;}
/*页面样式*/
.area{ width:940px; margin:0 auto; overflow:hidden; clear:both;}
.gcLine{ background:url(http://img1.cache.netease.com/subject/images/subject091020/grayline.gif) repeat-x top left; height:1px; overflow:hidden; clear:both;}
.conEnd{ display:block; background:url(http://img1.cache.netease.com/subject/images/subject091020/conEnd.gif) no-repeat top right; height:1px; overflow:hidden; clear:both;}
h2.bigSize{ font-family:"黑体"; font-size:18px; font-weight:100; padding-top:12px; padding-bottom:12px;}
td.bigSize{ font-family:"宋体"; font-size:14px; font-weight:bold;padding-top:3px;}
.indent2{ text-indent:2em; line-height:21px;}
.bg_white{ background:#fff;}

/*中间标题背景*/
.titM_01{border-bottom:1px solid #154699;}
.titM_01 h2,.titM_01 h3{padding-left:27px; float:left; border-bottom:1px solid #154699;}
.titM_02{border-bottom:1px solid #404d6c;}
.titM_02 h2,.titM_02 h3{padding-left:27px; float:left; border-bottom:1px solid #404d6c;}
.titM_03{border-bottom:1px solid #505864;}
.titM_03 h2,.titM_03 h3{padding-left:27px; float:left; border-bottom:1px solid #505864;}
.titM_04{border-bottom:1px solid #404d6c;}
.titM_04 h2,titM_04 h3{padding-left:27px; float:left; border-bottom:1px solid #404d6c;}
.titM_05{border-bottom:1px solid #ce0616;}
.titM_05 h2,titM_05 h3{padding-left:27px; float:left; border-bottom:1px solid #ce0616;}
.titM_06{border-bottom:1px solid #4a82d4;}
.titM_06 h2,titM_06 h3{padding-left:27px; float:left; border-bottom:1px solid #4a82d4;}
.titM_07{border-bottom:1px solid #000;}
.titM_07 h2,titM_07 h3{padding-left:27px; float:left; border-bottom:1px solid #000;}
.titM_08{border-bottom:1px solid #4f5a76;}
.titM_08 h2,titM_08 h3{padding-left:27px; float:left; border-bottom:1px solid #4f5a76;}
.titM_09{border-bottom:1px solid #2ac121;}
.titM_09 h2,titM_09 h3{padding-left:27px; float:left; border-bottom:1px solid #2ac121;}
.titM_10{border-bottom:1px solid #db6d9b;}
.titM_10 h2,titM_10 h3{padding-left:27px; float:left; border-bottom:1px solid #db6d9b;}
.titM_11{border-bottom:1px solid #729d93;}
.titM_11 h2,titM_11 h3{padding-left:27px; float:left; border-bottom:1px solid #729d93;}
.titM_12{border-bottom:1px solid #d1d307;}
.titM_12 h2,titM_12 h3{padding-left:27px; float:left; border-bottom:1px solid #d1d307;}
.titM_13{border-bottom:1px solid #2283b7;}
.titM_13 h2,titM_13 h3{padding-left:27px; float:left; border-bottom:1px solid #2283b7; }
.titM_14{border-bottom:1px solid #213745;}
.titM_14 h2,titM_14 h3{padding-left:27px; float:left; border-bottom:1px solid #213745;}
.titM_15{border-bottom:1px solid #b6cadc;}
.titM_15 h2,titM_15 h3{padding-left:27px; float:left; border-bottom:1px solid #b6cadc;}
.titM_16{border-bottom:1px solid #ba8a4f;}
.titM_16 h2,titM_16 h3{padding-left:27px; float:left; border-bottom:1px solid #ba8a4f; }
.titM_17{border-bottom:1px solid #aa401f;}
.titM_17 h2,titM_17 h3{padding-left:27px; float:left; border-bottom:1px solid #aa401f;}
.titM_18{border-bottom:1px solid #7db8e4;}
.titM_18 h2,titM_18 h3{padding-left:27px; float:left; border-bottom:1px solid #7db8e4; }
.titM_19{border-bottom:1px solid #b9b9b9;}
.titM_19 h2,titM_19 h3{padding-left:27px; float:left; border-bottom:1px solid #b9b9b9; }
.titM_20{border-bottom:1px solid #d6ab0e;}
.titM_20 h2,titM_20 h3{padding-left:27px; float:left; border-bottom:1px solid #d6ab0e; }
.titM_21{border-bottom:1px solid #3488bc;}
.titM_21 h2,titM_21 h3{padding-left:27px; float:left; border-bottom:1px solid #3488bc; }
.titM_22{border-bottom:1px solid #b15b14;}
.titM_22 h2,titM_22 h3{padding-left:27px; float:left; border-bottom:1px solid #b15b14; }

/*左边标题背景*/
.titL_01{background:url(http://img1.cache.netease.com/subject/images/subject091020/n_tBg.gif) repeat-x top left #fff; border-right:1px solid #d9d9d9; border-left:1px solid #d9d9d9;}
.titL_01 h2,.titL_01 h3{padding-left:27px; float:left;}
.titL_02{background:url(http://img1.cache.netease.com/subject/images/subject091020/a_tBg_2.gif) no-repeat top left #fff;}
.titL_02 h2,.titL_02 h3{padding-left:27px; float:left;}
.titL_03{background:url(http://img1.cache.netease.com/subject/images/subject091020/a_tBg_6.gif) no-repeat top left #fff;}
.titL_03 h2,.titL_03 h3{padding-left:27px; float:left;}
.titL_04{background:url(http://img1.cache.netease.com/subject/images/subject091020/s_tBg_2.gif) no-repeat top left #fff;}
.titL_04 h2,.titL_04 h3{padding-left:27px; float:left;}
.titL_05{background:url(http://img1.cache.netease.com/subject/images/subject091020/s_tBg_4.gif) no-repeat top left #fff;}
.titL_05 h2,.titL_05 h3{padding-left:27px; float:left; color:#fff;}
.titL_06{background:url(http://img1.cache.netease.com/subject/images/subject091020/s_tBg_8.gif) no-repeat top left #fff;}
.titL_06 h2,.titL_06 h3{padding-left:27px; float:left; color:#fff;}
.titL_07{background:url(http://img1.cache.netease.com/subject/images/subject091020/s_tBg_11.gif) no-repeat top left #fff;}
.titL_07 h2,.titL_07 h3{padding-left:27px; float:left; color:#fff;}
.titL_08{background:url(http://img1.cache.netease.com/subject/images/subject091020/t_tBg_1.gif) no-repeat top left #fff;}
.titL_08 h2,.titL_08 h3{padding-left:27px; float:left; color:#fff;}
.titL_09{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_tBg_4.gif) no-repeat top left #fff;}
.titL_09 h2,.titL_09 h3{padding-left:27px; float:left; color:#fff;}
.titL_10{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_tBg_6.jpg) no-repeat top left #fff;}
.titL_10 h2,.titL_10 h3{padding-left:27px; float:left; color:#fff;}
.titL_11{background:url(http://img1.cache.netease.com/subject/images/subject091020/v_tBg_2.gif) no-repeat top left #fff;}
.titL_11 h2,.titL_11 h3{padding-left:27px; float:left; color:#fff;}
.titL_12{background:url(http://img1.cache.netease.com/subject/images/subject091020/th_tBg_2.gif) no-repeat top left #fff;}
.titL_12 h2,.titL_12 h3{padding-left:27px; float:left;}
.titL_13{background:url(http://img1.cache.netease.com/subject/images/subject091020/th_tBg_4.gif) no-repeat top left #fff;}
.titL_13 h2,.titL_13 h3{padding-left:27px; float:left;}
.titL_14{background:url(http://img1.cache.netease.com/subject/images/subject091020/b_tBg_1.png) no-repeat top left #fff;}
.titL_14 h2,.titL_14 h3{padding-left:27px; float:left;}
.titL_15{background:url(http://img1.cache.netease.com/subject/images/subject091020/m_tBg_1.png) no-repeat top left #fff;}
.titL_15 h2,.titL_15 h3{padding-left:27px; float:left;}
.titL_16{background:url(http://img1.cache.netease.com/subject/images/subject091020/m_tBg_4.jpg) no-repeat top left #fff;}
.titL_16 h2,.titL_16 h3{padding-left:27px; float:left;}
.titL_17{background:url(http://img1.cache.netease.com/subject/images/subject091020/m_tBg_7.png) no-repeat top left #fff;}
.titL_17 h2,.titL_17 h3{padding-left:27px; float:left;}
.titL_18{background:url(http://img1.cache.netease.com/subject/images/subject091020/g_tBg_2.png) no-repeat top left #fff;}
.titL_18 h2,.titL_18 h3{padding-left:27px; float:left; color:#fff;}
.titL_19{background:url(http://img1.cache.netease.com/subject/images/subject091020/g_tBg_4.jpg) no-repeat top left #fff;}
.titL_19 h2,.titL_19 h3{padding-left:27px; float:left;}
.titL_20{background:url(http://img1.cache.netease.com/subject/images/subject091020/baby_tBg_1.jpg) no-repeat top left #fff;}
.titL_20 h2,.titL_20 h3{padding-left:27px; float:left;}
.titL_21{background:url(http://img1.cache.netease.com/subject/images/subject091020/gy_tBg_1.png) no-repeat top left #fff;}
.titL_21 h2,.titL_21 h3{padding-left:27px; float:left;}
.titL_22{background:url(http://img1.cache.netease.com/subject/images/subject091020/edu_tBg_2.gif) no-repeat top left #fff;}
.titL_22 h2,.titL_22 h3{padding-left:27px; float:left;}
.titL_23{background:url(http://img1.cache.netease.com/subject/images/subject091020/blog_tBg02.jpg) no-repeat top left #fff;}
.titL_23 h2,.titL_23 h3{padding-left:27px; float:left;}
.titL_24{background:url(http://img1.cache.netease.com/subject/images/subject091020/house_tBg02.jpg) no-repeat top left #fff;}
.titL_24 h2,.titL_24 h3{padding-left:27px; float:left;}
.titL_25{background:url(http://img1.cache.netease.com/subject/images/subject091020/ent_tBg01.jpg) no-repeat top left #fff;}
.titL_25 h2,.titL_25 h3{padding-left:27px; float:left;}
.titL_26{background:url(http://img1.cache.netease.com/subject/images/subject091020/lady_tBg01.jpg) no-repeat top left #fff;}
.titL_26 h2,.titL_26 h3{padding-left:27px; float:left;}
.titL_27{background:url(http://img1.cache.netease.com/subject/images/subject100125/tbg_auto3.gif) no-repeat top left #fff;}
.titL_27 h2,.titL_27 h3{padding-left:27px; float:left; color:#fff;}
.titL_28{background:url(http://img1.cache.netease.com/subject/images/subject100125/tbg_cy1.jpg) no-repeat top left #fff;}
.titL_28 h2,.titL_28 h3{padding-left:27px; float:left;}
.titL_29{background:url(http://img1.cache.netease.com/subject/images/subject100125/lh_tBg.gif) no-repeat top left #fff;}
.titL_29 h2,.titL_29 h3{padding-left:27px; float:left;}
.titL_30{background:url(http://img1.cache.netease.com/subject/images/subject100125/tbg_bbs1.jpg) no-repeat top left #fff;}
.titL_30 h2,.titL_30 h3{padding-left:27px; float:left; color:#fff;}
.titL_31{background:url(http://img1.cache.netease.com/subject/images/subject100125/digi_tbg1.jpg) no-repeat top left #fff;}
.titL_31 h2,.titL_31 h3{padding-left:27px; float:left;}
.titL_32{background:url(http://img1.cache.netease.com/subject/images/subject100125/sj_tbg2.jpg) no-repeat top left #fff;}
.titL_32 h2,.titL_32 h3{padding-left:27px; float:left; color:#fff;}
.titL_33{background:url(http://img1.cache.netease.com/subject/images/subject100109/yy_tbg1.jpg) no-repeat top left #fff;}
.titL_33 h2,.titL_33 h3{padding-left:27px; float:left;}
.titL_34{background:url(http://img1.cache.netease.com/subject/images/subject100109/cm_tBg1.jpg) repeat-x top left #fff;border-left:1px solid #dcdddd; border-right:1px solid #dcdddd;}
.titL_34 h2,.titL_34 h3{padding-left:27px; float:left;}
.titL_35{background:url(http://img1.cache.netease.com/subject/images/subject100109/sb_tBg1.jpg) repeat-x top left #fff;}
.titL_35 h2,.titL_35 h3{padding-left:27px; float:left;}
.titL_36{height:30px;line-height:30px;background:url(http://img1.cache.netease.com/subject/images/subject091020/ltilbg100429.gif) repeat-x top left #fff;}
.titL_36 h2,.titL_36 h3{background:none;padding-left:10px;line-height:20px;padding-top:10px;float:left; color:#656565;}
.titL_36 .more{line-height:20px;padding-top:10px;background:url(http://img1.cache.netease.com/subject/images/subject091020/ltilbg100429.gif) repeat-x top right #fff; padding-right:18px;}
.titL_37{background:url(http://img1.cache.netease.com/subject/images/public/weibo/wb_tit1.png) repeat-x top left #fff;}
.titL_37 h2,.titL_37 h3{padding-left:27px; float:left;}
.titL_38{background:url(http://img1.cache.netease.com/subject/images/public/asion/asian1_2.jpg) repeat-x top left #fff;}
.titL_38 h2,.titL_38 h3{padding-left:27px; float:left; color:#fff;}
.titL_39{background:url(http://img1.cache.netease.com/subject/images/public/asion/asian1_4.jpg) repeat-x top left #fff;}
.titL_39 h2,.titL_39 h3{padding-left:27px; float:left; color:#fff;}

/*右边标题背景*/
.titR_01{background:url(http://img1.cache.netease.com/subject/images/subject091020/a_tBg_3.gif) no-repeat top left #fff;}
.titR_01 h2,.titR_01 h3{padding-left:27px; float:left;}
.titR_02{background:url(http://img1.cache.netease.com/subject/images/subject091020/a_tBg_7.gif) no-repeat top left #fff;}
.titR_02 h2,.titR_02 h3{padding-left:27px; float:left;}
.titR_03{background:url(http://img1.cache.netease.com/subject/images/subject091020/s_tBg_3.gif) no-repeat top left #fff;}
.titR_03 h2,.titR_03 h3{padding-left:27px; float:left;}
.titR_04{background:url(http://img1.cache.netease.com/subject/images/subject091020/s_tBg_6.gif) no-repeat top left #fff;}
.titR_04 h2,.titR_04 h3{padding-left:27px; float:left; color:#fff;}
.titR_05{background:url(http://img1.cache.netease.com/subject/images/subject091020/s_tBg_9.gif) no-repeat top left #fff;}
.titR_05 h2,.titR_05 h3{padding-left:27px; float:left; color:#fff;}
.titR_06{background:url(http://img1.cache.netease.com/subject/images/subject091020/s_tBg_10.gif) no-repeat top left #fff;}
.titR_06 h2,.titR_06 h3{padding-left:27px; float:left; color:#fff;}
.titR_07{background:url(http://img1.cache.netease.com/subject/images/subject091020/t_tBg_2.gif) no-repeat top left #fff;}
.titR_07 h2,.titR_07 h3{padding-left:27px; float:left; color:#fff;}
.titR_08{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_tBg_5.gif) no-repeat top left #fff;}
.titR_08 h2,.titR_08 h3{padding-left:27px; float:left; color:#fff;}
.titR_09{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_tBg_3.gif) no-repeat top left #fff;}
.titR_09 h2,.titR_09 h3{padding-left:27px; float:left;}
.titR_10{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_tBg_7.jpg) no-repeat top left #fff;}
.titR_10 h2,.titR_10 h3{padding-left:27px; float:left; color:#fff;}
.titR_11{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_tBg_9.gif) no-repeat top left #fff;}
.titR_11 h2,.titR_11 h3{padding-left:27px; float:left;}
.titR_12{background:url(http://img1.cache.netease.com/subject/images/subject091020/v_tBg_3.gif) no-repeat top left #fff;}
.titR_12 h2,.titR_12 h3{padding-left:27px; float:left; color:#fff;}
.titR_13{background:url(http://img1.cache.netease.com/subject/images/subject091020/th_tBg_1.jpg) no-repeat top left #fff;}
.titR_13 h2,.titR_13 h3{padding-left:27px; float:left;}
.titR_14{background:url(http://img1.cache.netease.com/subject/images/subject091020/th_tBg_5.gif) no-repeat top left #fff;}
.titR_14 h2,.titR_14 h3{padding-left:27px; float:left;}
.titR_15{background:url(http://img1.cache.netease.com/subject/images/subject091020/h_tBg_5.jpg) no-repeat top left #fff;}
.titR_15 h2,.titR_15 h3{padding-left:27px; float:left;}
.titR_16{background:url(http://img1.cache.netease.com/subject/images/subject091020/b_tBg_2.jpg) no-repeat top left #fff;}
.titR_16 h2,.titR_16 h3{padding-left:27px; float:left;}
.titR_17{background:url(http://img1.cache.netease.com/subject/images/subject091020/m_tBg_2.png) no-repeat top left #fff;}
.titR_17 h2,.titR_17 h3{padding-left:27px; float:left;}
.titR_18{background:url(http://img1.cache.netease.com/subject/images/subject091020/m_tBg_5.jpg) no-repeat top left #fff;}
.titR_18 h2,.titR_18 h3{padding-left:27px; float:left;}
.titR_19{background:url(http://img1.cache.netease.com/subject/images/subject091020/m_tBg_8.png) no-repeat top left #fff;}
.titR_19 h2,.titR_19 h3{padding-left:27px; float:left;}
.titR_20{background:url(http://img1.cache.netease.com/subject/images/subject091020/g_tBg_1.png) no-repeat top left #fff;}
.titR_20 h2,.titR_20 h3{padding-left:27px; float:left; color:#fff;}
.titR_21{background:url(http://img1.cache.netease.com/subject/images/subject091020/g_tBg_5.png) no-repeat top left #fff;}
.titR_21 h2,.titR_21 h3{padding-left:27px; float:left;}
.titR_22{background:url(http://img1.cache.netease.com/subject/images/subject091020/baby_tBg_2.jpg) no-repeat top left #fff;}
.titR_22 h2,.titR_22 h3{padding-left:27px; float:left;}
.titR_23{background:url(http://img1.cache.netease.com/subject/images/subject091020/gy_tBg_3.jpg) no-repeat top left #fff;}
.titR_23 h2,.titR_23 h3{padding-left:27px; float:left;}
.titR_24{background:url(http://img1.cache.netease.com/subject/images/subject091020/edu_tBg_3.jpg) no-repeat top left #fff;}
.titR_24 h2,.titR_24 h3{padding-left:27px; float:left;}
.titR_25{background:url(http://img1.cache.netease.com/subject/images/subject091020/blog_tBg01.jpg) no-repeat top left #fff;}
.titR_25 h2,.titR_25 h3{padding-left:27px; float:left;}
.titR_26{background:url(http://img1.cache.netease.com/subject/images/subject091020/house_tBg01.jpg) no-repeat top left #fff;}
.titR_26 h2,.titR_26 h3{padding-left:27px; float:left;}
.titR_27{background:url(http://img1.cache.netease.com/subject/images/subject091020/ent_tBg02.jpg) no-repeat top left #fff;}
.titR_27 h2,.titR_27 h3{padding-left:27px; float:left;}
.titR_28{background:url(http://img1.cache.netease.com/subject/images/subject100125/tBg_blog2.gif) repeat-x top left #fff;}
.titR_28 h2,.titR_28 h3{padding-left:27px; float:left; color:#fff;}
.titR_29{background:url(http://img1.cache.netease.com/subject/images/subject100125/tbg_auto2.gif) no-repeat top left #fff;}
.titR_29 h2,.titR_29 h3{padding-left:27px; float:left; color:#fff;}
.titR_30{background:url(http://img1.cache.netease.com/subject/images/subject100125/tbg_cy3.jpg) no-repeat top left #fff;}
.titR_30 h2,.titR_30 h3{padding-left:27px; float:left;}
.titR_31{background:url(http://img1.cache.netease.com/subject/images/subject100125/lh_tBg2.gif) no-repeat top left #fff;}
.titR_31 h2,.titR_31 h3{padding-left:27px; float:left;}
.titR_32{background:url(http://img1.cache.netease.com/subject/images/subject100125/tbg_bbs2.jpg) no-repeat top left #fff;}
.titR_32 h2,.titR_32 h3{padding-left:27px; float:left; color:#fff;}
.titR_33{background:url(http://img1.cache.netease.com/subject/images/subject100125/digi_tbg2.gif) no-repeat top left #fff;}
.titR_33 h2,.titR_33 h3{padding-left:27px; float:left;}
.titR_34{background:url(http://img1.cache.netease.com/subject/images/subject100125/sj_tbg1.jpg) repeat-x top left #fff;}
.titR_34 h2,.titR_34 h3{padding-left:27px; float:left; color:#fff;}
.titR_35{background:url(http://img1.cache.netease.com/subject/images/subject100109/yy_tbg2.jpg) no-repeat top left #fff;}
.titR_35 h2,.titR_35 h3{padding-left:27px; float:left;}
.titR_36{background:url(http://img1.cache.netease.com/subject/images/subject100109/cm_tBg1.jpg) repeat-x top left #fff; border-left:1px solid #dcdddd; border-right:1px solid #dcdddd;}
.titR_36 h2,.titR_36 h3{padding-left:27px; float:left;}
.titR_37{background:url(http://img1.cache.netease.com/subject/images/subject100109/sb_tBg2.jpg) repeat-x top left #fff;}
.titR_37 h2,.titR_37 h3{padding-left:27px; float:left;}
.titR_38{height:30px;line-height:30px;background:url(http://img1.cache.netease.com/subject/images/subject091020/rtilbg100429.gif) repeat-x top left #fff;}
.titR_38 h2,.titR_38 h3{background:none;padding-left:10px;line-height:20px;padding-top:10px;float:left; color:#656565;}
.titR_38 .more{line-height:20px;padding-top:10px;background:url(http://img1.cache.netease.com/subject/images/subject091020/rtilbg100429.gif) repeat-x top right #fff; padding-right:15px;}
.titR_39{background:url(http://img1.cache.netease.com/subject/images/public/weibo/wb_tit3.png) no-repeat top left #fff;}
.titR_39 h2,.titR_39 h3{padding-left:27px; float:left;}
.titR_40{background:url(http://img1.cache.netease.com/subject/images/public/asion/asian1_3.jpg) no-repeat top left #fff;}
.titR_40 h2,.titR_40 h3{padding-left:27px; float:left; color:#fff;}
.titR_41{background:url(http://img1.cache.netease.com/subject/images/public/asion/asian1_5.jpg) no-repeat top left #fff;}
.titR_41 h2,.titR_41 h3{padding-left:27px; float:left; color:#fff;}

/*960标题背景*/
.tit960_1{background:url(http://img1.cache.netease.com/subject/images/subject091020/n_tBg.gif) repeat-x top left #fff;}
.tit960_1 h2,.tit960_1 h3{padding-left:27px; float:left;}
.tit960_2{background:url(http://img1.cache.netease.com/subject/images/subject091020/a_tBg_4.gif) no-repeat top left #fff;}
.tit960_2 h2,.tit960_2 h3{ padding-left:27px; float:left;}
.tit960_3{background:url(http://img1.cache.netease.com/subject/images/subject091020/a_tBg_1.gif) no-repeat top left #fff;}
.tit960_3 h2,.tit960_3 h3{padding-left:27px; float:left;}
.tit960_4{background:url(http://img1.cache.netease.com/subject/images/subject091020/a_tBg_5.gif) no-repeat top left #fff;}
.tit960_4 h2,.tit960_4 h3{padding-left:27px; float:left;}
.tit960_5{background:url(http://img1.cache.netease.com/subject/images/subject091020/l_tBg.gif) no-repeat top left #fff;}
.tit960_5 h2,.tit960_5 h3{ padding-left:27px; float:left;}
.tit960_6{background:url(http://img1.cache.netease.com/subject/images/subject091020/l_tBg_1.gif) no-repeat top left #fff;}
.tit960_6 h2,.tit960_6 h3{padding-left:27px; float:left; color:#fff;}
.tit960_7{ background:url(http://img1.cache.netease.com/subject/images/subject091020/l_tBg_2.gif) no-repeat top left #fff;}
.tit960_7 h2,.tit960_7 h3{padding-left:27px; float:left;}
.tit960_8{ background:url(http://img1.cache.netease.com/subject/images/subject091020/l_tBg_3.gif) no-repeat top left #fff;}
.tit960_8 h2,.tit960_8 h3{padding-left:27px; float:left;}
.tit960_9{ background:url(http://img1.cache.netease.com/subject/images/subject091020/l_tBg_4.gif) no-repeat top left #fff;}
.tit960_9 h2,.tit960_9 h3{padding-left:27px; float:left;}
.tit960_10{ background:url(http://img1.cache.netease.com/subject/images/subject091020/s_tBg_1.gif) no-repeat top left #fff;}
.tit960_10 h2,.tit960_10 h3{padding-left:27px; float:left;}
.tit960_11{ background:url(http://img1.cache.netease.com/subject/images/subject091020/s_tBg_5.gif) no-repeat top left #fff;}
.tit960_11 h2,.tit960_11 h3{padding-left:27px; float:left; color:#fff;}
.tit960_12{ background:url(http://img1.cache.netease.com/subject/images/subject091020/s_tBg_7.gif) no-repeat top left #fff;}
.tit960_12 h2,.tit960_12 h3{padding-left:27px; float:left; color:#fff;}
.tit960_13{ background:url(http://img1.cache.netease.com/subject/images/subject091020/s_tBg_12.gif) no-repeat top left #fff;}
.tit960_13 h2,.tit960_13 h3{padding-left:27px; float:left; color:#fff;}
.tit960_14{ background:url(http://img1.cache.netease.com/subject/images/subject091020/t_tBg_3.gif) no-repeat top left #fff;}
.tit960_14 h2,.tit960_14 h3{padding-left:27px; float:left; color:#fff;}
.tit960_15{ background:url(http://img1.cache.netease.com/subject/images/subject091020/t_tBg_4.gif) no-repeat top left #fff;}
.tit960_15 h2,.tit960_15 h3{padding-left:27px; float:left;}
.tit960_16{ background:url(http://img1.cache.netease.com/subject/images/subject091020/e_tBg_1.gif) repeat-x top left #fff;}
.tit960_16 h2,.tit960_16 h3{padding-left:27px; float:left; color:#fff;}
.tit960_17{ background:url(http://img1.cache.netease.com/subject/images/subject091020/e_tBg_7.gif) repeat-x top left #fff;}
.tit960_17 h2,.tit960_17 h3{padding-left:27px; float:left; color:#fff;}
.tit960_18{ background:url(http://img1.cache.netease.com/subject/images/subject091020/v_tBg_1.gif) repeat-x top left #fff;}
.tit960_18 h2,.tit960_18 h3{padding-left:27px; float:left;}
.tit960_19{ background:url(http://img1.cache.netease.com/subject/images/subject091020/v_tBg_4.gif) repeat-x top left #fff;}
.tit960_19 h2,.tit960_19 h3{padding-left:27px; float:left; color:#fff;}
.tit960_20{ background:url(http://img1.cache.netease.com/subject/images/subject091020/v_tBg_5.jpg) repeat-x top left #fff;}
.tit960_20 h2,.tit960_20 h3{padding-left:27px; float:left; color:#fff;}
.tit960_21{ background:url(http://img1.cache.netease.com/subject/images/subject091020/v_tBg_6.gif) repeat-x top left #fff;}
.tit960_21 h2,.tit960_21 h3{padding-left:27px; float:left;}
.tit960_22{ background:url(http://img1.cache.netease.com/subject/images/subject091020/th_tBg_3.jpg) repeat-x top left #fff;}
.tit960_22 h2,.tit960_22 h3{padding-left:27px; float:left;}
.tit960_23{ background:url(http://img1.cache.netease.com/subject/images/subject091020/th_tBg_6.gif) repeat-x top left #fff;}
.tit960_23 h2,.tit960_23 h3{padding-left:27px; float:left;}
.tit960_24{ background:url(http://img1.cache.netease.com/subject/images/subject091020/th_tBg_7.png) repeat-x top left #fff;}
.tit960_24 h2,.tit960_24 h3{padding-left:27px; float:left;}
.tit960_25{ background:url(http://img1.cache.netease.com/subject/images/subject091020/h_tBg_1.png) repeat-x top left #fff;}
.tit960_25 h2,.tit960_25 h3{padding-left:27px; float:left;}
.tit960_26{ background:url(http://img1.cache.netease.com/subject/images/subject091020/h_tBg_2.jpg) repeat-x top left #fff;}
.tit960_26 h2,.tit960_26 h3{padding-left:27px; float:left;}
.tit960_27{ background:url(http://img1.cache.netease.com/subject/images/subject091020/h_tBg_3.jpg) repeat-x top left #fff;}
.tit960_27 h2,.tit960_27 h3{padding-left:27px; float:left;}
.tit960_28{ background:url(http://img1.cache.netease.com/subject/images/subject091020/h_tBg_6.jpg) repeat-x top left #fff;}
.tit960_28 h2,.tit960_28 h3{padding-left:27px; float:left;}
.tit960_29{ background:url(http://img1.cache.netease.com/subject/images/subject091020/h_tBg_7.png) repeat-x top left #fff;}
.tit960_29 h2,.tit960_29 h3{padding-left:27px; float:left;}
.tit960_30{ background:url(http://img1.cache.netease.com/subject/images/subject091020/b_tBg_3.png) repeat-x top left #fff;}
.tit960_30 h2,.tit960_30 h3{padding-left:27px; float:left; color:#fff;}
.tit960_31{ background:url(http://img1.cache.netease.com/subject/images/subject091020/b_tBg_4.jpg) repeat-x top left #fff;}
.tit960_31 h2,.tit960_31 h3{padding-left:27px; float:left; color:#fff;}
.tit960_32{ background:url(http://img1.cache.netease.com/subject/images/subject091020/m_tBg_3.png) repeat-x top left #fff;}
.tit960_32 h2,.tit960_32 h3{padding-left:27px; float:left;}
.tit960_33{ background:url(http://img1.cache.netease.com/subject/images/subject091020/m_tBg_6.jpg) repeat-x top left #fff;}
.tit960_33 h2,.tit960_33 h3{padding-left:27px; float:left;}
.tit960_34{ background:url(http://img1.cache.netease.com/subject/images/subject091020/m_tBg_9.png) repeat-x top left #fff;}
.tit960_34 h2,.tit960_34 h3{padding-left:27px; float:left;}
.tit960_35{ background:url(http://img1.cache.netease.com/subject/images/subject091020/b_tBg_1.jpg) repeat-x top left #fff;}
.tit960_35 h2,.tit960_35 h3{padding-left:27px; float:left; color:#fff;}
.tit960_36{ background:url(http://img1.cache.netease.com/subject/images/subject091020/b_tBg_2.gif) repeat-x top left #fff;}
.tit960_36 h2,.tit960_36 h3{padding-left:27px; float:left;}
.tit960_37{ background:url(http://img1.cache.netease.com/subject/images/subject091020/g_tBg_3.png) repeat-x top left #fff;}
.tit960_37 h2,.tit960_37 h3{padding-left:27px; float:left; color:#fff;}
.tit960_38{ background:url(http://img1.cache.netease.com/subject/images/subject091020/g_tBg_7.png) repeat-x top left #fff;}
.tit960_38 h2,.tit960_38 h3{padding-left:27px; float:left;}
.tit960_39{ background:url(http://img1.cache.netease.com/subject/images/subject091020/baby_tBg_3.jpg) repeat-x top left #fff;}
.tit960_39 h2,.tit960_39 h3{padding-left:27px; float:left;}
.tit960_40{ background:url(http://img1.cache.netease.com/subject/images/subject091020/gy_tBg_2.jpg) repeat-x top left #fff;}
.tit960_40 h2,.tit960_40 h3{padding-left:27px; float:left;}
.tit960_41{ background:url(http://img1.cache.netease.com/subject/images/subject091020/edu_tBg_1.jpg) repeat-x top left #fff;}
.tit960_41 h2,.tit960_41 h3{padding-left:27px; float:left;}
.tit960_42{ background:url(http://img1.cache.netease.com/subject/images/subject091020/ent_tBg03.png) repeat-x top left #fff;}
.tit960_42 h2,.tit960_42 h3{padding-left:27px; float:left;}
.tit960_43{ background:url(http://img1.cache.netease.com/subject/images/subject100125/tbg_blog1.gif) repeat-x top left #fff;}
.tit960_43 h2,.tit960_43 h3{padding-left:27px; float:left; color:#fff;}
.tit960_44{ background:url(http://img1.cache.netease.com/subject/images/subject100125/tbg_auto1.gif) repeat-x top left #fff;}
.tit960_44 h2,.tit960_44 h3{padding-left:27px; float:left;}
.tit960_45{ background:url(http://img1.cache.netease.com/subject/images/subject100125/tbg_cy2.jpg) repeat-x top left #fff;}
.tit960_45 h2,.tit960_45 h3{padding-left:27px; float:left;}
.tit960_46{ background:url(http://img1.cache.netease.com/subject/images/subject100125/lh_tBg3.gif) repeat-x top left #fff;}
.tit960_46 h2,.tit960_46 h3{padding-left:27px; float:left;}
.tit960_47{ background:url(http://img1.cache.netease.com/subject/images/subject100125/tbg_bbs3.jpg) repeat-x top left #fff;}
.tit960_47 h2,.tit960_47 h3{padding-left:27px; float:left; color:#fff;}
.tit960_48{ background:url(http://img1.cache.netease.com/subject/images/subject100125/digi_tbg3.gif) repeat-x top left #fff;}
.tit960_48 h2,.tit960_48 h3{padding-left:27px; float:left;}
.tit960_50{ background:url(http://img1.cache.netease.com/subject/images/subject100125/sj_tbg3.jpg) repeat-x top left #fff;}
.tit960_50 h2,.tit960_50 h3{padding-left:27px; float:left; color:#fff;}
.tit960_51{ background:url(http://img1.cache.netease.com/subject/images/subject100109/yy_tbg3.jpg) repeat-x top left #fff;}
.tit960_51 h2,.tit960_51 h3{padding-left:27px; float:left;}
.tit960_52{ background:url(http://img1.cache.netease.com/subject/images/subject100109/mt_tBg2.png) repeat-x top left #fff;}
.tit960_52 h2,.tit960_52 h3{padding-left:27px; float:left;}
.tit960_53{ background:url(http://img1.cache.netease.com/subject/images/subject100109/sb_tBg3.png) repeat-x top left #fff;}
.tit960_53 h2,.tit960_53 h3{padding-left:27px; float:left;}
.tit960_54{height:39px;line-height:39px;background:url(http://img1.cache.netease.com/subject/images/subject091020/atilbg100428.gif) repeat-x top left #fff;}
.tit960_54 h2,.tit960_54 h3{background:none;padding-left:10px;line-height:24px;padding-top:15px;float:left; color:#656565;}
.tit960_54 .more{line-height:24px;padding-top:15px;background:url(http://img1.cache.netease.com/subject/images/subject091020/atilbg100428.gif) repeat-x top right #fff;padding-right:20px;}
.tit960_55{ background:url(http://img1.cache.netease.com/subject/images/public/weibo/wb_tit2.png) repeat-x top left #fff;}
.tit960_55 h2,.tit960_55 h3{padding-left:27px; float:left;}
.tit960_56{ background:url(http://img1.cache.netease.com/subject/images/public/asion/asian1-1.jpg) repeat-x top left #fff;}
.tit960_56 h2,.tit960_56 h3{padding-left:27px; float:left; color:#fff;}
.tit960_57{ background:url(http://img1.cache.netease.com/subject/images/public/asion/asian1_6.jpg) repeat-x top left #fff;}
.tit960_57 h2,.tit960_57 h3{padding-left:27px; float:left; color:#fff;}

/*695标题导航*/
.tit659_01{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_tBg_2.gif) repeat-x top left #fff;}
.tit659_01 h2,.tit659_01 h3{padding-left:27px; float:left;}
.tit659_02{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_tBg_8.jpg) repeat-x top left #fff;}
.tit659_02 h2,.tit659_02 h3{padding-left:27px; float:left; color:#fff;}
.tit659_03{background:url(http://img1.cache.netease.com/subject/images/subject091020/h_tBg_4.jpg) repeat-x top left #fff;}
.tit659_03 h2,.tit659_03 h3{padding-left:27px; float:left;}

/*icon图标*/
.icon_01{ background:url(http://img1.cache.netease.com/subject/images/subject091020/n_icon.gif) no-repeat 7px 6px;}
.icon_02{background:url(http://img1.cache.netease.com/subject/images/subject091020/l_icon.gif) no-repeat 7px 6px;}
.icon_03{background:url(http://img1.cache.netease.com/subject/images/subject091020/l_icon_1.gif) no-repeat 7px 6px;}
.icon_04{background:url(http://img1.cache.netease.com/subject/images/subject091020/a_icon_1.gif) no-repeat 7px 6px;}
.icon_05{background:url(http://img1.cache.netease.com/subject/images/subject091020/a_icon_2.gif) no-repeat 7px 6px;}
.icon_06{background:url(http://img1.cache.netease.com/subject/images/subject091020/s_icon_1.gif) no-repeat 7px 6px;}
.icon_07{background:url(http://img1.cache.netease.com/subject/images/subject091020/s_icon_2.gif) no-repeat 7px 6px;}
.icon_08{background:url(http://img1.cache.netease.com/subject/images/subject091020/s_icon_3.gif) no-repeat 7px 6px;}
.icon_09{background:url(http://img1.cache.netease.com/subject/images/subject091020/s_icon_4.gif) no-repeat 7px 6px;}
.icon_10{background:url(http://img1.cache.netease.com/subject/images/subject091020/t_icon_1.gif) no-repeat 7px 6px;}
.icon_11{background:url(http://img1.cache.netease.com/subject/images/subject091020/t_icon_2.gif) no-repeat 7px 6px;}
.icon_12{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_icon_1.gif) no-repeat 7px 6px;}
.icon_13{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_icon_2.gif) no-repeat 7px 6px;}
.icon_14{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_icon_3.gif) no-repeat 7px 6px;}
.icon_15{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_icon_3.gif) no-repeat 7px 6px;}
.icon_16{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_icon_4.gif) no-repeat 7px 6px;}
.icon_17{background:url(http://img1.cache.netease.com/subject/images/subject091020/e_icon_5.gif) no-repeat 7px 6px;}
.icon_18{background:url(http://img1.cache.netease.com/subject/images/subject091020/v_icon_2.gif) no-repeat 7px 6px;}
.icon_19{background:url(http://img1.cache.netease.com/subject/images/subject091020/v_icon_3.gif) no-repeat 7px 6px;}
.icon_20{background:url(http://img1.cache.netease.com/subject/images/subject091020/th_icon_1.gif) no-repeat 7px 6px;}
.icon_21{background:url(http://img1.cache.netease.com/subject/images/subject091020/th_icon_2.gif) no-repeat 7px 6px;}
.icon_22{background:url(http://img1.cache.netease.com/subject/images/subject091020/h_icon_1.gif) no-repeat 7px 6px;}
.icon_23{background:url(http://img1.cache.netease.com/subject/images/subject091020/h_icon_2.gif) no-repeat 7px 6px;}
.icon_24{background:url(http://img1.cache.netease.com/subject/images/subject091020/h_icon_3.gif) no-repeat 7px 6px;}
.icon_25{background:url(http://img1.cache.netease.com/subject/images/subject091020/h_icon_4.gif) no-repeat 7px 6px;}
.icon_26{background:url(http://img1.cache.netease.com/subject/images/subject091020/b_icon_1.gif) no-repeat 7px 6px;}
.icon_27{background:url(http://img1.cache.netease.com/subject/images/subject091020/g_icon_1.gif) no-repeat 7px 6px;}
.icon_28{background:url(http://img1.cache.netease.com/subject/images/subject091020/g_icon_2.gif) no-repeat 7px 6px;}
.icon_29{background:url(http://img1.cache.netease.com/subject/images/subject091020/gy_icon_1.gif) no-repeat 7px 6px;}
.icon_30{background:url(http://img1.cache.netease.com/subject/images/subject100125/lh_icon1.gif) no-repeat 7px 6px;}
.icon_31{background:url(http://img1.cache.netease.com/subject/images/subject100109/sb_icon.png) no-repeat 7px 6px;}
.icon_32{background:url(http://img1.cache.netease.com/subject/images/public/weibo/wb_icon.png) no-repeat 7px 6px;}
/*列表*/
.f12px li{ background:url(http://img1.cache.netease.com/subject/images/subject091020/bpoint.gif) no-repeat 1px 7px; padding-left:9px; line-height:21px;}
.f14px li{ background:url(http://img1.cache.netease.com/subject/images/subject091020/bpoint.gif) no-repeat 0px 9px; padding-left:9px; line-height:25px;}
.f14List li{ background:url(http://img1.cache.netease.com/subject/images/subject091020/bpoint.gif) no-repeat 1px 10px; padding-left:9px; line-height:25px; width:95%; font-size:14px; overflow:hidden;}
.f14List li span{ float:right;}
/* 1208 */
.dislist{padding-left:6px;}
.dislist li{ background:url(http://img1.cache.netease.com/subject/images/subject091020/grayline.gif) repeat-x left 11px; line-height:25px;}
.dislist li .title{background:#fff url(http://img1.cache.netease.com/subject/images/subject091020/bpoint.gif) no-repeat 0 6px;  padding-left:9px; padding-right:3px; font-size:14px; line-height:23px;}
.dislist li span{background:#fff; float:right; padding-right:10px; text-align:right;padding-left:6px; line-height:20px;}
.dislist li span,.dislist li span a{font-size:12px; color:#717171;}
.dislist li span em{margin:0 2px;}
/*分页*/
.page{ margin:0 auto; text-align:center;}
.page .s1{color:#0e2271; border:1px solid #cacaca;padding:3px 5px 2px 5px; line-height:25px; margin:0 3px;}
.page .s1 a:link,.page .s1 a:visited {color:#000;}
.page .s3{border:1px solid #cacaca; padding:3px 5px 2px 5px; margin:0 3px; line-height:25px; color:#fff; background:#0e2271;}
.page .s3 a:link,.page .s3 a:visited {color:#fff;}
.page .s2{border:1px solid #cacaca; padding:3px 5px 2px 5px; line-height:25px; color:#cacaca; margin:0 3px;}
.page .s2 a:link,.page .s2 a:visited {color:#cacaca;}

/*60高的导航*/
.nav_left_tit{ float:left; width:55px; text-align:center; font-family:'黑体'; font-size:18px; padding-top:10px; font-weight:100; color:#c5bf18;}
.nav_right_tit{ float:right; width:170px; margin-right:9px; padding-top:2px; color:#757575;}
.nav_right_tit a:visited,.nav_right_tit a:hover{ color:#fff;}