body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	background-image: url(images/home/home_top_bkg.gif);
	background-repeat: repeat-x;
	line-height: 16px;
}
.newshead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #C60A27;
}
p, td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 16px;
}
.morelink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC6666;
	text-decoration: none;
}
.morelink:hover {
	text-decoration: underline;
}
.redlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #C60A27;
	text-decoration: none;
}
.redlink:hover {
	text-decoration: underline;
}
.deshead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}
.footer:hover {
	text-decoration: underline;
}.stockTable {
	border: 1px solid #996666;
}
.stockHcell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #C60A27;
	background-color: #FFFFFF;
	padding: 4px;
	padding-left: 10px;
}
.stockcellA {
	font-size: 12px;
	font-weight: normal;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 2px;
	background-color: #E7E7E7;
}
.stockcellB {
	font-size: 12px;
	color: #333333;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 0px;
	background-color: #E7E7E7;
}
.navlinks {
	color: #666666;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	font-size-adjust: 0.50;
	font-stretch: condensed;
	text-decoration: none;
}
.navlinks:link {
	color: #666666;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	font-size-adjust: 0.50;
	font-stretch: condensed;
	text-decoration: none;
}
.navlinks:hover {
	color: #CCCCCC;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	font-size-adjust: 0.50;
	font-stretch: condensed;
	text-decoration: none;
}
