body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	background-image: url(images/inner_bkg.gif);
	background-repeat: repeat-x;
	line-height: 16px;
}
p, td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 16px;
}
.SLtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
.SLhead1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}
.SLhead2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #666699;
	text-decoration: none;
}
.SLhead2:hover {
	text-decoration: underline;
}
.newshead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003366;
}
.newshead:hover {
	text-decoration: none;
}
.newsdate {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
.morelink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC6666;
	text-decoration: none;
}
.morelink:hover {
	text-decoration: underline;
}
.redlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #C60A27;
	text-decoration: none;
}
.redlink:hover {
	text-decoration: underline;
}
.deshead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}
.footer:hover {
	text-decoration: underline;
}
.headTable {
	border: 1px solid #996666;
}
.bisTable {
	border: 1px solid #CCCCCC;
}
.bisCell {
	padding-top: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-right: 5px;
}
.biscuit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
.biscuitL {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	text-decoration: none;
}
.biscuitL:hover {
	text-decoration: underline;
}
.pagehead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #990000;
}
.pageLinkhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
.pageLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #996666;
	text-decoration: none;
}
.pageLink:hover {
	text-decoration: underline;
}
.newsbullet {
	margin-left: 12px;
	list-style-image: url(images/bullet_dred.gif);
}
.ibodybullet {
	margin-left: 12px;
	list-style-image: url(images/ibodybullet.gif);
}
.disclaim {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.nextlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #660000;
	text-decoration: none;
}
.inewshead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.inewsbody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.tabHead2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #996666;
}
.titleHead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.titleHead:hover {
	text-decoration: underline;
}
.navlinks {
	color: #666666;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	font-size-adjust: 0.50;
	font-stretch: condensed;
	text-decoration: none;
}
.navlinks:link {
	color: #666666;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	font-size-adjust: 0.50;
	font-stretch: condensed;
	text-decoration: none;
}
.navlinks:hover {
	color: #CCCCCC;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	font-size-adjust: 0.50;
	font-stretch: condensed;
	text-decoration: none;
}