@charset "utf-8";
html {background:#d7d8da;padding-bottom:20px}
.header4login {position:relative;z-index:600;padding:14px 0 10px;background:#fff}
.loginTop {width:990px;margin:0 auto;}
.loginTop .logo{background:url(../images/v3/login/logo.png?20121028) no-repeat 0 0;display:inline-block;width:243px;height:44px;_filter:none}
.loginTop span {padding-top:10px;}
.loginWrap {background:#fff;position:relative;height:507px;zoom:1}
.loginBg{position:absolute;width:100%;height:507px;top:0;left:0;background-color:#fff}
.loginBox {width:990px;margin:0 auto;position:relative;height:507px;}
.bg4Link{width:134px;height:33px; position:absolute;left:333px;top:195px}
.bg5Link{width:139px;height:33px; position:absolute;left:355px;top:194px}
.loginForm {width:350px;height:310px;background:#fff;background:rgba(255,255,255,0.8);position:absolute;right:0;top:80px;zoom:1;}
.AuthCode {display:inline-block;vertical-align:top;margin-left:10px;}
.AuthCode img {width:120px;height:32px;cursor:pointer}
.loginForm .redLoginBtn,.loginForm .orangeLoginBtn{width:250px;}
.errBox {position:absolute;background:#fef39a;width:232px;padding:10px;top:110px;left:25px;color:#c15525}
.errBox .topIcon{position:absolute;background:url(../images/epayintro.png?20121028) no-repeat -456px -178px;display:inline-block;width:14px;height:7px;font-size:0px;top:-7px;left:10px}
.errBox .closeErr {font-size:24px;top:5px;right:10px;position:absolute;color:#c6612e;}
.errBox .closeErr:hover {text-decoration:none;color:#963f18}
.errBox dt{font-weight:bold}
.loginForm .formList{height:280px;padding:15px 25px;}
.loginForm .formList li{padding-top:12px;color:#333;font-size:14px}
#loginUl {padding-left:35px}
#hasOtherWay {width:350px;height:310px}
.phoneBg {background:url(../images/v3/login/phoneBg.png?20121028) no-repeat;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/v3/login/phoneBg.png?20121028');_background:none;display:inline-block;width:167px;height:111px;}
#changeOtherLogin {display:inline-block;position:absolute;top:0;right:-7px;background:url(../images/v3/login/changeWay.png?20121028) no-repeat right bottom;width:51px;height:92px;cursor:pointer;overflow:hidden}
.loginForm input {font-size:14px}
.loginForm .formList .codeLoginTit {font-size:12px;color:#666}
.codeLoginTit a{font-weight:900}
.codeBg {display:inline-block;overflow:hidden;background:#fff;border:#dcdcdc 1px solid;width:108px;height:108px;overflow:hidden;margin-left:15px}
.codeBg img {width:108px;height:108px;display:inline-block}
.codeLoginTips {text-align:right;padding-right:3px}
.loginForm a {color:#2478a7;font-size:12px;}
.loginForm a:hover {text-decoration:underline}
.loginForm .formTit {display:inline-block;width:82px;text-align:right;font-size:14px;vertical-align:middle}
.loginTit {display:block;font-size:14px;font-weight:bold}
.loginErrBox {color:#bf2531;padding:2px 5px 2px 30px;border:#bf2531 1px solid;font-size:12px;position:relative;top:7px;width:215px;display:none;background:url(../images/v3/smallSpring.png?20121028) no-repeat -13px -254px;}
.topLink,.hasMore {font:16px/44px "微软雅黑";margin-left:20px;color:#333 !important;position:relative;zoom:1}
.loginTop .hasMore{display:inline-block;width:90px;padding:0 5px;text-align:center;height:44px;line-height:44px;_height:18px;_line-height:18px;_padding:11px 5px;}
.loginTop .hover {background:#fff;border:#dcdcdc 1px solid;border-bottom:0 none;padding:0 4px;margin-top:-1px;_padding:11px 4px;}
.loginTop .hasMore ul {width:98px;box-shadow:none;border:#dcdcdc 1px solid;border-top:0 none;right:-1px;top:40px;filter:progid:DXImageTransform.Microsoft.Shadow(color='#b2b2b2', Direction=225, Strength=0);_border:#cecece 1px solid;_border-top:none 0;}
.dsOther a{font-size:12px;display:block;text-align:left;height:30px;line-height:30px;color:#666;margin:1px;padding-left:12px}
.dsOther a:hover {background:#ecf2f3;color:#000;text-decoration:none}
.loginTop .arrow {border-color:#333 transparent transparent;border-color:#333 #fff #fff}
.appLinks {height:131px;background:#e2e3e7}
.loginDl {float:left;width:320px;padding:25px 10px 35px 0; }
.loginDlIcon{width:47px;height:17px;line-height:17px;font-size:14px;font-weight:bold;color:#fff; background:url(../images/v3/login/loginIcon1.png);padding-left:7px; position:absolute;top:3px;left:0}
.loginDl dt {font-size:20px;color:#555;padding-bottom:10px;font-family:"Microsoft YaHei";padding-left:50px; position:relative;zoom:1}
.loginDl a {color:#828282;font-size:14px;}
.loginDl a:hover {color:#333}
#docFoot {width:990px;margin:0 auto;color:#969696;padding:15px 0 20px;text-align:center}
#docFoot a {color:#969696;margin-left:10px}
.hasLogin {height:230px;overflow:hidden}
.hasLogin .redLoginBtn,.hasLogin .orangeLoginBtn{font-size:14px;width:240px}
.hasLogin .redLoginBtn:hover {text-decoration:none}
.authSuc {background:url(../images/v3/smallSpring.png?20121028) no-repeat right -334px #fff;}
.authErr {background:url(../images/v3/smallSpring.png?20121028) no-repeat right -360px #fff;}
.inputDiv {width:250px;border:#cecece 1px solid;color:#B2B2B2;background:#fff}
.inputDiv .inputTit {height:30px;line-height:30px;display:inline-block;vertical-align:top;padding-left:5px;width:45px;}
.inputDiv .input {border:none 0;width:185px;background:#fff;outline:none;-webkit-appearance:none;}
.suggest_box{position:relative;font-size:12px;color:#010101;display:inline-block;line-height:16px;z-index:500}
.suggest_box .suggest_list{position:absolute;border:1px solid #CCCCCC;left:0;top:30px;*top:32px;_top:33px;left:-51px;background-color:#fff;display:none;font-family:Arial;width:auto!important;min-width:250px;}
.suggest_box  h6{background:#E9E9E9;padding:7px 0;margin:0;font-weight:normal;font-size:12px;width:auto!important;_width:245px;font-size:14px;padding-left:5px;}
.suggest_box .suggest_list li{padding:6px 10px 6px 8px;cursor:pointer;margin-bottom:3px;font-size:12px;margin:0}
.suggest_box .suggest_list .list_focus{background:#208db8;color:#fff}
.suggest_box .iframe{position:absolute;width:100%; height:100%; z-index:-1;display:none;left:-50px;top:28px;*top:33px;border:none;}
.bgfff{background:#f0f1f2}
#loginBgCtr {position:absolute;text-align:center;z-index:3;top:473px;left:0;width:100%;height:30px;}
#loginBgCtr a{color:#fff;font-size:16px;margin-left:10px;text-decoration:none;opacity:0.3;*filter:alpha(opacity=30);display:inline-block;width:20px;height:20px;}
#loginBgCtr .active {opacity:1;*filter:alpha(opacity=100);}
.hasLogin .orangeLoginBtn {background:url(../images/v3/login/loginHasGift.png?20130829) no-repeat right top #f67b41;}
.appIcon {display:inline-block;width:50px;height:52px;background:url(../images/v3/appIcon.png?20140327) no-repeat;}
.appFK {background-position:0 0}
.appSK {background-position:0 -53px}
.appCBG {background-position:0 -106px}
.appYHK {background-position:0 -159px}
.appDK {background-position:0 -212px}
.appCHF {background-position:0 -265px}
.appBX {background-position:0 -318px}
.appCP {background-position:0 -371px}
.appZBSC {background-position:0 -424px}
.appDYP {background-position:0 -477px}
.appBJP {background-position:0 -531px}
.appLC {background-position:0 -584px}
.appMall {background-position:0 -636px}
.appBox {padding:28px 0 0;}
.appBox a {float:left;margin:0 2px;display:inline-block;width:84px;text-align:center;color:#666 !important; position:relative}
.appBox a b{position:relative;top:0;cursor:pointer}
.appBox a:hover {text-decoration:none;text-decoration:underline;}
.appBox a:hover b {top:-5px;}
.appBox a span {display:block;}
.appLCicon{width:36px;height:22px;background:url(/images/v3/login/loginIcon1.png) -59px 0; position:absolute;top:-13px;left:46px;}

.inputDiv .formInput{width:200px; height:30px; padding:0px; margin:0px; line-height:30px;background:none; border:none;}
.inputDiv .formErr{display:none}
#safeCtrlBox{ position:relative}

/*安全控件*/
.inputDiv .installDiv{top:1px;width:162px;line-height:27px;height:26px;}
.inputDiv .piconBox{top:5px;left:180px;}
.inputDiv .piconText{width:214px;left:-231px;}
.inputDiv .safeClass1{border:none;width:200px; height:30px; position:absolute;}
.delUserName{ position:absolute;right:5px;top:7px; cursor:pointer;width:17px;height:17px;line-height:1px;font-size:1px; background:url(/images_new/login_time_icon.png) -45px -136px no-repeat;_background:url(/images_new/login_time_icon_ie.png) -45px -136px no-repeat;}
.delUserName:hover{background-position:-69px -136px;}
