/*安全控件*/

/*弹窗*/
.popupBox{border:1px solid #637A88;width:680px; position:relative;box-shadow:1px 3px 3px #666; background:#fff;}
.popupTitle{height:49px;line-height:49px; background:#E6EBEF;padding-left:20px;font-weight:bold;}
.popupClose{width:12px;height:11px; background:url(../images/v3/blue_new_btn.png?20130318) -176px -142px; position:absolute;right:18px;top:20px; cursor:pointer;font-size:1px;line-height:1px;}

/*安装、升级提示*/
.safeClass1{border:1px solid #AAA;text-align:center;display:inline-block; position:relative;width:228px;height:30px;margin-right:10px;line-height:30px;font-size:12px;}
.safeClass1Tip{ position:absolute;padding:2px 5px; border:1px solid #CAA776;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;text-align:left;left:3px;width:190px;display:none;top:-45px; background:#FFF3CF;line-height:20px}
.safeClass1 a:link{color:#D07500; text-decoration:underline}
.safeClass1 a:visited{color:#D07500;}
.safeClass1 a:hover{color:#5F96C2;}
.safeClass1Tip a:link{color:#5F96C2}
.safeClass1Tip a:visited{color:#5F96C2;}
.safeClass1Tip a:hover{color:#1E50A2;}
.safeClose{width:16px;height:16px; background:url(/images/v3/safeCtrl2013.png?20130318); position:absolute;right:7px;top:6px; cursor:pointer;}
.safeClose:hover{  background-position:0 -19px;}
.safeClass1TipArr{width:19px;height:9px; position:absolute;bottom:-9px;left:15px; background:url(/images/v3/safeCtrl2013.png?20130318) 0 -41px no-repeat;line-height:0px;font-size:0px;}
.change64{top:-50px;display:block;width:230px}
/*安装弹窗*/
.safePopCon{padding:30px 0;line-height:28px;text-align:center;}
.safePopText2{font-size:12px;margin:10px 0 0 0;padding:10px 0 0 104px;text-align:left}
.safePopQue{text-align:right;font-size:12px;padding-right:20px}
.safePopCon a,.safePopCon a:link{color:#146C91;text-decoration:none;}
.safePopCon a:visited{color:#146C91;}
.safePopCon a:hover{color:#BA0000;}
.safePopCon .reDown{border:1px solid #BECED8;padding:3px 5px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; font-weight:normal; background:#fff}
.safePopCon .c_FD8300{color:#FD8300;}
.safePopCon .dashedLine{ border-bottom:1px dashed #BFCDD8;width:527px;margin:25px auto 5px auto;height:1px;line-height:1px;font-size:1px;}
.safePopCon .safePoint{font-size:7px; vertical-align:middle}

/*支付密码后的？号提示*/
.payPassTipBox{z-index:100; position:relative;display:inline-block;height:24px;}
.payPassTipBox .payPassTip{ position:absolute;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;box-shadow:1px 2px 2px #ccc;padding:10px;padding-left:25px; border:1px solid #D9D9D9; background:#fff;}
.payPassTipBox .payPassIcon{background:url(/images/v3/safeCtrl2013.png?v=20121224) 0 -273px;width:15px;height:15px; position:absolute;top:12px;left:3px;z-index:100; vertical-align:middle;}
.payPassTipBox .payPassTipCon{width:180px;top:13px;line-height:20px; background:#fff;font-size:12px; }
.payPassTipBox .payPassTipCon a,.payPassTipBox .payPassTipCon a:link{color:#146C91; text-decoration:none;}
.payPassTipBox .payPassTipCon a:visited{color:#146C91}
.payPassTipBox .payPassTipCon a:hover{color:#BF2F38}
.payPassInputBox{ position:relative;display:inline-block;font-size:12px;line-height:22px;}
.installDiv{ position:absolute;z-index:100;height:24px; background:#fff;top:2px;left:2px;width:190px;text-align:center;line-height:26px;border:1px solid #D7DFE4;font-size:12px;}
.installDiv a:link,.installDiv a:visited{color:#BE2F37; text-decoration:underline;}
.piconBox{ position:absolute;top:6px;left:210px;display:block;width:24px;height:20px; }
.piconBox .payPassInputIcon{width:34px;height:30px;background:url(/images/v3/safeCtrl2013.png?v=20121224) 0 -211px no-repeat; cursor:pointer;position:absolute;top:0px;left:-3px;}
.piconBox .pi1{ background-position:0 -175px;}
.piconBox .pi2{ background-position:0 -245px;}
.piconText{border:1px solid #C8C8C8;padding:8px 18px;border-radius:5px; font-weight:normal; background:#fff; width:193px;position:absolute;left:-211px;top:30px;box-shadow:1px 2px 2px #ccc;display:none;color:#333;}
.piconTextArr{width:15px;height:9px;font-size:0;line-height:0; position:absolute;right:8px;top:-9px; background:url(/images/v3/safeCtrl2013.png?v=20121224) 0 -320px;}
.paypassText1{color:#666;}
.paypassText2{ font-weight:bold; display:block;text-align:center;}
.paypassText3{color:#666;}
.paypassLine{border-top:1px dashed #B4B4B4;font-size:0;line-height:0;margin:8px 0;}
.piconText a,.piconText a:link{color:#2579A7;text-decoration:none;}
.piconText a:visited{color:#2579A7;}
.piconText a:hover{color:#BA0000;}