body{ background:#ffffff;
	background-color: #ffffff;}
.areabg{ background:url(http://img4.cache.netease.com/house/2013/12/24/2013122413500830d35.jpg) no-repeat center top;}/* 第一期banner*/
.areabg3{ background:url(http://img4.cache.netease.com/house/2013/12/16/201312161546087910a.jpg) no-repeat center top;}/* 第三期banner*/
.final00 { width:980px; clear:both; margin:0 auto; position:relative;}/* 大容器*/
.final01 { font-family:"宋体"; font-weight:100; font-size:12px; text-align:left; color:#90918c; line-height:25px;}/* 详细文字的字体*/
.fLineh{ background:url(http://img2.cache.netease.com/house/2013/11/28/2013112814551645cb1.jpg) repeat-x top left; height:0.5px; overflow:hidden; clear:both;}/* 横的分界线*/
.fLines{ background:url(http://img2.cache.netease.com/house/2013/11/28/2013112814551645cb1.jpg) repeat-y top left; width:1px; overflow:hidden; clear:both;}/* 竖的分界线*/
.final02 { font-family:"方正大黑简体"; font-weight:100; font-size:20px; text-align:left; color:#000000; line-height:25px;}/* 小号标题字体*/
.final02 a ,.final02 a:visited { color:#000000;}
.final02 a:hover { color:#21359c;}
.final03 { font-family:"汉仪粗黑简"; font-weight:100; font-size:28px; text-align:right; color:#75796d; line-height:25px;}/* 大一点标题字体*/
.final04 {
	background: url(http://img1.cache.netease.com/f2e/finance/rebuilding_logic_reform/images/triangle.png) no-repeat 0 0;
	width: 42px;
	height: 21px;
	position: absolute;
	display: block;
	left: 466px;
	top: 3px;
}/* 分界用的三角形*/
.final05 { width:980px; clear:both; margin:0 auto; position:relative; height:50px}/* 切换用的大容器*/
.final05 .c1 { position:absolute; width:240px;}/* 一线城市效果容器*/
.final05 .c1Bg1 {
	left:4px;
	top:-71px;
}/* 北京位置*/
.final05 .c1Bg2 {
	left:246px;
	top:-71px;
}/* 上海位置*/
.final05 .c1Bg3 {
	left:486px;
	top:-71px;
}/* 广州位置*/
.final05 .c1Bg4 {
	left:738px;
	top:-71px;
}/* 深圳位置*/
.final05 .c1Bg5 {
	background: url(http://img5.cache.netease.com/house/2013/12/2/20131202171024e967a.jpg) no-repeat 0 0;
	width: 20px;
	height: 10px;
	display: block;
	left:112px;
	top:68px;
}/* 北京位置*/
.final05 .c1Bg6 {
	background: url(http://img5.cache.netease.com/house/2013/12/2/20131202171024e967a.jpg) no-repeat 0 0;
	width: 20px;
	height: 10px;
	display: block;
	left:104px;
	top:66px;
}/* 上海位置*/
.final05 .c1Bg7 {
	background: url(http://img5.cache.netease.com/house/2013/12/2/20131202171024e967a.jpg) no-repeat 0 0;
	width: 20px;
	height: 10px;
	display: block;
	left:105px;
	top:67px;
}/* 广州位置*/
.final05 .c1Bg8 {
	background: url(http://img5.cache.netease.com/house/2013/12/2/20131202171024e967a.jpg) no-repeat 0 0;
	width: 20px;
	height: 10px;
	display: block;
	left:108px;
	top:67px;
}/* 深圳位置*/
.final06 { clear:both; margin:0 auto;}
.final06 li { display:none;}
#cCnt_11 .on { display:block;}
.final07 { font-family:"汉仪粗黑简"; font-weight:100; font-size:20px; text-align:center; color:#b9aaaa; line-height:25px;}/* 小号标题字体*/
.final07 a ,.final07 a:visited { color:#b9aaaa;}
.final07 a:hover { color:#c0504d;}
.final08 {
	width: 980px;
	height: 200px;
	position: absolute;
	left: 4px;
	top: 77px;
}/* 效果的详细介绍区域*/
.final09 { width:980px; clear:both; margin:0 auto; position:relative; height:250px}/* 切换用的大容器*/
.final10 {
	height:400px
	width:620px;
	clear:both;
	margin:0 auto;
	position: absolute;
	left: 1px;
	top: 31px;
}/* 限价官方游戏大容器*/
.final11 {
	background: url(http://img1.cache.netease.com/f2e/finance/rebuilding_logic_reform/images/hotspot_hd.png) no-repeat 0 0;
	width:620px;
	height:24px
	
	display: block;
	position: absolute;
	left: 8px;
	top: 10px;	
}/* 限价官方游戏标题背景*/
.final12 { font-family:"方正大黑简体"; font-weight:100; font-size:20px; text-align:center; color:#000000; line-height:25px;}/* 小号标题字体*/
.final12 a ,.final12 a:visited { color:#000000;}
.final12 a:hover { color:#c0504d;}
.final13 {
	background: url(http://img1.cache.netease.com/f2e/finance/rebuilding_logic_reform/images/hotspot_hd.png) no-repeat 0 0;
	width:310px;
	height:24px
	
	display: block;
	position: absolute;
	left: 658px;
	top: 10px;
}/* 限价官方游戏标题背景*/
.final14 { font-family:"汉仪粗黑简"; font-weight:100; font-size:16px; text-align:center; color:#ffffff; line-height:25px;}/* 数字游戏难以房价下面标题字体*/
.final14 a ,.final14 a:visited { color:#ffffff;}
.final14 a:hover { color:#f3b51f;}
.final15 { font-family:"宋体"; font-weight:100; font-size:12px; text-align:left; color:#ffffff; line-height:25px;}/* 白色的详细文字的字体*/
.final16 {
	background: url(http://img2.cache.netease.com/house/2013/12/3/201312031434451fc29.jpg) no-repeat 0 0;
	width:980px;
	height:24px
	
	display: block;
	position: absolute;
	left: 1px;
	top: -2px;
}/* 限价官方游戏规避限价标题背景*/
.final17 { font-family:"汉仪粗黑简"; font-weight:100; font-size:20px; text-align:left; color:#b9aaaa; line-height:25px;}/* 小号标题字体*/
.final17 a ,.final17 a:visited { color:#b9aaaa;}
.final17 a:hover { color:#c0504d;}
.final18 { font-family:"宋体"; font-weight:100; font-size:12px; text-align:left; color:#000000; line-height:25px;}/* 黑色详细文字的字体*/
.final19 { font-family:"汉仪粗黑简"; font-weight:100; font-size:17px; text-align:left; color:#000000; line-height:25px;}/* 小号标题字体*/
.final20 { width:1010px; clear:both; margin:0 auto; position:relative;}/* 大容器*/
.final20 .c2{ width:600px; clear:both; margin:0 auto; position:absolute; }/* 标题文字的容器*/
.final20 .c2Bg1 {
	left:52px;
	top:12px;
}
.final21 { font-family:"汉仪粗黑简"; font-weight:100; font-size:30px; text-align:left; color:#ffffff; line-height:25px;}/* 主标题大一点字体*/
.final22 {
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	text-align:left;
	color:#000000;
	line-height:25px;
}/* 第五部分标题字体*/
.final22 a ,.final22 a:visited { color:#000000;}
.final22 a:hover { color:#c0504d;}
.final23 {
	width:350px;
	height:24px
	display: block;
	position: absolute;
	left: 5px;
	top: 55px;
}/* 困难的容器*/
.final24 {
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	text-align:left;
	color:#ffffff;
	line-height:25px;
}/* 第五部分标题字体白*/
.final24 a ,.final24 a:visited { color:#ffffff;}
.final24 a:hover { color:#75d61f;}
.final25 {
	width:350px;
	height:24px
	display: block;
	position: absolute;
	left: 646px;
	top: 56px;
}/* 好处的容器*/
.final26 li {
	width: 280px;
	height: 150px;
	margin: 10px;
	padding: 10px;
	float: left;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: top;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
}
.final26 li h1 { font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	text-align:left;
	color:#000000;
	line-height:25px;}
.final26 li h2 {  font-family:"宋体"; font-weight:100; font-size:12px; text-align:left; color:#8a0c18; line-height:25px;}
.final26 li img {float:left; margin:3px 8px 0 0; }
.final26 li p { margin:3px 0; text-indent:2em;}
.final27 { font-family:"方正大黑简体"; font-weight:100; font-size:20px; text-align:left; color:#ffffff; line-height:25px;}/* 小号标题字体*/
.final27 a ,.final27 a:visited { color:#ffffff;}
.final27 a:hover { color:#e1e1cb;}
.final28 { font-family:"汉仪粗黑简"; font-weight:100; font-size:30px; text-align:left; color:#000000; line-height:25px;}/* 主标题大一点字体*/
.final29 { font-family:"方正大黑简体"; font-weight:100; font-size:20px; text-align:left; color:#75796d; line-height:25px;}/* 小号标题字体*/
.final29 a ,.final29 a:visited { color:#75796d;}
.final29 a:hover { color:#21359c;}
.final30 { font-family:"汉仪粗黑简"; font-weight:100; font-size:28px; text-align:right; color:#000000; line-height:25px;}/* 大一点标题字体*/
.float_menu { bottom: 105px; left: 50%; margin-left: 510px; width:176px; position: fixed; text-align: left; z-index:1;display:none; _position: absolute; _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-105));}/*距底部105像素*/
.float_menu .k1 a { background:url(http://img6.cache.netease.com/house/2013/12/8/2013120819525493e87.jpg) no-repeat 0 0; width:116px; height:45px; display:block; margin-left: 30px; _position: relative;}
.float_menu .k1 a:hover{ background:url(http://img1.cache.netease.com/house/2013/12/8/20131208195320e5e81.jpg) no-repeat 0 0;}
.float_menu .k2 { width:116px; clear:both; margin:0 auto;}
.float_menu .k2 ul { clear:both;}
.float_menu .k2 li { clear:both;}
.float_menu .k2 li a ,.float_menu .k2 li a:visited { background:#c11111; font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","\5B8B\4F53"; font-weight:100; font-size:12px;; line-height:38px; text-align:center; color:#E9E9E9; display:block; text-decoration:none;}
.float_menu .k2 li a:hover {  background:url(lsbg19.gif) repeat-x 0 0; color:#4f1010;}
.tonglan { width:980px; clear:both; margin:0 auto; position:relative; height:30px}
.tonglan .c1 { position:absolute; width:160px;}
.tonglan .c1Bg1 {
	left: 14px;
	top: -84px;
}
.tonglan .c1Bg2 {
	left: 152px;
	top: -74px;
}
.tonglan .c1Bg3 {
	left: 287px;
	top: -74px;
}
.tonglan .c1Bg4 {
	left: 417px;
	top: -73px;
}
.tonglan01 { font-family:"微软雅黑"; font-weight:100; font-size:15px; text-align:center; color:#ffffff; line-height:25px;}/* 小号标题字体*/
.tonglan02 { font-family:"微软雅黑"; font-weight:100; font-size:21px; text-align:center; color:#ffffff; line-height:15px;}/* 大一点标题字体*/
.tonglan03 { font-family:"微软雅黑"; font-weight:100; font-size:23px; text-align:center; color:#000000; line-height:25px;}/* 大号标题字体*/
.tonglan03 a ,.tonglan03 a:visited { color:#000000;}
.tonglan03 a:hover { color:#1a1919;}
.tonglan .content1 {
	position:absolute;
	left:182px;
	top:-74px;
	width:113px;
	height:40px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.tonglan .content2 {
	position:absolute;
	left:317px;
	top:-74px;
	width:113px;
	height:40px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.tonglan .content1_box1 {  width:120px; height:300px; position:absolute; left:182px; top:-20px;z-index:99; display:none;}
.tonglan .content1_box1 ul { clear:both;}
.tonglan .content1_box1 li { clear:both;}
.tonglan .content1_box1 li a ,.tonglan .content1_box1 li a:visited { background:url(http://img4.cache.netease.com/house/2013/12/22/201312221455075dee8.jpg) repeat-x 0 0; font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","\5B8B\4F53"; font-weight:100; font-size:12px;; line-height:38px; text-align:center; color:#E9E9E9; display:block; text-decoration:none;}
.tonglan .content1_box1 li a:hover {  background:url(http://img5.cache.netease.com/house/2013/12/22/201312221455383307f.jpg) repeat-x 0 0; color:#d9b4b4;}
.tonglan .content2_box2 {  width:120px; height:300px; position:absolute; left:317px; top:-20px;z-index:99; display:none;}
.tonglan .content2_box2 ul { clear:both;}
.tonglan .content2_box2 li { clear:both;}
.tonglan .content2_box2 li a ,.tonglan .content1_box1 li a:visited { background:url(http://img4.cache.netease.com/house/2013/12/22/201312221455075dee8.jpg) repeat-x 0 0; font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","\5B8B\4F53"; font-weight:100; font-size:12px;; line-height:38px; text-align:center; color:#E9E9E9; display:block; text-decoration:none;}
.tonglan .content2_box2 li a:hover {  background:url(http://img5.cache.netease.com/house/2013/12/22/201312221455383307f.jpg) repeat-x 0 0; color:#d9b4b4;}
.tonglan04 a { background:url(http://img6.cache.netease.com/house/2013/12/22/201312221433586d02c.jpg) no-repeat 0 0; width:15px; height:15px; display:block; top:-4px; _position: relative;}
.tonglan04 a:hover{ background:url(http://img1.cache.netease.com/house/2013/12/22/201312221434413797c.jpg) no-repeat 0 0;}
.gz_map { background:url(http://img6.cache.netease.com/house/2013/12/5/20131205170532130e1.jpg) left top no-repeat; width:980px; height:743px; position:relative; z-index:3;}
.gz_map .cityname1 {
	position:absolute;
	left:695px;
	top:165px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname2 {
	position:absolute;
	left:821px;
	top:191px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname3 {
	position:absolute;
	left:182px;
	top:141px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname4 {
	position:absolute;
	left:597px;
	top:243px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname5 {
	position:absolute;
	left:909px;
	top:350px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname6 {
	position:absolute;
	left:541px;
	top:322px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname7 {
	position:absolute;
	left:758px;
	top:505px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname8 {
	position:absolute;
	left:891px;
	top:504px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname9 {
	position:absolute;
	left:912px;
	top:415px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname10 {
	position:absolute;
	left:663px;
	top:506px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname11 {
	position:absolute;
	left:779px;
	top:633px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname12 {
	position:absolute;
	left:809px;
	top:430px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname13 {
	position:absolute;
	left:641px;
	top:434px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname14 {
	position:absolute;
	left:695px;
	top:348px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname15 {
	position:absolute;
	left:785px;
	top:364px;
	z-index:88;
	width:47px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .cityname16 {
	position:absolute;
	left:830px;
	top:62px;
	z-index:88;
	width:49px;
	height:18px;
	overflow:hidden;
	cursor:pointer;
	line-height:18px;
	text-indent:-999px;
}
.gz_map .map_box1 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:465px; top:5px; z-index:99; display:none;}
.gz_map .map_box1 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box1 h3 a,.gz_map .map_box1 h3 a:visited { color:#105582;}
.gz_map .map_box1 h3 a:hover { color:#BA2636;}
.gz_map .map_box1 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box2 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:880px; top:125px; z-index:99; display:none;}
.gz_map .map_box2 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box2 h3 a,.gz_map .map_box2 h3 a:visited { color:#105582;}
.gz_map .map_box2 h3 a:hover { color:#BA2636;}
.gz_map .map_box2 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box3 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:142px; top:161px; z-index:99; display:none;}
.gz_map .map_box3 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box3 h3 a,.gz_map .map_box3 h3 a:visited { color:#105582;}
.gz_map .map_box3 h3 a:hover { color:#BA2636;}
.gz_map .map_box3 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box4 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:377px; top:63px; z-index:99; display:none;}
.gz_map .map_box4 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box4 h3 a,.gz_map .map_box4 h3 a:visited { color:#105582;}
.gz_map .map_box4 h3 a:hover { color:#BA2636;}
.gz_map .map_box4 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box5 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:890px; top:135px; z-index:99; display:none;}
.gz_map .map_box5 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box5 h3 a,.gz_map .map_box5 h3 a:visited { color:#105582;}
.gz_map .map_box5 h3 a:hover { color:#BA2636;}
.gz_map .map_box5 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box6 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:321px; top:302px; z-index:99; display:none;}
.gz_map .map_box6 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box6 h3 a,.gz_map .map_box6 h3 a:visited { color:#105582;}
.gz_map .map_box6 h3 a:hover { color:#BA2636;}
.gz_map .map_box6 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box7 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:718px; top:545px; z-index:99; display:none;}
.gz_map .map_box7 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box7 h3 a,.gz_map .map_box7 h3 a:visited { color:#105582;}
.gz_map .map_box7 h3 a:hover { color:#BA2636;}
.gz_map .map_box7 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box8 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:240px; position:absolute; left:891px; top:554px; z-index:99; display:none;}
.gz_map .map_box8 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box8 h3 a,.gz_map .map_box8 h3 a:visited { color:#105582;}
.gz_map .map_box8 h3 a:hover { color:#BA2636;}
.gz_map .map_box8 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box9 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:922px; top:455px; z-index:99; display:none;}
.gz_map .map_box9 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box9 h3 a,.gz_map .map_box9 h3 a:visited { color:#105582;}
.gz_map .map_box9 h3 a:hover { color:#BA2636;}
.gz_map .map_box9 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box10 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:440px; top:500px; z-index:99; display:none;}
.gz_map .map_box10 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box10 h3 a,.gz_map .map_box10 h3 a:visited { color:#105582;}
.gz_map .map_box10 h3 a:hover { color:#BA2636;}
.gz_map .map_box10 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box11 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:839px; top:535px; z-index:99; display:none;}
.gz_map .map_box11 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box11 h3 a,.gz_map .map_box11 h3 a:visited { color:#105582;}
.gz_map .map_box11 h3 a:hover { color:#BA2636;}
.gz_map .map_box11 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box12 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:839px; top:435px; z-index:99; display:none;}
.gz_map .map_box12 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box12 h3 a,.gz_map .map_box12 h3 a:visited { color:#105582;}
.gz_map .map_box12 h3 a:hover { color:#BA2636;}
.gz_map .map_box12 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box13 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:409px; top:435px; z-index:99; display:none;}
.gz_map .map_box13 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box13 h3 a,.gz_map .map_box13 h3 a:visited { color:#105582;}
.gz_map .map_box13 h3 a:hover { color:#BA2636;}
.gz_map .map_box13 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box14 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:630px; top:125px; z-index:99; display:none;}
.gz_map .map_box14 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box14 h3 a,.gz_map .map_box14 h3 a:visited { color:#105582;}
.gz_map .map_box14 h3 a:hover { color:#BA2636;}
.gz_map .map_box14 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box15 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:850px; top:145px; z-index:99; display:none;}
.gz_map .map_box15 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box15 h3 a,.gz_map .map_box15 h3 a:visited { color:#105582;}
.gz_map .map_box15 h3 a:hover { color:#BA2636;}
.gz_map .map_box15 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}
.gz_map .map_box16 { background:url(http://img2.cache.netease.com/house/2013/12/5/2013120513555161074.gif) left top no-repeat; width:218px; height:220px; position:absolute; left:615px; top:-55px; z-index:99; display:none;}
.gz_map .map_box16 h3 { float:left; padding:10px 0 13px 32px; margin:0 auto; color:#105582; font-weight:bold;}
.gz_map .map_box16 h3 a,.gz_map .map_box16 h3 a:visited { color:#105582;}
.gz_map .map_box16 h3 a:hover { color:#BA2636;}
.gz_map .map_box16 p { clear:both; margin:0 auto; text-indent:1em; line-height:21px; padding:0 5px 0 5px;  overflow:hidden;}