.layout { margin: 0 auto; clear:both; text-align: left; width: 940px; _width:960px; padding: 0 10px; }
.area { margin: 0 auto; clear:both; text-align: left; width: 960px; overflow:hidden; }
body div.area { width: 960px; background-color:#fff; }
.area:after { clear: both; content: "\0020"; display: block; height: 0; overflow: hidden; visibility: hidden; }
h1, h3, h4, h5, h6, p { margin: 0px; }
.outer { clear:both; }
.top-head { position: relative; }
.top-head .more { bottom: 0; display: block; height: 20px; line-height: 23px; padding: 0 5px 0 22px; position: absolute; right: 0; }
.top-menu { height: 35px; line-height: 35px; margin-bottom:10px; vertical-align: middle; overflow: hidden; }
.top-menu a:hover { text-decoration: underline; }
.top-menu ul { margin-top: 10px; }
.top-menu li { border-right: 1px solid; float: left; padding: 0 10px; }
.foreword { border-bottom: 1px solid; height: 88px; margin-bottom: 10px; overflow: hidden; padding-left: 135px; vertical-align: middle; }
.foreword p { font-size: 14px; line-height: 150%; margin-top: 10px; text-indent: 2em; }
/* column */
.col-30, .col-140, .col-205, .col-210, .col-220, .col-230, .col-270, .col-280, .col-290, .col-300, .col-310, .col-330, .col-340, .col-350, .col-360, .col-370, .col-375, .col-410, .col-450, .col-460, .col-470, .col-510, .col-530, .col-555, .col-560, .col-600, .col-610, .col-620, .col-690, .col-700 { float: left; overflow: hidden; min-height:1px; }
.col-30 { width: 30px; }
.col-140 { width: 140px; }
.col-205 { width: 205px; }
.col-210 { width: 210px; }
.col-220 { width: 220px; }
.col-230 { width: 230px; }
.col-270 { width: 270px; }
.col-280 { width: 280px; }
.col-290 { width: 290px; }
.col-300 { width: 300px; }
.col-310 { width: 310px; }
.col-330 { width: 330px; }
.col-340 { width: 340px; }
.col-350 { width: 350px; }
.col-360 { width: 360px; }
.col-370 { width: 370px; }
.col-375 { width: 375px; }
.col-410 { width: 410px; }
.col-450 { width: 450px; }
.col-460 { width: 460px; }
.col-470 { width: 470px; }
.col-510 { width: 510px; }
.col-530 { width: 530px; }
.col-555 { width: 555px; }
.col-560 { width: 560px; }
.col-600 { width: 600px; }
.col-610 { width: 610px; }
.col-620 { width: 620px; }
.col-690 { width: 690px; }
.col-700 { width: 700px; }
/* 头图 */
.ui-top-head-through { height: 150px; position: relative; }
.ui-top-head-through h1 { color:#FFFFFF; isplay:block; font-family:微软雅黑, 黑体; font-size:60px; font-weight:bold; margin:0 auto; padding-top:15px; text-align:center; z-index:1; }
.ui-top-head-through h4 { font-size:14px; line-height:150%; margin:0 auto; text-align:left; width:650px; }
.ui-top-head-through .more { bottom:0; display:block; height:20px; line-height:23px; padding:0 5px 0 22px; position:absolute; right:0; }
/* 布局 */
.ui-layout-colx3-0-col-230 { width: 200px; padding: 0 15px; }
.ui-layout-colx3-0-col-230 .titlebar { margin-left: -15px; width: 228px; }
.ui-layout-colx3-0 .layout-end { clear:both; font-size:0; height:1px; overflow:hidden; padding-bottom:10px; background-color: #fff; }
.ui-layout-colx2-0 { margin-bottom: 0px; }
.ui-layout-colx2-0 .layout-end { clear:both; font-size:0; height:1px; overflow:hidden; padding-bottom:10px; background-color: #fff; }
.ui-layout-colx2-0-col-230 { width: 200px; padding: 0 15px; }
.ui-layout-colx2-0-col-230 .titlebar { margin-left: -15px; width: 228px; }
.ui-layout-colx2-0 .layout-end { clear:both; height:1px; overflow:hidden; }
.ui-layout-colx2-arrowbox { overflow: hidden; border: 1px solid; zoom: 1; }
/* 切换图 */
.slide-imgs-content-item { display: none; }
.slide-imgs-content .current { display: block; }
.slide-imgs-content-item { _zoom: 1; }
.slide-imgs-nav { _zoom: 1; }
.ui-slide-imgs-topfocus { _zoom: 1; border: 1px solid; margin-bottom: 10px; overflow: hidden; width: 298px; }
.ui-slide-imgs-topfocus h2 { font-size:14px; font-weight:bold; padding:8px 0 9px 10px; }
.ui-slide-imgs-topfocus .slide-imgs-nav-item { cursor:pointer; float:left; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; height:20px; line-height:20px; margin:0 3px; padding-top:3px; text-align:center; width:21px; }
.ui-slide-imgs-topfocus .slide-imgs-nav { margin:0 10px 10px 0; width:auto; display:inline; }
.ui-slide-imgs-horizontalbox .slide-imgs-nav-item { float:left; height:420px; margin-right:1px; overflow:hidden; text-align:center; width:37px; }
.ui-slide-imgs-horizontalbox .current { background-color:#4D5899; }
.ui-slide-imgs-horizontalbox .slide-imgs-nav-item { float:left; height:420px; margin-right:1px; overflow:hidden; text-align:center; width:37px; }
.ui-slide-imgs-horizontalbox .slide-imgs-content-item { float:left; margin-right:1px; }
.ui-slide-imgs-horizontalbox .slide-imgs-nav-item a { display:block; padding:10px; text-decoration:none; }
.ui-slide-imgs-horizontalbox-big .slide-imgs-content { clear: both; margin-bottom: 10px; }
.ui-slide-imgs-horizontalbox-big .slide-imgs-nav { overflow: hidden; clear: both; }
.ui-slide-imgs-horizontalbox-big .slide-imgs-nav-item { border:1px solid; float:left; font-family:arial; font-weight:normal; line-height:100%; margin-right:5px; margin-top:5px; padding:2px 20px; }
.ui-slide-imgs-horizontalbox-big .slide-imgs-nav .current { display:block; margin-top:0; padding-top:7px; }
.ui-slide-imgs-horizontalbox-top-big .slide-imgs-nav-item { border:1px solid; float:left; font-family:arial; font-weight:normal; line-height:100%; margin-right:5px; padding:3px 20px; margin-bottom: 5px; }
.ui-slide-imgs-horizontalbox-top-big .current { margin-bottom: 0px; padding:6px 20px; }
.ui-slide-imgs-horizontalbox-top-big .slide-imgs-content .current { margin-bottom: 10px; padding:6px 0px; }
.ui-slide-imgs-horizontalbox-top-big .slide-imgs-nav { clear:both; overflow:hidden; }
/* 标题栏 */
.titlebar { clear: both; height: 25px; line-height: 25px; margin-bottom: 9px; overflow: hidden; }
.titlebar .more { float: right; padding-right: 8px; }
.titlebar h2 { float: left; font-weight: bold; padding-left: 27px; }
.titlebar-big h2 { border-bottom: 1px solid; font-size: 14px; line-height: 24px; padding-left: 20px; }
.titlebar-wide { border-top:2px solid; margin-left:auto; margin-right:auto; border-left: 1px solid; border-right: 1px solid; }
.titlebar-redArrow h2 { font-size: 14px; padding-left: 24px; }
.titlebar-black h2 { padding-left: 10px; font-size: 14px; line-height: 180%; }
.titlebar-boxarrow { float: left; display: inline-block; display: -moz-inline-stack; *display: inline;
zoom: 1; width: 31px; height: 91px; }
.titlebar-boxarrow div { font-size:12px; font-weight:bold; margin:15px auto auto 7px; width:15px; }
.titlebar-blackarrow { border-bottom:2px solid; overflow:hidden; }
.titlebar-blackarrow-column h2 { height:23px; line-height:23px; padding-left:35px; vertical-align:middle; }
.titlebar-reddot h2 { padding-left: 5px; padding-right: 5px; }
.titlebar-reddot .more { padding-left: 5px; }
/* 图文 */
.image-text { _zoom: 1; margin-bottom: 5px; overflow: hidden; }
.image-text img { border: 1px solid; margin-right: 10px; }
/* 摘要 */
.brief h2 { margin-bottom: 3px; }
.brief p { color: #727171; font-size: 12px; font-weight: normal; line-height: 180%; }
.brief p a { color: #BA2636; }
.ui-alternate-grey { padding: 12px 5px; }
.ui-alternate-white { padding: 12px 5px; }
/* 列表 */
.list { line-height: 180%; margin-bottom: 5px; overflow:hidden; zoom:1; }
.list li { font-weight: normal; overflow: hidden; padding-left: 9px; vertical-align:middle; *zoom: 0; }
.list li a { display: inline; }
 /* fixed for ie6/7 */
.list li.last { overflow: hidden; _height:1%; }
.list li.last a { *display: inline; *float: left; }
.list .date { float: right; color: #7e7e7e; }
.list-colx2-0 { overflow: auto; margin-bottom: 10px; }
.list-colx2-0 li { float: left; line-height: 180%; font-size: 14px; width: 450px; margin-right: 20px; }
.list-colx2-0 li.last { margin-right: 0px; }
 /* fixed for ie6/ie7 */
.list-colx2-0 li a { *float: left; *display: inline;   }
.list-colx2-01 { overflow: auto; margin:0 auto 10px; width:98% }
.list-colx2-01 li { float: left; line-height: 180%; font-size: 14px; width: 47%; margin-right: 2%; }
.list-colx2-01 li.last { margin-right: 0px; }
/* 菜单 */
.menubar { height:60px; overflow:hidden; width:960px; }
.menubar-item { float:left; height:60px; overflow:hidden; width:240px; }
.menubar-titlebox { float:left; font-family:simhei; font-size:20px; height:60px; line-height:60px; text-align:center; vertical-align:middle; width:55px; }
.menubar-linkbox { margin-bottom:10px; margin-top:8px; }
.menubar-linkbox a { margin-left: 5px; margin-right: 5px; line-height: 180%; display: inline-block; }
/* 图片列表 */
.list-imgs { overflow: hidden; }
.list-imgs img { border: 1px solid; margin: 0px; }
.list-imgs li { float: left; display: inline; line-height: 180%; }
.list-imgs-160 li { width:162px; }
/* 滚动 */
.list-scroll-horizontal { height:120px; position:relative; }
.list-scroll-horizontal .list-scroll-leftbtn { cursor:pointer; left:0; position:absolute; top:20px; }
.list-scroll-horizontal .list-scroll-rightbtn { cursor:pointer; position:absolute; right:0; top:20px; }
.list-scroll-horizontal .list-scroll-content { height:110px; left:50px; overflow:hidden; position:absolute; width:860px; }
.list-scroll-box { width: 3000px; }
/* 文字 */
.f14b { font-size: 14px; font-weight: bold; }
.f14, p.f14 { font-size: 14px; }
.t2m { text-indent: 2em; }
.t0m { text-indent: 0em; }
.lh180 { line-height: 180%; }
.headline { font-family: "黑体"; font-size: 18px; font-weight: normal; line-height: 160%; }
/* 边框 */
.ui-grey-bd-tb { border-top: 1px solid; border-bottom: 1px solid; padding-top: 10px; padding-bottom: 10px; }
/* 按钮 */
.ui-wb-addbtn { display:-moz-inline-stack; height:28px; width:86px; display: inline-block; _display: inline; zoom: 1; }
.ui-wb-attention h3 a { font-weight:normal; line-height:150%; margin-bottom:3px; }
/* 引文 */
.quote { overflow:hidden; clear:both; }
/* 组件 */
.ui-item-box { margin-bottom: 5px; }
.ui-item-box .hd, .ui-item-box .bd, .ui-item-box .ft { padding: 3px 10px; }
.ui-item-box .bd { padding: 10px; _padding: 10px 8px; }
.ui-videolist li { cursor:pointer; height:25px; line-height:24px; padding-left:10px; text-align:left; }
.foot { clear:both; line-height:21px; margin:0 auto; width:960px; text-align: center; }
.editor-sign { width: 960px; margin-bottom:10px; }
/* 间距 */
.p-5 { padding: 5px; }
.p-10 { padding: 10px; }
/*.p-lr-10 { padding-left: 10px; padding-right: 10px; }*/
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-175 { margin-left: 175px; }
.mr-10 { margin-right: 10px; }
.mr-14 { margin-right: 14px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-23 { margin-right: 23px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }
.mr-32 { margin-right: 32px; }
.mr-35 { margin-right: 35px; }
.mr-40 { margin-right: 40px; }
.mr-43 { margin-right: 43px; }
.mr-50 { margin-right: 50px; }
.mr-60 { margin-right: 60px; }
.mr-65 { margin-right: 65px; }
.mr-120 { margin-right: 120px; }
.mr-200 { margin-right: 200px; }
.mb-10 { margin-bottom: 10px; }
.mb-5 { margin-bottom: 5px; }
/* fixed */
body div.layout { width: 940px; }
.customize-module { line-height: 180%; }
table td { line-height: 180%; }
.wb-zt { margin-bottom: 10px; }
#tieArea { margin-bottom: 10px; }
.fB { line-height: 180%; }
body > .sw-module-container { overflow: visible; }
.layout .list-colx2-0 { margin-left: 0px; }
.layout .list-colx2-01 { width:100%; }
.layout .layout { padding: 0px; }	
/* fixed for tidyeditor background */
table { background-color: #fff; }
.area table, .layout table { background-color: transparent; }
/* fixed for people card */
.ui-people-card li { width:274px; height:160px; overflow:hidden; margin:10px; padding:10px; float:left; display:inline; border:#CCCCCC 1px solid; background:url(http://img4.cache.netease.com/stock/2009/7/29/2009072921495425f3c.gif) #FFFFFF repeat-x top; }
.ui-people-card li h1 { font-size:14px; font-family:"宋体"; font-weight:bold; text-align:left; line-height:180% }
.ui-people-card li h2 { font-size:12px; font-family:"宋体"; text-align:left; line-height:180% }
.ui-people-card li img { float:left; margin:3px 8px 0 0; border:1px solid #ccc; }
.ui-people-card li p { margin:3px 0; text-indent:2em; line-height: 150%; }
.ui-people-card { overflow: hidden; _zoom: 1; }
.ui-people-card li { margin-right: 15px; }
.ui-people-card li.last { margin-right: 0px; }
/* fixed for signtable */
table.sign { width: 960px; }
.area table,.layout table { margin: 0; text-align: left; }
/* For hide modular */
body .forbiddenModular { display: none !important; }
/* for fast special */
html body div.layout-fasttype { width: 610px; padding-left: 175px; padding-right: 175px; _width: 960px; _padding-left: 175px; _padding-right: 175px; background-color: #fff; }
html body div.layout-fasttype .list .date { font-size: 12px; }
html body div.layout-fasttype-colx2-620x310 { background:url(http://img1.cache.netease.com/cnews/img10/vtfastspecial20110913/fastType-bg-grey.gif) repeat-y 640px 10px; zoom: 1;  width: 940px; padding-left: 10px; padding-right: 10px; background-color: #fff; margin:auto; }
html body div.layout-fasttype-colx2-620x310 .col-600 { width: 615px; margin-right: 15px; }
html body div.layout-fasttype-colx2-620x310 .col-600 .image-text { margin-bottom: 15px; margin-left: 10px; }
html body div.layout-fasttype-colx2-620x310 .col-600 .fast-list-type { margin-left: 10px; }
html body div.layout-fasttype-colx2-620x310 .col-310 { padding-top: 5px;  width: 300px; padding-left: 5px; padding-right: 5px; }
html body div.layout-fasttype-colx2-620x310 .col-310 .titlebar { width: 308px; margin-left: -5px; }
html body div.layout-fasttype-colx2-620x310 .col-310 .titlebar-small { background:url(http://img1.cache.netease.com/cnews/img10/vtfastspecial20110913/titleBar_s.jpg) repeat-x;}
.bg-dot-line { height: 1px; overflow:hidden; margin-bottom: 10px; background: url(http://img1.cache.netease.com/cnews/img10/vtfastspecial20110913/bg_dot_line.png) repeat-x 0 0; }
.fast-layout-start { background: #fff url(http://img1.cache.netease.com/cnews/img10/vtfastspecial20110913/fastype-underline.gif) no-repeat right bottom; height:1px; padding-top:10px;background-color: #fff;}
.fast-layout-end { background: #fff url(http://img1.cache.netease.com/cnews/img10/vtfastspecial20110913/fastype-underline.gif) no-repeat right top; height:1px; padding-bottom:10px; clear:both; }
.fastSpecialStar { background: url("http://img1.cache.netease.com/cnews/img10/vtfastspecial20110913/stars.gif") no-repeat scroll 0% 0% transparent; padding-left: 15px; }
html body div.sw-replacement { background-color: #F2F5A4; }
/* fast special v2 */
body  div.area-750-center { width: 590px; background-color:#fff; margin: 0 auto; padding: 20px 40px 20px 120px; }
body div.area-750 { width: 750px; background-color:transparent; margin: 0 auto; }
body div.area-960 { width: 960px; background-color: transparent; margin: 0 auto; }
.ui-area-750-banner { background-color:#3370AD;height:100px; text-align:center; }
.ui-area-750-banner h1 { font-size: 30px; padding-top:35px; padding-bottom:35px; font-weight:bold; color: #fff; font-family:simhei; }
.titlebar-fast h2 { background: url("http://img1.cache.netease.com/cnews/img10/vt20100607/sliver_themes_20101111/n_icon.gif") no-repeat scroll 7px 6px transparent; color: #000; font-size:14px; }
.area-750 .titlebar-fast { margin-bottom: 0px; }
.titlebar-fast { background:url(http://img1.cache.netease.com/cnews/img10/vtfastspecial20110913/titleBar_51.jpg) repeat-x; height:25px; }
.titlebar-fast .more { display: none; }
.fast-list-type li .date { float: none; margin-left: 10px; font-size: 12px; }
ul.fast-list-type li {  background: url("http://img1.cache.netease.com/cnews/img10/vtfastspecial20110913/bpoint_s.gif") no-repeat scroll 0.2em 0.7em transparent; padding-left: 15px; }
ul.fast-list-type li em.I_S_ {  background: url("http://img1.cache.netease.com/cnews/img10/vtfastspecial20110913/red-star.jpg") no-repeat scroll 0 0 transparent; margin-left: -15px; padding-left: 15px; }
body.fast-type-body { background-color: #D2E7EF; }
.area-750 div.foot { width: auto; }
body .fast-list-type li em.I_S_ {  _display:block; display: inline-block; background-position:0em 0.5em;  _position: relative; _left: -15px;}
body .fast-list-type li em.I_S_:hover { text-decoration: underline; }
div.customBgEditor div.titlebar { background: none; background-color: transparent; }
div.customBgEditor div.titlebar h2 { background-image: none; }
div.customBgEditor .top-menu, div.customBgEditor .ui-top-menu { background: none; background-color: transparent; }
.area table.editor-sign { background-color: #fff; }
body div.layout { background-color: #fff; }
.ui-layout-colx3-0-col-230 div.customBgEditor {  margin-left: -15px; width: 230px; }
.ui-layout-colx3-0-col-230 div.customBgEditor .titlebar-small { border: none; }
.ui-layout-colx3-0-col-230 div.customBgEditor .titlebar h2 { padding-left: 42px; }
.ui-layout-colx2-0-col-230 div.customBgEditor {  margin-left: -15px; width: 230px; }
.ui-layout-colx2-0-col-230 div.customBgEditor .titlebar-small { border: none; }
.ui-layout-colx2-0-col-230 div.customBgEditor .titlebar h2 { padding-left: 42px; }
/* digi module */
.mb_list_stream .frame img { max-width: 160px; }