/* common styles*/
html,body{font-size: 12px;letter-spacing:.03em;}
#main{position: relative;width: 980px;margin: 0 auto;overflow: hidden;z-index:0}
#content{position:relative;}
#content-header{display:none;}
/* header */
.topnav{height:10px;background:#095791;min-width:980px}
#header{overflow:auto;width:980px;margin:0 auto;background:none;}
	#logo{float:left;}
	#header-region ul{overflow:auto;float:right;margin:70px 0 0 0;}
	#header-region li{float:left;background:#FFF;}
	#header-region li a{display:block;color:#666;height:22px;padding:0 18px 0 28px;line-height:24px;background-image:url("../images/btns_blue.png");float:left;overflow:hidden;_background-image:url("../images/btns_blue.jpg");}
	#header-region li a.blog{background-position:0 -385px;}
	#header-region li a.mblog{background-position:0 -407px;}
	#header-region li a.msg{background-position:0 -429px;}
	#header-region li a.mobil{background-position:0 -451px;}
	#header-region li a.eng{background:none;padding-left:0;padding-right:0;}
	#header-region li a.blog:hover{background-position:0 -473px;}
	#header-region li a.mblog:hover{background-position:0 -495px;}
	#header-region li a.msg:hover{background-position:0 -517px;}

	#header-region li a:hover{text-decoration:none;color:#296db6;}

/* nav */
/* #main-top{overflow:auto;width:980px;margin:0 auto;}
	.nav{background:url(../images/btns_blue.png) repeat-x 0 -282px;height:39px;*z-index:10;*position:relative}
	.nav ul{overflow:auto;}
	.nav .nav_li{float:left;width:100px;margin-left:20px;*position:relative;z-index:0}
	.nav .nav_li a{display:block;height:39px;background-image:url(../images/btns_blue.png);}
	.nav .nav_li a.sy{background-position:0 -42px;}
	.onmouse1{background-position:-100px -42px!important;}
	.nav .nav_li a.jf{background-position:0 -82px;}
	.onmouse2{background-position:-100px -82px!important;} 
	.nav .nav_li a.cz{background-position:0 -122px;}
	.onmouse3{background-position:-100px -122px!important;}
	.nav .nav_li a.jw{background-position:0 -162px;}
	.onmouse4{background-position:-100px -162px!important;}
	.nav .nav_li a.gw{background-position:0 -202px;}
	.onmouse5{background-position:-100px -202px!important;}
	.nav .nav_li a.lw{background-position:0 -242px;}
	.onmouse6{background-position:-100px -242px!important;}
	.nav .nav_sub{background:#FFF;position:absolute;z-index:10;padding:6px 0 10px;,*left:0;display:none;*+width:140px;_width:auto;-moz-box-shadow:2px 2px 5px #333333; -webkit-box-shadow:2px 2px 5px #333333; box-shadow:2px 2px 5px #333333;min-width:160px;*background:#EEE;z-index:111111111111111111111}
	.nav .nav_sub li{text-indent:0;text-align:left;}
	.nav .nav_sub li a{background:none;height:auto;color:#666;font-size:14px;padding:7px 15px;_width:140px}
	.nav .nav_sub li a:hover,.defaltcss{color:#C91212;text-decoration:none;background:#EEE;}
*/
/* nav */
#main-top{width:980px;margin:0 auto;}
.nav{background:url(../images/btns_blue.png) repeat-x 0 -282px;height:39px;*z-index:10;*position:relative}
.nav ul{overflow:auto;}
.nav .nav_li{float:left;width:100px;margin-left:20px;*position:relative;z-index:0}
.nav .nav_li a{display:block;height:39px;background-image:url(../images/btns_blue.png);}
.nav .nav_li a.sy{background-position:0 -42px;}
.onmouse1{background-position:-100px -42px!important;}
.nav .nav_li a.jf{background-position:0 -82px;}
.onmouse2{background-position:-100px -82px!important;} 
.nav .nav_li a.cz{background-position:0 -122px;}
.onmouse3{background-position:-100px -122px!important;}
.nav .nav_li a.fu{background-position:0 -658px;}
.onmouse4{background-position:-100px -658px!important;}
.nav .nav_li a.jw{background-position:0 -162px;}
.onmouse5{background-position:-100px -162px!important;}
.nav .nav_li a.gw{background-position:0 -202px;}
.onmouse6{background-position:-100px -202px!important;}
.nav .nav_li a.lw{background-position:0 -242px;}
.onmouse7{background-position:-100px -242px!important;}
.nav .nav_sub{background:#FFF;position:absolute;z-index:10;padding:6px 0 10px;,*left:0;display:none;*+width:140px;_width:auto;-moz-box-shadow:2px 2px 5px #333333; -webkit-box-shadow:2px 2px 5px #333333; box-shadow:2px 2px 5px #333333;min-width:160px;*background:#EEE;z-index:111111111111111111111}
.nav .nav_sub li{text-indent:0;text-align:left;}
.nav .nav_sub li a{background:none;height:auto;color:#666;font-size:14px;padding:7px 15px;_width:140px}
.nav .nav_sub li a:hover,.defaltcss{color:#C91212;text-decoration:none;background:#EEE;}	
	
	
	
	
	
	
/* footer */	
#main-bottom{height:34px;background:#f4f4f4;width:980px;margin:28px auto; text-align:center;}
	#main-bottom li{float:left;line-height:34px;padding:0 6px;}
	#main-bottom li.first{margin-left:260px;}
	#main-bottom li a{color:#333}
	#main-bottom li a:hover{color:#C91212;text-decoration:none;}
#footer{width:980px;margin:28px auto 80px; text-align:center;}
	#footer p{text-align:center;text-indent:2em;color:#666;}

/* sidebar-first */
#sidebar-first{overflow:auto;text-align:center;}
#sidebar-first h3{background: #F3F3F3;line-height:40px;border-right:1px solid #DDD;text-align:center;margin:0; font-size:16px; font-weight:normal;}
#sidebar-first h3 p{margin:0}
#sidebar-first ul.outlevel{border-right:1px solid #DDD;border-bottom:1px solid #DDD;  list-style-type:none;}
#sidebar-first ul.outlevel li span{padding:10px 0;font-size:14px;background:url("../images/left_siderbar_title.jpg") repeat-x;border-bottom:1px solid #DDD;display:block;border-top:1px solid #DDD;font-weight:bold;}
/* #sidebar-first ul.outlevel li a{padding:10px 0;font-size:14px;background:#fcfcfc;border-bottom:1px solid #DDD;display:block;border-top:1px solid #DDD;} */
#sidebar-first ul.inlevel{overflow:auto; list-style-type:none;}
#sidebar-first ul.inlevel li{background:none;_height:10px; }
#sidebar-first ul.inlevel li a{font-size:14px;padding:10px 0;display:block;}
#sidebar-first ul li a{color:#333;}
#sidebar-first ul.outlevel li ul.inlevel li span{font-size:14px;padding:0;display:block;background:#fbfbfb;border:none; border-top:1px solid #DDD; font-weight:normal; list-style-type:none;}
#sidebar-first ul.inlevel li a.active{background:#edfaff;border-top:1px solid #eee;border-bottom:1px solid #eee;color:#666}
#sidebar-first ul.inlevel li ul.inlevel li{background: url(/sites/default/files/jjfa/jjfazxx/jjfabg.jpg)no-repeat;_height:10px;}
#sidebar-first ul.inlevel li ul.inlevel li a{font-size:12px;padding:10px 0;display:block;}
#sidebar-first ul.outlevel li ul.inlevel li ul.inlevel li span{font-size:12px;padding:0;display:block;background:none;border:none;}
#sidebar-first ul.inlevel li ul.inlevel li a.active{background:#edfaff;border-top:1px solid #eee;border-bottom:1px solid #eee;color:#666}


.node-type-solution #sidebar-first {
    padding:0!important;
}
/* sidebar-first 修补结构调整*/

/* common */
.line{border-top:1px dashed #ccc;margin:5px}
.bread{margin:10px 0;overflow:auto;line-height:34px;}
	.bread a{color:#0b5cbb;font-size:14px;padding:0 10px;}
	.bread span{background:url(../images/redpp.gif) no-repeat 30px 0;padding-left:50px}
	.bread span a{color:#0b5cbb;font-weight:700;font-size:16px;}
	.crumbs{background:#f4f4f4;}
.search{width:350px;float:right;padding-top:4px;}
		.search .s_text{background:#FFF;border:1px solid #c5c5c5;width:244px;color:#888;float:left;padding:5px;text-indent:.6em;}
		.search .submit{background:url(../images/btns_blue.png) no-repeat 0 -357px;width:72px;height:28px;overflow:hidden;border:0;float:right;margin-right:10px;cursor:pointer;}
.newslist{overflow:auto;}
.newslist li span{color:#A0A0A0;}
.newslist li{padding:5px 30px;background:url("../images/graypoint.gif") no-repeat 18px 15px; font-size:14px; line-height:23px; }
.newslist li a{color: #272727;}
.cbox{padding:12px;border:1px solid #DDD;overflow:auto;position:relative;}
	.cbox .abs{position:absolute;}
	.cbox p{line-height:2em;}
	.cbox span.title{background:url("../images/time.jpg") no-repeat 0 8px;padding:10px 24px;display:block;}
	.cbox span.person{background:url("../images/person.jpg") no-repeat 4px 12px;padding:10px 24px;display:block;line-height:2em}
.con_news .cbox .newslist li { font-size:12px;}


.pic_news{border:1px solid #DDD;overflow:auto;margin:20px 20px 20px 0;*height:162px;}
	.pic_news .fleft{margin:12px;}
	.pic_news ul{border-left:1px solid #DDD;margin:16px 0;float:right;}
	
	
	.article{margin:0 20px;}
	.article  p{text-indent:2em;line-height:2em;font-size:14px;margin-bottom:1.4em;}
	.article  h1.articletitle{font-size:24px;text-align:center;font-weight:700;margin:20px}
	.article  h2.subtitle{text-align:center;font-weight:700;margin:20px}
	.article  span.articledate{font-size:12px;text-align:right; color:#c8c8c8;display:block;}
	#tabs-wrapper h1{margin:0}
	
	
	

	
/*  移至fltrpsearch panel CSS中	
.page-book-search #content-inner {margin-right: 226px;width: 740px;}
.page-book-search #sidebar-second {background: none repeat scroll 0 0 #F6F6F6;border: 1px solid #D7D7D7;width: 200px;}
.page-book-search #sidebar-second img{ margin: 10px 20px}
.page-book-search .item-list{padding:30px}
.page-book-search .item-list ul li{ margin:0 50px 34px 0; padding: 0; color:#7E828B; font-size: 12px; line-height:24px;overflow:auto}
.page-book-search .item-list ul li img{float:left;margin:0 40px 20px 0}
.page-book-search .item-list ul li a{ font-size: 18px; font-weight: bold; color: #05438C; margin: 6px 0; text-decoration: underline;}
.page-book-search .item-list ul li span.field-content{ font-size: 15px; color: #05438C; }
.page-book-search .pager li{border: 1px solid #DDDDDD;}
*/	