/* index-page*/

.bgclass{background:url(../images/page_bg_blue.png) no-repeat center 10px;}
#sidebar-first{float: left;}
#sidebar-second{float: right;}
#content-header{display:none;}



.foucs{width:980px;height:385px;margin-top:16px;}
.scroll_news{height:34px;background:#E5E8E7;overflow:hidden;float:left;}
	.news_c{width:540px;}
		.news_c .news_t{display:block;background:url(../images/btns_blue.png) no-repeat 0 -322px;width:95px;height:34px;text-indent:-20em;overflow:hidden;float:left;_background-image:url("../images/btns_blue.jpg");}
		.scroll_news .index_more img{display:block; float:left; padding-top:9px; padding-right:32px;}
		#scrollDiv{height:34px;overflow:hidden;line-height:34px;margin-left:0;float:left;width:440px;}
		.news_c li{text-align:left;text-indent:1em;}
		.news_c li a{color:#555; font-size:14px;}
		.news_c li a:hover{text-decoration:none; color:#333;}
	.search{width:350px;float:right;padding-top:4px;}
		.search .s_text{background:#FFF;border:1px solid #c5c5c5;width:244px;color:#888;float:left;padding:5px;text-indent:.6em;}
		.search .submit{background:url(../images/btns_blue.png) no-repeat 0 -357px;width:72px;height:28px;overflow:hidden;border:0;float:right;margin-right:20px;cursor:pointer;}
		.search .index_more img{display:block; float:left;}

		
		
		
.intruduction{overflow:auto;}
	.intruduction ul{overflow:auto;border-bottom:1px dashed #ccc;padding:24px 0;color:#58575;_zoom:1}
	.intruduction li{width:315px;float:left;margin-right:10px;*display:inline;text-align:left;line-height:1.6em;}
	.intruduction li.last{margin-right:0;}
	.intruduction li img{float:left;margin-right:12px;}
	.intruduction li h3{font-size:13px;color:#585757;margin:6px 0;}
	.intruduction li a.ablock{display:block;text-decoration:none;height:150px;overflow:hidden;}
	.intruduction li a.ablock:hover{background:#F4F4F4;}
	.intruduction li a.ablock p{color:#666}
	
.professional{padding:12px 20px;background:#f4f4f4;border:1px solid #DDD; overflow:auto;text-align:left;margin-top:10px;_zoom:1}
	.t_P{display:block;float:left;margin-right:30px;}
	.professional h3{background:url(../images/btns_blue.png) no-repeat 0 -560px;line-height:28px;font-size:14px;text-indent:4.6em;height:24px;overflow:hidden;color:#666;margin:20px 0 10px 0;_background:url("../images/btns_blue.jpg") no-repeat 0 -560px;}
	.professional p{color:#555555;line-height:2.1em;margin-right:20px;margin-bottom:0;}
	.professional a.more{float:right;display:block;color:#3366cc;background:url(../images/btns_blue.png) no-repeat 0 -582px;text-indent:1.4em;margin-right:20px;_background:url("../images/btns_blue.jpg") no-repeat 0 -582px;}
	
.newbox{width:980px;background:red;margin:0 auto;position:relative;z-index:0}
.sidescroll{position:absolute;right:-102px;width:100px;height:1380px;}
	.sidescroll .btns{width:100%;height:30px;position:absolute;cursor:pointer;z-index:1000;background:#FFF;}
	.sidescroll .topbtn{left:0;top:28px;}
	.sidescroll .botbtn{left:0;bottom:60px}
	.sidescroll .addbotbtn{background:url(../images/btns_blue.png) no-repeat 40px -625px;_background:url(../images/btns_blue.jpg) no-repeat 40px -625px;}
	.sidescroll .addtopbtn{background:url(../images/btns_blue.png) no-repeat 40px -595px;_background:url(../images/btns_blue.jpg) no-repeat 40px -595px;}
	.sidescroll .years{display:block;height:50px;margin-top:30px;}
	.sidescroll a.afirst{margin-top:0;display:block;height:50px;}
	.maincontent{margin:74px 0 0;height:1200px;overflow:hidden;*margin:81px 0 0;z-index:1000;background:#FFF;}
	.conlist{background-image:url(../images/year.png);background-position:-2px 0;}


.zhuanjia{background:url(../images/zjdefault_03.jpg) no-repeat; padding:10px 14px; height:140px;}
.zhuanjia2{ padding-left:80px;}
.zhuanjia3{padding-left:80px; width:700px; line-height:30px; float:left; margin-top:40px;}
.zhuanjia4{width:88px; float:right; margin-top:20px;}
.zhuanjiafont1{font-size:16px; color:#C00; }
.zhuanjiafont2{font-size:16px; color:#036; font-weight:bold;}
.more2{color:#C00}