/* academic-page*/

#sidebar-first{width:220px; float: left;margin-left:-738px}
#sidebar-second{float: right;}
#content{position:relative;left:240px;width: 738px; float: left;}
#main{border:1px solid #DDD;width:978px;}

/* 基本布局  & 教育服务-学术科研 */
.con_news{overflow:auto;margin:20px 0 20px 0;position:relative;}
	.con_news .cbox{width:322px;margin:10px 20px 10px 0;}
	.con_news .cbox .newslist{border-top:1px solid #DDD;padding:10px 0;float:left; height:56px;}
	.con_news .cbox .abs{top:3px;right:26px;}
	.con_news .cbox .newslist li{padding:5px 20px;background:url("../images/graypoint.gif") no-repeat 8px 12px;}

/* 教育服务-培训实力 */
	.training .cbox .abs{top:74px;right:7px;}

/* 教育服务-活动赛事 */	
.match span.title{padding:10px 10px  10px 24px;display:block;line-height:2em; background: url("../images/time.jpg") no-repeat scroll 0 12px transparent;}
.match .cbox .abs{top:-5px;left:-5px;right:26px!important}

/* 解决方案 */
.text01{padding:20px 30px;}
OL LI {
	MARGIN: 8px
}
#con {
	FONT-SIZE: 12px; MARGIN: 0px auto; WIDTH: 688px; line-height:25px;
}
#tags {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px;PADDING-TOP: 0px; HEIGHT: 23px
}
#tags LI {
	BACKGROUND: url("/sites/all/themes/fltrp/images/jjfa/tagleft.gif") no-repeat left bottom; FLOAT: left; MARGIN-RIGHT: 1px; LIST-STYLE-TYPE: none; HEIGHT: 23px
}
#tags LI A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url("/sites/all/themes/fltrp/images/jjfa/tagright.gif") no-repeat right bottom; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 23px; PADDING-TOP: 0px; HEIGHT: 23px; TEXT-DECORATION: none
}
#tags LI.emptyTag {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 4px
}
#tags LI.selectTag {
	BACKGROUND-POSITION: left top; MARGIN-BOTTOM: -2px; POSITION: relative; HEIGHT: 25px
}
#tags LI.selectTag A {
	BACKGROUND-POSITION: right top; COLOR: #000; LINE-HEIGHT: 25px; HEIGHT: 25px
}
#tagContent {
	 PADDING-RIGHT: 1px; BORDER-TOP: #c6c6c6 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px;  PADDING-TOP: 1px;BACKGROUND-COLOR: #fff
}
#tagContent table td{ vertical-align:middle}
.tagContent {
	PADDING-RIGHT: 10px; DISPLAY: none; PADDING-LEFT: 10px; BACKGROUND: url("../images/bg.gif") repeat-x; PADDING-BOTTOM: 10px; WIDTH: 664px; COLOR: #474747; PADDING-TOP: 10px;
}
#tagContent DIV.selectTag {
	DISPLAY: block
}


table tbody{ border:none;}
.ltitle{
	background-color:#58cbf4;
	padding:6px 20px; 
	font-size:16px; 
	color:#FFF;
	font-weight: bold;
}

.field-items fieldset, a img {
    border: medium none;
    display: block;
}

.pic_news .gundong {
	float:left;
	width:280px;
	height:180px;
	padding:20px 0px 0px 20px;

	}
