/*初始化浏览器默认值*/
body { background-color:#fff; color:#333; text-align:center; font: 12px/1.5 Verdana,"宋体",tahoma, arial, sans-serif;}
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal; }
ul,ol {list-style:none;}
body,div,p,form,ul,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6 {padding:0; margin:0;}
input,textarea,button {font-size:1em; font-family:"宋体",Arial; margin:0; padding:2px;}
label {cursor:pointer;}
input[type="radio"],input[type="checkbox"] {margin:0 3px;}/*for modern browsers*/
img {border:none;}
table {border-collapse:collapse;}
td,th {text-align:center;}

/* 全局链接*/
a:link {color:#1E50A2;text-decoration:none;}
a:visited {color:#1E50A2;text-decoration:none;}
a:hover {color: #f00; text-decoration:underline;}
a:active {color: #f00;}

/*自定义公用样式*/
.cBlack {color:#000;}
.cBlue {color:#00f;}
.cGreen {color:#009900;}
.cGray {color:#999;}
.cDGray {color:#666;}
.cDRed {color:#c00;}
.cYellow {color:#FF6600;}
.cDYellow {color:#CD6A06;}
.cRed,a.cRed:link,a.cRed:visited {color:#FF0000;}
a.cRed:hover,a.cRed:active {color:#ffa200;}
a.underLine {text-decoration:underline;}
.border {border:1px solid #ccc;}

.line2 {background:url(../images/dot01.gif) repeat-x; height:1px; overflow:hidden;}

.f12px {font-size:12px;}
.f14px {font-size:14px;}
.fB {font-weight:bold;}
.fNomal {font-weight:normal;}

.blank6 {height:6px; overflow:hidden; font-size:0; line-height:0;}
.blank9 {height:9px; overflow:hidden; font-size:0; line-height:0;}
.blank12 {height:12px; overflow:hidden; font-size:0; line-height:0;}
.blank24 {height:24px; overflow:hidden; font-size:0; line-height:0;}

.textCenter {text-align:center;}
.clearFloat {clear:both; overflow:hidden;_zoom:1;}
.textLeft,table tr .textLeft {text-align:left;}
.textRight,table tr .textRight {text-align:right;}
table tr td.vTop {vertical-align:top;}
.pages a {padding:2px 6px 3px;}
.pages a.on {color:#FF6600; font-weight:bold; font-size:18px;}

.txt1 {border:1px solid #7F9DB9; font-size:14px; padding:5px;margin-bottom:-3px;}
.txt1:focus,.txt1focus {background-color:#FFFFEE;}
.btn1 {border:none; width:79px; height:29px; cursor:pointer; color:#fff; }
.btn1:hover,btn1hover {color:#FFFF66; background-position:0 -29px;}
.btn1,.productList label,.t h3.on,.t button,.btn2,.btn2:hover,btn2hover,
.cardSelect .cardR .arr,.cardSelect .on .arr,.error,.lb1 label,.lb2 label,.kuandai .tip .arr,.content h2 label,.gameSel b,.btn2disabled,.leftmenu2 li button,.zbtn,.zbtn:hover
 {background:url(../images/btns.gif) no-repeat;}
.btn2,.btn2disabled {border:none; display:inline-block; width:100px; height:35px;  cursor:pointer; color:#fff;font-size:14px; font-weight:bold; background-position:0 -146px;}
.btn2:link,.btn2:visited {color:#fff;line-height:35px;}
.btn2disabled{background-position:0 -264px; color:#bbb;}
.btn2:hover,btn2hover {color:#FFFF66; background-position:0 -181px;}

.error { background-position:-100px -144px;padding:3px 0 3px 24px; text-align:left; float:none; font-size:14px;}
span.error{background-position:-100px -146px;}
.error strong {font-weight:normal; background-color:#FEF80A; color:#CC0000;}

/*页面结构*/
#header,#wap1,#wap2,#footer{width:960px; margin:0 auto;}
#header {margin:9px auto 12px;}
#footer {line-height:22px; color:#666; font-size:12px; margin:24px auto 0;}
#footer a:link,#footer a:visited {color:#666;}
#footer a:hover,#footer a:active {color:#f00;}

/*页头导航*/
.logo {float:left; width:210px; height:50px; background:url(../images/logo.gif) no-repeat;}
.logo a {display:block; width:210px; height:50px; text-indent:-100em; overflow:hidden;}
.banner {float:right;}
.navbar,.barbg1,.barbg2,.menu li.on,.menu li.on h3,.menu li.on h3 a,.menu li,.t {background:url(../images/navbar.gif);}
.navbar {background-repeat:repeat-x;background-position:0 -88px; }
.navbar p {float:right; color:#fff; padding-top:7px; margin-left:15px;}
.navbar p.link,.navbar p a,.navbar p a:visited {color:#FFFF66;}
.barbg1 {background-repeat:no-repeat; background-position:left 0;}
.barbg2 {background-repeat:no-repeat; background-position:right -44px; height:44px; padding:0 20px;}
.menu {float:left; overflow:hidden; padding-left:3px;}
.menu li {float:left; display:inline; height:44px; display:inline; margin-left:-5px; padding-left:9px; background-repeat:no-repeat; background-position:0px -311px;}
.menu li.on {padding-left:0px; background-repeat:repeat-x; background-position:0 -220px; background-color:#f00; position:relative; margin-left:0px;}
.menu li a {display:block; padding:8px 15px; font-size:14px;}
.menu li a:link,.menu li a:visited {color:#fff;}
.menu li a:hover,.menu li a:active {color:#FFFF66; text-decoration:none;}
.menu li.on a:link,.menu li.on a:visited {color:#1E50A2; font-weight:bold; padding-top:10px;}
.menu li.on h3 {background-repeat:no-repeat; background-position:0 -132px;}
.menu li.on h3 a {background-repeat:no-repeat; background-position:right -176px; position:relative;}

.newsList ul {padding:15px 0 0 15px; color:#1E50A2;}
.newsList li {text-align:left; line-height:24px; background:url(../images/li.gif) no-repeat left 11px; padding-left:10px;}


/*圆角*/
.cornertop,.cornerbtm {position:relative;_zoom:1; clear:both; overflow:hidden;}
.cornertop .l,.cornertop .r,.cornerbtm .l,.cornerbtm .r{width:4px; height:4px; background:url(../images/corner.gif) no-repeat; overflow:hidden; position:absolute;}
.cornertop .c,.cornerbtm .c {height:4px;overflow:hidden; margin:0 4px;}
.cornertop .c {border-top:1px solid #beced8;height:3px;}
.cornerbtm .c {border-bottom:1px solid #beced8;}
.cornertop .l {background-position:0 0;left:0;}
.cornertop .r {right:0; background-position:-4px 0;}
.cornerbtm .l {background-position:0 -4px; left:0;}
.cornerbtm .r {float:right; background-position:-4px -4px; right:0;}