<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网易模拟炒股大赛</title>
<script type="text/javascript">
    //<![CDATA[
        var formhash = '704931266404e0f481185c6ac799f2d9';
        var authhash = 'k5b2iegcopmsgcr44gnqvq37s5';
        var me_id = 0;
        var from_url = 'http://chaogu.money.163.com/rules';
        var logout_url = 'http://chaogu.money.163.com/rules';
                var new_stocks = 'sz000035,ZKJ,中科健,sz000090,TJJT,天健集团,sz000416,MSKG,民生控股,sz000505,ZJKG,珠江控股 ,sz000582,BBWG,北部湾港 ,sz000616,YCTZ,亿城投资,sz000617,SYJC,石油济柴,sz000779,STPS,*ST派神 ,sz000898,AGGF,鞍钢股份,sz000902,ZGFZ,中国服装 ,sz000958,DFRD,东方热电,sz002134,STPL,*ST普林 ,sz002164,STDL,*ST东力 ,sz002234,STMH,*ST民和,sz002265,XYGF,西仪股份,sz002373,STLX,*ST联信,sz300083,JSJM,劲胜精密 ,sz300144,SCYY,宋城演艺 ,sz300370,AKKJ,安控科技,sh600087,TSCY,退市长油,sh600234,SSWH,山水文化 ,sh600247,STCC,ST成城 ,sh600299,STXC,*ST新材 ,sh600301,STNH,ST南化,sh600306,STSC,*ST商城 ,sh600398,HLZJ,海澜之家,sh600634,ZJKG,中技控股 ,sh600689,STSM,*ST三毛 ,sh600769,XLDY,祥龙电业,sh600873,MHSW,梅花生物,sh601919,ZGYY,中国远洋';
	//]]>
    </script>
    <link rel="stylesheet" type="text/css" href="/src/css/default.css?16188000.css" media="screen" />
    <script type="text/javascript" src="/src/js/jquery-1.8.0.min.js?16188000.js" charset="utf-8"></script>
    <script type="text/javascript" src="/src/js/jquery.tools.min.js?16188000.js" charset="utf-8"></script>
    <script type="text/javascript" src="/src/js/jquery.cookies.js?16188000.js" charset="utf-8"></script>
    <script type="text/javascript" src="/src/js/base.js?16188000.js" charset="utf-8"></script>
    <script type="text/javascript" src="/src/js/basic.js?16188000.js" charset="utf-8"></script>
    <script type="text/javascript" src="/src/js/m163utils.js?16188000.js" charset="utf-8"></script>
    <script type="text/javascript" src="/src/js/m163.js?16188000.js" charset="utf-8"></script>
    <script type="text/javascript" src="/src/js/m163.form.js?16188000.js" charset="utf-8"></script>
    <script type="text/javascript" src="/src/js/m163.dialog.js?16188000.js" charset="utf-8"></script>

</head>
<body>
<div class="alltop">
<iframe id="top_iframe" name="top_iframe" src="http://money.163.com/special/ntesnav/" frameborder="no" scrolling="no" style="width: 100%;height:34px;border:0px;overflow:hidden;"></iframe>
</div>
<div class="TOPbanner">
	<div class="wrap">
		<div class="match-box">
    		<div class="mc-banner">
    			<span class="bannerLimg"></span>
    			<span class="bannerRimg"></span>
    			<a href="http://money.163.com/" title="主办：网易财经" target="_blank"><span class="link_163"></span></a>
				<a href="http://www.7878.com/" title="技术支持：资本魔方" target="_blank"><span class="link_7878"></span></a>
    		</div>
    		<ul class="mc-nav">                                 
    			<li ><a href="http://chaogu.money.163.com/">大赛首页</a></li>
    			<li id="account_menu" ><a href="http://chaogu.money.163.com/account/">交易系统</a></li>
    			<li id="people_menu" ><a href="http://chaogu.money.163.com/people/">个人中心</a></li>
    			<li id="track_feeds_menu" ><a href="http://chaogu.money.163.com/track/feeds">我的跟踪</a></li>
    			<li ><a href="http://chaogu.money.163.com/toplist">排行榜</a></li>
    			<li ><a href="http://chaogu.money.163.com/announcements">赛事公告</a></li>
    			<li ><a href="http://chaogu.money.163.com/awards">赛事简介</a></li>
    			<li class="al"><a href="http://chaogu.money.163.com/rules">交易规则</a></li>
    			<li><a href="http://bbs.money.163.com/list/chaogu.html" target="_blank">大赛交流区</a></li>
    		</ul>
    		
    		<div class="contenMessage">
	    		<!-- MESSAGES -->
		        		        		        <!-- END MESSAGES -->
	        </div>
	        
	        <!-- 自选股 -->
	        
    		    <div class="contenBOX">
    	<div class="usercenterLMain" style="display: none">
        	<div class="usercenterRH"><h3>比赛介绍</h3></div>
            <div class="mc-introdcent clearfix">
            	<div class="mc-logo"><img src="http://ico.7878.com/iceberg1987-1d8b8d907738fs.jpg" width="234" height="60"/></div><p>网易模拟炒股大赛是由网易股票主办的网络模拟炒股比赛。大赛以普及证券市场基本知识、帮助投资者树立正确投资理念为宗旨，提供丰厚奖品作为比赛标的。投资者可以在互联网上模拟实战，观摩高手，提高投资水平，感受证券市场机遇与风险。</p>
          	</div>
        </div>
        <div class="usercenterLMain m-t-15" style="display: none">
        	<div class="usercenterRH"><h3>比赛细则</h3></div>
            <OL style="PADDING-BOTTOM: 18px; LIST-STYLE-TYPE: none; PADDING-LEFT: 18px; WIDTH: 914px; PADDING-RIGHT: 18px; PADDING-TOP: 5px">
<LI style="BORDER-BOTTOM: #c3c3c3 1px dotted; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 914px; PADDING-RIGHT: 0px; PADDING-TOP: 10px">
<H3 style="MARGIN-BOTTOM: 5px; COLOR: #c30000; FONT-WEIGHT: bold">赛事简介</H3>
<P style="LINE-HEIGHT: 22px; COLOR: #666666">网易模拟炒股大赛是由网易股票主办的网络模拟炒股比赛。大赛以普及证券市场基本知识、帮助投资者树立正确投资理念为宗旨，提供丰厚奖品作为比赛标的。投资者可以在互联网上模拟实战，观摩高手，提高投资水平，感受证券市场机遇与风险。</P></LI>
<LI style="BORDER-BOTTOM: #c3c3c3 1px dotted; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 914px; PADDING-RIGHT: 0px; PADDING-TOP: 10px">
<H3 style="MARGIN-BOTTOM: 5px; COLOR: #c30000; FONT-WEIGHT: bold">赛事概况</H3>
<P style="LINE-HEIGHT: 22px; COLOR: #666666">大赛为期一年，按月度、季度分别评出当月、当季获奖用户。大赛结束最终产生总冠军等获奖用户名单。</P>
<P style="LINE-HEIGHT: 22px; COLOR: #666666">用户报名时间不限，只有参与当期比赛一定天数的用户才能参与评奖。例如1月份的获奖名单只会在12月15日之前报名的用户中产生。</P></LI>
<LI style="BORDER-BOTTOM: #c3c3c3 1px dotted; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 914px; PADDING-RIGHT: 0px; PADDING-TOP: 10px">
<H3 style="MARGIN-BOTTOM: 5px; COLOR: #c30000; FONT-WEIGHT: bold">比赛赛程</H3>
<P style="LINE-HEIGHT: 22px; COLOR: #666666">公测时间:2012年10月29日开始</P>
<P style="LINE-HEIGHT: 22px; COLOR: #666666">开赛时间:（待定）<BR><SPAN style="TEXT-ALIGN: left; WIDOWS: 2; TEXT-TRANSFORM: none; BACKGROUND-COLOR: rgb(255,255,255); TEXT-INDENT: 0px; DISPLAY: inline !important; FONT: 14px/23px 宋体; WHITE-SPACE: normal; ORPHANS: 2; FLOAT: none; LETTER-SPACING: normal; COLOR: rgb(255,0,0); WORD-SPACING: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px">公测结束后所有用户的资产数据将重新初始化。</SPAN></P></LI>
<LI style="BORDER-BOTTOM: #c3c3c3 1px dotted; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 914px; PADDING-RIGHT: 0px; PADDING-TOP: 10px">
<H3 style="MARGIN-BOTTOM: 5px; COLOR: #c30000; FONT-WEIGHT: bold">起始资金</H3>
<P style="LINE-HEIGHT: 22px; COLOR: #666666">100万</P></LI>
<LI style="BORDER-BOTTOM: #c3c3c3 1px dotted; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 914px; PADDING-RIGHT: 0px; PADDING-TOP: 10px">
<H3 style="MARGIN-BOTTOM: 5px; COLOR: #c30000; FONT-WEIGHT: bold">评奖规则</H3>
<DIV><SPAN style="COLOR: rgb(51,51,51)">在每个月度、季度的符合</SPAN><SPAN style="LINE-HEIGHT: 22px; COLOR: rgb(51,51,51); FONT-SIZE: 10pt">报名日期</SPAN><SPAN style="LINE-HEIGHT: 22px; COLOR: rgb(51,51,51); FONT-SIZE: 10pt">规定的用户中，按排行榜评选获奖用户。</SPAN></DIV>
<DIV><SPAN style="LINE-HEIGHT: 22px; COLOR: rgb(51,51,51); FONT-SIZE: 10pt">月度评奖的报名截止日期为当月15日。季度评奖的报名截止日期为党季第二个月的最后一天。总冠军评奖的报名截止日期为大赛的最后一个季度的第一天。</SPAN></DIV></LI>
<LI style="BORDER-BOTTOM: #c3c3c3 1px dotted; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 914px; PADDING-RIGHT: 0px; PADDING-TOP: 10px">
<H3 style="MARGIN-BOTTOM: 5px; COLOR: #c30000; FONT-WEIGHT: bold">报名须知</H3>
<LI><SPAN style="LINE-HEIGHT: 22px; COLOR: rgb(51,51,51); FONT-SIZE: 10pt"><SPAN style="TEXT-ALIGN: left; WIDOWS: 2; TEXT-TRANSFORM: none; BACKGROUND-COLOR: rgb(255,255,255); TEXT-INDENT: -24px; FONT: 14px/23px 宋体; WHITE-SPACE: normal; ORPHANS: 2; LETTER-SPACING: normal; COLOR: rgb(255,0,0); WORD-SPACING: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px" lang=EN-US><SPAN><FONT style="LINE-HEIGHT: 23px; COLOR: rgb(255,0,0)" face="Times New Roman"><SPAN style="FONT: 7pt 'Times New Roman'; COLOR: rgb(255,0,0)"><SPAN class=Apple-converted-space>&nbsp;</SPAN></SPAN></FONT></SPAN></SPAN></SPAN> 
<P><SPAN style="LINE-HEIGHT: 22px; COLOR: rgb(51,51,51); FONT-SIZE: 10pt">1.网友使用网易通行证账号登录大赛首页后即可报名。</SPAN> </P>
<P><SPAN style="LINE-HEIGHT: 22px; COLOR: rgb(51,51,51); FONT-SIZE: 10pt">2.用户名默认为微博昵称，如需修改，可手动调整。提交后不可更改。</SPAN> </P>
<P><SPAN style="LINE-HEIGHT: 22px; COLOR: rgb(51,51,51); FONT-SIZE: 10pt">3.真实姓名、手机号码和邮箱建议填写，以便获奖后工作人员联系。</SPAN> </P>
<P><SPAN style="LINE-HEIGHT: 22px; COLOR: rgb(51,51,51); FONT-SIZE: 10pt">4.报名时间不限，但由于比赛评奖会依据报名参与时间确定参评范围，还请网友尽早报名参赛。</SPAN></P>
<P><SPAN style="LINE-HEIGHT: 22px; COLOR: rgb(51,51,51); FONT-SIZE: 10pt"></SPAN>&nbsp;</P></LI></OL>  
        </div>
        <div class="usercenterLMain">
        	<div class="usercenterRH"><h3>比赛账户交易规则</h3></div>
            <ol style="padding-left:18px;line-height:20px;">
				<li><b>一、　交易时间</b>　
				<p>1、0:00- 9:30，接受委托。</p>
				<p>2、9:30至15:00：买卖委托，系统撮合，9:30前委托单，按照9:30后系统第一笔成交信息处理（上海深圳9:20至9:30均不能撤单，但可接受挂单）；</p>
				<p>3、15:01至16:00：盘后清算，不接受委托（仅深圳2:57至3:00不能撤单，但可接受挂单）；</p>
				<p>4、16:00之后开始接受下一个交易日的委托；</p>
				<p>5、当日未成交委托将作撤单处理。 </p> </li>
				
				<li><b>二、交易品种</b>
				<p>交易品种限于深圳、上海证券交易所上市的A股。上市首日的新股、权证、不设涨跌幅限制的股票(如增发等)禁止委托和交易，不支持其他品种、新股申购。</p>
				 </li>
				
				<li><b>三、交易类型</b>
				<p>支持： 普通买卖交易、分红（派息、送股、转增股。派息：前一天收盘还持股的，那么第二天早上开盘前拿到派息；送股、转增股：前一天收盘还持股的，那么第二天早上开盘发放送股股票，次日才可卖；）；</p>
				<p>不支持：新股申购、增发申购、配股等；</p>
				 </li>
				
				<li><b>四、交易单位</b>
				<p>1、 买入股票，申报数量应当为100股(份)或其整数倍，A股的申报价格最小变动单位为0.01元人民币。股票单笔申报最大数量应当低于100万股； </p>
				<p>2、 卖出股票，以持仓股票数量为最大卖出额，可卖出零股(单笔卖出委托小于100股)。</p>
				 </li>
				
				<li><b>五、成交规则</b>
				<p>股票交易按照交易所公布的最新成交价撮合成交；</p>
				<p>买入时：如果最新成交价等于委托价，按照委托价成交，如果最新价小于委托价，按照最新价撮合成交；</p>
				<p>卖出时：如果最新成交价等于委托价，按照委托价成交，如果最新价高于委托价，按照最新价撮合成交。</p>
				<p>T+1规则：当天买入的股票不能当天卖出，要在下一个交易日才能卖出。</p>
				<p style="color:red;">★友情提示：网易模拟炒股具备扫单功能，建议您，打高价格委托买入或打低价格委托卖出，将非常有助于提高您的委托成交速度。</p>
				 </li>
				
				<li><b>六、清算交割</b>
				<p>1、 用户委托买入时，其账号上的可用资金金额相应减少(冻结)，在买单撮合成交时系统自动清算交割，并且计入交易费用； </p>
				<p>2、 委托卖出时，其账号上的股票立即被减少可卖数，可用资金额暂不增加，只有等待股票卖出成功时系统自动清算交割，资金数量才会被刷新，并且计入交易费用。 </p>
				 </li>
				
				<li><b>七、交易制度</b>
				<p>1、实行T+1交易制度； </p>
				<p>2、买入撮合：买入委托价大于等于卖一价，按照卖一价成交；买入委托价小于卖一价，进入撮合成交阶段，出现成交价小于等于委托价，判定成交，成交价为卖一价； </p>
				<p>3、卖出撮合：卖出委托价小于等于买一价，按照买一价成交；卖出委托价大于买一价，进入撮合成交阶段，出现成交价大于等于委托价，判定成交，成交价为卖一价。 </p>
				<p>4、涨跌停股票特殊规则（集合竞价期间不能成交）： </p>
				<p>涨停板的股票，以涨停价委托的单子，记录当时买一量，若其后时间的当前价低于涨停价或者阶段成交量差大于买一量，成交，成交价为委托价； </p>
				<p>跌停板的股票，以跌停价委托的单子，记录当时卖一量，若其后时间的当前价高于跌停价或者阶段成交量差大于卖一量，成交，成交价为委托价。 </p>
				 </li>
				
				<li><b>八、交易费用</b>
				<p>1、佣金：千分之一，双向收取； </p>
				<p>2、印花税：千分之一，卖出收取； </p>
				<p>3、过户费：上交所股票收取。按成交股数的千分之一收取，起点一元；</p>
				 </li>
				
				<li><b>九、停牌股票处理</b>
				<p>如果在比赛赛段结束时股票未开盘，只以此股票停牌前的股价计算收益。 </p>
				 </li>
				
				<li><b>十、仓位限制</b>
				<p style="color:red;">参与比赛用户单只股票最大可买资金为总资金的50%，即用户必须进行分仓操作，单只股票最大仓位为半仓。</p>
				</li>
					
			</ol>
        </div>
    </div>

	<div class="contenBOX m-t-10">
	<div class="foot m-b-20">
	<iframe id="foot_iframe" name="foot_iframe" src="http://money.163.com/special/monichaogufoot/" frameborder="0" scrolling="no" style="width: 100%;overflow:hidden;"></iframe>
	</div>
</div>		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#account_menu, #people_menu, #track_feeds_menu").click(function(){
		if( !m163.me.id )
		{
			var from = $(this).find("a").attr("href");
			m163.dialog.load("/account/login/?from=" + from);
			return false;
		}
		return true;
	});
})
</script>
<!-- START WRating v1.0 -->
<script type="text/javascript" src="http://163.wrating.com/a1.js"></script>
<script type="text/javascript">
var vjAcc="860010-0507010000";
var wrUrl="http://163.wrating.com/";
vjTrack("");
</script>
<noscript><img src="http://163.wrating.com/a.gif?a=&c=860010-0507010000" width="1" height="1"/></noscript>
<!-- END WRating v1.0 -->
<!-- START NetEase Devilfish 2006 -->
<script src="http://analytics.163.com/ntes.js" type="text/javascript"></script>
<script type="text/javascript">
_ntes_nacc = "stock";     //站点ID。
neteaseTracker();
</script>
<!-- END NetEase Devilfish 2006 -->
</body>
</html>

