@charset "utf-8"; 
/* CSS Document */
body {font-family:"宋体"; background:#C75D04 url(http://img1.cache.netease.com/sports/img09/cba1126/bg01.gif) left 1px repeat-x;}
strong {font-weight:bold;}

/* cba导航 */
.cbaGuide { background:url(http://img1.cache.netease.com/sports/img09/cba1126/bg_x.gif) left top repeat-x; width:960px; height:68px; margin:0 auto; overflow:hidden; clear:both; text-align:left;}
.cbaGuide .cgTop { height:38px;margin:0 auto; color:#ECECEC; line-height:38px;}
.cbaGuide .cgTop li { float:left; font-size:14px; margin-right:25px;}
.cbaGuide .cgTop li a ,.cbaGuide .cgTop li a:visited { color:#ECECEC;}
.cbaGuide .cgBottom { line-height:30px;color:#C75D04;}
.cbaGuide .cgBottom a ,.cbaGuide .cgBottom a:visited { color:#C75D04;}
.banner960 {width:960px; margin:0 auto; text-align:left; clear:both; overflow:hidden;}
/*布局*/
.cba-area{ width:980px; margin:0 auto; background:#fff;}
.dotLine{ display:block; overflow:hidden; clear:both; height:1px; background:url(http://img1.cache.netease.com/book/img/book09/bg54.gif) repeat-x left top; font-size:1px;}

.f14bla li {background:url(http://img1.cache.netease.com/sports/img10/sy0104/bg_n.gif) left -264px no-repeat; padding-left:9px; line-height:25px; font-size:14px; clear:both; text-align:left;overflow:hidden}
.f14bla li .f12px {line-height:21px;}
.f14bla .bigTitle{ padding:0px; background:none}
.f14bla li a{ font-size:14px}
.f14bla .bigTitle .stitle{ font-size:12px;padding:3px 10px 2px 9px; text-align:center; margin:0px 5px; }
.f14bla .bigTitle h2 a{font-size:18px; font-family:"黑体"; font-weight:100; text-align:left; line-height:160%; color:#2b2b2b; } 

.f12bla li {background:url(http://img1.cache.netease.com/sports/img10/sy0104/bg_n.gif) left -266px no-repeat; padding-left:9px; line-height:26px; clear:both; text-align:left}
.f12bla li .f14px {line-height:25px;}
.f12bla .bigTitle{ padding:0px; background:none}
.f12bla .bigTitle h2{font-size:18px; font-family:"黑体"; font-weight:100; text-align:left;  } 
.f12bla .h1title{ background:none; line-height:24px; margin:8px 0px}
.f12bla .h1title h1{font-size:18px; font-family:"黑体"; font-weight:100; text-align:left;}
.f12bla .fgrayf{ color:#505050; background:none; padding-left:0px;}
.f12bla .fgrayf a{ color:#505050}

.pArea {width:960px; clear:both; margin:0 auto;background:url(http://img1.cache.netease.com/sports/2010/CBA/parea_bg_03.png) right repeat-y  }
.pAreaNone{width:960px; clear:both; margin:0 auto; overflow:hidden}
.pAreaEnd {background:url(http://img1.cache.netease.com/sports/img10/sy0104/bg_y.gif) -960px top no-repeat; height:1px; font-size:1px; display:block; clear:both; overflow:hidden; margin:0 auto; width:960px;}
.colLM{ overflow:hidden; float:left; width:735px;}
.colL{ overflow:hidden; float:left; width:310px; }
.colM{ overflow:hidden; float:left; width:410px; margin-left:15px;}
.colR{ overflow:hidden; float:right; width:210px; border-top:1px solid #ccc}

.page-nav{ width:960px; margin:0 auto; padding:0 10px; line-height:33px; background:#fff;}
.page-nav .mbx{ font-size:12px; color:#2b2b2b; float:left}
.page-nav .more{ float:right; padding-right:10px; background:url(http://img1.cache.netease.com/sports/2010/CBA/yi_03.png) left 4px no-repeat; padding-left:20px; }
.page-nav .more a{ color:#1e50a2}

.qytj{ width:960px;  text-align:left; margin:0 auto; overflow:hidden}
.qytj li{ float:left; margin-right:31px; width:167px; }
.qytj .s5{ margin-right:0px; }
.qytj .htitle{ height:28px; line-height:28px; background:url(http://img1.cache.netease.com/sports/2010/CBA/cba_game_06.png) 8px no-repeat;}
.qytj .c1{ float:left; font-weight:bold;padding-left:18px;}
.qytj .c2{ float:right; padding-right:10px; }
.qytj .c2 a{ color:#999}
.qytj .mcon{ width:167px; background:url(http://img1.cache.netease.com/sports/2010/CBA/cba_game_03.png) no-repeat; width:167px; height:258px; overflow:hidden }
.qytj .h1title{ width:170px; text-align:center; line-height:26px;}
.qytj .h1title a{ color:#333;}
.qytj .h1title .on{ color:#133d6f;}
.qytj .titletxt{ float:left; margin-left:10px; line-height:18px; color:#333; margin-top:38px; padding-left:5px;}
.qytj .mcon img{ float:left; margin-left:15px;}
.qytj .daTb02 { width:154px; margin:0 auto;}
.qytj .daTb02 td { line-height:180%; border-bottom:1px dashed #d6d6d6; }
.qytj .daTb02 .bg4 {background:url(http://img1.cache.netease.com/sports/2010/CBA/cba_game_10.png) left no-repeat; line-height:100%; padding:1px 0 3px; color:#fff; width:13px; font-size:10px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding-left:4px;}

.titleBar{ height:25px; line-height:25px; overflow:hidden;}
.titleBar h1{ float:left;line-height:28px;}
.titleBar .more {float:left; padding-left:20px;}
.titleBar h2,.titleBar h3 {float:left; color:#000; font-weight:bold; line-height:28px;}
.titleBar h2 a,.titleBar h2 a:visited,.titleBar h3 a,.titleBar h3 a:visited {color:#000;}
.titleBar h2 a:hover,.titleBar h3 a:hover {color:#BA2636;}

.dxLogoCon{ width:950px; float:left; margin-left:10px; display:inline}
.dxLogoCon li{ margin:10px 0px; border-bottom:1px  dashed #ccc; clear:both; text-align:left; padding:4px 0px;}
.dxLogoCon .listItem{ float:left; line-height:28px; width:240px; }
.dxLogoCon .listItem img{ float:left; margin-right:10px;}

.team-list{}
.team-list li{float:left; line-height:28px; width:230px; margin:10px 35px 0 0; text-align:left}
.team-list .listItem img{ float:left; margin-right:10px;}
.team-list .tit{ background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) 0px -549px no-repeat;  float:left; width:38px; height:38px; text-align:center}
.team-list .titlespan{ text-align:center; line-height:38px; font-size:22px; color:#fff; font-weight:bold; font-family:Arial, Helvetica, sans-serif}

.syCon2{  width:960px; margin:0 auto; overflow:hidden;font-size:13px; color:#fff; font-weight:100;}
.syCon2 ul{ width:980px;}
.syCon2 ul li{ float:left; margin-right:17px; text-align:left; width:225px; height:74px; background:url(http://img1.cache.netease.com/sports/2010/CBA/bgbgb_06.png) no-repeat; padding-top:26px; line-height:28px;}
.syCon2 ul li img{ float:left; padding:0px 18px 0px 16px;}

.mainnav-bar{ border-bottom: 1px solid #ccc; margin:0 auto; width:960px; overflow:hidden} 
.tagList-title { line-height:41px;  height:41px;  color:#2b2b2b; float:right; font-size:14px;  float:right; background:url(http://img1.cache.netease.com/sports/2010/CBA/nav-repeat_03.png) bottom repeat-x; width:956px;}
.tagList-title li{ width:102px;background:url(http://img1.cache.netease.com/sports/2010/CBA/teamico_10.png) 0  bottom repeat-x; border-right:1px solid #dcdddd; border-left:1px solid #dcdddd; margin-left:-1px; float:left; height:40px; text-align:center; color:#2b2b2b; }
.tagList-title .logo{ border:none; float:left}
.tagList-title  .on {background: url(http://img1.cache.netease.com/sports/2010/CBA/teamico_13.png) center 32px no-repeat #fff;  font-weight:bold;  border-top:3px solid #e86e1c; margin-bottom:-2px; height:39px; border-bottom:none}

.tagList-ltag{ line-height:26px; border-left:1px solid #ccc; height:26px; cursor:pointer;  float:left}
.tagList-ltag li { width:90px;background:url(http://img1.cache.netease.com/sports/2010/CBA/tb_bg_07.png) repeat-x; border-right:1px solid #ccc; float:left; text-align:center; color:#2b2b2b;}
.tagList-ltag .s2{ width:120px;}
.tagList-ltag .on {background:url(http://img1.cache.netease.com/sports/2010/CBA/tb_bg_05.png) repeat-x ;  font-weight:bold; }
.tagList-ltag .on a ,.tagListL .on a:visited {color:#003972;}

.sc-box{ width:356px; height:314px; float:left; border:1px solid #ccc;}

.mandata-area{float:left; width:700px; margin-top:5px; text-align:left; margin-left:10px; }
.mandata-area img{ float:left;border:1px solid #ccc; margin:0 18px 0 0;}
.topdata-table{ float:left;  border-collapse:collapse}
.topdata-table td{ border-bottom:1px solid #ececec; line-height:26px;}

.score-area{float:right;  text-align:left; width:220px; height:80px; margin-top:15px; line-height:20px; font-size:12px; text-align:center; background:#fff; margin-right:20px;}
.score-area .recon{ width:58px; height:74px; float:right; background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) left -77px no-repeat; margin-left:12px; }

.left-bar-more{ line-height: 28px; float:left; text-align:left; padding-left:10px; color:#1e50a2}
.left-bar-more a{ color:#1e50a2}

.rightContent{ width:190px; overflow:hidden; margin:0 auto; padding:0 10px}

.race-h3{ text-align:left; font-size:14px; line-height:26px; padding-left:2px;}

.txtleft{ text-align:left;}

.alphaArea{width:301px; position:absolute; z-index:10; height:30px; background:#000; left: 1px; top: 358px; padding-top:15px;filter:alpha(opacity=60);
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; 
 opacity: .6;}
.focusPic{width:300px; margin:0 auto; clear:both; text-align:center;  overflow:hidden; border:1px solid #ccc; padding:2px;}

.f22b{ color:#171717; font-size:28px; font-family:Arial, Helvetica, sans-serif; line-height:42px; font-weight:500;}
.f20b{ font-size:18px; font-family:黑体; font-weight:100; color:#e26606;}
.f18b{ font-size:22px; font-family:Arial, Helvetica, sans-serif; font-weight:700; color:#fff}
.f18b-b{font-size:20px; font-family:黑体; font-weight:300; line-height:22px}
.f24b-b{ font-size:52px;font-family:Arial, Helvetica, sans-serif; font-weight:200; letter-spacing:1px; line-height:72px}
.f20b-gray{ font-size:18px; font-family:Arial, Helvetica, sans-serif; color:#666; font-weight:600}

.data-tb1{ border-collapse:collapse; border-bottom:1px solid #ccc}
.data-tb1 .leftth{ border-left:1px solid #ccc}
.data-tb1 .rightth{border-right:1px solid #ccc}
.data-tb1 th{ background:url(http://img1.cache.netease.com/sports/2010/CBA/th_bg_03.png) repeat-x; height:28px; color:#666666; border-bottom:1px solid #ccc; border-top:1px solid #ccc; text-align:center}
.data-tb1 td{ line-height:28px; border-left:1px solid #ccc; border-right:1px solid #ccc}
.data-tb1 .gray{ background:#efedee;}

.data-tb2{border-collapse:collapse; border-bottom:1px solid #ccc; text-align:center}
.data-tb2 th{ color:#666666; line-height:24px;border:1px solid #ccc; text-align:center; background:url(http://img1.cache.netease.com/sports/2010/CBA/th_bg_03.png)  repeat-x;}
.data-tb2 .nothbg th{ background:none}
.data-tb2 td{ line-height:24px; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.data-tb2  .graybg{background:#efedee}
.data-tb2 .cred{ background:#fcf2db}
.data-tb2 .cred td{ color:#652626}

.data-qytb{ border-collapse:collapse; width:98%; float:left}
.data-qytb td{ border-bottom:1px dashed #ccc; line-height:32px; text-align:left}
.data-qytb .thTitle2{ background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) 0px -549px no-repeat;  float:left; width:38px; height:38px; text-align:center; line-height:38px; margin-left:10px;}
.data-qytb .tdLeft{width:60px; border:none;}

.endContent {padding:12px 19px 9px; height:1%;}
.endContent h1 {font-size:20px; line-height:28px; font-weight:bold; clear:both; text-align:left}
.endContent .info{line-height:21px; text-align:left;}
.endContent .summary {text-align:justify; text-justify:inter-ideograph; background:#fff; margin:15px 0 0; padding:12px 5px 6px; line-height:23px; font-size:14px; text-indent:2em; border:1px solid #dcdddd;}
.endContent .stitle{background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) left -244px no-repeat; font-size:12px; color:#fff;font-weight:normal; float:left; height:30px; line-height:30px; width:60px; text-align:center}
.endContent p {font-size:14px; line-height:23px; text-indent:2em; text-align:left}

.dataTb01 { margin: 0 auto; width:100%; text-align:center; border-collapse:collapse; border:1px solid #ccc}
.dataTb01 th {  text-align:center;color:#2b2b2b; border:1px solid #ccc}
.dataTb01 td { }
.dataTb01 .tablebg1{background:#fbfbfb;}
.dataTb01 .tablebg2 { background:url(/http://img1.cache.netease.com/sports/2010/CBA/tableBg1.png) repeat-x;}
.dataTb01 .bg2 { background:#efedee;}
.dataTb01 .bg3 { background:url(http://img1.cache.netease.com/sports/2010/CBA/th_bg_03.png)  repeat-x;}
.dataTb01 .bg3 td{ color:#1e50a2; border:1px solid #ccc}
.dataTb01 .bgth { background:#F3F3F3; font-size:14px;}
.dataTb01 .rbd{ border-right:1px solid #ccc;}

.Tb03{ width:760px; text-align:center; margin:0 auto}
.Tb03 .logoCon{ width:100px; height:100px; margin:0px auto;  color:#fff;}
.Tb03 .logoCon img{ border:1px solid #ccc}
.Tb03 .bfCon{  margin:5px auto; width:358px; text-align:center; height:106px; line-height:18px; background:url(http://img1.cache.netease.com/sports/2010/CBA/tt-bg_03.png) no-repeat; color:#97c4fb }
.Tb03 .bftb{width:355px; text-align:center; height:98px; line-height:18px; background:url(http://img1.cache.netease.com/sports/2010/CBA/imaaaa_03.png) no-repeat; color:#97c4fb}
.Tb03 .titlelink{ padding-top:6px; cursor:pointer;}
.Tb03 .titlelink a{ color:#fff; text-decoration:none}
.Tb03 .bftb .td1{ width:20px;}
.Tb03 .logoImgCon{margin:0 auto; width:102px; height:96px; overflow:hidden; vertical-align:middle; line-height:96px;text-align:center;}
.Tb03 .logoImgCon img{ vertical-align:middle; margin:10px auto;}

.data-bf{  line-height:18px; border-bottom:1px solid #eee; margin:0 auto; text-align:center }
.data-bf th{ background:#b33100; color:#fff; border:1px solid #fff; text-align:center}
.data-bf .ph th{ background:url(http://img1.cache.netease.com/sports/2010/CBA/thbg_03.png) repeat-x; height:17px; border:none; line-height:17px; border-right:1px solid #d07300;border-bottom:1px solid #0d0e0f; color:#4a0404; }
.data-bf td{ line-height:20px; color:#fcfcfc}

.dataTB_R{ margin:0 auto; border-collapse:collapse;  width:190px; text-align: center}
.dataTB_R th{ text-align:center; color:#999;  line-height:26px; text-align:left; padding-left:10px;}
.dataTB_R td { line-height:26px; text-align:left; padding-left:10px;}
.dataTB_R .dash td{ border-bottom:1px dashed #ccc}
.dataTB_R .nbg th{ border:none}
.dataTB_R .bg1 { background:#94cc00;}
.dataTB_R .bg3 { background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) no-repeat 0px -361px; line-height:100%; padding:1px 0 5px 4px; color:#fff; width:13px; font-size:10px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
.dataTB_R .bg4 {background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) no-repeat 0px -425px; line-height:100%;padding:1px 0 5px 4px; color:#fff; width:13px; font-size:10px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}

.big-ph-tb{ text-align:center;  border-top:1px solid #ccc; border-left:1px solid #ccc; border-bottom:1px solid #ccc; color:#666;}
.big-ph-tb td{ height:26px; border-right:1px solid #ccc;}
.big-ph-tb td img{ vertical-align:middle;}
.big-ph-tb .top1{ background:url(http://img1.cache.netease.com/sports/img/cba1023/bg36.jpg) repeat-x; color:#000;}
.big-ph-tb .top1 td{ border-bottom:1px solid #ccc;}
.big-ph-tb .top1 td a{color:#1e50a2;}
.big-ph-tb .top1 td a:hover{background:url(http://img1.cache.netease.com/sports/img/cba1023/logo7.gif) no-repeat right;color:#BA2636}
.big-ph-tb .top2{ background:url(http://img1.cache.netease.com/sports/img/cba1023/bg36.jpg) repeat-x bottom; border-bottom:1px solid #ccc; color:#000}
.big-ph-tb .top2 td{ border-bottom:1px solid #ccc;}
.big-ph-tb .top2 td a{color:#1e50a2;}
.big-ph-tb .top2 td a:hover{background:url(http://img1.cache.netease.com/sports/img/cba1023/logo7.gif) no-repeat right;color:#BA2636}
.big-ph-tb .top2 td.norb{ border-right:none;}
.big-ph-tb .gray{ background:#efedee;}
.big-ph-tb .on{ background-color:#ffffdd;color: #000000;}
.big-ph-tb .foot{ width:960px; margin-top:30px;}
.big-ph-tb #data td a{ padding-right:6px;}
.big-ph-tb sort {background:url(http://img1.cache.netease.com/sports/img/cba1023/logo7.gif) no-repeat right;} 

.bf-l{ float:left; width:362px; overflow:hidden}
.bf-r{ float:left; width:362px; margin-left:10px; overflow:hidden}
.bf-con{width:352px; float:left; padding-top:10px; overflow:hidden; padding-left:10px;}
.bf-con img{ border:1px solid #ccc}
.hteam-sc{ width:140px; margin:0 auto; border-bottom:1px solid #eeeeee; padding-bottom:3px; color:#2b2b2b}
.h1-bftitle{ background:url(http://img1.cache.netease.com/sports/2010/CBA/ico_bg_03.png) bottom no-repeat; height:30px; width:700px; margin:0 auto; font-size:14px; color:#de7724; text-align:center}
.listMenu{ width:180px;}
.ui_btnSr{ border:1px solid #ccc; background:#f2f2f2; cursor:pointer; width:40px;}
.btn-top{ background:url(http://img1.cache.netease.com/sports/2010/CBA/topbbg_03.png) repeat-x; width:55px; border:1px solid #ccc}
.h3div-con h3{ float:left; font-size:12px; margin-left:8px;}
.h3div-con h3 a{ color:#1e50a2}

.h3ico{padding-left:18px; background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) no-repeat left -736px; }
.h3ico1{padding-left:18px; background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) no-repeat left -802px; }
.h3ico2{padding-left:18px; background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) no-repeat left -869px; }

.cDry{color:#ff7400}
.cdyelow{ color:#c75d04;}
.rightcc{ text-align:left; line-height:22px; margin:0px auto; padding:0px 3px; color:#666666}

.descript-con{background:url(http://img1.cache.netease.com/sports/2010/CBA/aaapng_07.png)  top no-repeat; width:930px; margin:0 auto; padding:10px 15px; text-align:left; line-height:22px;}
.descript-con p{margin:0px; text-indent:24px; color:#666}

.imglist-con{ background:url(http://img1.cache.netease.com/sports/2010/CBA/select_bg_07.png) no-repeat; width:735px;}
.imgListM120_90{ margin:0 auto; overflow:hidden}
.imgListM120_90 li{ float:left; margin:0 10px 10px;}
.imgListM120_90 li h6 { clear:both; margin:0 auto; line-height:160%; padding-top:4px; text-align:left;}
.imgListM120_90 li img{ border:1px solid #ccc}

.imgListM100_75{ margin:0 auto; overflow:hidden}
.imgListM100_75 li{ float:left; margin:0 21px 15px; display:inline; overflow:hidden}
.imgListM100_75 li h6 { clear:both; margin:0 auto; line-height:160%; padding-top:4px; text-align:left;}
.imgListM100_75 li img{ border:1px solid #ccc}

.nesws-con{ width:710px; overflow:hidden; margin:0 auto; margin-top:10px;}
.nesws-con h2{ text-align:left; color:#2b2b2b; }
.news-title{ background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) 0px -470px no-repeat; font-size:14px; font-weight:bold; color:#2b2b2b; text-align:left; padding-left:14px; }
.news-abs{ text-align:left; text-indent:20px; line-height:24px; margin:6px 0px;}
.data-abs{text-align:left; line-height:24px; margin:6px 0px; font-size:14px;}

/*--pages--*/
ul.pages {height:20px;overflow:hidden; margin:0 auto; width:430px;}
ul.pages li {float:left;line-height:12px;margin-left:7px;overflow-x:visible;white-space:nowrap;width:auto !important;}
ul.pages a, ul.pages span {background:#FFFFFF none repeat scroll 0 0;border:1px solid #CCCCCC;display:block;height:18px;line-height:18px;padding:0 0.4em;float:left;font-size:14px;}
ul.pages span {color:#bc2931;}
ul.pages .beginEnd {padding:0 1em;}
ul.pages a:hover, ul.pages span.current {background:#c64c1d;color:#fff;text-decoration:none;}
ul.pages span.current {font-weight:bold;line-height:16px;}
ul.pages a {color:#333;text-decoration:none;}
ul.pages li.dotted {color:#1F3A87;font-weight:bold;} 

/*skin*/
.ui_middle{  }
.ui_middle h2{ font-size:14px; color:#b04c0d; background:url(http://img1.cache.netease.com/sports/2010/CBA/aaa_dot_03.png) 10px 4px no-repeat; padding-left:28px; line-height:24px;}

.ui_leftlong{  }
.ui_leftlong h2{ font-size:14px; color:#b04c0d; background:url(http://img1.cache.netease.com/sports/2010/CBA/aaa_dot_03.png) left 4px no-repeat;  line-height:24px; padding-left:18px;}

.ui_middletop{ height:18px; line-height:18px; }
.ui_middletop h2{ font-size:12px;background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) left -250px no-repeat; text-align:center;line-height:18px; color:#fff; font-weight:normal; width:58px;}
.ui_middletop h2 a{ color:#fff}

.ui_newstitle h2{background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) 0px -464px no-repeat; font-size:14px; font-weight:normal; color:#2b2b2b; text-align:left; padding-left:14px; height:25px; line-height:25px;}
.ui_ptitle h2{background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) 0px -495px no-repeat; font-size:14px; padding-left:22px; color:#2b2b2b}

.ui_sr{ border-bottom:1px solid #ccc; line-height:26px; height:26px;}
.ui_sr h2{font-size:12px; color:#2b2b2b; background:url(http://img1.cache.netease.com/sports/2010/CBA/aaa_dot_03.png) 8px 6px no-repeat; padding-left:28px;}

/* 页脚 */
.foot{margin:0 auto; width:980px; line-height:160%; color:#000; padding:18px 0px;}
.foot .text{padding:3px 0 6px; border-bottom:1px solid #000; margin:0 0 5px; color:#000;}
.foot a{ color:#000;}
.foot a:visited{color:#000;}

/* 文章页 */
#endText h2{ font-size:14px; }
#endText p{text-indent:2em;}
#endText p.f_center{text-indent:0; text-align:center;}
#endText table td p {text-indent:0;}
#endText .icon{ margin:3px 0 0; border:0;}
#endText img{border:1px solid #ccc;}
#endText table{}
#endText td{ overflow:hidden;text-overflow:ellipsis;}
#endText a{text-decoration:underline; color:#1f3a87;}
#endText a:hover{color:#bc2931;}

/*打分按钮*/
.btn-sc{ background:url(http://img1.cache.netease.com/sports/2010/CBA/sp1.png) no-repeat left -645px; width:79px; height:27px; border:none; cursor:pointer; color:#fff}