/* Last Update On 2009.12.29 By Jaesoon*/
/* common style */
body {font-family:ו,serif;font-size:12px;color:#2b2b2b;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table{margin:auto;border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
input,textarea,select {font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
#hd:after,#bd:after,#ft:after,.hd:after,.bd:after,.ft:after,.area:after,.ahd:after,.abd:after,.aft:after,.colL:after,.colM:after,.colLM:after,.colR:after,.mod:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#hd,#bd,#ft,.hd,.bd,.ft,.area,.ahd,.abd,.aft,.colL,.colM,.colLM,.colR,.mod{zoom:1;}
#hd,#bd,#ft,.area,.mod{clear:both;}
.clearfix{zoom:1;}
.clearfix:after{content:'.';display:block;visibility:hidden;clear:both;height:0;}
.left{float:left;}.right{float:right;}.hidden{display:none;}
a{color:#2b2b2b;text-decoration:none; outline:none;}
a:visited {color:#83006f;text-decoration:none;}
a:hover {color:#ba2636;text-decoration:underline;}
a:active {color:#ba2636;}
.details,.details:hover{color:#ba2636;}
#auto{ margin:auto;width:960px;}
.colL{float:left;width:310px;overflow:hidden;}
.colM{float:left;width:425px;overflow:hidden;}
.colLM{float:left;width:735px;overflow:hidden;}
.colR{ float:right;width:210px;overflow:hidden;}
/* top navigation */
#nav_top .NTES_nav_ {width:960px; line-height:30px; margin:0 auto;}
#nav_top .NTES_nav_ .nav_link {float:left; padding-left:6px; color:#B3B3B3;}
#nav_top .NTES_nav_ .nav_link a {padding:0 4px 0 2px;}
#nav_top .NTES_nav_ .NTES_link {float:left; color:#B3B3B3;}
#nav_top .NTES_nav_ .NTES_link a {padding:0 2px 0 3px; color:#1E50A2;}
#nav_top .NTES_nav_ .NTES_link a:hover {color:#ba2636;}
#nav_top .NTES_nav_ .top_search {float:right; margin:6px 6px 0 0; display:inline;}
#nav_top .NTES_nav_ .top_search .select_box {background:url(http://img1.cache.netease.com/cnews/img09/ntes_nav_img.gif) left -56px no-repeat; width:45px; height:18px; ove rflow:hidden; border:none; position:relative; text-align:left; cursor:pointer; float:left; margin-right:4px;}
#nav_top .NTES_nav_ .top_search .select_box .select_list {display:block; position:absolute; width:3em; line-height:19px; left:0; top:0; background:#fff; display:none;}
#nav_top .NTES_nav_ .top_search .select_box .search_site {height:18px; line-height:20px; padding-left:6px; float:left; overflow:hidden;}
#nav_top .NTES_nav_ .top_search .select_box .select_list {width:43px; border:1px solid #B4B4B4;}
#nav_top .NTES_nav_ .top_search .select_box {width:45px;}
#nav_top .NTES_nav_ .top_search .select_box a {display:block; height:18px; text-indent:5px;}
#nav_top .NTES_nav_ .top_search .select_box a:hover {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
#nav_top .NTES_nav_ .top_search .select_box a.active {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
#nav_top .NTES_nav_ .top_search .textBox {width:88px; height:18px; color:#7B7C7D; background:url(http://img1.cache.netease.com/cnews/img09/ntes_nav_img.gif) left top no-repeat; border:none; float:left; line-height:18px; text-indent:3px;}
#nav_top .NTES_nav_ .top_search .btn {overflow:hidden; width:41px; height:18px; background:url(http://img1.cache.netease.com/cnews/img09/ntes_nav_img.gif) left -28px no-repeat; border:none; float:left; line-height:19px; font-size:12px; cursor:pointer;}
#nav_top .NTES_nav_ .top_search form {float:left;}
#nav_top .NTES_nav_ .top_search .rss{float:left; margin:2px 0 0 6px;}
/* advertisement; */
#ad_top{ margin:auto;width:960px;clear:both;}
.ggarea{width:958px; margin:0 auto; border:1px solid #dcdddd; clear:both; overflow:hidden; text-align:left;background:#fafafa;}
.ggarea .ggtext{padding-left:12px; width:965px;}
.ggarea .ggtext li{width:120px; float:left;margin-right:13px;}
.ggarea .ggtext li a{color:#7b7c7d;}
.ggarea .ggimg{padding-left:12px;}
.ggarea .ggimg li{margin-right:12px; float:left;}
.ggarea .ggimg li.gg125{width:125px;}
.ggarea .ggimg li.gg680{width:660px;}
.gg735 {width:735px; overflow:hidden; float:left;}
.gg210 {width:210px; overflow:hidden; float:right;}
.gg195_60{margin-left:8px;}
.gg195_60 li{margin-bottom:10px;}
.blank6 {clear:both; height:6px; overflow:hidden; display:block; font-size:1px;}
.blank9 {clear:both; height:9px; overflow:hidden; display:block; font-size:1px;} 
.tishi{position:relative;padding: 0px;margin:0px;z-index:2;text-decoration:none;color:#2b2b2b;}
.tishi:hover{background:none;z-index:3;text-decoration:none;color:#2b2b2b;}
.tishi span{display: none;}
.tishi:hover span{display:block;position:absolute;top:20px;left:0px;width:200px; line-height:21px; text-align:left;text-decoration:none;border:1px solid #ccc;background:#dde1e3;padding:2px 3px 2px 5px;} 
/* channel */
#channel{ margin:12px 0 6px;width:960px;overflow:hidden;clear:both;}
#channel .logos{ float:left;}
#channel .logos a{float:left;display:block;}
#channel .logos .logo{margin:0 18px;}
#channel .current-location{float:left;padding:10px 0 0; }
#channel .current-location a{padding-right:5px;color:#2b2b2b;}
#channel .current-location a:hover{color:#ba2636;}
#channel .top_search{float:right;padding:6px 0 0;}
#channel .top_search .select_box {background:url(http://img1.cache.netease.com/auto/img09/index1113/navbg.gif) left -136px no-repeat; width:45px; height:18px; border:none; position:relative; text-align:left; cursor:pointer; float:left; margin-right:4px;}
#channel .top_search .select_box .select_list {display:block; position:absolute; width:3em; line-height:19px; left:0; top:0; background:#fff; display:none;}
#channel .top_search .select_box .search_site {height:18px; line-height:20px; padding-left:6px; float:left; overflow:hidden;}
#channel .top_search .select_box .select_list {width:43px; border:1px solid #B4B4B4;}
#channel .top_search .select_box {width:45px;}
#channel .top_search .select_box a {display:block; height:18px; text-indent:5px;}
#channel .top_search .select_box a:hover {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
#channel .top_search .select_box a.active {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
#channel .top_search .textBox {width:88px; height:18px; color:#7B7C7D; background:url(http://img1.cache.netease.com/auto/img09/index1113/navbg.gif) left -80px no-repeat; border:none; float:left; line-height:18px; text-indent:3px;}
#channel .top_search .btn {overflow:hidden; width:41px; height:18px; background:url(http://img1.cache.netease.com/auto/img09/index1113/navbg.gif) left -108px no-repeat; border:none; float:left; line-height:19px; font-size:12px; cursor:pointer;}
#channel .top_search form {float:left;}
#channel .top_search .rss{float:left; margin:2px 0 0 6px;}
/* main navigation */
#nav_main .nav_channel {margin:auto;width:960px;height:32px;background:url(http://img1.cache.netease.com/edu/img/sprites.jpg) 0 0 no-repeat; clear:both;}
#nav_main .channel_nav{clear:both;width:960px;margin:0 auto; background:url(http://img1.cache.netease.com/auto/img09/index1113/navbg.gif) no-repeat 0 0; height:32px; overflow:hidden;}
#nav_main .channel_nav .menu{ height:36px; line-height:35px; overflow:hidden;}
#nav_main .channel_nav .main{ float:left;}
#nav_main .channel_nav .main a,#nav_main .channel_nav .main span,#nav_main .channel_nav .main strong{ float:left; margin:0 6px;}
#nav_main .channel_nav .main strong a,#nav_main .channel_nav .main span a{ margin:0;}
#nav_main .channel_nav .main .sp{ margin:7px 3px 0;background:url(http://img1.cache.netease.com/auto/img09/index1113/navbg.gif) no-repeat -759px -80px; width:2px; height:25px;}
#nav_main .channel_nav strong{ font-weight:bold;}
#nav_main .channel_nav .main .on{ margin:5px 4px 0 4px; background:url(http://img1.cache.netease.com/auto/img09/index1113/navbg.gif) no-repeat -778px -80px; font-weight:bold; font-size:14px; line-height:28px; height:31px;}
#nav_main .channel_nav .main .on a{height:31px;background:url(http://img1.cache.netease.com/auto/img09/index1113/navbg.gif) no-repeat right -120px; padding:0 7px;}
#nav_main .channel_nav .exp{ float:right; padding-right:10px;}
#nav_main .channel_nav .phone{ background:url(http://img1.cache.netease.com/auto/img09/index1113/navbg.gif) no-repeat -950px -168px; padding:1px 0 0 16px;}
#nav_main .channel_nav .menu a,#nav_main .channel_nav .menu a:visited{ color:#fff}
#nav_main .channel_nav .main .on a,#nav_main .channel_nav .main .on a:visited{ color:#000}
#nav_main .channel_nav .menu strong a,#nav_main .channel_nav .menu strong a:visited{ color:#ffd101}
#nav_main .channel_nav .list{clear:both; padding-left:13px; text-align:left; line-height:26px; color:#b2b2b2;}
#nav_main .channel_nav .list a,#nav_main .channel_nav .list a:visited{ color:#000100;}
/* data-header */
#data-header .choose_car{padding:7px 0 0 281px;height:25px; background:url(sprite.png) no-repeat 0 -28px;}
#data-header .choose_car .form1{ float:left;margin-right:83px;width:400px; border:0px solid green;}
#data-header .choose_car .form1 select{ width:100px; height:20px;color:#727171;}
#data-header .choose_car .form1 select.s1{ width:118px;}
#data-header .choose_car .form1 .btn{ display:inline-block; width:63px; height:20px; vertical-align:middle;vertical-align:top\9; text-indent:-999em; cursor:pointer; border:0;background:url(sprite2.png) no-repeat -617px -35px;}
#data-header .choose_car .form2{ float:left;width:190px;}
#data-header .choose_car .form2 .text{padding-left:5px;width:113px;height:20px;*padding-top:3px;*height:17px;color:#727171;border:0;background:url(sprite2.png) no-repeat -763px -35px; }
#data-header .choose_car .form2 .btn{display:inline-block; width:63px; height:20px; vertical-align:middle;vertical-align:top\9; text-indent:-999em; cursor:pointer; border:0;background:url(sprite2.png) no-repeat -763px -35px;}
#data-header .news_top{ height:27px;line-height:27px; overflow:hidden;background:#f1f4f9;}
#data-header .news_top dt{float:left;padding:1px 0 2px 0;}
#data-header .news_top dt span{display:inline-block; margin:0px 5px 0 10px; vertical-align:middle;}
#data-header .news_top dt .up{ display:inline-block; margin-top:-2px;width:13px; height:13px; cursor:pointer; background:url(sprite.png) no-repeat -176px 0;}
#data-header .news_top dt .down{display:inline-block;margin:-2px 0 0 0;width:13px; height:13px;cursor:pointer; background:url(sprite.png) no-repeat -192px 0;}
#data-header .news_top dd{ float:left; margin-right:1px; padding:2px 6px;  }
#data-header .title1{ padding-top:15px; height:26px; background:url(sprite.png) no-repeat 0 -68px;}
#data-header .title1 h4{ float:left; padding-left:12px;height:26px; line-height:26px;font-size:14px; font-weight:bold;color:#164a84;}
#data-header .title1 ul{ float:right; padding-left:1px;}
#data-header .title1 li{ float:left; margin-left:-1px; width:130px;height:26px;line-height:26px;text-align:center;background:url(sprite.png) no-repeat -129px -113px;}
#data-header .title1 li.current{width:130px; background-position:0 -113px;}
#data-header .title1 li.current a{ font-weight:bold;}
#data-header .title1 li a{ text-decoration:none;}
#data-header .title2 a{ display:inline-block; margin:15px 4px 15px 0; width:80px; height:22px;line-height:22px; text-align:center;text-decoration:none; background:url(sprite.png) no-repeat -84px 0;}
#data-header .title2 a.current{color:#fff;background-position:0 0;}
#data-header .argument dt{ float:left;padding:2px 0 2px 8px;font-weight:bold;color:#ba2636;}
#data-header .argument dd{ float:left; margin-right:1px; padding:2px 8px;border:1px solid #dcdddd; border-bottom-width:0; background:#165e83;}
#data-header .argument dd.current{ background:#9c9ca1}
#data-header .argument dd.current a{ cursor:default;}
#data-header .argument dd a{ display:block;text-decoration:none;color:#fff; outline:none; }
/* data show*/
#data-show{width:958px; text-align:center;border:1px solid #dcdddd;}
#data-show .group{margin-left:1px;width:957px;margin-left:0\9;width:958px\9;background:#f2f2f2;}
#data-show .group td{height:24px;}
#data-show .group th{background:#dde1e3;}
#data-show .group th,#data-show .group td{width:159px; border:1px solid #fff;}
#data-show .group th p{height:24px; line-height:24px; color:#164a84;}
#data-show .group th span{color:#ba2636; cursor:pointer;}
#data-show .first{margin-left:1px;width:957px;margin-left:0\9;width:958px\9; margin-top:12px;background:#fff;}
#data-show .first td{width:159px;height:24px; border:1px solid #fff;border-width:0;}
#data-show .first td p,#data-show .first td p a{ text-decoration:none;color:#164a84;}
#data-show .first td p a:hover{color:#ba2636;}
#data-show .first .pic{ position:relative; margin:auto;width:120px; height:90px;border:1px solid #ddd; }
#data-show .first .pic span{ position:absolute; width:17px; height:17px; cursor:pointer; background: url(sprite.png) -240px 0;}
#data-show .first .pic .arrow_right{right:0; background-position:-216px 0; }
#data-show .first label{margin:0 12px;}
#data-show .first .sign{ margin-right:0;color:#ba2636;}
#data-show .first span{color:#727171;}
#data-show .second{margin-left:1px;width:957px;margin-left:0\9;width:958px\9;background:#f2f2f2;}
#data-show .second td{width:159px;height:30px;  border:1px solid #fff; border-width:0 1px;}
#data-show .second td p{ font-size:14px;color:#164a84;}
#data-show .second select{ margin-top:11px;width:119px; height:20px; color:#727171;border:1px solid #d4d3c8;}
#data-show .second .del{display:inline-block; margin:5px auto 0px; width:50px; height:20px; line-height:20px; text-align:center; color:#727171;cursor:pointer; background:url(sprite.png) no-repeat -280px 0;}
/* auto pic */
#autopic{width:958px; text-align:center;border:1px solid #dcdddd;}
#autopic .first{margin:10px 0 10px 1px;width:957px;margin-left:0\9;width:958px\9;}
#autopic .first td{width:33%;height:30px; text-align:center; }
#autopic .first td p{ font-size:14px;color:#164a84;}
#autopic .first select{ margin-top:11px;width:119px; height:20px; color:#727171;border:1px solid #d4d3c8;}
#autopic .first .del{ display:inline-block; margin:5px auto 0px; width:50px; height:20px; line-height:20px; text-align:center; color:#727171;cursor:pointer; background:url(sprite.png) no-repeat -280px 0;}
#autopic .group{margin-left:1px;width:957px;margin-left:0\9;width:958px\9;background:#f2f2f2;}
#autopic .group th{background:#c4d0d6;}
#autopic .group th,.group td{width:33%; border:1px solid #fff;}
#autopic .group th p{height:24px; line-height:24px; color:#164a84;}
#autopic .group th p strong{ font-weight:bold;}
#autopic .group th span{color:#ba2636; cursor:pointer;}
#autopic .group td{height:24px;}
#autopic .group td img{ margin:10px auto; width:300px; height:225px; border:1px solid #ddd;}
#autopic .group td p{ margin-bottom:10px;}
/* end navigation */
#nav_end{margin:10px auto 0;width:960px;height:37px;line-height:38px;overflow:hidden;background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg.jpg) left -67px repeat;}
#nav_end .rightS {background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg.jpg) right -141px no-repeat; display:block; width:8px; height:37px; float:right; overflow:hidden;}
#nav_end .nav {background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg.jpg) left -30px no-repeat; height:37px; float:left; line-height:38px; color:#1E50A2; overflow:hidden;}
#nav_end .nav a {background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg.jpg) 4px -104px no-repeat; float:left; padding:0 5px 0 13px; }
#nav_end .nav .firstNode {background:none;}
#nav_end .goHome {float:right; width:85px; height:23px; background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg.jpg) left -178px no-repeat; overflow:hidden; text-indent:-19em; margin:7px 8px 0 0;}
#nav_end .nav a,#nav_end .nav a:visited {color:#1E50A2;}
#nav_end .nav a:hover {color:#BA2636;}
#nav_end .search {float:right; display:inline; width:128px; height:20px; margin:8px 13px 0 0; overflow:hidden;}
#nav_end .search .textBox {background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg.jpg) right -202px no-repeat; width:106px; height:20px; line-height:21px; text-indent:4px; padding:2px 0 0 0; border:none; line-height:18px; color:#727171; float:left;}
#nav_end .search .btn {background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg.jpg) left -222px no-repeat; width:22px; height:20px; border:none; text-indent:-100em; cursor:pointer; float:left;}
/* footer */
#footer{margin:auto;width:960px;line-height:21px;text-align:center;color:#4d4d4d;}
#footer .foot .text{margin:0 0 5px;padding:4px 0 5px; border-bottom:1px solid #4d4d4d; }
#footer .foot span{color:red;}
#footer .foot a,.foot a:visited{color:#4d4d4d;}
#footer .foot a:hover {color:#ba2636;}
