

#hd {
    height: 545px;
}

#bd .yao-feature {
    overflow: hidden;
    zoom: 1;
}

#bd .yao-additional {
    float: right;
    width: 345px;
}



#logo {
    float: left;
    color: red;
    margin-left: 32px;
    _display: inline;
}

#logo a {
    margin-top: 16px;
    display: block;
    width: 117px;
    height: 31px;
    text-indent: -100000px;
    line-height: 35px;
}

#navigation {
    float: right;
    margin-right: 48px;
}

#navigation ul li {
    float: left;
    margin-left: 48px;
}

#navigation ul li a {
    height: 100%;
    display: inline-block;
    zoom:1;
    text-decoration: none;
    color: #000;
    font-family: "微软雅黑";
    font-size: 16px;
}

#navigation ul li a:hover {
    color: #808080;
}

.p-index #navigation .nav-index a,
.p-mobile #navigation .nav-mobile a,
.p-web #navigation .nav-web a,
.p-multi #navigation .nav-multi a,
.p-forum #navigation .nav-forum a,
.p-activities #navigation .nav-activities a{
    color: #139ff7;
    border-bottom: 3px solid #139ff7;
}

.p-index #navigation .nav-index a:hover ,
.p-mobile #navigation .nav-mobile a:hover ,
.p-web #navigation .nav-web a:hover ,
.p-multi #navigation .nav-multi a:hover ,
.p-forum #navigation .nav-forum a:hover ,
.p-activities #navigation .nav-activities a:hover{
    color: #139ff7;
}

.subTabInAll{
	background: #FFF;
	border-bottom: 1px solid #DEDEDE;
	border-top: 1px solid #DEDEDE;
	height: 35px;
	line-height: 35px;
	color: #139EF3;
	width: 100%;
	position: absolute;
	left: 0;
	top: 62px;
	z-index:9999;
}

.subTabInAll,
.subTabInAll div{
	display:none;
}

.fixForSub{
	position: fixed;
	top:0;
}

.subTabInAll a,
.subTabInAll a:active,
.subTabInAll ins {
	color:#139EF3;
	text-decoration: none;
}

.subTabInAll ins{
	margin: 0 5px;
}

.subTabInAll .iwc{
	display: block;
	width:960px;
}

.sub-multi span{
	float:right;
}

.sub-index span{
	margin-left: 310px;
}

.subTabInAll p {
	width: 960px;
	height:35px;
	margin:0 auto;
}/* demo */
#indexBanner {
    height: 400px;
    background-color: #e5f1f9;
    position: relative;
}

#indexBanner .iwc {
    position: relative;
}

#indexBanner .pre, #indexBanner .next {
    position: absolute;
    top: 195px;
    width: 40px;
    height: 39px;
}

#indexBanner .pre {
    background-position: -369px -284px ;
    left: -60px;
}

#indexBanner .next {
    background-position: -413px -241px ;
    right: -60px;
}

#indexBanner .pre:hover {
    background-position: -369px -241px ;
    left: -60px;
}

#indexBanner .next:hover {
    background-position: -413px -284px ;
    right: -60px;
}

#indexBanner .current {
    display: block;
}

#indexBanner ul li {
    display: none;
}

#indexBanner .description {
    display: inline;
    float: left;
    margin: 156px 0 0 64px;
}

#indexBanner .description .title {
    color: #159ff5; /* text color + color overlay */
    font-family: "微软雅黑";
    font-size: 36px;
    margin-bottom: 10px;
}

#indexBanner .description .content {
    color: #686a6b; /* text color + color overlay */
    font-family: "微软雅黑";
    font-size: 16px;
    line-height: 20px;
}

#indexBanner .showimg {
    float: right;
}

#navbar {
    position: absolute;
    left: 480px;
    width: 80px;
    margin-left: -39px;
    bottom: -10px;
}

#navbar .icon-nav-bar {
    display: inline-block;
    background-position: -327px -320px ;
    zoom: 1;
    margin: 8px 0;
    width: 8px;
    height: 8px;
}

#navbar .icon-nav-bar:hover, #navbar .icon-nav-current{
    background-position: -285px -320px ;
}

#navbar .icon-nav-bar-middle {
    margin: 8px 24px;
}

#navbar a.current {
    display: inline-block;
    zoom: 1;
    margin: 8px 0;
    width: 8px;
    height: 8px;
}/* demo */
#indexDownload{
    margin-top: 13px;
}

#indexDownload .bd{
    width:245px;
    margin:0 auto;
}

#indexDownload .ft{
    margin-top: 10px;
    text-align: center;
    color: #ababab;
    font-family: "宋体";
    font-size: 12px;
}

#indexDownload .ft a{
    color: #ababab;
}

#indexDownload .ft a:hover, #indexDownload .ft a:active{
    color: #139EF3;
}

#indexDownload .icon-down{
    display: block;
    background-position: -312px -80px ;
    width:245px;
    height: 75px;
}

#indexDownload .icon-down:hover{
   background-position: -312px 0;
}

#indexDownload .icon-history5-4-dl{
    display: inline-block;
    width:8px;
    height: 8px;
    background-position: -561px -336px;
    padding-right: 3px;
    vertical-align: middle;
    font-size:0;
}

#indexDownload .history_dl_link{
    margin-left: 20px;
}/* demo */
#index_features {

}

#index_features .feature {
    height: 80px;
    margin-bottom: 24px;
    width: 360px;
}

#index_features .ft {
    text-align: right;
    width: 360px;
}

#index_features .ft a {
    color: #ababab;
    font-family: "宋体";
    font-size: 12px;
    text-decoration: none;
}

#index_features .ft a:hover {
    text-decoration: underline;
}

#index_features .feature-icon {
    cursor: default;
    margin-right: 40px;
    float: left;
    width: 80px;
    height: 80px;
}

.icon-index-feature-4{
    background-position: -554px -242px ;
}

.icon-index-feature-4:hover{
    background-position: -473px -242px ;
}

.icon-index-feature-3{
    background-position: -473px -161px ;
}

.icon-index-feature-3:hover{
    background-position: -554px -161px ;
}

.icon-index-feature-2{
   background-position: -313px -161px ;
}

.icon-index-feature-2:hover{
    background-position: -393px -161px ;
}

.icon-index-feature-1{
    background-position: -560px 0 ;
}

.icon-index-feature-1:hover{
   background-position: -560px -80px ;
}

#index_features .feature-des {
    margin-right: 10px;
    overflow: hidden;
    zoom: 1;
}

#index_features .feature-title {
    color: #000; /* text color + color overlay */
    font-family: "微软雅黑";
    font-size: 20px;
    margin-bottom: 8px;
}

#index_features .feature-content {
    color: #686a6b; /* text color + color overlay */
    font-family: "宋体";
    font-size: 12px;
}/* demo */
#latest_activity .hd {
    color: #686a6b; /* text color + color overlay */
    font-family: "微软雅黑";
    font-size: 16px;
    margin-bottom: 15px;
}

#latest_activity .bd {
    position: relative;
    width: 312px;
    height: 120px;
    background-color: #e5f1f9;
}

#latest_activity .bd .ac-img {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#latest_activity .nav-bar {
    height: 17px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#latest_activity .nav-bar a {
    display: inline-block;
    zoom: 1;
    width: 24px;
    text-align: center;
    background-color: #fff;
    opacity: 0.5;
    filter: alpha(opacity=60);
    color: #afafaf;
    font-family: "Arial";
    font-size: 10px;
    text-decoration: none;
    line-height: 17px;
}

#latest_activity .nav-bar a:hover,#latest_activity .nav-bar a.current {
    opacity: .2;
    color: #fff;
    filter: alpha(opacity=20);
    background-color: #000;
}/* demo */
#introduce_video {
    margin-top: 30px;
}

#introduce_video .hd {
    color: #686a6b; /* text color + color overlay */
    font-family: "微软雅黑";
    font-size: 16px;
    margin-bottom: 15px;
}

#introduce_video .bd {
    position: relative;
    width: 312px;
    height: 120px;
    background-color: #e5f1f9;
}

#introduce_video .icon-introduce-video {
    display: block;
    width: 100%;
    height: 100%;
    background-position:0 0;
}

#introduce_video .icon-introduce-video:hover{
   background-position: 0 -121px ;
}




#followme {
    margin-top: 30px;
}

#followme .hd {
    color: #686a6b; /* text color + color overlay */
    font-family: "微软雅黑";
    font-size: 16px;
    margin-bottom: 15px;
}

#followme .bd {
    height: 31px;
}

#followme .bd li {
    float: left;
    width:65px;
}
#followme .bd li a{
    display: inline-block;
    cursor: pointer;
    width:66px;
    height: 32px;
    zoom: 1;
}

.icon-netease{
    background-position: -298px -241px ;
}

.icon-netease:hover{
    background-position: -298px -274px ;
}

.icon-renren{
    background-position: -100px -241px ;
}

.icon-renren:hover{
    background-position: -100px -274px ;
}

.icon-sina{
    background-position: -166px -241px ;
}

.icon-sina:hover{
    background-position: -166px -274px ;
}

.icon-tencent{
    background-position: -232px -241px ;
}

.icon-tencent:hover{
    background-position: -232px -274px ;
}




/* demo */
#award_list .awards {
    margin-top: 20px;
    border: 1px solid #ededed;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#award_list .hd {
    color: #686a6b;
    font-family: "微软雅黑";
    font-size: 16px;
    margin: 24px 0 26px 20px;
}

#award_list li {
    padding: 0 20px 25px 20px;
    float: left;
    width: 199px;
    height: 90px;
    color: #656565; /* text color + color overlay */
    font-family: "宋体";
    font-size: 12px;
    line-height: 1.5;
}

#award_list li a {
    color: #656565;
    text-decoration: none;
}

#award_list li a:hover {
    text-decoration: underline;
}

#award_list .bd .aw-icon {
    width: 48px;
    height: 55%;
    float: left;
    margin: 14px;
}

.icon-aw-4{
    background-position: -50px -291px ;
}

.icon-aw-3{
    background-position: -1px -291px ;
}

.icon-aw-2{
   background-position: -50px -241px ; 
}

.icon-aw-1{
   background-position: 0 -241px ; 
}

#award_list .bd .aw-content {
    overflow: hidden;
    zoom: 1;
}

#award_list .collapse-content {
    width: 80px;
    height: 28px;
    display: block;
    margin: 0 auto;
}

#award_list.collapsed .collapsed-content {
    display: none;
}

#award_list .js-collapse-close {
    display: block;
}

#award_list .js-collapse-open {
    display: none;
}

#award_list.collapsed .js-collapse-close {
    display: none;
}

#award_list.collapsed .js-collapse-open {
    display: block;
}

#award_list {
    margin-bottom: 85px;
}

.icon-collapse-close{
    background-position: -100px -310px ;
}

.icon-collapse-close:hover{
    background-position: -184px -310px ;
}

.icon-collapse-open{
    background-position: -453px -325px ;
}

.icon-collapse-open:hover{
    background-position: -369px -325px ;
}
/* demo */
#other_links {
    background-color: #434343;
    padding-top: 26px;
    padding-bottom: 13px;
    border-bottom: 1px solid #5f5f5f;
}

#other_links .link-mod {
    float: left;
    width: 235px;
    margin: 0 40px;
    display: inline;
}

#other_links .title {
    line-height: 36px;
    color: #fff; /* text color + color overlay */
    font-family: "微软雅黑";
    font-size: 16px;
    border-bottom: 1px solid #5f5f5f;
}

#other_links .content{
    margin-top: 18px;
}
#other_links .content a{
    text-decoration: none;
    line-height: 36px;
    color: #fff; /* text color */
    font-family: "宋体";
    font-size: 12px;
}

#other_links .content a:hover{
    color: #90c9f2; /* text color + color overlay */
}

#other_links .friend-link li{
    float: left;
    width:115px;
}
#footer {
    background-color: #434343;
}

#footer .copyright {
    width: 195px;
    color: #fff;
    padding: 25px 0 35px 0;
    margin: 0 auto;
}

#footer .copyright ins {
    margin: 0 9px;
}

#footer .copyright a {
    text-decoration: none;
    color: #fff;
}

#footer .copyright a:hover {
    text-decoration: none;
    color: #90c9f2;
}

#footer .copyright-icp {
    line-height: 25px;
    color: #000;
}