html { overflow-y:scroll; }
body { padding:0; margin:0; font:12px "\5B8B\4F53", sans-serif; background:#ffffff; }
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p { padding:0; margin:0; }
table, td, tr, th { font-size:12px; }
li { list-style-type:none; }
img { vertical-align:top; border:0; }
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6 { font-size:12px; font-weight:normal; }
/*table,tr,td{padding:0px;}*/
address, cite, code, th { font-weight:normal; font-style:normal; }
em { font-style:normal; }
.ntes-passport a { color:#727171; }
.ntes-passport a:hover { color:#ba2636; }
.fB { font-weight:bold; }
.f14px { font-size:14px; }
.left { float:left; }
.right { float:right; }
.clearfix, .area, .header, .footer, .area-sub, .area-main { *zoom:1;}
.clearfix:after, .area:after, .header:after, .footer:after, .content:after, .area-sub:after, .area-main:after, .main-col-10:after, .main-col-9:after, .tab-con:after { display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:"."; }
.c666 { color:#666 }
p { padding:0 }
.hidden { display:none }
a:focus, input[type=button], input[type=submit] { outline:none; }
::-moz-focus-inner {outline:none;}
/* ad */
.gg-head-1 { float:left; }
.gg-head-2 { float:right; }
/*span blank*/
.blankW { background:#fff; }
.blank3 { clear:both; height:3px; overflow:hidden; display:block; font-size:1px; }
.blank6 { clear:both; height:6px; overflow:hidden; display:block; font-size:1px; }
.blank9 { clear:both; height:9px; overflow:hidden; display:block; font-size:1px; }
.blank9w { background:#ffffff; clear:both; height:9px; overflow:hidden; display:block; font-size:1px; }
.blank12 { clear:both; height:12px; overflow:hidden; display:block; }
.blank15 { clear:both; height:15px; overflow:hidden; display:block; }
.blank20 { clear:both; height:20px; overflow:hidden; display:block; }
/*link css*/
a { color:#252525; text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { color:#ba2636; text-decoration:underline; }
a:active { color:#ba2636; }
/*headerbg*/
.wrapperbg { background: #F8F8F8 url("http://img6.cache.netease.com/cnews/news2012/img/b_line.gif") left bottom repeat-x; border-top: 1px solid #DDDDDD; clear:both; margin: 0 auto; }
.main-content { background: none repeat scroll 0 0 #FFFFFF; clear: both; margin: 0 auto; width: 1010px; }
/*通用导航*/
.ntes-nav { height: 41px; line-height: 41px; margin: 0 auto; text-align: left; width:960px; }
.nav-link a, .nav-link a:visited { color: #252525; }
.nav-link a:hover { color: #BA2636; }
.ntes-nav .nav-link a { float: left; padding:  0 8px; background: url("http://img6.cache.netease.com/cnews/news2012/img/nav-border.png") no-repeat scroll 0 15px transparent; }
.ntes-nav .nav-link .first { padding:0 10px 0 0; background: none repeat scroll 0 0 transparent; }
/*导航*/
.top_search { display: inline; float: right; margin: 21px 0 9px 0; }
.top_search .textBox { width: 256px; _width: 250px; color: #888888; float: left; height: 28px; line-height: 28px; border:0; text-indent: 3px; }
.search-input-area { width: 278px; height: 28px; background:#fff; border-color: #e8e8e8; border-left: 1px solid #e8e8e8; border-style: solid; border-width: 1px; }
.search-logo { background: url("http://img6.cache.netease.com/cnews/news2012/img/search-logo.png") no-repeat scroll 0 0 transparent; cursor:pointer; height: 28px; width: 22px; float:right; border:0; }
.yodao-weather-icon { float:left; }
.channel { line-height: 21px; margin: 0 auto; width: 960px; }
.channel .attlogo { float: left; height: 24px; line-height:24px; padding-top: 26px; overflow: hidden; font-size:20px; font-family:"Microsoft YaHei", "微软雅黑"; }
.channel h1 { float: left; height: 24px; margin: 26px 12px 0 2px; overflow: hidden; width: 107px; }
.channel .weather { float: right; height: 48px; overflow: hidden; padding-top:12px; width: 170px; }
.date-temperature { line-height: 18px; padding-top: 4px; padding-right: 10px; }
.weather-temperature { color: #BEBEBE; }
.date-temperature, .date-temperature a { color:#bebebe; }
/*新闻导航*/
.nav-channel { margin: 0 auto; width: 960px; text-align: center; }
.nav-channel .nav { float: left; clear:both; margin:0 auto; width:960px; height:40px; overflow:hidden;}
.nav-channel .nav ul { float:left; width:962px; border-left: 1px solid #D4D4D4; margin:0 auto; clear:both; }
.nav-channel .nav li { float:left; background:url(nav_li_bg.png) right top no-repeat; height:40px; line-height:46px; color: #252525; width:87px; font-size:14px; display:inline; overflow:hidden;}
.nav-channel .nav a,.nav-channel .nav a:visited { display:block; height:40px; width:87px; color: #252525;}
.nav-channel .nav a:hover { text-decoration: none;background:url(nav_li_bg_v.png) left top repeat-x;}
.nav-channel .nav .current { color: #fff; font-size: 15px; background:url(nav_li_bg_x.png) left top repeat-x; width: 89px; overflow:hidden; }
.nav-channel .nav .current a,.nav-channel .nav .current a:visited,.nav-channel .nav .current a:hover { display:block; width:89px; height:40px; color: #fff; background:url(nav_li_bg_x.png) left top repeat-x;}
/*pages*/
.pages { zoom:1; text-align:center; line-height:38px; height:38px; vertical-align:middle; padding:30px 0 48px 0 }
.pages a, .pages span { display:inline-block; width:22px; height:22px; line-height:22px; border:1px solid #CCC; width:36px; height:38px; line-height:38px; font-size:16px; color:888; font-family:Arial, Helvetica, sans-serif; vertical-align:top }
.pages, .pages a, .pages a:visited { color:#888; }
.pages a:hover { color:#BA2636; }
.pages span { background:#ffa800; border:1px solid #ffa800; color:#fff; width:36px; height:38px; line-height:38px; font-size:14px; }
.pages a.pages_flip { font-size:16px; }
.pages a.all_pages{font-size: 12px;margin: 0 0 0 5px;width: 70px; cursor:pointer}
/*layout 布局*/
.area, .topArea { clear: both; margin: 0 auto; width: 960px; }
.topArea { background:#f8f8f8; height:300px; width:960px; }
.area-main { float:left; width:620px; padding:0 20px 0 0; overflow:hidden; }
.area-sub { float:left; width:300px; padding:0 0 0 20px }
.col-300 { border-top:3px solid #2d89ef; padding:16px 0 0 0 }
.noBorderT { border-top:none; }
/*tab*/
.tab-num{ width:72px;_width:74px;margin:0 auto; padding:11px 0 0 0; height:4px;}
.tab-num li{ float:left; width:19px; height:4px; margin:0 3px 0 2px; background-color:#959595; font-size:0; overflow:hidden;_zoom:1; cursor:pointer;}
.tab-num li.on{ background-color:#ffa800}
.imageSwitcher_205 .tab-num{ width:96px;_width:100px}
.imageSwitcher_205 .tab-con li{ position:relative; width:300px; height:205px;display:none;}
.imageSwitcher_205 .tab-con li.on{ display:block;}
.imageSwitcher_205 .opBg{ position:absolute; bottom:0; left:0; height:34px; width:300px;background-color:#000;opacity:0.7;filter:alpha(opacity=70);-moz-opacity:0.7; z-index:1}
.imageSwitcher_205 p.title{ position:absolute; left:10px; bottom:0; z-index:10; color:#fff; text-align:center; height:34px; line-height:34px; font-size:14px;}
.imageSwitcher_205 p.title a{ color:#fff}
/*title*/
.titleBar { overflow: hidden; padding:0 0 16px 0 }
.titleBar h2 { font-family: "Microsoft YaHei", "微软雅黑"; font-size: 16px; height: 18px; line-height: 18px; padding:0 0 14px 2px; overflow: hidden; }
.titleBar .more, .titleBar .more:visited { height:18px; line-height:20px; padding-right: 17px; background:url(http://img4.cache.netease.com/digi/img13/sec/sprites.png) no-repeat 29px -71px; color:#666; }
.titleBar .bigsize a { display:inline-block; font-size:20px; font-family:\5FAE\8F6F\96C5\9ED1 }
.titleBar .bigsize a:hover { color:#fff; background-color:#2d89ef; text-decoration:none }
.titleBar-b h2 { float:left; display:inline-block; border-left:4px solid #2d89ef; font-size:18px; font-family:\5FAE\8F6F\96C5\9ED1; padding:0 0 0 8px; height:20px; line-height:20px; }
.titleBar-b .more, .titleBar-b .more:visited { height:18px; line-height:20px; padding-right: 17px; background:url(http://img4.cache.netease.com/digi/img13/sec/sprites.png) no-repeat 29px -71px; color:#666; }
.titleBar-b .moreLink{ line-height:26px; height:20px; margin-left:10px;}
.titleBar-b .moreLink a{ color:#808080}
.titleBar-a { height:37px; background:url(tab_line_bg.png) left bottom repeat-x; clear:both; margin:0 auto; overflow:hidden;}
.titleBar-a h2 { float:left; display:inline-block; border-left:4px solid #2d89ef; font-size:18px; font-family:\5FAE\8F6F\96C5\9ED1; padding:0 0 0 8px; margin-top:3px; height:20px; line-height:20px; }
.titleBar-a .tab-hd { float:right; height:37px; width:154px; overflow:hidden;}
.titleBar-a .tab-hd li { float:left; text-align:center; font-size:14px; display:inline-block; width:76px; height:35px; line-height:35px; }
.titleBar-a .tab-hd li.current { background:#fff; border-left:1px solid #EBEBEB;  border-top:2px solid #2D89EE;  border-right:1px solid #EBEBEB; font-weight:bold;}
.tab-bd { clear:both; margin:0 auto; overflow:hidden;}
.tab-bd ul { display:none; }
.tab-bd .current { display:block;}
/*精彩跟帖*/
.hot-tie { clear:both; margin:0 auto; overflow:hidden;}
.hot-tie ul { float:left; clear:both; margin:0 auto; overflow:hidden;}
.hot-tie li { float:left; clear:both; overflow:hidden; width:282px; padding:0 9px 15px 9px;}
.hot-tie li .tie-box { position:relative; z-index:3; background:#FFFFF7; border:1px solid #D4D3BE; width:240px; margin:0 auto 18px; padding:20px; clear:both; zoom:1;}
.hot-tie li .tie-box .b-jt { background:url(tie_down_bg.png) center bottom no-repeat; width:23px; height:11px; display:block; position:absolute; bottom:-11px;  _bottom:-12px; left:48%; z-index:999;}
.hot-tie li .tie-box .tie-text { clear:both; line-height:20px; color:#555;}
.hot-tie li .tie-box .tie-text a,.hot-tie li .tie-box .tie-text a:visited {color:#555;}
.hot-tie li .tie-box .tie-text a:hover {color:#ba2636;}
.hot-tie li .tie-box .wy-name { clear:both; padding-top:15px; text-align:right;color:#888;}
.hot-tie li .title { width:282px; clear:both; line-height:18px; color:#545454; padding:0; margin:0; overflow:hidden;}
.hot-tie li .title a,.hot-tie li .title a:visited { color:#545454;}
.hot-tie li .title a:hover { color:#BA2636; }
.hot-tie li .title .g-bg { width:34px; height:18px; background:#545454; color:#fff; text-align:center; line-height:18px; float:left; display:inline; margin-right:6px;}
/*产品推荐*/
.mod-textImg-c { border:1px solid #EBEBEB; border-top:none; clear:both; overflow:hidden; margin:0 auto; padding-top:15px;}
.mod-textImg-c li { float:left; width:148px; text-align:center; padding:0 0 20px 0; display:inline; position:relative;}
.mod-textImg-c span.price_info { display:block; background-color:#ffa800; color:#fff; width:98px; height:18px; line-height:18px; text-align:center; margin:0 auto; text-decoration:none }
.mod-textImg-c .price_info a { float:right; display:inline-block; height:18px; background-color:#e3e3e3; color:#252525; width:48px; }
.mod-textImg-c .price_info a.gprice{ background-color:#ffa800; color:#fff}
.mod-textImg-c span.title { display:inline-block; padding:5px 0; font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1 }
.mod-textImg-c li .bt01-hover { display:none; position:absolute; left:0; top:0; z-index:20 }
.mod-textImg-c li:hover .bt01-hover { display:block; }
/*rank list 排行*/
.rankList li { display: inline-block; float: left; line-height:1.5em; overflow: hidden; width: 300px; vertical-align:top; padding:0 0 20px 0 }
.rankList li.last { border:none; }
.rankList li span.ranknum { width: 23px; height: 23px; background-color: #f0f0f0; color: #555; float: left; line-height: 23px; margin-top: 3px; font-family: "Arial"; font-weight: bold; text-align: center; font-size:14px }
.rankList li span.front { background-color: #ffa800; color:#fff }
.rankList li a { color: #333333; float: left; padding-left: 13px; width:218px; }
.rankList li a:hover { color: #BA2636; }
.rankList li span .follow { background-color: #A2A2A2; }
.rankList li .more { color:#930000; font-family: "Arial"; font-style: italic; font-weight: bold; }
.rankList li .more a, .rankList li .more a :hover, .rankList li .more a :visited { color:#888888; }
.rankList li span.cLGray { padding:0 10px; }
.rankList2 { clear:both; margin:0 auto; overflow:hidden; padding-top:15px;}
.rankList2 li { display: inline-block; float: left; line-height:30px; height:23px; width: 300px; vertical-align:top; overflow:hidden; padding:0 0 15px 0; white-space:nowrap; }
.rankList2 li.last { border:none; }
.rankList2 li span.ranknum { width: 23px; height: 23px; background-color: #f0f0f0; color: #555; float: left; line-height: 23px; margin-top: 3px; font-family: "Arial"; font-weight: bold; text-align: center; font-size:14px }
.rankList2 li span.front { background-color: #ffa800; color:#fff; }
.rankList2 li.first { height:105px; overflow:auto }
.rankList2 .first a { vertical-align:baseline; }
.rankList2 a { font-family:"\5B8B\4F53", Arial, Helvetica, sans-serif; vertical-align:middle; }
.rankList2 a.brand { width:105px; padding:0 0px 0 12px; display:inline-block; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; text-indent:12px; }
.rankList2 a.price { color:#cc1b1b; text-align:left; display:inline-block; *display:inline;*zoom:1;width: 86px; *width: 80px;text-indent:12px; }
.rankList2 .like, .rankList2 .like:visited { color:#888; }
.rankList2 .like span { color:#cc1b1b; display:inline-block; background:url(http://img3.cache.netease.com/digi/notebook2013/iconList.png) 0 -394px; padding:0 10px 0 22px; }
.rankList2 .first img { float:left; border:1px solid #e5e5e5 }
.rankList2 .first .detail { float:right }
.rankList2 .first .detail a.price { width:77px; text-indent:5px; *width: 72px;}
.rankList2 .first .detail a.like { margin:0;}
.rankList2 .detail-fct { border-left:1px solid #e5e5e5; border-top:1px solid #e5e5e5; text-align:center; width:150px;}
.rankList2 .detail-fct a { display:inline-block; width:49px; border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
.hidden_300 { width:300px; clear:both; margin:0 auto; overflow:hidden;}
.image-text130{ float:left; clear:both; width:342px;}
.image-text130 li{ float:left; width:151px; margin:10px 19px 5px 0; padding:0;}
.image-text130 li a.photo{ display:block; width:130px; height:90px; padding:0 20px 0 0;border-right:1px solid #e5e5e5;}
.image-text130 li p{ padding:8px 0 0 0;}
/*topArea*/
.topArea-slider { float:left; width:640px; height:300px; position:relative; }
.fn_focus { height: 300px; width: 640px; clear: both; overflow: hidden; position: relative; }
.focus_ctrls { background:#fff; text-align:center; height:14px; position:absolute; right:0; top:286px; z-index:30; width:640px; font-size:0;}
.focus_ctrls li { float:left; width:106px; height:14px; margin:0; background-color:#000; color:#fff; overflow:hidden; cursor:pointer; font-size:12px; margin-right:1px; font-family:Arial, Helvetica, sans-serif;}
.focus_ctrls li.current { background-color:#ffa800; width:105px;_width:105px;}
.focus_ctrls li.last { margin:0 }
.focus_show { width: 640px; color: gray; position: relative; height:300px; overflow:hidden; }
.focus_show .current { display: block; }
.focus_panel { float:left; display:none; width:640px; height:300px; overflow:hidden;}
.focus_panel img { width:640px; height:300px; border:none;}
#fn_focus:hover #fn_focus_prev_next { display:block; }
#fn_focus_prev_next { position: absolute; top: 100px; height: 0; width: 0; display:none; _display:block; }
#fn_focus_prev_next a, #fn_focus_prev_next a:visited { border-radius: 21px; font-size: 36px; height: 42px; line-height: 42px; width: 42px; background-color: #333; color: #fff; outline: none; display:block; text-align:center; opacity: 0.6; *filter: alpha(opacity=60);
filter: alpha(opacity=60)\0; }
#fn_focus_prev_next a:hover { text-decoration:none; opacity: 1; *filter: alpha(opacity=100);
filter: alpha(opacity=100)\0; }
#fn_focus_prev_next .prev { margin-left: 15px; }
#fn_focus_prev_next .next { position: absolute; top: 0; margin-left: 580px; }
.focus_panel_text { height:47px; line-height:47px; bottom:14px; left:0; position:absolute; text-indent:19px; font-family: "Microsoft YaHei", "微软雅黑", serif; background: rgba(0, 0, 0, .7); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000);
white-space:nowrap; overflow:hidden; text-overflow: ellipsis; width:100%; }
.focus_panel_text a, .focus_panel_text a:visited { color:#fff; font-size:18px; }
.topArea-search { float:right; width:283px; height:262px; padding:18px; overflow:hidden; border-color:#ddd; border-style:solid; border-width:1px 1px 1px 0; }
.topArea-search .searchArea, .col-300 .searchArea { background:url(http://img3.cache.netease.com/digi/notebook2013/iconList.png) 0 0 no-repeat; width:259px; height:26px; padding:2px 12px 2px 14px; }
.searchArea input.ipt1 { border: 0 none; height:14px; padding:6px 0; width: 196px; font-size:14px; color:#888; }
.searchArea input.ipt1:focus { border: 0 none; color:#000; }
.searchArea input.btn_submit { background: none repeat scroll 0 0 #2D89EF; border: 0 none; color: #FFFFFF; cursor: pointer; height: 26px; width:50px; outline:none; }
.searchCategory li { line-height:20px; border-top:1px solid #fff; padding:6px 0; }
.searchCategory li.first { border-top:none }
.searchCategory li span { float:left; color:#888; font-weight:bold; padding-right:12px; display:inline-block }
.searchCategory li p { margin-left:40px; }
.searchCategory li a { padding-right:12px; display:inline-block; color:#555 }
.searchCategory li a:hover { text-decoration:none; background:#2d89ef; color:#fff; }
.searchCategory li.last { border-bottom:none }
.searchCategory li.last a { padding:0 }
.searchCategory li.last em { display:inline-block; color:#e5e5e5; padding:0 2px; }
/*newsList*/
.newsList li { border-bottom:1px solid #e5e5e5; padding:25px 5px 0 5px;}
.newsList li:hover { background-color:#f8f8f8 }
.titleBar h3 { float:left }
.newsBottom .commentCount { color:#cd1a1c; font-size:18px; font-family:Georgia, "Times New Roman", Times, serif; display:inline-block; *display:inline;
*zoom:1;
background:url(http://img4.cache.netease.com/digi/img13/sec/sprites.png) 9px -46px no-repeat; padding-left:32px; border-left:1px solid #c5c5c5; vertical-align:top; height:20px; line-height:20px; }
.newsBottom .noCommentCount{background-position:9px -100px;}
.newsList-img { float:left; margin-right:10px; width:200px; height:140px; overflow:hidden; }
/* 新闻缩略图变黄
.newsList-img:hover{background:#ffa800;}
.newsList-img:hover img{padding:4px 3px; width:194px; height:132px;}
*/
.newsDigest { margin-left:230px;line-height:25px; text-indent:2em; }
.keyh {color:#888888; padding-top:16px; text-indent:0;} .keyh a{color:#154F82;}
/*share*/
.netease { background:url(http://img4.cache.netease.com/digi/img13/sec/sprites.png) 0 -20px no-repeat; }
.sina { background:url(http://img4.cache.netease.com/digi/img13/sec/sprites.png) -30px -20px no-repeat; }
.qqZone { background:url(http://img4.cache.netease.com/digi/img13/sec/sprites.png) -60px -20px no-repeat; }
.renren { background:url(http://img4.cache.netease.com/digi/img13/sec/sprites.png) -90px -20px no-repeat; }
.ydCloud { background:url(http://img4.cache.netease.com/digi/img13/sec/sprites.png) -120px -20px no-repeat; }
.netease, .sina, .qqZone, .renren, .ydCloud { display:inline-block; margin-left:10px; width:20px; height:20px; line-height:20px;  -webkit-transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear; -moz-transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear; -o-transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear; transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear; cursor:pointer; overflow:hidden;font-size:0;line-height:0;vertical-align: middle; }
.netease:active, .netease:focus, .netease:hover { background: transparent url('http://img4.cache.netease.com/digi/img13/sec/sprites.png') no-repeat 0 0; }
.sina:active, .sina:focus, .sina:hover { background: transparent url('http://img4.cache.netease.com/digi/img13/sec/sprites.png') no-repeat -30px 0; }
.qqZone:active, .qqZone:focus, .qqZone:hover { background: transparent url('http://img4.cache.netease.com/digi/img13/sec/sprites.png') no-repeat -60px 0; }
.renren:active, .renren:focus, .renren:hover { background: transparent url('http://img4.cache.netease.com/digi/img13/sec/sprites.png') no-repeat -90px 0; }
.ydCloud:active, .ydCloud:focus, .ydCloud:hover { background: transparent url('http://img4.cache.netease.com/digi/img13/sec/sprites.png') no-repeat -120px 0; }
.newsBottom { padding:12px 0 }
.newsBottom .shareBox { color:#888; float:right }
.newsBottom .sourceDate { float:left; color:#888 }
.newsBottom .sourceDate span { display:inline-block; padding:0 5px 0 0 }
.newsList-pictures { position:relative; background-color:#f8f8f8; padding:16px 30px 18px 30px; text-align:center; margin:10px 0 0 0; width:540px }
.newsList-pictures b { border-color: transparent transparent #f8f8f8 transparent; border-style: dashed dashed solid dashed; border-width: 10px; font-size: 0; height: 0; line-height: 0; position: absolute; left: 50%; top: -19px; margin-left:-5px; transition: transform 0.2s ease-in 0s; width: 0; text-indent:-999em }
.newsList-pictures p.title span { background:url(http://img3.cache.netease.com/digi/notebook2013/iconList.png) 0 -358px no-repeat; display:inline-block; padding-left:16px; color:#888 }
.newsList-pictures li { border:0; float:left; margin:10px 10px 0 0; padding:0 }
.newsList-pictures li a { display:block; width:100px; height:75px; overflow:hidden }
.newsList-pictures li a:hover img { width:92px; height:69px; }
.newsList-pictures li a:hover { padding:3px 4px; background-color:#ffa800; width:92px; height:69px; overflow:hidden }
.newsList-pictures li.last { margin:10px 0 0 0; }
.newsList-pictures li.last a { display:block; width:100px; height:75px; color:#fff; text-align:center; line-height:75px; background:#ffa800; }
.newsList-pictures li.last a:hover { padding:0; width:100px; height:75px; }
.newsList-pictures li.last span { font-size:30px; }
/* 文章嵌入图集 */
.in-photoset { background:#f8f8f8; padding:0 0 17px 30px; position:relative; }
.in-photoset h4 { text-align:center; color:#888; padding-top:5px; }
.in-photoset p { margin:0; display:inline-block; *display:inline;
*zoom:1;
padding:10px 0 10px 18px; background:url("http://img3.cache.netease.com/digi/notebook2013/iconList.png") 0 -348px no-repeat; }
.in-photoset a { color:#0f6b99; }
.in-photoset-lst-l { float:left; padding-right:10px; }
.in-photoset-lst-l a { display:block; }
.in-photoset-lst-l a:hover { background:#ffa800; }
.in-photoset-lst-l a:hover img { padding:4px 3px; width:94px; height:67px; }
.in-photoset-lst .last { float:left; width:100px; height:75px; background:#ffa800; text-align:center; line-height:75px; }
.in-photoset-lst .last a { color:#fff; }
.in-photoset-lst .last strong { font-weight:normal; font-size:33px; font-family:"宋体"; }
.in-photoset-deco { display:block; position:absolute; top:-20px; left:50%; margin-left:-5px; width: 0; height: 0; border-width: 10px 10px; border-style: solid; border-color: #fff #fff #f8f8f8 #fff; font-size: 0; line-height: 0; }
.newsList li:hover .in-photoset-deco { border-color: #f8f8f8; }
.hotTags { border-bottom:1px dotted #C5C5C5; height:27px; padding:0 0 8px 0; clear:both; margin:0 auto;}
.hotTags span { float:left; font-size:18px; font-family:\5FAE\8F6F\96C5\9ED1; }
.hotTags p { float:right; color:#686868; line-height:30px }
.hotTags p a { color:#686868 }
.mod-list li { background: url(http://img6.cache.netease.com/cnews/news2012/img/icons-sprites.png) no-repeat scroll 0 -140px transparent; clear: both; overflow: hidden;height: 24px; line-height: 24px; padding-left: 9px;}
.main-list li { background: url(http://img6.cache.netease.com/cnews/news2012/img/icons-sprites.png) no-repeat scroll 0 -140px transparent; clear: both; font-size: 14px; height: 28px; line-height: 28px; padding-left: 9px; }
.sub-list li { background: url(http://img6.cache.netease.com/cnews/news2012/img/icons-sprites.png) no-repeat scroll 0 -140px transparent; }
.sub-list li { padding-left: 12px;  }
.bigsizeTitle{ font-size:14px; color:#252525; font-family:\5FAE\8F6F\96C5\9ED1;}
.modlist-h li{ margin:0 0 3px 0;}
.modlist-h li a{ display:block; height:35px; line-height:35px; border-left:4px solid #ddd; padding:0 0 0 10px;}
.modlist-h li a:hover{ color:#fff; background-color:#00b58a; border-left:4px solid #707070; text-decoration:none;-webkit-transition:all 0 linear 0.1s;
-moz-transition:all 0 linear 0.1s;
-o-transition:all 0 linear 0.1s;
transition:all 0 linear 0.1s}
/*bottom-area*/
.bottomArea { background:#f8f8f8; padding:20px 0 30px 0; border-bottom:1px solid #fff; border-top:1px solid #ddd }
.bottomArea li { float:left; }
.bottomArea li a { display:inline-block; width:200px; height:190px; line-height:20px; padding:10px 10px 15px 10px; font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1 }
.bottomArea li a:hover { background-color:#ffa800; color:#fff }
.bottomArea li img { margin-bottom:5px }
.bottomArea li span { display:block; }
.bottomArea .links { color:#888; }
.bottomArea .links a { display:inline-block; padding:0 8px; color:#888; line-height:24px; }
.bottomArea .links a.first { padding:0 8px 0 0 }
/* foot */
.footerbg { height:222px; border-top:1px solid #dddddd; background:none repeat-x scroll 0 0 #F8F8F8; }
.footer { margin:0 auto; width:1000px; }
.footer-channel { width:161px; float:left; padding:20px 0 0 0; }
.footer-content { float:left; }
.other-info { padding:0 0 20px 18px; float:left;height:202px; width:280px; border-left:1px solid #dddddd;  }
.news-sub { width:283px; height:202px; float:left; border-left:1px solid #dddddd; }
.other-channels { width:240px; height:202px; float:left; border-left:1px solid #dddddd; }
.footer-module-content, .footer-module-coo { padding-top:20px; }
.footer-module-content h3, .footer-module-coo h3 { padding:30px 0 10px 20px; color:#808080; font-weight:bold; }
.footer-module-content h3 a, .footer-module-content h3 a:visited { color:#808080; font-weight:bold; }
.footer-module-content h3 a:hover { color:#ba2636; }
.footer-module-content p a, .footer-module-content p a:visited { float:left;color:#888888; height:28px; margin:0 30px 0 0; line-height:28px; width:55px; white-space:nowrap; overflow: visible; display:inline-block; }
.footer-module-coo p a, .footer-module-coo p a:visited { float:left; color:#888888; display:block; height:28px; padding:0 25px 0 0px; width: 60px; white-space: nowrap; overflow: visible; }
.footer-module-coo { color:#888; }
.footer-module-content p a:hover { color:#ba2636; }
.footer-module-coo p a:hover { color:#ba2636; }
.footer-module-coo p { padding-left:24px; line-height:28px;}
.hot-keys a { padding:0 10px; }
.hot-keys span, .hot-keys a, .hot-keys a:visited { color:#333333; line-height:28px; }
.hot-keys a:hover { color:#ba2636; }
.footer-content .search-input-area { width:240px; background:#fff; }
.footer-content .top_search { margin-top:0; }
.footer-content .top_search .textBox { width:218px; _width:210px; }
.footer-content .search-logo { float:right; }
.nav-bottom { color:#616161; background:none repeat-x scroll 0 0 #333333; margin-bottom:-14px; }
/*foot add*/
.footCat{ display:block; padding:0 0 5px 0; font-weight:bold; color:#808080}
.footer-module-content p{ padding-left:25px;}
.footer-module-content p a.footCat{ float:none}