@charset "gb2312";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; }
html, body { height:auto; font: normal 12px/1.3 "微软雅黑", Arial, Helvetica, sans-serif; background:url(http://img1.cache.netease.com/game/wow/pandaria/images/bg-sub-repeat.png) repeat-y center top #030b10; color:#B39265;}
ol, ul, li { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: 0; }
button::-moz-focus-inner { padding: 0; border: 0; }
h2 { color:#008467; }
a { outline: none; text-decoration: none; color: #FFB100;}
a:hover { color:#fff;}
p { margin: 0.5em 0 }
.clear { clear: both; display: block; margin: 0; padding: 0; }
.hide { display: none; }
.float-left { float: left; }
.bottom-block { height:300px;}
.mop-bg-top { background:url(http://img1.cache.netease.com/game/wow/pandaria/images/mop-bg-top.jpg) no-repeat center top; height:100%;}
.mop-bg-top-2 { background:url(http://img1.cache.netease.com/game/wow/pandaria/images/mop-bg-top-2.jpg) no-repeat center top; height:100%;}
.mop-bg-bottom { background:url(http://img1.cache.netease.com/game/wow/pandaria/images/mop-bg-bottom.jpg) no-repeat center bottom; height:100%;}
/* Wrapper*/
.mop-wrapper { width:960px; margin:0 auto;}
/* Banner */
.mop-banner { position:relative; height:430px;}
a.w-index { display:block; width:220px; height:35px; position:absolute; left:15px; top:25px; }
/* MOP Nav */
.mop-nav { position:relative; height:85px;}
.mop-nav span { display:block; line-height:25px; color:#cc9933; text-align:center; font-size:20px; padding-top:25px; }
.mop-nav a { line-height:25px; color:#cc9933; text-align:center; font-size:20px; padding-top:25px; cursor:pointer;}
.mop-nav a:hover { color:#fff;}
.mop-nav .nav-part-1 { width:304px; height:85px; position:absolute; left:4px; top:0; }
.mop-nav .nav-part-2 { width:304px; height:85px; position:absolute; left:323px; top:0; }
.mop-nav .nav-part-3 { width:304px; height:85px; position:absolute; left:640px; top:0; }
.mop-nav .h-color { color:#959696; }
/* About MOP */
.mop-one { position:relative; height:350px;}
.about-mop { position:absolute; left:400px; top:30px; width:500px;}
.about-mop-h2 { font-size:18px; font-weight:bold; height:35px;}
.about-mop p { line-height:20px; text-indent:2em; }
/* Weibo */
.weibo { background:url(http://img1.cache.netease.com/game/wow/pandaria/images/weibo-bg.jpg) no-repeat center top; height:496px; position:relative;}
.pandaria-left { position:absolute; left:40px; top:50px;}
.pandaria-right { position:absolute; left:638px; top:160px;}
.mop-newplay { background:url(http://img1.cache.netease.com/game/wow/pandaria/images/newplay.jpg) no-repeat center top; height:435px; position:relative;}
.mop-newclass { background:url(http://img1.cache.netease.com/game/wow/pandaria/images/newclass.jpg) no-repeat center top; height:513px; position:relative;}
.mop-newtalent { background:url(http://img1.cache.netease.com/game/wow/pandaria/images/newtalent.jpg) no-repeat center top; height:520px; position:relative;}
.mop-dungeon { background:url(http://img1.cache.netease.com/game/wow/pandaria/images/newdungeon.jpg) no-repeat center top; height:420px; position:relative;}
.mop-newplay a { width:230px; height:80px; display:block; padding:20px 0 0 110px; color:#b39265; }
.mop-newplay a:hover { color:#fff;}
.mop-newplay .tzms { position:absolute; left:75px; top:95px;}
.mop-newplay .cwtz { position:absolute; left:530px; top:95px;}
.mop-newplay .cjzy { position:absolute; left:75px; top:250px;}
.mop-newplay .ywboss { position:absolute; left:530px; top:250px;}
.mop-newplay span { display:block; text-align:right;}
.mop-newplay span a { color:#ffb109;}
.mop-newplay span a:hover { color:#fff;}
.mop-newplay h2 { position:absolute; left:100px; top:40px; font-size:20px;}
.mop-newplay h3 { color:#fbc30d; font-size:14px; padding-left:110px;}
.mop-newclass h2 { position:absolute; left:100px; top:60px; font-size:20px;}
.mop-newclass .pandaria-class { width:500px; height:45px; position:absolute; top:100px; left:80px; }
.mop-newclass .pandaria-class .classleft { font-size:18px; float:left; color:#fff; line-height:45px;}
.mop-newclass .pandaria-class .classright { float:left; width:289px; height:35px; background:url(http://img1.cache.netease.com/game/pandaria/images/class-icon.gif) no-repeat 0 0; margin:5px 0 0 15px; display:inline;}
.mop-newclass .pandaria-class .classright ul { margin-left:5px; }
.mop-newclass .pandaria-class .classright li { float:left; margin:0 9px 0 0; display:inline;}
.mop-newclass .pandaria-class .classright li a { display:block; width:30px; height:30px; }
.mop-newclass .pandaria-class .classright li a.ws:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class-icon.gif) no-repeat -5px -35px; }
.mop-newclass .pandaria-class .classright li a.fs:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class-icon.gif) no-repeat -44px -35px; }
.mop-newclass .pandaria-class .classright li a.dz:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class-icon.gif) no-repeat -83px -35px; }
.mop-newclass .pandaria-class .classright li a.zs:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class-icon.gif) no-repeat -122px -35px; }
.mop-newclass .pandaria-class .classright li a.lr:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class-icon.gif) no-repeat -161px -35px; }
.mop-newclass .pandaria-class .classright li a.ms:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class-icon.gif) no-repeat -200px -35px; }
.mop-newclass .pandaria-class .classright li a.sm:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class-icon.gif) no-repeat -239px -35px; }
.mop-newclass .pandaria-text { width:470px; position:absolute; left:80px; top:150px; }
.mop-newclass .pandaria-text p { text-indent:0; }
.mop-newclass .pandaria-skill { width:550px; height:120px; position:absolute; left:65px; top:340px; }
.mop-newclass .pandaria-skill .skill-icon { display:block; float:left; width:39px; height:39px;}
.mop-newclass .pandaria-skill .skill-list { width:165px; height:50px; float:left;}
.mop-newclass .pandaria-skill .skill-text { padding-left:5px; float:left; }
.mop-newclass .pandaria-skill .skill-title { display:block; color:#caac84; font-weight:bold;}
.mop-newclass .pandaria-skill p { line-height:10px; text-indent:0; color:#b68542; }
.mop-class { width:460px; height:120px; position:absolute; left:60px; top:323px; }
.mop-class h3 { height:20px; line-height:20px; font-size:14px; color:#008467;}
.mop-class a { display:block; width:92px; height:42px; float:left; margin:10px 0 0 0;}
.mop-class a.mop-dk:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class.gif) no-repeat 0 0;}
.mop-class a.mop-qs:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class.gif) no-repeat -96px 0;}
.mop-class a.mop-xd:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class.gif) no-repeat -191px 0;}
.mop-class a.mop-lr:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class.gif) no-repeat -286px 0;}
.mop-class a.mop-zs:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class.gif) no-repeat -381px 0;}
.mop-class a.mop-sm:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class.gif) no-repeat 0 -43px;}
.mop-class a.mop-ss:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class.gif) no-repeat -96px -43px;}
.mop-class a.mop-ms:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class.gif) no-repeat -191px -43px;}
.mop-class a.mop-dz:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class.gif) no-repeat -286px -43px;}
.mop-class a.mop-fs:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/class.gif) no-repeat -381px -43px;}
.mop-newtalent h2 { position:absolute; left:710px; top:50px; font-size:20px;}
.mop-newtalent .about-wuseng { width:455px; position:absolute; left:480px; top:80px; }
.mop-newtalent .about-wuseng p { text-indent:2em; line-height:20px;}
.mop-newtalent .about-wuseng a { color:#52b08b;}
.mop-newtalent .about-wuseng p span { color:#ffb100;}
.monk-weap { color:#b39265; font-weight:bold; font-size:14px; padding-left:90px; }
.monk-armor { line-height:30px; padding-top:10px; }
.monk-weapons { line-height:25px; }
.monk-skill { line-height:20px; margin-top:17px; line-height:35px; height:35px;}
.spinning-kick { background:url(http://img1.cache.netease.com/game/pandaria/images/monk-skill.jpg) no-repeat -1px 0; }
.roll { background:url(http://img1.cache.netease.com/game/pandaria/images/monk-skill.jpg) no-repeat -44px 0; }
.jade-dragon { background:url(http://img1.cache.netease.com/game/pandaria/images/monk-skill.jpg) no-repeat -87px 0; }
.mop-talent { width:367px; height:140px; position:absolute; left:563px; top:318px; }
.mop-talent p { line-height:20px; text-indent:2em; padding:1px 5px;}
.mop-talent a { font-size:18px; height:35px; line-height:35px; width:367px; text-align:center; display:block;background:#2f1f12; }
.mop-talent a:hover { background:#4b321d;}
.mop-dungeon h2 { font-size:20px; position:absolute; left:90px; top:50px;}
.mop-dungeon h3 { position:absolute; left:310px; top:115px; font-size:14px;}
.mop-dungeon p { position:absolute; left:310px; top:155px; width:205px; text-indent:2em;}
/* MOP Dungeon */
.mop-dungeon .mop-newmap { width:520px; height:100px; position:absolute; left:9px; top:260px;}
.mop-dungeon .mop-newmap li { float:left; display:inline; margin-left:29px;}
.mop-dungeon .mop-newmap li a { width:140px; height:100px; display:block; }
.mop-dungeon .mop-newmap li cite { display:block; font-style:normal; width:140px; text-align:center; line-height:45px;}
.mop-dungeon .mop-newdungeon { width:390px; height:340px; position:absolute; left:528px; top:50px;  }
.mop-dungeon .mop-newdungeon li { float:left; display:inline; margin:32px 0 0 30px;}
.mop-dungeon .mop-newdungeon li a { width:160px; height:80px; display:block; float:left; }
.mop-dungeon a.mop-tdungeon { position:absolute; left:37px; top:112px;}
.mop-dungeon a.mop-tdungeon { display:block; background:url(http://img1.cache.netease.com/game/pandaria/images/newfb-movie.jpg) no-repeat 0 0; width:229px; height:106px;}
.mop-dungeon a.mop-tdungeon:hover { background:url(http://img1.cache.netease.com/game/pandaria/images/newfb-movie.jpg) no-repeat 0 -106px;}
/* tooltip */
.ui-tooltip { position: absolute; z-index: 9005; width: auto; height: auto; max-width: 300px; }
.ui-tooltip .tooltip-content { width: auto; height: auto; }
.ui-tooltip table { border-collapse: collapse; border-spacing: 0; }
.ui-tooltip td { margin: 0; padding: 0 }
.tooltip-frame { background: transparent; border: none; display: none; height: 0; position: absolute; z-index: 999; width: auto; height: auto; max-width: 300px; }
.ui-tooltip {  background-color: rgba(15, 15, 15, 0.9); border: 1px solid #353837; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 15px #000000; color: #FFFFFF; font-size: 12px; padding: 10px; }
.ui-tooltip { -moz-border-radius: 5px; -webkit-border-radius: 5px;  -moz-box-shadow: #000 0 0 15px; -webkit-box-shadow: #000 0 0 15px; background-color: rgba(15, 15, 15, 0.9);}
.ui-tooltip h3 { font-size: 16px; font-weight: normal; color:#fff; } 
.ui-tooltip li { clear: both; color:#fff;}
.ui-tooltip a { color: white; }
.ui-tooltip .tip { border-bottom: 0; }
	.color-tooltip-yellow { color: #ffd100 !important; }
	.color-tooltip-red { color: #f00 !important; }
	.color-tooltip-green { color: #0f0 !important; }
	.color-tooltip-blue { color: #71D5FF !important; }
	.color-tooltip-beige { color: #FFFF98 !important; }
.icon-frame-gloss { display: block; height: 43px; width: 43px; margin-right:5px;}
.circle-frame { border-width: 2px; border-left-color: #B1B2B4; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
.table .icon-frame { vertical-align: middle; }
.frame-contents { float:left;}
.icon-frame-gloss { cursor: help; }
.mop-book { width:960px; height:730px; background:url(http://img1.cache.netease.com/game/wow/pandaria/images/mopbook.jpg) no-repeat -1px top; position:relative;}
.mop-book p { width:350px; text-indent:2em; color:#6c3500; line-height:20px;}
.mop-book .book-time { position:absolute; left:660px; top:165px; width:230px; height:30px; color:#9e3402;}
.mop-book .book-page-list { width:850px; height:50px; position:absolute;}
.mop-book .book-left { position:absolute; top:240px; left:100px;}
.mop-book .book-left .mop-movie { box-shadow: #000 0 0 15px;}
.mop-book .book-right { position:absolute; top:230px; left:520px;}
.mop-book .book-right .book-img { margin:20px 0 20px 0;}
.mop-book .book-right .book-img .book-img-left { float:left; display:inline; box-shadow: #000 0 0 15px; margin-left:10px; }
.mop-book .book-right .book-img .book-img-right { float:left; display:inline; box-shadow: #000 0 0 15px; margin-left:30px;}
.mop-ds { height:284px; background:url(http://img1.cache.netease.com/game/wow/pandaria/images/mopds.jpg) no-repeat -1px top; position:relative;}
.mop-ds h2 { position:absolute; left:90px; top:65px; font-size:18px;}
.mop-ds a { width:90px; height:45px; display:block;}
.mop-ds a.ds-top { background:url(http://img1.cache.netease.com/game/wow/pandaria/images/ds-list.gif) no-repeat 0 0; text-align:center; line-height:20px;}
.mop-ds a.ds-top:hover { background:url(http://img1.cache.netease.com/game/wow/pandaria/images/ds-list.gif) no-repeat -90px 0;}
.mop-ds a.ds-bottom { background:url(http://img1.cache.netease.com/game/wow/pandaria/images/ds-list.gif) no-repeat 0 -45px; line-height:68px; text-align:center;}
.mop-ds a.ds-bottom:hover { background:url(http://img1.cache.netease.com/game/wow/pandaria/images/ds-list.gif) no-repeat -90px -45px;}
.mop-ds .p1 { position:absolute; top:147px; left:210px;}
.mop-ds .p2 { position:absolute; top:115px; left:280px;}
.mop-ds .p3 { position:absolute; top:153px; left:350px;}
.mop-ds .p4 { position:absolute; top:125px; left:420px;}
.mop-ds .p5 { position:absolute; top:175px; left:510px;}
.mop-ds .p6 { position:absolute; top:144px; left:620px;}
.mop-ds .p7 { position:absolute; top:175px; left:710px;}
.mop-sw { height:962px; background:url(http://img1.cache.netease.com/game/wow/pandaria/images/mop-sw-2.jpg) no-repeat -1px top; position:relative;}
.mop-sw h2 { position:absolute; left:90px; top:30px; font-size:18px;}
.mop-sw p.top-p { position:absolute; left:60px; top:60px; text-indent:2em; width:850px; line-height:20px;}
.mop-sw .sw-1 { width:370px; height:150px; position:absolute; left:80px; top:190px;}
.mop-sw .sw-1 img { margin:30px 10px 0 10px; box-shadow: #000 0 0 15px; border:2px solid #50352d;}
.mop-sw .sw-1 p { width:210px; float:right; display:inline; margin-right:10px; text-indent:2em; line-height:20px;}
.mop-sw .sw-2 { width:370px; height:150px; position:absolute; left:500px; top:190px;}
.mop-sw .sw-2 img { margin:20px 0 0 10px; }
.mop-sw .sw-2 p { width:280px; float:right; display:inline; margin-right:10px; line-height:20px; margin-top:15px; }
.mop-sw .sw-2-top { width:365px; height:80px; border-bottom:1px dashed #50352d;}
.mop-sw .sw-3 { width:370px; height:150px; position:absolute; left:80px; top:420px;}
.mop-sw .sw-4 { width:370px; height:150px; position:absolute; left:500px; top:420px;}
.mop-sw .sw-5 { width:370px; height:150px; position:absolute; left:80px; top:610px;}
.mop-sw .sw-6 { width:370px; height:150px; position:absolute; left:500px; top:610px;}
.mop-sw .sw-7 { width:370px; height:150px; position:absolute; left:80px; top:800px;}
.mop-sw .sw-8 { width:370px; height:150px; position:absolute; left:500px; top:800px;}
.mop-sw img.sw-img  { margin:30px 10px 0 10px; box-shadow: #000 0 0 15px; border:2px solid #50352d;}
.mop-sw p.sw-p { width:220px; float:right; display:inline; margin-right:10px; text-indent:2em; line-height:20px;}
.mop-question { height:850px; background:url(http://img1.cache.netease.com/game/wow/pandaria/images/mop-qs.jpg) no-repeat -1px top; position:relative;}
.mop-question h2 { position:absolute; left:90px; top:80px; font-size:18px;}
.mop-question li { background:url(http://img1.cache.netease.com/game/wow/pandaria/images/bullet2.gif) no-repeat left 5px; padding-left:20px; line-height:20px; margin-top:30px;}
.mop-question .qs-right { width:505px; position:absolute; left:410px; top:100px;}
.mop-question .qs-bottom-left { width:420px; position:absolute; left:40px; top:480px;}
.mop-question .qs-bottom-right { width:420px; position:absolute; left:500px; top:480px;}
.book-page-menu { width:840px; height:25px; position:absolute; left:70px; top:70px; }
.book-page-menu .page-menu-left { width:50px; height:25px; float:left; font-size:14px; background:url(http://img1.cache.netease.com/game/wow/pandaria/images/onpage.jpg) no-repeat left 0; padding-left:25px;}
.book-page-menu .page-menu-center { width:680px; height:25px; float:left; }
.book-page-menu .page-menu-center ul { margin:0 auto; width:175px;}
.book-page-menu .page-menu-center ul li { float:left;}
.book-page-menu .page-menu-center ul .nopage-link { width:15px; height:15px;  margin:0 5px 0 5px; background:url(http://img1.cache.netease.com/game/wow/pandaria/images/book-page-menu.gif) no-repeat -8px -2px; border-radius: 10px; box-shadow: #000 0 0 5px;}
.book-page-menu .page-menu-center ul .onpage-link { width:15px; height:15px;  margin:0 5px 0 5px; background:url(http://img1.cache.netease.com/game/wow/pandaria/images/book-page-menu.gif) no-repeat -34px -2px; border-radius: 10px; box-shadow: #000 0 0 5px;}
.book-page-menu .page-menu-center ul a { display:block; width:15px; height:15px;}
.book-page-menu .page-menu-right { width:50px; text-align:right; height:25px; float:left; font-size:14px; background:url(http://img1.cache.netease.com/game/wow/pandaria/images/nextpage.jpg) no-repeat right 0; padding-right:25px;}
.nextpage { position:absolute; left:800px; bottom:120px; font-size:14px; width:50px; height:20px; background:url(http://img1.cache.netease.com/game/wow/pandaria/images/bullet2.gif) no-repeat left center; padding-left:15px;  font-weight:bold;}
.nextpage a { color:#900;  font-weight:bold;}
.nextpage a:hover { color:#fff;}
.onpage { position:absolute; left:100px; bottom:110px; font-size:14px; width:50px; height:20px; background:url(http://img1.cache.netease.com/game/wow/pandaria/images/bullet1.gif) no-repeat left center; padding-left:15px; font-weight:bold;}
.onpage a { color:#900;}
.onpage a:hover { color:#fff;}