@charset "utf-8";
.esport-left { width:600px; float:left; }
.area-location { height:45px; border-bottom:3px solid #0078A9;}
.area-location a { background:url(http://img3.cache.netease.com/game/esport/template/images/news-list-icon.gif) no-repeat left center; padding:0 5px 0 10px; line-height:45px;}
.esport-right { width:330px; float:left; margin:0 0 0 8px; padding:10px; background:#efeeed; border:1px solid #ccc; }
/* Article */
.article-content { color:#333; padding:0 10px; }
.article-content #h1title { font-size:22px; margin:15px 0 0;}
.article-content .info { font-size:12px; line-height:21px; padding:5px 0;}
.article-content .news-list, .article-content .images-list { margin:10px 0;}
#endText { width:580px; text-align:justify; text-justify:inter-ideograph; overflow:hidden; padding:9px 0; font-size:14px; clear:both; line-height:23px; word-wrap:break-word; }
#endText strong { font-weight:bold; color:#000; }
#endText h2 { font-size:14px; }
#endText .icon { margin:3px 0 0; border:0; }
#endText p { font-size:14px; line-height:23px; text-indent:2em; margin: 14px 0; }
#endText a, #endText a:visited { color:#0078a9; text-decoration:none; }
#endText a:hover { color:#BA2636; text-decoration: underline; }
#endText .f_center { text-align:center; text-indent:0; }
#endText .f_justify { text-align:justify; text-justify:inter-ideograph; text-indent:0; }
#endText table td p { text-indent:0; }
#endText .blz-news { background: url("http://img1.cache.netease.com/game/blizzard/static/images/blizzard-new-bg.jpg") no-repeat scroll center 20px #13181E; border: 1px solid #333333; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 12px rgba(0, 0, 0, 0.8) inset; color: #33A7FF; margin: 20px; padding: 20px; text-align: left; }
#endText .blz-news a { color: #FFFFFF; }
#endText .blz-news a:hover { text-decoration: underline; }
#endText .blz-news h3 { background: url("http://img1.cache.netease.com/game/blizzard/static/images/blz-icon.gif") no-repeat scroll 0 center transparent; border-bottom: 1px solid #2D2D2D; font-size: 14px; font-weight: bold; height: 20px; line-height: 20px; padding: 5px 0 5px 30px; }
#endText .blz-news li { list-style: disc inside none; }
#endText .blz-news p { color:#0099CC; font-size:12px;}
#endText .blue-post .blue-post-content p { font-size:12px;}
#endText .blue-post .blue-post-spokesman img { border:0;}
#endText li { list-style-type: disc; font-size:12px; }
#endText ul { padding: 0 0 0 25px;}
#endText ul li ul { padding: 0 0 0 15px;}
#endText ul li ul li ul { padding: 0 0 0 15px;}
#endText img { box-shadow:0 0 5px #000;}
#endText .no-shadow { box-shadow:none;}
#endText .box-show {background: #1F0A26; border: 1px solid #270B33; border-radius: 5px; box-shadow: 0 0 5px #000000; margin: 0 auto; padding: 5px 10px; width: 550px;}
#endText hr { border: 1px solid #0078a9;}
.endMore { height:46px; line-height:44px; overflow:hidden; clear:both; margin:10px 0 20px 0; background:#cbcdd2; border:1px solid #999; border-radius:3px; }
.endMore .left { display:inline; margin-left:9px; text-decoration:none; }
.endMore .left a { color:#0078a9; }
.endMore .right { display:inline; margin-right:9px; }
.endMore .copyLink { background:url(bg_n.gif) left -364px no-repeat; padding-left:23px; }
.endMore .mail { background:url(bg_n.gif) -157px -364px no-repeat; padding-left:23px; }
.article-more { }
.article-more .more-left { float:left; width:290px; padding:0 5px 10px 5px;}
.article-more .more-right { float:left; width:290px; padding:0 0 10px 5px;}
#endText img.icon { width:12px; height:11px; margin:0; box-shadow:none;}
.more-left .icon { margin: 0 0 3px;}
#endText table.border, #endText .border tr, #endText .border td { border:1px solid #999;}
.f_table { border-collapse: collapse; margin: 0 auto;}
.f_left { text-align: left;}
.f_right { text-align: right;}
			#comment { background:#efeeed; padding:10px; border:1px solid #cecdcd; margin:20px auto;}
			#comment li { border-bottom:1px solid #cecdcd; height:35px; line-height:35px; list-style:decimal inside; padding:0 10px;}
			#comment li .right span { display:inline-block; text-align:left; padding:0 0 0 10px;}
			#comment li .author { width:150px;}
			#comment li .comment { width:150px;}
			#comment li strong { color:#990000; font-weight:normal;}
			#comment .top-10 { background:#0078a9; color:#fff;}
			#comment .top-10 a { color:#fff;}
.comment-list-top { height:60px; position:relative; line-height:60px; margin:20px 0 0 0;}
.comment-list-top .comment-title { height:60px; position:absolute; left:10px; top:0; padding:0 0 0 115px; background:url(http://img3.cache.netease.com/game/esport/images/esport-comment-icons.jpg) no-repeat 0 8px; font-size:18px;}
.comment-list-top a.comment-join { height:60px; display:block; position:absolute; right:10px; top:0; padding:0 0 0 90px; background:url(http://img3.cache.netease.com/game/esport/images/esport-comment-icons.jpg) no-repeat 0 -68px;}