@charset "utf-8";
/* CSS Document */
html, body { background:url(http://img3.cache.netease.com/game/esport/template/images/esport-bg-center.jpg) repeat-y center 0; color:#333;}
.background-bottom { background:url(http://img3.cache.netease.com/game/esport/template/images/esport-bg-bottom.jpg) no-repeat center bottom;}
.background-top { background:url(http://img3.cache.netease.com/game/esport/template/images/esport-bg-top3.jpg) no-repeat center top;}
.live .background-top { background:url(http://img3.cache.netease.com/game/esport/images/esport-bg-top4.jpg) no-repeat center top;}
.wrapper { width:960px; margin:0 auto;}
.wrapper li { line-height:22px;}
a { color:#333;}
a:hover { color:#990000;}
.select input { margin:0 5px 3px 0; vertical-align:middle;}
.select label { line-height:20px;}
.select dd { margin:5px 0;}
.tag-none { display:none;}
.tag-active { display:block;}
.tag-active a { text-decoration:none; }
.title-tag { float:right;}
.title-tag li { float:left;  padding:5px 0; }
.title-tag li a { padding:0 10px; height:25px; line-height:25px; display:inline-block; font-size:14px; color:#0078a9 !important; }
.title-tag .tag-active { background:url(http://img3.cache.netease.com/game/esport/template/images/sidebar-on.gif) no-repeat center bottom; padding:5px 0 5px 0;}
.title-tag .tag-active a { background:#0078a9; border-radius:2px; color:#fff !important;}
.sidebar { padding:0 0 10px 0;}
.sidebar .sidebar-title { border-bottom:3px solid #0078a9; height:35px; line-height:35px; }
.sidebar .sidebar-title a { color:#003366;}
.sidebar .sidebar-title a:hover { color:#990000;}
.sidebar .sidebar-title h2 { font-size:18px; padding:0 0 0 50px;}
.sidebar .sidebar-title h2.news { background:url(http://img3.cache.netease.com/game/esport/template/images/title-sprites.png) no-repeat 0 -210px;}
.sidebar .sidebar-title h2.image { background:url(http://img3.cache.netease.com/game/esport/template/images/title-sprites.png) no-repeat 0 -105px;}
.sidebar .sidebar-title h2.video { background:url(http://img3.cache.netease.com/game/esport/template/images/title-sprites.png) no-repeat 0 -53px;}
.sidebar .sidebar-title h2.event { background:url(http://img3.cache.netease.com/game/esport/template/images/title-sprites.png) no-repeat 0 -260px;}
.sidebar .sidebar-title h2.special { background:url(http://img3.cache.netease.com/game/esport/template/images/title-sprites.png) no-repeat 0 -210px;}
.sidebar .sidebar-title h2.vote { background:url(http://img3.cache.netease.com/game/esport/template/images/title-sprites.png) no-repeat 0 0;}
.sidebar .sidebar-content { padding:10px 0 0 0;}
.sidebar .right-link { float:right; line-height:35px; padding:0 10px 0 0;}
.esport-vote {}
.esport-vote .vote-text { padding:10px; background:#dddcda; margin:0 0 10px;}
.esport-vote .vote-text p { line-height:20px; text-indent:2em;}
.esport-vote .select { padding:0 0 0 10px;}
.esport-vote .select li { height:25px; line-height:25px;}
.esport-vote .select li span { display:block; padding:0 5px 0 0; float:left;}
.esport-vote .select .btn { background:url(http://img3.cache.netease.com/game/esport/template/images/vote-buttons.png) no-repeat 0 6px; width:15px; height:25px; }
.esport-vote .select .btn-on { background:url(http://img3.cache.netease.com/game/esport/template/images/vote-buttons.png) no-repeat 0 -35px; width:15px; height:25px; }
.esport-vote .result { width:320px; text-align:center; margin:10px auto;}
.esport-vote .result .submit { background:url(http://img3.cache.netease.com/game/esport/template/images/vote-submit.jpg) no-repeat 0 0; border:0; cursor:pointer; display:block; width:150px; height:30px; float:left;}
.esport-vote .result .submit:hover { background:url(http://img3.cache.netease.com/game/esport/template/images/vote-submit.jpg) no-repeat 0 -30px;}
.esport-vote .result a { background:#dddcda; border:1px solid #999; font-size:14px; margin:0 0 0 20px; display:block; width:148px; height:28px; line-height:28px; float:left;}
.esport-vote .result a:hover { border:1px solid #990000; color:#990000;}
.news-list {}
.news-list li { line-height:22px; }
.news-list .icon { background:url(http://img3.cache.netease.com/game/esport/template/images/news-list-icon.gif) no-repeat left center; }
.news-list li a:hover { text-decoration:underline;}
.news-list .news-time { float:right; color:#666;}
.icon { display:inline-block; vertical-align:middle; width:16px; height:16px; margin:0 3px 2px; }
.icon.sc2 { background:url(http://img1.cache.netease.com/game/esport/template/images/sc2.png) no-repeat 0 0;}
.icon.dota2 { background:url(http://img1.cache.netease.com/game/esport/template/images/dota2.png) no-repeat 0 0;}
.icon.cf { background:url(http://img3.cache.netease.com/game/esport/template/images/cf.png) no-repeat 0 0;}
.icon.yxsg { background:url(http://img1.cache.netease.com/game/esport/template/images/yxsg.png) no-repeat 0 0;}
.icon.wot { background:url(http://img1.cache.netease.com/game/esport/template/images/tk.png) no-repeat 0 0;}
.icon.lol { background:url(http://img1.cache.netease.com/game/esport/template/images/lol.jpg) no-repeat 0 0;}
.icon.ntes { background:url(http://img1.cache.netease.com/game/esport/template/images/ntes.png) no-repeat 0 0;}
.icon.heroes { background:url(http://img1.cache.netease.com/game/esport/template/images/heroes.png) no-repeat 0 0;}
.icon.hs { background:url(http://img1.cache.netease.com/game/esport/template/images/hs.png) no-repeat 0 0;}
.icon.war3 { background:url(http://img1.cache.netease.com/game/esport/template/images/war3.png) no-repeat 0 0;}
.images-list {}
.images-list li { float:left; padding:5px;}
.images-list li span { display:block; line-height:22px; text-align:center;}
.images-list li span a, .images-list li span a:hover { border:0;}
.images-list li a { display:block; padding:1px; border:1px solid #999;}
.images-list li a:hover { border:1px solid #990000;}
/* Header */
.header { height:350px; position:relative; z-index:50;}
.header .esport-logo {}
.header .esport-search { position:absolute; left:598px; top:125px;}
.header .esport-search .search-input { background:#ccc; border:1px solid #999; border-radius:5px 5px 5px 5px; height:30px; line-height:30px; padding:4px 32px 4px 5px; width:325px; color:#333;}
.header .esport-search .search-button { height:32px; width:32px; background:url(http://img3.cache.netease.com/game/esport/template/images/search-button.png) no-repeat 0 0; position:absolute; left:330px; top:4px;}
.header .esport-menu { height:50px; background:url(http://img3.cache.netease.com/game/esport/template/images/esport-menu.jpg) no-repeat 0 0; position:absolute; left:0; top:290px;}
.header .esport-menu li { float:left; width:120px; height:50px;}
.header .esport-menu li a { color:#333; display:block; width:120px; height:50px; text-align:center; line-height:50px; font-size:14px; }
.header .esport-menu li a:hover { background:url(http://img3.cache.netease.com/game/esport/template/images/esport-menu.jpg) no-repeat -120px -50px;}
.header .esport-menu .esport-flyout-menu { position:relative; width:120px;}
.header .esport-menu .flyout-menu { display:none; border-top:1px solid #999; background:#cbcdd2; border-radius:2px; position:absolute; top:50px; left:0; width:120px;}
.header .esport-menu .flyout-menu li a { padding:0 0 0 10px; width:98px; height:25px; line-height:25px; background:#efeeed; border-radius:2px; color:#333; font-size:12px; text-align:left;}
.header .esport-menu .flyout-menu li a:hover { background:#999; color:#fff;}
.header .esport-menu .flyout-menu li { float:none; margin:5px; width:108px; height:25px; line-height:25px; text-align:left; font-size:12px;}
/* Content */
.content { padding:10px 0 0 0;}
/* Page Number */
.page-number { text-align:center; padding:10px 0; display:block;}
.page-number a { padding:1px 7px; display:inline-block; line-height:20px; border:1px solid #999; color:#666; text-decoration:none; background:#dddcda;}
.page-number a:hover { border:1px solid #990000; color:#990000;}
.page-number span { padding:1px 7px; line-height:20px; display:inline-block; }
.page-number .thispage { border:1px solid #666; color:#fff; background:#999;}
.page-number .nopage { border:1px solid #ccc; color:#999;}
/* Footer */
.footer { height:150px; padding:150px 0 0 0; text-align:center;}
.float-window {position: fixed;_position:absolute;top:400px;_top:expression(documentElement.scrollTop+400);z-index: 9000;left:50%; bottom:50px; margin:0 0 0 500px; width:130px; height:222px;color:#333;}
.close-float-window { display:block; width:50px; height:20px; border:1px solid #ccc; text-align:center; line-height:20px; cursor:pointer; float:left; background:#fff; }
.float-window-text {text-align: center;width:130px; line-height:20px; height:20px; display:block; background:#fff; }