body {text-align:center;font-family:宋体,serif;background:#ffffff;font-size:12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote{padding:0; margin:0;}   
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
table{ margin:0 auto;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}   
caption,th {text-align:left;}   
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}   
q:before,q:after {content:'';}   
abbr,acronym {border:0;}
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;}   
strong {font-weight:normal;}
a {color:#000000;text-decoration:none;}
a:visited {color:#83006f;text-decoration:none;}
a:hover {color:#ba2636;text-decoration:underline;}
a:active {color:#ba2636;}
.cWhite,.cWhite:visited,.cWhite a{color:#fff;}
.cYellow,.cYellow:visited{color:#ff0;}
.cGreen,.cGreen:visited{color:#008000;}
.cGray,.cGray:visited,.cGray a{color:#333;}
.cDGray,.cDGray:visited,.cDGray a{color:#727171;}
.cBlack,.cBlack:visited,.cBlack a{color:#000;}
.cBlue,.cBlue:visited,.cBlue a{color:#1E50A2;}
.cRed,.cRed:visited,.cRed a{color:Red;}
.cDRed,.cDRed:visited,.cDRed a{color:#ba2636;}
.cRed a:hover,a.cRed:hover,.cBlue a:hover,a.cBlue:hover,.cDRed a:hover,a.cDRed:hover,.cGray a:hover,a.cGray:hover,.cDGray a:hover,a.cDGray:hover,.cWhite a:hover,a.cWhite:hover,.cBlack a:hover,a.cBlack:hover,.cGreen a:hover,a.cGreen:hover,.cYellow a:hover,a.cYellow:hover{color:#ba2636;}
.fB{font-weight:bold;}
.fI{font-style: italic;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.left{float:left;}
.right{float:right;}
.hidden{display:none;}
.unLine,.unLine a{text-decoration:none;}
.noBorder{border:none;}
.I_V_ {background:url(http://img1.cache.netease.com/img09/icon/icon.png) left center no-repeat; padding-left:18px;}
.I_M_ {background:url(http://img1.cache.netease.com/img09/icon/icon.png) -457px center no-repeat; padding-left:18px;}
.foot{margin:0 auto; width:960px; line-height:21px; clear:both; color:#4d4d4d;}
.foot .text{padding:4px 0 5px; border-bottom:1px solid #4d4d4d; margin:0 0 5px;}
.foot a,.foot a:visited{color:#4d4d4d;}
.foot a:hover {color:#ba2636;}
.clear {clear:both; height:0; overflow:hidden; display:block;}
.clearfix:after {clear:both; height:0; overflow:hidden; display:block; visibility:hidden; content:"."; }
.blankW {background:#fff;}
.blank3 {clear:both; height:3px; overflow:hidden; display:block;}
.blank6 {clear:both; height:6px; overflow:hidden; display:block;}
.blank9 {clear:both; height:9px; overflow:hidden; display:block;}
.blank9w {background:#ffffff; clear:both; height:9px; overflow:hidden; display:block;}
.blank12 {clear:both; height:12px; overflow:hidden; display:block;}
.blank15 {clear:both; height:15px; overflow:hidden; display:block;}
.blank20 {clear:both; height:20px; overflow:hidden; display:block;}
.channel {width:960px; height:29px; margin:0 auto; line-height:21px;}
.channel h1 {width:107px; height:24px; float:left; overflow:hidden; margin:4px 16px 0 0;}
.channel h2 {float:left; overflow:hidden; height:27px; margin-top:2px;}
.channel h2 span {color:#2E94C9;}
.channel h3 {float:left;margin-top:7px;margin-left:10px;}
.channel .hotkey { float:left; margin-left:10px; display:inline; margin-top:10px;}
.channel .hotkey .k1{ color:#603913;}
.channel .top_search {float:right; margin:10px 0 0 0; display:inline;}
.channel .top_search .select_box {background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat -40px -94px  ; width:45px; height:18px; ove rflow:hidden; border:none; position:relative; text-align:left; cursor:pointer; float:left; margin-right:4px;}
.channel .top_search .select_box .select_list {display:block; position:absolute; width:3em; line-height:19px; left:0; top:0; background:#fff; display:none;}
.channel .top_search .select_box .search_site {height:18px; line-height:20px; padding-left:6px; float:left; overflow:hidden;}
.channel .top_search .select_box .select_list {width:43px; border:1px solid #B4B4B4;}
.channel .top_search .select_box {width:45px;}
.channel .top_search .select_box a {display:block; height:18px; text-indent:5px;}
.channel .top_search .select_box a:hover {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
.channel .top_search .select_box a.active {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
.channel .top_search .textBox {width:119px; height:18px; color:#7B7C7D; background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat -84px -94px  ; border:none; float:left; line-height:18px; text-indent:3px;}
.channel .top_search .btn {overflow:hidden; width:41px; height:18px; background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat 0 -94px; border:none; float:left; line-height:19px; font-size:12px; cursor:pointer;}
.channel .top_search form {float:left;}
.channel .weather {height:42px; margin:2px 0 0 0; overflow:hidden;}
.channel_nav{clear:both;width:960px;margin:0 auto; background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) repeat-x 0 0; height:32px;}
.channel_nav .menu{line-height:33px;height:32px;overflow:hidden;background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat 0 -140px;}
.channel_nav .main{float:left;}
.channel_nav .main a,.channel_nav .main span,.channel_nav .main strong{ float:left;margin:0 0 0 7px;}
.channel_nav .main strong a,.channel_nav .main span a{margin:0;}
.channel_nav strong{ font-weight:bold;}
.channel_nav .main .on{margin:5px 0 0 7px; padding:0; background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat 0 -35px; font-weight:bold; font-size:14px; line-height:28px; height:27px; overflow:hidden; position:relative; z-index:1;}
.channel_nav .main .index{margin:5px -9px 0 4px;}
.channel_nav .main .on a{height:27px; overflow:hidden;background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat right -63px; padding:0 7px;}
.channel_nav strong.sp{ background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat -134px -35px; padding-left:8px;}
.channel_nav .exp{ float:right; padding-right:10px; background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat right -172px; height:32px;}
.channel_nav .phone{ background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat -283px -73px; padding:1px 0 0 16px;}
.channel_nav .menu a,.channel_nav .menu a:visited{ color:#fff}
.channel_nav .main .on a,.channel_nav .main .on a:visited{ color:#000}
.channel_nav .menu strong a,.channel_nav .menu strong a:visited{ color:#FFD584}
.channel_nav .list{clear:both; padding-left:13px; text-align:left; line-height:24px; color:#b2b2b2;}
.channel_nav .list a,.channel_nav .list a:visited{ color:#000100}
.channel_navB { background:url(http://img1.cache.netease.com/house/img11/index1107/navbg2.png) repeat-y 0 0; width:960px; clear:both; margin:0 auto; border-bottom:1px solid #B9AAA3;}
.channel_navB .c1 { background:#F3EDE1 url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) repeat-x 0 -300px; width:958px; clear:both; margin:0 auto;}
.channel_navB .c1 h3 { padding:10px 10px 6px; text-align:left; color:#B3B3B3;}
.channel_navB .c1 h3 a ,.channel_navB .c1 h3 a:visited { color:#2b2b2b;}
.channel_navB .c1 h3 a:hover { color:#bc2931;}
.ggarea{width:958px; margin:0 auto; border:1px solid #dcdddd; clear:both; overflow:hidden; text-align:left;background:#fafafa;}
.ggarea .ggtext{padding-left:12px; width:965px;}
.ggarea .ggtext li{width:120px; float:left;margin-right:13px;}
.ggarea .ggtext li a{color:#7b7c7d;}
.ggarea .ggimg{padding-left:12px;}
.ggarea .ggimg li{margin-right:11px; float:left;}
.ggarea .ggimg li.gg125{width:125px;}
.ggarea .ggimg li.gg660{width:660px;}
.ggarea2 {width:960px; margin:0 auto; text-align:left; color:#2b2b2b;}
.ggArea3 {width:960px; margin:0 auto; text-align:left; color:#2b2b2b;}
.gg735 {width:735px; overflow:hidden; float:left;}
.gg210 {width:210px; overflow:hidden; float:right;}
.ggR200 { width:200px; clear:both; margin:0 auto;}
.ggmid { width:415px; clear:both; margin:0 auto;}
.ggmid .c1 { float:left; width:200px;}
.ggmid .c2 { float:right; width:200px;}
.pArea { width:960px; clear:both; margin:0 auto; background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) repeat-y 0 0;}
.pArea .pAreaL { width:735px; float:left;}
.pArea .pAreaR { width:210px; float:right;}
.pArea .pAreaRBg1 { border-top:1px solid #ccc;}
.pAreaEnd01 { width:960px; clear:both; margin:0 auto; height:1px; font-size:1px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) no-repeat -2000px 0;}
.pArea2 { width:960px; clear:both; margin:0 auto; background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) repeat-y -3000px 0;}
.pArea2 .pArea2L { width:735px; float:left;}
.pArea2 .pArea2R { width:210px; float:right;}
.pArea2 .pArea2RBg1 { border-top:1px solid #ccc;}
.pArea2End01 { width:960px; clear:both; margin:0 auto; height:1px; font-size:1px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) no-repeat -4000px 0;}
.pArea4 { width:960px; clear:both; margin:0 auto;}
.pArea4Bg1 { border-bottom:1px solid #B9AAA3; background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) repeat-y -5000px 0;}
.pArea4Bg2 { border-top:1px solid #DCDDDD;border-bottom:1px solid #DCDDDD;background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) repeat-y -6000px 0;}
.pArea4Bg3 { border-bottom:1px solid #DCDDDD; background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) repeat-y -9000px 0;}
.pArea4Bg4 { border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;  background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) repeat-y -11000px 0;}
.pArea5 { width:960px; clear:both; margin:0 auto; background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) repeat-y -7000px 0;}
.pArea5 .pArea5L { width:735px; float:left;}
.pArea5 .pArea5R { width:210px; float:right;}
.pArea5 .pArea5RBg1 { border-top:1px solid #ccc;}
.pArea5End01 { width:960px; clear:both; margin:0 auto; height:1px; font-size:1px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) no-repeat -8000px 0;}
.pArea6 { width:960px; clear:both; margin:0 auto; background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) repeat-y -10000px 0;}
.pArea6 .pArea6L { width:735px; float:left;}
.pArea6 .pArea6R { width:210px; float:right;}
.pArea6 .pArea6RBg1 { border-top:1px solid #ccc;}
.area2 { width:735px; clear:both; margin:0 auto;}
.area2 .col1 { width:310px; float:left;}
.area2 .col2 { width:415px; float:right;}
.area3 { width:735px; clear:both; margin:0 auto;}
.area3 .col1 { width:300px; float:left;}
.area3 .col2 { width:415px; float:right;}
.focusPicT{width:308px; border:1px solid #ccc; background:#fff; clear:both; margin:0 auto;}
.focusPicT .none{display:none;}
.focusPicT .on{display:block;}
.focusPicT .pic{clear:both; text-align:center; padding:3px 0 0;}
.focusPicT .pic h2{font-weight:bold; text-align:left; padding:10px 5px 6px 5px; font-size:14px;}
.focusPicT .focusNum{width:300px; clear:both; margin:0 auto 8px;}
.focusPicT .focusNum ul { float:right;}
.focusPicT .focusNum h5 { float:left; padding:10px 0 0; color:#004B9F;}
.focusPicT .focusNum h5 a ,.focusPicT .focusNum h5 a:visited { color:#004B9F;}
.focusPicT .focusNum h5 a:hover { color:#bc2931;}
.focusPicT .focusNum li{float:left; width:21px; height:20px; text-align:center; color:#333; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat -930px 0; margin:0 3px; padding-top:6px; cursor:pointer;}
.focusPicT .focusNum .on{float:left; width:21px; height:20px; color:#fff; text-align:center; font-family:Verdana, Arial, Helvetica, sans-serif;  background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat -930px -37px;}
.focusPicTBg1 { border:0px;border-top:1px solid #ccc; background:none;}
.leftTitle { width:300px; height:25px; clear:both; margin:0 auto; color:#2b2b2b; border-bottom:1px solid #ccc;}
.leftTitle h2 { float:left; padding:7px 0 0 25px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 5px -274px; font-weight:bold;}
.leftTitle .more { float:right; padding:7px 10px 0 0;}
.leftTitle a ,.rightTitle a:visited { color:#2b2b2b;}
.leftTitle a:hover { color:#bc2931;}
.leftTitle2 { width:960px; height:28px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 0 -160px; clear:both; margin:0 auto;}
.leftTitle2 h2 { float:left; padding:0 0 0 25px;}
.leftTitle2 .more { float:right; padding:8px 10px 0 0; color:#2b2b2b;}
.leftTitle2 .k1 { float:left; padding:8px 0 0 10px;}
.leftTitle2 a ,.leftTitle2 a:visited { color:#2b2b2b;}
.leftTitle2 a:hover { color:#bc2931;}
.leftTitle3 { width:308px; height:25px; clear:both; margin:0 auto; background:url(http://img1.cache.netease.com/house/img11/index1107/abg03.gif) repeat-x 0 -60px; overflow:hidden;}
.leftTitle3 .c1 { float:left;}
.leftTitle3 .c1 ul { float:left;}
.leftTitle3 .c1 li { background:url(http://img1.cache.netease.com/house/img11/index1107/abg03.gif) repeat-x 0 -30px; line-height:28px; float:left; width:90px; border-right:1px solid #ccc; text-align:center;}
.leftTitle3 .c1 .on { background:url(http://img1.cache.netease.com/house/img11/index1107/abg03.gif) repeat-x 0 0; font-weight:bold; color:#603913;}
.leftTitle3 .c1 .on a ,.leftTitle3 .c1 .on a:visited { color:#603913;}
.leftTitle3 .c1 .on a:hover { color:#bc2931;}
.leftTitle3 .c2 { float:right;}
.leftTitle3 .c2 li { float:left; line-height:28px; padding:0 6px 0 0; display:none;}
.leftTitle3 .c2 .on { display:block;}
.leftTitle3 .c3 { line-height:28px; float:left; padding:0 0 0 10px; color:#bc2931; font-weight:bold;}
.leftTitle3 a ,.leftTitle3 a:visited { color:#2b2b2b;}
.leftTitle3 a:hover { color:#bc2931;}
.leftTitle4 { width:940px; height:25px; clear:both; margin:0 auto; color:#2b2b2b; border-bottom:1px solid #ccc;}
.leftTitle4 h2 { float:left; padding:7px 0 0 25px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 5px -274px; font-weight:bold;}
.leftTitle4 .more { float:right; padding:7px 10px 0 0;}
.leftTitle4 a ,.leftTitle4 a:visited { color:#2b2b2b;}
.leftTitle4 a:hover { color:#bc2931;}
.leftTitle5 { width:735px; height:28px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 0 -120px; clear:both; margin:0 auto;}
.leftTitle5 h2 { float:left; padding:0 0 0 25px;}
.leftTitle5 .more { float:right; padding:8px 10px 0 0; color:#2b2b2b;}
.leftTitle5 .more2 { float:right; padding:3px 10px 0 0; color:#2b2b2b; position:relative;}
.leftTitle5 .more2 .txt { font-size:12px; border:1px solid #7F9EBA; padding:2px 0 1px;width:92px;}
.leftTitle5 a ,.leftTitle5 a:visited { color:#2b2b2b;}
.leftTitle5 a:hover { color:#bc2931;}
.leftTitle5 .tips{ float:left; width:80px; text-align:left; padding:2px 6px; position:absolute; left:78px; top:23px; z-index:2; background:#fff; border:1px solid #ccc; line-height:18px;}
.leftTitle5 .tips a{ display:block;margin:2px 0; border-bottom:1px dashed #ccc;}
.leftList3 { width:956px; clear:both; margin:0 auto;}
.leftList3Bg1 { background:#fff url(http://img1.cache.netease.com/house/img11/index1107/kbg01.gif) repeat-x 0 bottom;border-bottom:1px solid #fff;}
.leftList3Bg2 { background:none; border-bottom:1px solid #fff;}
.leftList3 ul { clear:both;}
.leftList3 li { width:136px; float:left; padding:8px 0;}
.leftList3 li img { border:1px solid #ccc; margin-bottom:3px;}
.leftList3 li h3 { width:122px; clear:both; margin:0 auto; line-height:21px; font-weight:bold; color:#603913; text-align:left;}
.leftList3 li h3 a ,.leftList3 li h3 a:visited { color:#603913;}
.leftList3 li h3 a:hover { color:#bc2931;}
.leftList3 li h4 { width:122px; clear:both; margin:0 auto; line-height:21px; color:#505050; text-align:left;}
.leftList3 .line01 { background:url(http://img1.cache.netease.com/house/img11/index1107/kbg02.gif) repeat-x 0; height:9px; width:100%; clear:both; margin:0 auto; display:block;}
.leftList4 { width:950px; clear:both; margin:0 auto; padding:5px 0 0;}
.leftList4 ul { clear:both;}
.leftList4 li { width:10%; float:left; padding:2px 0;}
.leftList4 li img { border:1px solid #ccc;}
.leftList5 { width:735px; clear:both; margin:0 auto;}
.leftList5 .c1 {width:735px; clear:both; margin:0 auto;}
.leftList5 .c1 h3 { padding:6px 15px; text-align:left; background:#F3F3F3;}
.leftList5 .c1 h3 strong{ font-weight:bold;vertical-align:middle;}
.leftList5 .c1 h3 input,.leftList5 .c1 h3 select{vertical-align:middle; font-size:12px;}
.leftList5 .c2 {width:735px; clear:both; margin:0 auto; background:url(http://img1.cache.netease.com/house/img11/index1107/abg03.gif) repeat-x 0 -150px; height:26px; overflow:hidden;}
.leftList5 .c2 .k1 { float:left; border-left:1px solid #ccc;}
.leftList5 .c2 .k1 ul { clear:both;}
.leftList5 .c2 .k1 li { background:url(http://img1.cache.netease.com/house/img11/index1107/abg03.gif) repeat-x 0 -180px; line-height:25px; float:left; width:150px; text-align:center; border-right:1px solid #ccc;}
.leftList5 .c2 .k1 .on {background:url(http://img1.cache.netease.com/house/img11/index1107/abg03.gif) repeat-x 0 -210px; font-weight:bold; color:#603913;}
.leftList5 .c2 .k2 { float:right;}
.leftList5 .c2 .k2 li { float:left; line-height:26px; padding:0 6px 0 0; display:none;}
.leftList5 .c2 .k2 .on { display:block;}
.leftList5 .c3 {width:735px; clear:both; margin:0 auto;}
.leftList5 .c3 .colData{ margin:0 0 0 9px;}
.leftList5 .c3 .colData .esf li{ float:left; display:inline; margin:0 4px 0 2px;background:url(http://img1.cache.netease.com/house/img11/index1107/abg04.gif) no-repeat -163px -107px; width:137px; height:137px; overflow:hidden;}
.leftList5 .c3 .colData .esf li dl{text-align:left; line-height:18px;}
.leftList5 .c3 .colData .esf li a{padding:15px 9px 12px; display:block;}
.leftList5 .c3 .colData .esf li a a{ padding:0;}
.leftList5 .c3 .colData .esf li a,.leftList5 .c3 .colData .esf li a:visited{ text-decoration:none; color:#2b2b2b;}
.leftList5 .c3 .colData .esf li a:hover{ text-decoration:none;}
.leftList5 .c3 .colData .esf li a dt,.leftList5 .c3 .colData .esf li a:visited dt{ background:#ece8d6; text-align:center; line-height:25px; font-weight:bold; color:#a87137;}
.leftList5 .c3 .colData .esf dd{ padding:0 3px 0 5px;}
.leftList5 .c3 .colData .esf .size{ margin:4px 0 2px; font-weight:bold;}
.leftList5 .c3 .colData .esf .ab{ color:#666}
.leftList5 .c3 .colData .esf .pri{ line-height:28px; text-align:center; vertical-align:middle; color:#f00}
.leftList5 .c3 .colData .esf .pri img{ vertical-align:middle; margin:-3px -2px 0 -2px}
.leftList5 .c3 .colData .esf .pri strong{ font-weight:bold; font-size:16px; padding-right:3px;}
.leftList5 .c3 .colData .right{ display:inline; margin-right:13px; margin-top:6px;}
.leftList5 .c4  { width:700px; clear:both; margin:0 auto;}
.leftList5 .c4 .k1,.leftList5 .c4 .k1 dt,.leftList5 .c4 .k1 dd{ margin:0; padding:0; float:left; font-size:14px; line-height:40px;}
.leftList5 .c4 .k1 img{ border:1px solid #ccc; margin-right:5px;}
.leftList5 .c4 .k2{ float:left; width:85px;line-height:23px; margin-left:10px; margin-top:6px;}
.leftList5 .c4 .k2 a,.leftList5 .c4 k2 a:visited{ display:block; background:url(http://img1.cache.netease.com/house/img11/index1107/abg04.gif) no-repeat 0 -80px; color:#fff;}
.leftList5 .c4 .k2 a:hover{ background-position:-86px -80px;}
.leftList5 .c4 .k2 a:active{ background-position:0 -102px;}
.leftList6 { width:956px; background:#fff url(http://img1.cache.netease.com/house/img11/index1107/kbg01.gif) repeat-x 0 bottom; clear:both; margin:0 auto; padding:9px 0; border-bottom:1px solid #fff;}
.leftList6 .leftList6L { width:375px; float:left;}
.leftList6 .leftList6L img { border:1px solid #ccc; margin-bottom:3px;}
.leftList6 .leftList6L h3 { font-size:14px; font-weight:bold; line-height:25px; text-align:left; width:360px; clear:both; margin:0 auto;}
.leftList6 .leftList6R { width:580px; float:right;}
.leftList6 .leftList6R .c1 { width:560px; height:25px; clear:both; margin:0 auto 3px; color:#2b2b2b; border-bottom:1px solid #ccc;}
.leftList6 .leftList6R .c1 h2 { float:left; padding:7px 0 0 25px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 5px -274px; font-weight:bold;}
.leftList6 .leftList6R .c1 .more {  float:right; width:85px;line-height:23px; margin-left:10px; margin-top:0;}
.leftList6 .leftList6R .c1 .more a ,.leftList6 .leftList6R .c1 .more a:visited { display:block; background:url(http://img1.cache.netease.com/house/img11/index1107/abg04.gif) no-repeat 0 -80px; color:#fff;}
.leftList6 .leftList6R .c1 .more a:hover{ background-position:-86px -80px;}
.leftList6 .leftList6R .c1 .more a:active{ background-position:0 -102px;}
.leftList6 .leftList6R .c2 { width:560px; clear:both; margin:0 auto;}
.leftList6 .leftList6R .c2 ul { clear:both;}
.leftList6 .leftList6R .c2 li { width:25%; float:left; padding:3px 0 0;}
.leftList6 .leftList6R .c2 li img { border:1px solid #ccc; margin-bottom:3px;}
.leftList6 .leftList6R .c2 li h3 { width:122px; clear:both; margin:0 auto; line-height:21px; text-align:left;}
.leftList6 .leftList6R .c2 li h3 a ,.leftList6 .leftList6R .c2 li h3 a:visited { color:#2b2b2b;}
.leftList6 .leftList6R .c2 li h3 a:hover { color:#bc2931;}
.leftList7 { width:735px; clear:both; margin:0 auto; background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) repeat-y -12000px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.leftList7 h3 { background:url(http://img1.cache.netease.com/house/img11/index1107/abg03.gif) repeat-x 0 -240px; height:27px; border-bottom:1px solid #ccc; padding:0 10px; margin:0 1px; text-align:left; line-height:27px; color:#5F3912;}
.leftList7 h3 a ,.leftList7 h3 a:visited { color:#5F3912;}
.leftList7 h3 a:hover { color:#bc2931;}
.leftList7 h4 { padding:5px 10px; margin:0 auto; text-align:left; line-height:21px; color:#505050;}
.leftList7 h4 a ,.leftList7 h4 a:visited { color:#505050;}
.leftList7 h4 a:hover { color:#bc2931;}
.leftContent { clear:both; margin:0 auto;}
.leftContent .pic { width:290px; clear:both; margin:0 auto;}
.leftContent .pic ul { clear:both;}
.leftContent .pic li { width:122px; margin-right:23px; display:inline; float:left; padding:3px 0;}
.leftContent .pic li img { border:1px solid #ccc; margin-bottom:3px;}
.leftContent .pic li h3 { width:122px; clear:both; margin:0 auto; line-height:21px; text-align:left;}
.leftContent .picText { width:288px; clear:both; margin:0 auto; padding:4px 0; text-align:left; line-height:170%; color:#727171;}
.leftContent .picText h3 { font-weight:bold; padding:0 0 2px; color:#2b2b2b; font-size:14px;}
.leftContent .picText h3 a ,.leftContent .picText h3 a:visited { color:#2b2b2b;}
.leftContent .picText h3 a:hover { color:#bc2931;}
.leftContent .picText img { border:1px solid #ccc; float:left; margin:0 10px 3px 0;}
.leftContent .list { width:290px; clear:both; margin:0 auto;}
.leftContent .list ul { clear:both; padding:6px 0;}
.leftContent .list li { clear:both; text-align:left; line-height:21px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 0 -542px; padding-left:10px;}
.leftContent .list .k3 { color:#603A15; padding-right:6px;}
.leftContent .list .k3 a ,.leftContent .list .k3 a:visited { color:#603A15;}
.leftContent .list .k3 a:hover { color:#bc2931;}
.leftContent .list h3 { font-weight:bold; padding:2px 0 0; color:#2b2b2b; font-size:14px; line-height:25px; text-align:left;}
.leftContent .list h3 a ,.leftContent .list h3 a:visited { color:#2b2b2b;}
.leftContent .list h3 a:hover { color:#bc2931;}
.leftContent .list2 { clear:both; margin:0 auto; width:290px; padding:4px 0;}
.leftContent .list2 ul { width:50%; float:left;}
.leftContent .list2 li { clear:both; text-align:left; line-height:21px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 0 -540px; padding-left:10px;}
.leftContent .list3 { width:290px; clear:both; margin:0 auto;}
.leftContent .list3 ul { float:right; width:245px; padding:6px 0;}
.leftContent .list3 li { clear:both; text-align:left; line-height:21px;}
.leftContent .list3 h3 { width:45px; float:left; text-align:left; font-weight:bold; color:#2b2b2b; line-height:21px; padding-top:6px;}
.leftContent .list3 h3 a ,.leftContent .list3 h3 a:visited { color:#2b2b2b;}
.leftContent .list3 h3 a:hover { color:#bc2931;}
.focusText { width:415px; clear:both; margin:0 auto 0;}
.focusText h2 { font-family:"黑体"; font-weight:100; text-align:left; padding:5px 0 5px; font-size:20px; clear:both;}
.focusText h3 { font-family:"黑体"; font-weight:100; text-align:left; padding:8px 0 5px; font-size:18px; clear:both;}
.focusText ul { clear:both;}
.focusText li { text-align:left; line-height:21px; clear:both;}
.focusText li a ,.focusText li a:visited { color:#004B9F;}
.focusText li a:hover { color:#bc2931;}
.midTitle { width:414px; height:28px; background:url(http://img1.cache.netease.com/house/img11/index1107/kybg31.gif) repeat-x 0 0; clear:both; margin:0 auto;}
.midTitle ul {}
.midTitle li { width:206px; float:left; height:28px; border-left:1px solid #ccc;}
.midTitle li h2 { float:left; padding:8px 0 0 13px; font-size:14px;}
.midTitle li h3 { float:right; padding:6px 0 0 10px; width:100px; margin-right:10px; display:inline; text-align:right;}
.midTitle li h3 select { font-size:12px;}
.midTitle li h4 { background:url(http://img1.cache.netease.com/house/img11/index1107/kybg33.gif) no-repeat 0 0; width:64px; height:18px; line-height:20px; overflow:hidden; color:#004B9F; float:right; margin:6px 10px 0 0; display:inline;}
.midTitle li h4 a ,.midTitle li h4 a:visited { color:#004B9F;}
.midTitle li h4 a:hover { color:#bc2931;}
.midTitle .on { background:url(http://img1.cache.netease.com/house/img11/index1107/kybg32.gif) repeat-x 0 0;}
.midTitle .on h2 { font-weight:bold;}
.midTitle a ,.midTitle a:visited { color:#2b2b2b;}
.midTitle a:hover { color:#bc2931;}
.midTitle li h2 { color:#004B9F;}
.midTitle li h2 a ,.midTitle li h2 a:visited { color:#004B9F;}
.midTitle li h2 a:hover { color:#bc2931;}
.midTitle3 { width:415x; height:25px; clear:both; margin:0 auto; border-bottom:1px solid #ccc;}
.midTitle3 h2 { float:left; padding:7px 0 0 25px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 5px -274px; font-weight:bold;}
.midTitle3 h3 { float:left; padding:7px 0 0 10px;}
.midTitle3 h3 a { background:url(http://img1.cache.netease.com/house/img11/index1107/kybg47.gif) no-repeat right; padding:0 10px 0 0; cursor:pointer;}
.midTitle3 .more { float:right; padding:7px 6px 0 0;}
.midTitle3 a ,.midTitle3 a:visited { color:#2b2b2b;}
.midTitle3 a:hover { color:#bc2931;}
.midTitle3 .more1 { float:right; padding:7px 6px 0 0;color:#004B9F;}
.midTitle3 .more1 a ,.midTitle3 .more1 a:visited { color:#004B9F;}
.midTitle3 .more1 a:hover { color:#bc2931;}
.midTitle3 .more2 { background:url(http://img1.cache.netease.com/house/img11/index1107/kybg33.gif) no-repeat 0 0; width:64px; height:18px; line-height:20px; overflow:hidden; color:#004B9F; float:right; margin:3px 10px 0 0; display:inline;}
.midTitle3 .more2 a ,.midTitle3 .more2 a:visited { color:#004B9F;}
.midTitle3 .more2 a:hover { color:#bc2931;}
.midTitle4 { width:412px; height:28px; background:url(http://img1.cache.netease.com/house/img11/index1107/kybg31.gif) repeat-x 0 0; clear:both; margin:0 auto;border-left:1px solid #ccc;}
.midTitle4 ul { }
.midTitle4 li { width:102px; float:left; height:28px; border-right:1px solid #ccc; line-height:30px; overflow:hidden; text-align:center; color:#004B9F;}
.midTitle4 li a ,.midTitle4 li a:visited { color:#004B9F;}
.midTitle4 li a:hover { color:#bc2931;}
.midTitle4 .on { background:url(http://img1.cache.netease.com/house/img11/index1107/kybg32.gif) repeat-x 0 0;font-weight:bold;}
.midTitle4 a ,.midTitle4 a:visited { color:#2b2b2b;}
.midTitle4 a:hover { color:#bc2931;}
.midContent { clear:both; margin:0 auto;}
.midContent .list { clear:both; margin:0 auto; width:415px;}
.midContent .list h3 { font-family:"黑体"; font-weight:100; text-align:left; padding:8px 0 0; font-size:18px; clear:both;}
.midContent .list ul { clear:both; padding:4px 0;}
.midContent .list li { clear:both; line-height:25px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 6px -540px; padding-left:16px; font-size:14px; text-align:left;}
.midContent .list .k3 { color:#603A15; padding-right:6px;}
.midContent .list .k3 a ,.midContent .list .k3 a:visited { color:#603A15;}
.midContent .list .k3 a:hover { color:#bc2931;}
.midContent .list .k4 { background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat -925px -80px; width:35px; height:18px; font-size:12px; color:#fff; font-weight:normal; font-family:"宋体"; line-height:20px; overflow:hidden; text-align:center; display:inline-block; float:left; margin-right:3px; line-height:22px;}
.midContent .list .k4 a ,.midContent .list .k4 a:visited { color:#fff;}
.midContent .list .k4 a:hover { color:#ff0;}
.midContent .list .line01 { background:url(http://img1.cache.netease.com/house/img11/index1107/kbg02.gif) repeat-x 0; height:9px; width:100%; clear:both; margin:0 auto; display:block;}
.midContent .list2 { clear:both; margin:0 auto; width:415px;}
.midContent .list2 h3 { font-family:"黑体"; font-weight:100; text-align:left; padding:8px 0 0; font-size:18px; clear:both;}
.midContent .list2 ul { clear:both; padding:4px 0;}
.midContent .list2 li { clear:both; line-height:25px; font-size:14px; text-align:left; background:url(http://img1.cache.netease.com/house/img11/index1107/kbg02.gif) repeat-x 0 10px;}
.midContent .list2 .k3 { color:#603A15; padding-right:6px;}
.midContent .list2 .k3 a ,.midContent .list .k3 a:visited { color:#603A15;}
.midContent .list2 .k3 a:hover { color:#bc2931;}
.midContent .list2 .k1 { color:#727171; padding-left:6px;}
.midContent .list2 h5 {line-height:25px; background:#fff url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 6px -540px; padding-left:16px; font-size:14px; float:left;}
.midContent .list2 .c3 { float:right; font-size:14px; color:#666; font-size:12px; line-height:25px; background:#fff;}
.midContent .list2 h4 { font-size:14px; font-weight:bold; line-height:25px; text-align:left; padding:12px 0 0;}
.midContent .list2 .line01 { background:url(http://img1.cache.netease.com/house/img11/index1107/kbg02.gif) repeat-x 0; height:9px; width:100%; clear:both; margin:0 auto; display:block;}
.midContent .pic { width:415px; clear:both; margin:0 auto;}
.midContent .pic ul { clear:both;}
.midContent .pic li { width:138px; float:left; padding:3px 0 5px;}
.midContent .pic li img { border:1px solid #ccc; margin-bottom:3px;}
.midContent .pic li h3 { width:122px; clear:both; margin:0 auto; line-height:21px; text-align:left;}
.rightTitle { width:190px; height:25px; clear:both; margin:0 auto; color:#2b2b2b; border-bottom:1px solid #ccc;}
.rightTitleBg1 { border:0px;}
.rightTitle h2 { float:left; padding:7px 0 0 25px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 5px -274px; font-weight:bold;}
.rightTitle .more { float:right; padding:7px 10px 0 0;}
.rightTitle a ,.rightTitle a:visited { color:#2b2b2b;}
.rightTitle a:hover { color:#bc2931;}
.rightContent { clear:both; margin:0 auto;}
.rightContent .text { width:190px; clear:both; margin:0 auto; line-height:21px; text-align:left;}
.rightContent .text h3 { padding:6px 0; text-align:left; line-height:21px;}
.rightContent .text h4 { background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat -650px 0; width:103px; height:23px; line-height:25px; overflow:hidden; color:#fff; text-align:center; margin:9px auto;}
.rightContent .text h4 a ,.rightContent .text h4 a:visited { color:#fff; display:block; width:100%;}
.rightContent .text h4 a:hover { color:#ff0;}
.rightContent .text3 { width:190px; clear:both; margin:0 auto;  height:25px; overflow:hidden;}
.rightContent .text3 ul { clear:both; float:left; width:189px; border-left:1px solid #ccc;}
.rightContent .text3 li { background:url(http://img1.cache.netease.com/house/img11/index1107/abg03.gif) repeat-x 0 -90px; width:93px; float:left; border-right:1px solid #ccc; line-height:25px; text-align:center;}
.rightContent .text3 .on {background:url(http://img1.cache.netease.com/house/img11/index1107/abg03.gif) repeat-x 0 -120px; font-weight:bold; color:#603913;}
.rightContent .text4 { width:190px; clear:both; margin:0 auto; line-height:21px; text-align:left;}
.rightContent .text4 .k1 { background:#E7D7B3;margin-right:1px; margin-bottom:1px; display:inline-block; padding:0 6px;}
.rightContent .text4 .k2 { background:#ECE8D6; margin-right:1px; margin-bottom:1px; display:inline-block; padding:0 6px;}
.rightContent .text5 { width:190px; clear:both; margin:0 auto; line-height:21px; text-align:left;}
.rightContent .text5 ul { clear:both;}
.rightContent .text5 li { clear:both; padding:2px 0; text-align:left;}
.rightContent .text5 h4 { background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat -650px 0; width:103px; height:23px; line-height:25px; overflow:hidden; color:#fff; text-align:center; margin:9px auto;}
.rightContent .text5 h4 a ,.rightContent .text5 h4 a:visited { color:#fff; display:block; width:100%;}
.rightContent .text5 h4 a:hover { color:#ff0;}
.rightContent .text5 .kInput01 { width:130px; border:1px solid #2b2b2b;}
.rightContent .text5 .k1 { text-align:center; color:#666;}
.rightContent .text5 .k1 a ,.rightContent .text5 .k1 a:visited { color:#666;}
.rightContent .text5 .k1 a:hover { color:#bc2931;}
.rightContent .list { clear:both; margin:0 auto; width:190px;}
.rightContent .list ul { clear:both; padding:4px 0;}
.rightContent .list li { clear:both; text-align:left; line-height:21px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 6px -540px; padding-left:16px;}
.rightContent .list2 { width:190px; clear:both; margin:0 auto;}
.rightContent .list2 ul { clear:both;}
.rightContent .list2 li { clear:both; text-align:left; line-height:21px;width:190px; float:left;}
.rightContent .list2 .t1 { width:13px; text-align:center; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 0 -346px; font-size:11px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#fff; float:left; margin-right:5px; margin-left:5px; display:inline-block;}
.rightContent .list2 .t2 { width:13px; text-align:center; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 0 -446px; font-size:11px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#fff; float:left; margin-right:5px; margin-left:5px; display:inline-block;}
.rightContent .list2 .k1 {float:left; width:165px;}
.rightContent .list3 { width:190px; clear:both; margin:0 auto;}
.rightContent .list3 ul { clear:both; padding:4px 0; width:190px; float:left;}
.rightContent .list3 li { clear:both; width:190px; float:left; line-height:25px;}
.rightContent .list3 li h3 { float:left; line-height:25px; text-align:left; padding-left:6px;}
.rightContent .list3 li h4 { float:right; width:60px; border-left:3px solid #FBFAF5; line-height:25px; text-align:right; padding-right:5px;}
.rightContent .list3 .kbg1 { background:#FFFFFF;}
.rightContent .list3 .kbg2 { background:#F7F6F1;}
.rightContent .picText { width:180px; clear:both; margin:0 auto; padding:5px 0; text-align:left; line-height:170%; color:#727171;}
.rightContent .picText h3 { font-weight:bold; padding:0 0 2px; color:#2b2b2b;}
.rightContent .picText h3 a ,.rightContent .picText h3 a:visited { color:#2b2b2b;}
.rightContent .picText h3 a:hover { color:#bc2931;}
.rightContent .picText h3 img { margin-bottom:4px; vertical-align:middle;}
.rightContent .picText img { border:1px solid #ccc; float:left; margin:0 10px 3px 0;}
.rightContent .picText .k1 { border:0px; float:none;}
.rightContent .data { width:190px; clear:both; margin:0 auto; overflow:hidden;}
#cCnt_11b dt ,#cCnt_12b dt ,#cCnt_13b dt ,#cCnt_14 div ,#cCnt_15b div ,#cCnt_16 ul{ display:none;}
#cCnt_11b .on ,#cCnt_12b .on ,#cCnt_13b .on ,#cCnt_14 .on ,#cCnt_15b .on ,#cCnt_16 .on { display:block;}
.rightContent .data .datalist{ background:#fff; color:#2b2b2b;}
.rightContent .data .datalist th,.rightContent .data .datalist td{ padding:3px 5px 2px 7px; line-height:21px; text-align:left;}
.rightContent .data .datalist th{ background:#ece8d6;}
.rightContent .data .datalist .bg{ background:#f7f6f1;}
.rightContent .data .datalistbor .c1,.rightContent .data .datalistbor .c2{ border-right:1px solid #fff;}
.rightContent .data .hotList .num,.rightContent .data .datalist .num,.rightContent .data .dataList2 .num{ margin:3px 6px 0 5px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 0 -350px; float:left; width:13px; line-height:12px; height:13px; text-align:center; color:#fff; font-family:Arial; font-size:10px; font-weight:bold;}
.rightContent .data .hotList .num2,.rightContent .data .datalist .num2,.rightContent .data .dataList2 .num2{ margin:3px 6px 0 5px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 0 -450px; float:left; width:13px; line-height:12px; height:13px; text-align:center; color:#fff; font-family:Arial; font-size:10px; font-weight:bold;}
.rightContent .data .datalist .num,.rightContent .data .datalist .num2{ margin-left:0;}
.rightContent .data .dataList2 th,.rightContent .data .dataList2 td{ text-align:left; line-height:22px; padding:2px 2px; background:#fff;}
.rightContent .data .dataList2 .bg th,.rightContent .data .dataList2 .bg td{ background:#f7f6f1;}
.friendLink{ width:960px;margin:0 auto;background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) repeat-y -6000px 0;border-top:1px solid #dcdddd;border-bottom:1px solid #dcdddd;clear:both;color:#4d4d4d;}
.friendLink a:hover {color:#BA2636;}
.friendLink a,.friendLink a:visited {color:#4d4d4d;}
.friendLink .text{line-height:21px; padding:9px 9px 5px; clear:both; text-align:left;}
.editorSign{margin:0 auto; width:960px; clear:both; line-height:21px; padding:16px 9px 5px; color:#4d4d4d;}
.editorSign a,.editorSign a:visited {color:#4d4d4d;}
.editorSign a:hover {color:#ba2636;}
.houseType{margin:0 auto;width:960px;height:24px;line-height:24px;border-bottom:1px solid #b9aaa3;position:relative; z-index:1;}
.houseType .tab{background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) repeat-x left -206px;height:25px;padding-right:1px; margin-bottom:-1px; position:relative;z-index:2;}
.houseType .tab ul,.houseType .tab li{float:left;}
.houseType .tab li{display:inline;border-left:1px solid #b9aaa3;border-right:1px solid #b9aaa3;margin-right:-1px; font-weight:bold;position:relative; z-index:3;}
.houseType .tab li span{float:left;margin-top:1px;padding:0 15px;border-left:1px solid #fff;border-right:1px solid #fff;cursor:pointer;color:#505050;line-height:23px;}
.houseType .tab li.on{background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat 0 -230px;}
.houseType .tab li.on span{padding-bottom:1px;color:#603913;}
.houseType .tab li span.hot { background:url(http://img3.cache.netease.com/house/img10/home0826/hot.gif) right 2px no-repeat;}
.houseType .bbslogin{height:24px; line-height:18px;}
.houseType .bbslogin label,.houseType .bbslogin input{ float:left; margin-left:6px;}
.houseType .bbslogin .txt{border:1px solid #736f5f;width:73px;height:16px;}
.houseType .bbslogin .bt{background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat 0 -260px; width:63px;height:18px;line-height:18px;border:0;cursor:pointer;}
.typeList{margin:0 auto;width:958px;border:1px solid #b9aaa3;border-top:0;background:#f7f4ef url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) repeat-x 0 -433px;position:relative;z-index:2;}
.typeList .list{width:956px;border:1px solid #fff;border-top:0;}
.typeList .list .cell{clear:both;padding:0 8px 0 12px;text-align:left;line-height:21px;}
.typeList .list strong.left{font-weight:bold;}
.typeList .list .bt{background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat -63px -260px;width:60px;height:20px;border:none; cursor:pointer;}
.typeList .list .smap{ width:91px; height:20px;background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat -122px -260px;border:none; text-indent:15px;cursor:pointer;}
.typeList .list .nav{display:inline;margin-left:6px;width:862px; }
.typeList .list .nav li{display:inline;float:left;width:105px;}
.typeList .list .nav1 li{display:inline;float:left;width:90px;}
.typeList .bbsearch form{position:relative; z-index:20;}
.typeList .nav .tips{ float:left; width:205px; text-align:left; padding:2px 6px; position:absolute; left:0; top:18px; z-index:999; background:#fff; border:1px solid #ccc; line-height:18px;}
.typeList .nav .tips a{ display:block;margin:2px 0; border-bottom:1px dashed #ccc;}
.typeList .nav .tips li{ display:block; float:none; width:auto;}
.typeList .list .wAuto li{ width:auto; margin-right:12px;}
.typeList .list .hotarea{border-bottom:1px solid #fff;overflow:hidden;}
.typeList .list .hotarea ul{margin-left:-11px;padding-right:10px;width:100%;border-bottom:1px solid #c8c8c8;}
.typeList .list .hotarea li{padding:0 0 0 11px;width:121px;background:url(http://img1.cache.netease.com/house/img11/index1107/navbg.png) no-repeat -244px -388px;}
.typeList .houseSearchxf select{height:19px;}
.typeList .houseSearchxf .xfkeyword{height:19px;}
.typeList .houseSearchxf .xfkeyword{height:17px; width:200px;border:1px solid #ccc;}
.typeList .houseSearchxf .autocomplete{position:relative;display:inline;line-height:19px;}
.typeList .houseSearchxf .autocomplete-tips{position:absolute; display:none;width:200px;left:0;top:14px; z-index:9;*top:19px;border:1px solid #ccc;background:#fff;}
.typeList .list .autocomplete-tips li{padding:2px 6px; float:left;line-height:21px;width:188px;}
.typeList .houseSearchxf .autocomplete-tips li.on,.typeList .houseSearchxf .autocomplete-tips li.active{ background:#1E50A2; color:#fff;}
.typeList .list .tgbmLeft{ float:left; width:690px;text-align:left;line-height:21px;}
.typeList .list .tgbmLeft .input01 { float:left; border:1px solid #7F9DB9; height:17px; line-height:17px; color:#727171; font-size:12px;}
.typeList .list .tgbmLeft .select01 { width:130px;}
.typeList .list .tgbmLeft .textarea01 { border:1px solid #7F9DB9; font-size:12px; color:#727171; width:401px; height:42px; padding:3px 2px;}
.typeList .list .tgbmRight{ float:right; background:url(http://img3.cache.netease.com/house/img10/home0826/sline.gif) left top repeat-y; width:260px;text-align:left;line-height:21px;}
.typeList .houseSearchxftg .xftgkeyword{height:17px; width:200px;border:1px solid #ccc;}
.typeList .houseSearchxftg .autocomplete{position:relative;display:inline;line-height:19px; float:left;margin-right:15px;}
.typeList .houseSearchxftg .autocomplete-tips{position:absolute; display:none;width:200px;left:0;top:14px; z-index:9;*top:19px;border:1px solid #ccc;background:#fff;}
.typeList .houseSearchxftg .autocomplete-tips li.on,.typeList .houseSearchxftg .autocomplete-tips li.active{ background:#1E50A2; color:#fff;}
#houseTypeList .normal { display:none;}
#houseTypeList .on { display:block;}
.colR {width:210px; float:right;}
.area { width:960px; clear:both; margin:0 auto;}
/* 20110728-hylin */
.areabor {border-top: 1px solid #DCDDDD;}
.colR .es_datalist{ width:208px; margin:0 auto;}
.colTil4{ background:url(http://img1.cache.netease.com/house/img11/es0713/t2.png) repeat-x 0 0; height:28px; line-height:28px; position:relative; z-index:1;}
.colLM .colTil4{ margin:0 15px 0 0;}
.colTil4 h2{ float:left; padding-left:23px;height:28px; line-height:28px; background:url(http://img1.cache.netease.com/house/img11/es0713/t1.png) no-repeat 0 top;}
.colTil4 h2 a{ padding-right:10px; line-height:28px; display:block; float:left;}
.colTil4 .more{ float:right; height:28px; padding-right:12px; background:url(http://img1.cache.netease.com/house/img11/es0713/exp.png) no-repeat right top;}
.endLine{ background: url(http://img1.cache.netease.com/house/img11/es0713/endline.png) no-repeat 0 0;clear: both; display: block;font-size: 1px;height: 1px;overflow: hidden;}
.es_areabg{ background:url(http://img1.cache.netease.com/house/img11/es0713/midbg.png) repeat-y 0 0;}
.esL{ float:left; width:735px;}
.esR{ float:right; width:210px;}
.es_tab_L{ float:left; width:587px;}
.es_tab_R{ float:right; width:112px; padding-right:14px;}
.tabbg{ background:url(http://img1.cache.netease.com/house/img11/es0713/img72.png) repeat-y 587px 0; width:100%;}
.es_con{ width:736px; clear:both;}
.es_search_con{ margin:0px -1px 0 0;}
.es_search{background:#f3f3f3; text-align:left; height:34px; overflow:hidden;}
.es_input{ width:425px; height:17px; text-align:left; line-height:17px; font-size:12px; margin-top:7px; display:inline; color:#999; border:1px solid #7f9db9;}
.es_btn{  margin-left:14px; margin-top:6px; text-align:left; display:inline; width:37px; height:21px; text-align:center; font-size:12px;}
.es_bar{ background:#fff url(http://img1.cache.netease.com/house/img11/es0713/img7.png) repeat-x left bottom; height:25px; line-height:25px; margin-left:1px;}
.es_bar ul{ width:100%; float:left;display:inline;}
.es_bar ul li{ float:left; width:150px; text-align:center; line-height:23px; height:23px; border-top:1px solid #dfdfdf; background:url(http://img1.cache.netease.com/house/img11/es0713/img2_01.png) repeat-x left bottom; border-right:1px solid #dfdfdf;}
.es_bar ul li a:link,.es_bar ul li a:visited,.es_bar ul li a:hover,.es_bar ul li a:active{ color:#313131;}
.es_bar ul li.on{ background:none; border-bottom:1px solid #fff; font-weight:bold;}
.es_bar ul li.on a:link,.es_bar ul li.on a:visited,.es_bar ul li.on a:hover,.es_bar ul li.on a:active{ text-decoration:none; color:#603913;}
.es_tab{ padding-left:15px; display:none;}
.es_tab.on{ display:block;}
.es_text1{ float:left; display:block; line-height:27px;}
.es_more{ float:right; padding-right:35px; line-height:27px;}
.espicList{ clear:both; width:100%; padding-top:4px;}
.espicList li{ float:left; text-align:left; width:111px; margin-right:6px; padding-bottom:12px; }
.espicList li img{ padding:2px; border:1px solid #ccc;}
.espicList li p{ padding-top:3px;}
.espicList li p,.espicList li h3{ margin:0; line-height:21px;}
.espicList li span{ display:block; color:#2b2b2b; line-height:20px;}
.espicList li strong{ font-weight:bold; color:#BA2636;}
.es_datalist{  color:#2b2b2b;}
.es_datalist td{padding:3px 0px 2px 2px; line-height:21px; text-align:left; background:#fff;}
.es_datalist th{ background:#f7f6f1;padding:3px 0px 2px 4px; line-height:21px; text-align:left;}
.es_datalist tr.graybg td{ background:#f7f6f1;}
.es_datalist .num{ margin:3px 2px 0 5px; display:inline; background:url(http://img3.cache.netease.com/house/img09/sz/index091221/bg_norp.gif) no-repeat -229px 0; float:left; width:13px; line-height:12px; height:13px; text-align:center; color:#fff; font-family:Arial; font-size:10px; font-weight:bold;}
.es_datalist .num2{ margin:3px 2px 0 5px; background:url(http://img3.cache.netease.com/house/img09/sz/index091221/bg_norp.gif) no-repeat -214px 0; float:left; width:13px; line-height:12px; height:13px; text-align:center; color:#fff; font-family:Arial; font-size:10px; font-weight:bold;}
.es_datalist .num,.es_datalist .num2{ margin-left:0;}
.goldname{ clear:both; width:100%;}
.goldname1{ clear:both; width:100%; margin-left:-12px;}
.goldname li{ text-align:center; padding-bottom:9px;}
.goldname1 li{ float:left; width:110px; text-align:center; padding-left:2px; padding-right:8px; padding-bottom:6px;}
.goldname1 li img{ padding:2px; background:#fff;border:1px solid #d8d9d9;}
.goldname li img{ border:1px solid #d8d9d9;}
.goldname li h3,.goldname1 li h3{ line-height:20px; padding-top:4px; font-weight:bold;}
.goldname li p,.goldname li span,.goldname1 li p,.goldname1 li span{ margin:0; line-height:20px;}
.es_Gold,.es_Gold:visited,.es_Gold a{color:#603913;}
.es_Gold a:hover,a.es_Gold:hover{color:#BA2636;}
.pArea7 { width:960px; clear:both; margin:0 auto; background:url(http://img1.cache.netease.com/house/img12/homeindex1202/abg02.gif) repeat-y -2000px 0;}
.pArea7Bg1 {border-top:1px solid #DDE1E7;border-bottom:1px solid #DDE1E7;}
.pArea7Bg2 {border-top:1px solid #DDE1E7;}
.area30 { width:735px; clear:both; margin:0 auto;}
.area30 .col1 { width:310px; float:left;}
.area30 .col1 .col1M { width:300px; float:left; clear:both;}
.area30 .col2 { width:415px; float:right;}
.leftTitle20 { width:958px; height:32px; clear:both; margin:0 auto; color:#2b2b2b; background:url(http://img1.cache.netease.com/house/img12/homeindex1202/habg01.gif) no-repeat 0 -120px; line-height:30px;}
.leftTitle20 h2 { float:left; font-size:14px; width:116px; font-weight:bold; color:#fff; line-height:30px;}
.leftTitle20 h2 a ,.leftTitle20 h2 a:visited { color:#fff;}
.leftTitle20 h2 a:hover { color:#ff0;}
.leftTitle20 .kBg1 { background:url(http://img1.cache.netease.com/house/img12/homeindex1202/habg01.gif) no-repeat -830px -73px; text-align:left; text-indent:13px;}
.leftTitle20 .k1 { float:left; padding:0 0 0; color:#727171; width:120px; text-align:center;}
.leftTitle20 .k2 { float:left; padding:0 10px 0; color:#727171;}
.leftTitle20 .k3 { float:left; padding:0 10px 0 15px; color:#727171;}
.leftTitle20 .more { float:right; padding:0 10px 0 0; color:#C3C3C3;}
.leftTitle20 .more a ,.leftTitle20 .more a:visited { color:#2b2b2b;}
.leftTitle20 .more a:hover {color:#bc2931;}
.leftTitle20 a ,.leftTitle20 a:visited { color:#727171;}
.leftTitle20 a:hover { color:#bc2931;}
.leftList30 { width:960px; clear:both; margin:3px auto 1px;}
.leftList30 .leftList30L { width:240px; float:left;}
.leftList30 .leftList30L dl { width:230px; clear:both; margin:0 auto 0;}
.leftList30 .leftList30L dt { background:url(http://img1.cache.netease.com/house/img12/homeindex1202/kbg18.gif); width:230px; clear:both; margin:0 auto 2px; padding:3px 0 2px; float:left;}
.leftList30 .leftList30L dt h3 { width:50px; float:left; color:#2C4971; text-align:center; padding:55px 0 5px; font-size:14px; font-weight:bold;}
.leftList30 .leftList30L dt h3 a ,.leftList30 .leftList30L dt h3 li a:visited { color:#2C4971;}
.leftList30 .leftList30L dt h3 a:hover { color:#bc2931;}
.leftList30 .leftList30L dt .k1 { background:url(http://img1.cache.netease.com/house/img12/homeindex1202/habg01.gif) no-repeat -435px -235px;}
.leftList30 .leftList30L dt .k2 { background:url(http://img1.cache.netease.com/house/img12/homeindex1202/habg01.gif) no-repeat -495px -235px;}
.leftList30 .leftList30L dt .k3 { background:url(http://img1.cache.netease.com/house/img12/homeindex1202/habg01.gif) no-repeat -558px -235px;}
.leftList30 .leftList30L dt ul { width:180px; float:right; padding:10px 0 8px;}
.leftList30 .leftList30L dt li { line-height:21px; text-align:left; clear:both;}
.leftList30 .leftList30R { width:700px; float:right;}
.leftList30 .leftList30R .c1 { width:100%; clear:both; margin:0 auto;}
.leftList30 .leftList30R .c1 ul { clear:both;}
.leftList30 .leftList30R .c1 li { background:url(http://img1.cache.netease.com/house/img12/homeindex1202/habg01.gif) no-repeat -250px -250px; line-height:19px; padding-bottom:5px; width:80px; text-align:center; float:left; margin-right:1px; display:inline;}
.leftList30 .leftList30R .c1 .on { background:url(http://img1.cache.netease.com/house/img12/homeindex1202/habg01.gif) no-repeat -331px -250px; color:#fff;}
.leftList30 .leftList30R .c1 .on a ,.leftList30 .leftList30R .c1 .on a:visited { color:#fff;}
.leftList30 .leftList30R .c1 .on a:hover { color:#ff0;}
.leftList30 .leftList30R .c2 { width:100%; clear:both; margin:0 auto;}
.leftList30 .leftList30R .c2 dl { clear:both;}
.leftList30 .leftList30R .c2 dt { clear:both;}
.leftList30 .leftList30R .c2 ul { clear:both;}
.leftList30 .leftList30R .c2 li { width:20%; float:left; padding:4px 0 0; text-align:left;}
.leftList30 .leftList30R .c2 li img { border:1px solid #ccc; margin-bottom:3px;}
.leftList30 .leftList30R .c2 li h3 { width:122px; clear:both; margin:0 auto; line-height:21px; color:#2b2b2b; text-align:left; float:left;}
#hcCnt_11 div ,#hcCnt_13 dt { display:none;}
#hcCnt_11 .on ,#hcCnt_13 .on { display:block;}
.leftTitle21 { width:310px; clear:both; margin:0 auto; color:#2b2b2b;}
.leftTitle21 ul { clear:both;}
.leftTitle21 li { float:left; width:155px; line-height:30px; padding-bottom:4px; text-align:center; background:url(http://img1.cache.netease.com/house/img12/homeindex1202/habg01.gif) no-repeat -305px -310px;}
.leftTitle21 .on { font-weight:bold;background:url(http://img1.cache.netease.com/house/img12/homeindex1202/habg01.gif) no-repeat -150px -310px; color:#fff;}
.leftTitle21 .on a ,.rightTitle2 .on a:visited { color:#fff;}
.leftTitle21 .on a:hover { color:#ff0;}
.leftList31Bg { width:310px; clear:both; margin:0 auto; background:url(http://img1.cache.netease.com/house/img11/index1107/abg02.gif) repeat-y -10000px 0; border-bottom:1px solid #CCCCCC;}
.leftContent .picText20 { width:290px; clear:both; margin:0 auto;}
.leftContent .picText20 .picText20L { width:122px; float:left;}
.leftContent .picText20 .picText20L img { border:1px solid #ccc; margin-bottom:3px;}
.leftContent .picText20 .picText20L h3 { width:122px; clear:both; margin:0 auto; line-height:21px; text-align:left;}
.leftContent .picText20 .picText20R { width:155px; float:right;}
.leftContent .picText20 .picText20R ul { clear:both;}
.leftContent .picText20 .picText20R li { clear:both; text-align:left; line-height:21px; background:url(http://img1.cache.netease.com/house/img11/index1107/abg01.gif) no-repeat 0 -542px; padding-left:10px;}
.NTES_nav_ {width:960px;line-height:30px;margin:0 auto;clear:both;background-color: #FFFFFF;}
.NTES_nav_ .nav_link {float:left; color:#B3B3B3;}
.NTES_nav_ .nav_link a,.NTES_nav_ .nav_link a:visited {padding:0 3px; color:#2b2b2b;}
.NTES_nav_ .nav_link a:hover {color:#ba2636;}
.NTES_nav_ .rightCon {float:right;}
.NTES_nav_ .rightCon .rss{display:inline; float:right; margin:8px 6px 0 6px;}
.NTES_nav_ .NTES_link {float:left; color:#B3B3B3;}
.NTES_nav_ .NTES_link a,.NTES_nav_ .NTES_link a:visited {padding:0 2px 0 3px; color:#1E50A2;}
.NTES_nav_ .NTES_link a:hover {color:#ba2636;}
.ad {
	height:60px;
	width:960px;
        margin:3px auto;
}