body{font-family:"ËÎÌå","Arial";font-size:12px;margin:0;padding:0;background:url(../images/bj.jpg)  repeat-y center top;line-height:19px;}
h1,h2,h3,form,img,ul,ol,li,dl,dt,dd,table,div,span,p{padding:0;margin:0;border:0;}
input{padding:0;margin:0;}
li{list-style-type:none;list-style:none;}
.clear{clear:both;}
a:link,a:visited{text-decoration:none;}
.h125{height:291px; margin:auto; padding-left:200px;}
#wrap {margin:auto;width:974px;color:#024e9b;}

.head{background:url(../images/top_bj.jpg) no-repeat center top; width:100%; height:400px;}


.dh{ margin:auto;width:358px;}

.mains{ width:974px; margin:auto; margin:22px 0 0 9px;}
.main{ width:936px; margin:auto; margin:-9px 0 0 17px; height:35px;}

.main_left{width:316px; float:left;}
.main_lefts{ border-left:1px solid #aadcff; border-right:1px solid #aadcff; width:314px; background:#FFFFFF;}
.main_leftx{ width:316px; height:14px;}

.main_rightz{width:900px; float:center; margin-left:23px; }
.main_right{width:900px; float:center;}
.main_rights{ border:1px solid #aadcff; width:870px;background:#FFFFFF; height:140px; font-size:14px; color:#0141aa; line-height:25px; padding:11px 25px 0 25px;}
.main_rightx{ width:940px; height:14px;}

.main_rightxx{width:597px; float:left; margin-top:10px;}
.main_rightsx{ border-left:1px solid #aadcff; border-right:1px solid #aadcff;  width:580px;background:#FFFFFF; height:124px;*height:173px;padding:31px 0px 0 15px; margin-top:35px;*margin-top:36px; *position:absolute}
.main_rightx2{ width:597px; height:14px;*margin-top:228px; *position:absolute}
.lc{ position:absolute; float:left; margin-left:-10px}
.time1{background:url(../images/tp.jpg) no-repeat; width:165px; height:73px; padding:50px 0 0 0; float:left; text-align:center;}
.time1 a{ color:#FFFFFF;}

.time2{background:url(../images/px.jpg) no-repeat; width:165px; height:73px; padding:50px 0 0 0; float:left; text-align:center}
.time2 a{ color:#FFFFFF;}

.time3{background:url(../images/gbjg.jpg) no-repeat; width:165px; height:73px; padding:50px 0 0 0; float:left; text-align:center}
.time3 a{ color:#FFFFFF;}

.jt{ width:34px; height:80px; float:left}

.w14{ color:#045b97; font-family:"Î¢ÈíÑÅºÚ"; font-size:14px;}

.nr{ margin:auto; width:953px;+margin-top:30px;_margin-top:20px;}
.nr1{ margin:auto; width:953px;}
.nr2{  margin:auto;background:url(../images/bjy.jpg) repeat-y;width:953px; height:160px;}
.nr3{  margin:auto;width:953px; height:14px;}
.nr2_main{ width:925px;margin:auto;}
.mimg{ width:580px; padding-top:20px;float:left}
.mimg a{ width:157px; padding-left:30px;}
.border{ border:1px solid #c1c1c1}

.mr{ width:345px;padding-top:20px; float:left}
.input_text{ background:white; height:19px; line-height:19px; padding:2px 10px; border:1px solid #d5d5d5; border-top:1px solid #929292; border-left:1px solid #929292; width:160px;}
.lan{ color:#0471b8;}

.tp2011{ margin:auto; width:953px; margin-top:10px;}
.tp2011_top{ margin:auto; width:953px; }
.tp2011_xia{    margin:auto;padding: 0px;height:auto;overflow:hidden;background:url(../images/bjy.jpg) repeat-y;width:953px;}

.tp2011_xia1{ width:914px; padding-top:9px; margin:auto}

.tp2011qq{ width:913px; margin:auto;}
.tp2011_xia2{ width:913px; background:url(../images/wenzibj.jpg) no-repeat; height:21px; margin:auto; margin-top:9px; padding-top:5px; float:left;}

.tp2011_xia2 a{ padding-left:30px; color:#000000; font-size:14px; font-weight:bolder;}
.tp2011_xia3{ width:880px;margin:auto; margin-top:9px; padding-left:30px; float:left}
.tp2011_xia3li{ width:175px;margin:auto; float:left; margin-top:8px; font-size:14px; font-weight:bolder; font-family:"Î¢ÈíÑÅºÚ";}

.tj{ margin:auto; width:300px;}

.wb{ margin:auto; width:953px; margin-top:10px; height:332px;}
.wb_left{ margin:auto; width:663px; float:left}
.wb_left1{ margin:auto; width:663px; float:left; height:35px;}
.wb_left2{ margin:auto; width:663px; float:left; height:283px; background:url(../images/wbbj.jpg) repeat-y;}
.wb_left2li{ width:600px; margin:20px 0 0 20px;}
.wb_left3{ margin:auto; width:663px; float:left; height:14px;}

.wb_right{ margin:auto; width:280px; margin-left:10px; float:left}
.wb_right1{ margin:auto; width:280px; float:left; height:35px;}
.wb_right2{ margin:auto; width:280px; float:left; height:283px; background:url(../images/2010bj.jpg) repeat-y;}
.wb_right2 ul{ list-style:none;margin-top:15px;}
.wb_right2 ul li{ width:211px;margin:auto;  height:88px; width:211px; }
.wb_right2 ul li a{padding:0;}
.wb_right3{ margin:auto; width:280px;float:left; height:14px;}

.zc{ margin:auto; width:953px; margin-top:10px;}
.zc1{ margin:auto; width:953px;}
.zc2{  margin:auto;background:url(../images/bjy.jpg) repeat-y;width:953px;}
.zc2n{ margin:auto; width:906px;}
.zc2n ul{ list-style:none}
.zc2n ul li{ padding-top:15px;}
.zc2n ul li a{padding-left:10px;}
.bl{ border:1px solid #acd4f8; padding:3px;}
.zc3{  margin:auto;width:953px; height:14px;}

.footer{background:url(../images/footerbj.jpg) no-repeat center bottom; width:100%; height:164px;}
.ffm{ margin-top:2px;}