body{
	margin:0;padding:0;
	line-height:21px;
	font-size:12px;
	color:#1F4A53; 
	} 
p,img{border:0;padding:0;margin:0;}

a:link {color:#1F4A53;text-decoration:none;}
a:visited {color:#1F4A53;text-decoration:none;}
a:hover {color:red;text-decoration:underline;}
a:active {color:#1F4A53;text-decoration:underline;}  
.lred{color:red;}
a.lred:link,a.lred:visited,a.lred:active {color:red;text-decoration:none;} 
a.lred:hover {color:red;text-decoration:underline;}

.lblue{color:#0147C0;}
a.lblue:link,a.lblue:visited,a.lblue:active {color:#0147C0;text-decoration:none;} 
a.lblue:hover {color:red;text-decoration:underline;}

.lblue2{color:#0147C0;}
a.lblue2:link,a.lblue2:visited,a.lblue2:active {color:#0147C0;text-decoration:underline;} 
a.lblue2:hover {color:red;text-decoration:underline;}


.lwhite{color:#fff;}
a.lwhite:link,a.lwhite:visited,a.lwhite:active {color:#fff;text-decoration:none;} 
a.lwhite:hover {color:#fff;text-decoration:underline;}
.line1{border:1px solid #fff;}
.line2{width:156px;margin:4px auto;padding:6px;background:#E8E8E8;}
.l25{line-height:25px;}
.mu6{margin-top:6px;}
.mu12{margin-top:12px;}  
.pd3{padding:3px 2px 3px 10px;}
.pd12{padding:8px 2px 8px 10px;}
.pd10{padding:4px 2px 4px 10px;background:#EEF5F7;line-height:23px;}
#NavBanner a{color:#666}
#NavA {margin-bottom:6px;}
#NavA a{color:#fff;}
#NavA td{
	color:#fff;
	background:url(http://mat1.qq.com/download/images/d_navline.gif) no-repeat right;
	text-align:center;
	padding-top:10px;
	}
#NavA .end{background:none;}
#NavC {border-bottom:1px solid #CDDEE3;margin:1px auto 4px auto;}
.search{
	padding:3px 1px 3px 1px;
	font-size:14px;
	border:1px solid #8F9496;
	width:138px;
	}

.dllist{border:1px solid #90B9C4;}
.listtit,
.listtit2,
.listtit3{
	font-size:14px;
	font-weight:bold;
	padding-left:33px;
	}
.listtit {background:url(http://mat1.qq.com/download/images/dot1.gif) #EEF5F7 no-repeat 16px 11px;}
.listtit2{background:#EEF5F7;padding-left:12px;}
.listtit3{background:url(http://mat1.qq.com/download/images/dot3.gif) #fff no-repeat 10px 6px;color:#339900;}
.listtit4{font-size:14px;padding-left:33px;font-weight:bold;}
.dotbttom{background:url(http://mat1.qq.com/download/images/dot2.gif) repeat-x bottom;}

.cbor{border:1px solid #90B9C4;} 
.toptit1,.toptit0{padding:3px 20px;cursor:pointer;font-weight:bold;}
.toptit1{background:#fff;color:#1F4A53;}
.toptit0{color:#fff;}
#topNav{background:url(http://mat1.qq.com/download/images/dot4.gif) #189CC3 repeat-x bottom;}
.l0{background:#EEF5F7}
.l1{background:#fff}
#rList dl{margin:3px 1px 0 10px}
#rList dt{background:url(http://mat1.qq.com/download/images/add.gif) no-repeat 10px 6px;padding-left:23px;cursor:pointer;}
#rList dd{margin-left:18px;}
#rList2{padding:5px 0;}
#rList2 dl{margin:1px 1px 1px 10px;width:100%;}
#rList2 dt{line-height:18px;color:#fff;width:100%;height:18px;padding-top:2px;background:url(http://mat1.qq.com/download/images/d2_add.gif) #189CC3 no-repeat;padding-left:23px;cursor:pointer;}
#rList2 dd{margin-left:20px;background:url(http://mat1.qq.com/download/images/d2_dec.gif) no-repeat 8px 6px;padding-left:23px;
border-bottom:1px solid #189CC3;
}

.ins{border:1px solid #7F9DB9;padding:1px;} 
.top123 .t1{background:#fff;}
.top123 .t0{}
.top10{background:url(http://mat1.qq.com/download/images/d_top10.gif) #D1E4EA no-repeat 109px 14px;
font-weight:bold;
font-size:14px;
text-align:left;
padding-left:50px;}
.blist{background:url(http://mat1.qq.com/download/images/d_p1.gif) no-repeat center 1px;line-height:16px;padding-left:50px;color:#888A89;}

/*index*/
.i_tit{
	font-size:14px;
	font-weight:bold;
	padding-left:33px;
	background:url(http://mat1.qq.com/download/images/dot3.gif) #fff no-repeat 10px 6px;
	color:#339900;
	border-bottom:1px solid #90B9C4;
}
.i_news{padding:3px 1px 3px 4px;line-height:23px;}
.i_dot{background:url(http://mat1.qq.com/download/images/dot5.gif) repeat-x bottom;margin-top:6px;}
.i_subject{margin-top:5px;}
.i_hot{padding:8px 4px 8px 10px;}
.i_hot2{padding:0px 1px 0px 10px;}
.i_popsoft{background:url(http://mat1.qq.com/download/images/p_bg2.gif) #fff repeat-x top;}
.i_tit2{
	font-size:14px;
	font-weight:bold;
	padding-left:43px;
	background:url(http://mat1.qq.com/download/images/dot6.gif) #fff no-repeat 30px 11px;
	color:#339900; 
}
.i_more{padding-right:20px;}
 
.i_btit{
	font-size:14px;
	font-weight:bold;
	padding-left:33px;
	background:url(http://mat1.qq.com/download/images/dot7.gif) no-repeat 10px 6px;color:#339900;}
.i_btop{background:url(http://mat1.qq.com/download/images/dot4.gif) #EDF5F7 repeat-x bottom;}

.i_stit{ 
	background:url(http://mat1.qq.com/download/images/dot8.gif) #fff no-repeat 2px 8px;
	border-bottom:1px solid #90B8C2;
	padding-left:12px;
}
#Index .i_o1,#Index .i_o0{
	width:131px;
	height:24px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
	float:left;
	margin-right:2px;
}
#Index .i_o1{background:url(http://mat1.qq.com/download/images/i_o1.gif) no-repeat;color:#329900;}
#Index .i_o0{background:url(http://mat1.qq.com/download/images/i_o0.gif) no-repeat;color:#65909B;}
.i_line{background:url(http://mat1.qq.com/download/images/dot9.gif) repeat-x bottom;}
.i_linec{color:#339900;font-weight:bold;text-align:center;}
.i_search{background-repeat:repeat-x;}
.i_search_t{font-size:14px;font-weight:bold;}



#Edit{ 
	clear:both; 
	height:25px;
	margin-bottom:0;
	width:100%;
	background:url(http://mat1.qq.com/download/images/p_dot.gif) repeat-x bottom;
	}
#Edit p{
	float:left;  
	text-align:center; 
	width:131px;  
	margin-right:2px;
	color:#7A8E8D;
	font-weight:bold;
}
#Edit .on{
	padding:8px 0 0 0;
	color:#359915;
	background:url(http://mat1.qq.com/download/images/p_on.gif) repeat-x bottom;
}
#Edit .off{
	padding:8px 0 0 0; 
	cursor:pointer;  
	background:url(http://mat1.qq.com/download/images/p_off.gif) repeat-x bottom;
}
.Editcnt{
	border:1px solid #A6B3B3;
	border-top:0;
	padding:12px 0 5px 0;
}


#EditList{
	width:96%;
	height:200px;
	margin:0 auto 10px auto;
	display:none;
	/*
	overflow-y:auto;
	overflow-x:hidden;
	*/
}

<!--

td {FONT-SIZE: 12px; line-height:180%}

A:link {color: #0B333C;  TEXT-DECORATION: none}
A:visited {color: #0B333C;  TEXT-DECORATION: none}
A:hover { TEXT-DECORATION: underline; color:#FF0000}

.STYLE1 {color: #0480B8;font-style: italic;font-family: "ºÚÌå";font-size: 14px;}
A.STYLE1:link {color: #0480B8;text-decoration: none}
A.STYLE1:visited {color: #0480B8;text-decoration: none}
A.STYLE1:active {color: #0480B8;text-decoration: none}
A.STYLE1:hover {color: #FF0000;text-decoration: underline}

.c1  {background-image:   url(http://mat1.qq.com/download/quick/01talk-1.gif); background-repeat:no-repeat; background-position:left}   
.c2  {background-image:   url(http://mat1.qq.com/download/quick/01talk.gif); background-repeat:no-repeat; background-position:left}

.c5 {background-image:   url(http://mat1.qq.com/download/quick/02music-1.gif); background-repeat:no-repeat; background-position:left} 
.c6 {background-image:   url(http://mat1.qq.com/download/quick/02music.gif); background-repeat:no-repeat; background-position:left}

.c7 {background-image:   url(http://mat1.qq.com/download/quick/03tv-1.gif); background-repeat:no-repeat; background-position:left}   
.c8 {background-image:   url(http://mat1.qq.com/download/quick/03tv.gif); background-repeat:no-repeat; background-position:left}

.c9  {background-image:   url(http://mat1.qq.com/download/quick/004browers-1.gif); background-repeat:no-repeat; background-position:left}   
.c10  {background-image:   url(http://mat1.qq.com/download/quick/004browers.gif); background-repeat:no-repeat; background-position:left}

.c3  {background-image:   url(http://mat1.qq.com/download/quick/005games-1.gif); background-repeat:no-repeat; background-position:left}   
.c4  {background-image:   url(http://mat1.qq.com/download/quick/005games.gif); background-repeat:no-repeat; background-position:left}

.c11  {background-image:   url(http://mat1.qq.com/download/quick/006safes-1.gif); background-repeat:no-repeat; background-position:left}   
.c12  {background-image:   url(http://mat1.qq.com/download/quick/006safes.gif); background-repeat:no-repeat; background-position:left}

.c13 {background-image:   url(http://mat1.qq.com/download/quick/007system-1.gif); background-repeat:no-repeat; background-position:left}
.c14 {background-image:   url(http://mat1.qq.com/download/quick/007system.gif); background-repeat:no-repeat; background-position:left}

.c17 {background-image:   url(http://mat1.qq.com/download/quick/008digi-1.gif); background-repeat:no-repeat; background-position:left}   
.c18 {background-image:   url(http://mat1.qq.com/download/quick/008digi.gif); background-repeat:no-repeat; background-position:left}

-->

/*  |xGv00|4c836ec4f3577ff6940d51436c5b3396 */