td {FONT-SIZE: 12px; line-height:180%}

A:link {color: #0B333C;  TEXT-DECORATION: none}
A:visited {color: #0B333C;  TEXT-DECORATION: none}
A:hover { TEXT-DECORATION: underline; color:#FF0000}

.STYLE1 {color: #0480B8;font-style: italic;font-family: "ºÚÌå";font-size: 14px;}
A.STYLE1:link {color: #0480B8;text-decoration: none}
A.STYLE1:visited {color: #0480B8;text-decoration: none}
A.STYLE1:active {color: #0480B8;text-decoration: none}
A.STYLE1:hover {color: #FF0000;text-decoration: underline}

.c1  {background-image:   url(http://mat1.qq.com/download/quick/01talk-1.gif); background-repeat:no-repeat; background-position:left}   
.c2  {background-image:   url(http://mat1.qq.com/download/quick/01talk.gif); background-repeat:no-repeat; background-position:left}

.c5 {background-image:   url(http://mat1.qq.com/download/quick/02music-1.gif); background-repeat:no-repeat; background-position:left} 
.c6 {background-image:   url(http://mat1.qq.com/download/quick/02music.gif); background-repeat:no-repeat; background-position:left}

.c7 {background-image:   url(http://mat1.qq.com/download/quick/03tv-1.gif); background-repeat:no-repeat; background-position:left}   
.c8 {background-image:   url(http://mat1.qq.com/download/quick/03tv.gif); background-repeat:no-repeat; background-position:left}

.c9  {background-image:   url(http://mat1.qq.com/download/quick/004browers-1.gif); background-repeat:no-repeat; background-position:left}   
.c10  {background-image:   url(http://mat1.qq.com/download/quick/004browers.gif); background-repeat:no-repeat; background-position:left}

.c3  {background-image:   url(http://mat1.qq.com/download/quick/005games-1.gif); background-repeat:no-repeat; background-position:left}   
.c4  {background-image:   url(http://mat1.qq.com/download/quick/005games.gif); background-repeat:no-repeat; background-position:left}

.c11  {background-image:   url(http://mat1.qq.com/download/quick/006safes-1.gif); background-repeat:no-repeat; background-position:left}   
.c12  {background-image:   url(http://mat1.qq.com/download/quick/006safes.gif); background-repeat:no-repeat; background-position:left}

.c13 {background-image:   url(http://mat1.qq.com/download/quick/007system-1.gif); background-repeat:no-repeat; background-position:left}
.c14 {background-image:   url(http://mat1.qq.com/download/quick/007system.gif); background-repeat:no-repeat; background-position:left}

.c15 {background-image:   url(http://mat1.qq.com/download/quick/08digi-1.gif); background-repeat:no-repeat; background-position:left}   
.c16 {background-image:   url(http://mat1.qq.com/download/quick/08digi.gif); background-repeat:no-repeat; background-position:left}
/*  |xGv00|be7bc74c0950737d8cd8b31486894429 */