.passport{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0 auto; width:750px; height:35px;clear:both;}
.passport .s1{float:left; padding:11px 0 0 5px;}
.passport .s2{float:left; padding:7px 0 0 5px;}
.passport .s2 input{ border:1px solid #000; width:50px; font-size:12px;}
.passport .s2 select{font-size:12px;width:88px;}
.passport .s3{float:left; padding:7px 0 0 2px;}

.passport table td table td {padding: 3px;}


.domainSelector, .domainSelector * {padding-top:0px;font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height:normal;}
.domainSelector {border: 2px solid #C6CFCE; width: 170px;margin-left:1px; HEIGHT: 225px;*HEIGHT: 219px;}
.domainSelector .title { background-color:#E9E9E9;height:15px;padding-top:4px;text-indent:6px; }
.domainSelector td{padding:0}
.domainSelector table td table td {padding: 2px;white-space:nowrap}



 