@charset "utf-8";
/* Created by Demo.jiang | 5430  */
 body, div, dl, dt, dd, ul, ol, li,  h1, h2, h3, h4, h5, h6, pre, code,  form, fieldset, legend, input, button,  textarea, p, blockquote, th, td { margin: 0; padding: 0; font:normal 14px Verdana }
fieldset, img { border: 0; }
ul,li{ list-style:none}
a{color:#1e50a2; text-decoration:none}
a:hover{ color:#900; text-decoration:underline}
.t_center{ text-align:center}
.none{ display:none}
.w1{ width:90px!important}


/*主体*/
#main_wrap{ width:960px; margin:15px auto; position:relative}
.clr{ clear:both; font:0; overflow:hidden; height:0}


/*上部*/
.logo{ float:left; background:url(/img/newindex/textlogo.gif) ; width:134px; height:26px; margin-left:15px}
.top_tit{ float:left; margin:12px 0 0 17px; background:url(/img/newindex/top_titi.gif) no-repeat; width:132px; height:14px;}
.top_link{ float:right; margin:12px 20px 0 0 }

/*中部*/
#list_div{ height:380px; border:1px solid #b8cfe0; background:url(/img/newindex/b_bg.gif) bottom  repeat-x #f7fbff; padding:2px; margin-top:25px; overflow:hidden}
#list_div .tit{ background:url(/img/newindex/t1.gif) no-repeat ; margin:10px 0 0 10px; height:15px}
#list_div .cnt{ margin-left:5px; margin-top:12px}
.item{ float:left; margin-right:20px ; width:140px}
.item img{ width:56px; height:39px}

/*登录*/
#logo_div{ position:absolute; right:15px; top:35px;  padding:2px; background:url(/img/newindex/logo_bg.gif) repeat-x #f0f5fc 0 19px; *background-position:0 20px }
#inner_div{ border:1px solid #8bb2d9;height:470px; width:295px; background:#f2f7ff; }
#logoBox{ border:1px solid #e3effc; margin:13px; height:283px; background:#fff}
#inner_div .tit{ background:url(/img/newindex/t2.gif) no-repeat; height:20px; margin:10px 10px 0 10px}
#logoBox .cnt{ margin:0 10px}
#logoBox .cnt td{padding:0 5px 15px 5px;}
#logoBox .cnt th{ color:#333; text-align:right; padding:0 0 15px 0; }
#logoBox .ipt{ border:1px solid #85a0be; height:19px; line-height:26px; padding:2px ; overflow:hidden; font:bolder 14px Verdana;width:165px}
#logoBox .btn{ margin-right:15px; float:left;background:url(/img/newindex/btn.gif); width:79px; height:29px; border:0px; cursor:pointer;}
#logoBox .txt{ display:block; float:left; margin-top:8px; }
#logoBox .cnt2{ text-align:center; line-height:30px; background:url(/img/newindex/logo_bg2.gif) repeat-x; margin: 10px 15px ; padding:15px}


.info{ margin:0 0 0 80px; color:#F00; font-size:13px; width:175px; mini-height:15px}
#inner_div .tit2{ background:url(/img/newindex/t3.gif) no-repeat; height:20px; margin:20px 25px 0 25px}
#inner_div .cnt3{ display:block; margin: 5px 22px ; overflow:hidden}
#inner_div .cnt3 li{ display:block; float:left; width:150px; margin-top:15px}
#inner_div .cnt3 img{ width:22px; height:22px; margin-right:6px}

/*功能介绍*/
#intro_div{ margin:30px 0 0 15px;}
#intro_div .cnt{ line-height:22px; color:#666; margin-top:20px; width:490px;}
#intro_div b{color:#000}
#intro_div img{ float:left; margin-right:15px}

/*底部*/
#footer{ border-top:1px  solid #e9e9e9 ; text-align:center; margin-top:100px; padding:10px; color:#999; line-height:25px; font-size:12px}


/*登录错误提示*/



.errText{clear:both;  border-right:none; overflow:auto; padding:0 0 5px;width:545px; height:350px;overflow:hidden; margin-top:15px; margin-left:40px;}
.leftText{ clear:both; padding:0 0 0px 25px; text-align:left;}
.leftText dl{ clear:both;margin-top:14px;}
.leftText dt{ clear:both;font-size:14px; padding:9px 0 0 20px; background:url(/img/imgRight-2.gif) 0px -77px no-repeat;*background-position:0 -79px; margin-bottom:3px;line-height:24px;}
.leftText dd{ padding:3px 10px 0 20px;  clear:both; line-height:20px; font-size:12px;}
.leftText .uLine{ text-decoration:underline;}
.t_bc2931{color:#bc2931;}

/*清空次数限制页面*/
#logoBox .sort_input {width:80px;}
.jc_btn {background:url(/img/jc_btn.png) no-repeat left top;border:0 none;float:left;height:29px;margin-right:15px;width:79px;cursor:pointer}
.yzm_btn {background:url(/img/jc_btn.png) no-repeat left top;border:0 none;background-position:left bottom;height:25px;width:79px;cursor:pointer}

