body{ background:none;} 
.actHeader {
    background: url(http://img2.cache.netease.com/help/2014/3/24/20140324163908f0947.jpg) no-repeat scroll center top transparent;
}
body .tgsc{background:none; height:0px}
body .tgsc div{ display:none}