@charset "gb2312";
/*-----------------rest---------------------------------*/
.clear { clear:both; }
.hide { display:none }
.link { position:absolute; display:block; text-indent:-9999px; }
.pos_r { position:relative; }
.pos_a { position:absolute; }
.bl { display:block; }
.t { text-indent:-9999px; }
.s { font-weight:bold; }
.pics { background:url(../images/pics.jpg) no-repeat; }
.yahei { font-family:"微软雅黑", "Microsoft YaHei"; }
.f22 { font-size:22px; }
a:hover { text-decoration:none; color:#ffffff; }
/*--------------------body------------------------------*/
body { font-family:"宋体", simSun, Microsoft Yahei, Arial; background:#ffffff; color:#ffffff; }
#wrap { background:url(../images/index_bg.jpg) no-repeat center top; }
#main { width:1000px !important; }
#header { height:185px; background:url(../images/header_bg.jpg) no-repeat; position:relative; }
.logo { width:129px; height:86px; top:19px; left:36px; }
.topLink { position: absolute; top: 9px; left: 688px; width: 309px; color:#293db7; line-height:29px; }
.topLink a { color:#293db7; text-decoration:none; padding-left:5px; padding-right:5px; display:block; float:left; line-height:29px;height:29px; overflow:hidden; }
.topLink a:hover,.topLink a.on{ color:#ffffff !important; }
.topLink a span{ font-weight:bold; padding-right:4px; font-family:Microsoft YaHei,Tahoma, Geneva, sans-serif Arial, Helvetica, sans-serif;}

.tubiao{ background:url(../images/tubiao.png) no-repeat; z-index:999999;}
#conter { height:609px; background:url(../images/main_bg.jpg) no-repeat;  }
#conter .tubiao{ width:102px; height:102px; left:449px; top:1px;}

/* 页脚 */
#footer { text-align:center; clear:both; }
.share_wb_footer { height:88px; color:#a1b7d2; background:#232e49; }
#footer, #footer a { color:#a1b7d2; text-decoration:none; padding-top:10px; }
#footer a:hover { text-decoration:underline; }



.main_box{ padding-top: 32px; padding-left: 210px; width: 575px; height: 500px; overflow: hidden !important; position: relative; }
#nav { width:444px; height:52px; overflow:hidden;}
#nav li{float:left;height:52px;list-style:none; width:auto !important;}
#nav li a{display:block; font-size:18px; height:52px; line-height:58px; font-weight:bold; width:74px;vertical-align:middle;cursor:pointer;text-decoration:none; color:#ffffff; text-align:center;}
#nav li a.nav_on{ color:#103d88; background:url(../images/d.png) no-repeat 12px 2px; _background:none;}
.kong{ float:left; width:108px; height:52px;}
.kong1{ float:left; width:74px; height:52px;}


#menu_con{ clear: both; width: 575px; }

/*skin飞行器menu*/
.rollbox{ height:58px;}
.rollbox .jcarousel-container-horizontal { width: 444px; padding: 0px 65px; }
.rollbox .jcarousel-container-vertical { width: 74px; height: 245px; padding: 10px 10px; }
.rollbox .jcarousel-clip-horizontal { width: 444px; height: 52px; }
.rollbox .jcarousel-clip-vertical { width: 74px; height: 245px; }
.rollbox .jcarousel-item { width: 74px; height: 52px; }
.rollbox .jcarousel-item-horizontal { padding-right: 4px; padding-left:4px; }
/**
 *  Horizontal Buttons
 */
.rollbox .jcarousel-next-horizontal { position: absolute; top: 14px; right: 5px; width: 40px; height: 25px; cursor: pointer; background: transparent url(../images/jiao.png) no-repeat -150px -51px; _background: transparent url(../images/jiao_ie6.png) -150px -51px; }
.rollbox .jcarousel-next-horizontal:hover { background-position: -100px -51px; }
.rollbox .jcarousel-next-horizontal:active { background-position: -50px -51px; }
.rollbox .jcarousel-next-disabled-horizontal, .rollbox .jcarousel-next-disabled-horizontal:hover, .rollbox .jcarousel-next-disabled-horizontal:active { cursor: default; background-position: 0 -51px; }
.rollbox .jcarousel-prev-horizontal { position: absolute; top: 14px; left: 5px; width: 40px; height: 25px; cursor: pointer; background: transparent url(../images/jiao.png) no-repeat 0 0; _background: transparent url(../images/jiao_ie6.png) 0 0; }
.rollbox .jcarousel-prev-horizontal:hover { background-position: -50px 0; }
.rollbox .jcarousel-prev-horizontal:active { background-position: -100px 0; }
.rollbox .jcarousel-prev-disabled-horizontal, .rollbox .jcarousel-prev-disabled-horizontal:hover, .rollbox .jcarousel-prev-disabled-horizontal:active { cursor: default; background-position: -150px 0; }
