
TD {FONT-FAMILY: 宋体; COLOR: #404040; FONT-SIZE: 12px; TEXT-DECORATION: none}
.b {FONT-FAMILY: Verdana, Tahoma, Arial; FONT-SIZE: 10px}
.c {FONT-SIZE: 13px}
.bc{font-size:12px;}
.bc a:link{ color:#993300;}
.bc a:visited{ color:#993300;}
.d {FONT-SIZE: 14px;}
.e {font-family:"宋体"; font-size:18px; font-weight:bold; display:block;}
.g {FONT-SIZE: 16px; COLOR: #000000; font-weight:bold;}

.fn1:link { color:#FF6600; font-weight:bold;}
.fn1:visited { color:#FF6600; font-weight:bold;}
.fn1:hover { color:#FF6600; font-weight:bold;}

A:link {COLOR: #404040; TEXT-DECORATION: none}
A:visited {COLOR: #404040; TEXT-DECORATION: none}
A:hover {COLOR: #a61b32; TEXT-DECORATION: none}

.bb:link {COLOR: #000000; TEXT-DECORATION: none}
.bb:visited {COLOR: #000000; TEXT-DECORATION: none}
.bb:hover {COLOR: #000000; TEXT-DECORATION: underline}

.cc:link {COLOR: #000000; TEXT-DECORATION: none}
.cc:visited {COLOR: #000000; TEXT-DECORATION: none}
.cc:hover {COLOR: #dc143c; TEXT-DECORATION: underline}

.dd:link {COLOR: #eb7a00; TEXT-DECORATION: none}
.dd:visited {COLOR: #eb7a00; TEXT-DECORATION: none}
.dd:hover {COLOR: #000000; TEXT-DECORATION: underline}

.ee:link {COLOR: #0006eb; TEXT-DECORATION: underline}
.ee:visited {COLOR: #0006eb; TEXT-DECORATION: underline}
.ee:hover {COLOR: #dc143c; TEXT-DECORATION: underline}

.ff:link {COLOR: #d81333; TEXT-DECORATION: none}
.ff:visited {COLOR: #d81333; TEXT-DECORATION: none}
.ff:hover {COLOR: #d81333; TEXT-DECORATION: underline}

.gg:link {COLOR: #656a01; TEXT-DECORATION: none}
.gg:visited {COLOR: #656a01; TEXT-DECORATION: none}
.gg:hover {COLOR: #d81333; TEXT-DECORATION: underline}

.hh:link {COLOR: #1a66b3; TEXT-DECORATION: none}
.hh:visited {COLOR: #1a66b3; TEXT-DECORATION: none}
.hh:hover {COLOR: #1a66b3; TEXT-DECORATION: underline}

.jj:link {COLOR: #375825; TEXT-DECORATION: none}
.jj:visited {COLOR: #375825; TEXT-DECORATION: none}
.jj:hover {COLOR: #000000; TEXT-DECORATION: underline}

.kk:link {COLOR: #FFFFFF; TEXT-DECORATION: none}
.kk:visited {COLOR: #FFFFFF; TEXT-DECORATION: none}
.kk:hover {COLOR: #000000; TEXT-DECORATION: underline}

.mm:link {COLOR: #1d93ac; TEXT-DECORATION: none}
.mm:visited {COLOR: #1d93ac; TEXT-DECORATION: none}
.mm:hover {COLOR: #d81333; TEXT-DECORATION: underline}

.nn:link {COLOR: #3a3a3a; FONT-SIZE: 13px; TEXT-DECORATION: none}
.nn:visited {COLOR: #3a3a3a; FONT-SIZE: 13px; TEXT-DECORATION: none}
.nn:hover {COLOR: #dc143c; TEXT-DECORATION: underline}

.pp:link {COLOR: #000000; TEXT-DECORATION: none}
.pp:visited {COLOR: #000000; TEXT-DECORATION: none}
.pp:hover {COLOR: #dc143c; TEXT-DECORATION: none}

.qq:link {COLOR: #459b00; TEXT-DECORATION: underline}
.qq:visited {COLOR: #459b00; TEXT-DECORATION: underline}
.qq:hover {COLOR: #dc143c; TEXT-DECORATION: none}

.rr:link {COLOR: #1f3a87; TEXT-DECORATION: underline}
.rr:visited {COLOR: #1f3a87; TEXT-DECORATION: underline}
.rr:hover {COLOR: #dc143c; TEXT-DECORATION: none}

.ss:link {COLOR: #919191; TEXT-DECORATION: underline}
.ss:visited {COLOR: #919191; TEXT-DECORATION: underline}
.ss:hover {COLOR: #dc143c; TEXT-DECORATION: none}

.tt:link {COLOR: #c60000; TEXT-DECORATION: underline}
.tt:visited {COLOR: #c60000; TEXT-DECORATION: underline}
.tt:hover {COLOR: #000000; TEXT-DECORATION: none}

.uu:link {COLOR: #727272; TEXT-DECORATION: none}
.uu:visited {COLOR: #727272; TEXT-DECORATION: none}
.uu:hover {COLOR: #000000; TEXT-DECORATION: none}

.vv:link {COLOR: #459b00; TEXT-DECORATION: none}
.vv:visited {COLOR: #459b00; TEXT-DECORATION: none}
.vv:hover {COLOR: #DE0039; TEXT-DECORATION: none}

.fzcp { border: 1 solid #404040;}
.bookimga{
        
        
}
.bookimgb{
margin-bottom: 5;
}

.lmlb{
margin-left: 8;
}

.cms
{
  padding-left:10px;
}

.cms2
{
   padding-left:3px;
}

.taglist { line-height:22px; height:22px; width:250px; overflow:hidden;}
.taglist a:link {COLOR: #a30028; TEXT-DECORATION: none }
.taglist a:visited {COLOR: #a30028; TEXT-DECORATION: none}
.taglist a:hover {COLOR: #000080; TEXT-DE