/* Last Update on Nov 23th, 2011 by WW */

/* 鐑棬娓告垙鍙戝彿 */
#rmyxkh .hd h3 {background-position:-926px -35px;}
#rmyxkh .bd{width:708px;overflow:hidden;}
#rmyxkh .bd .popup{margin-left:0;}
#rmyxkh .bd .piclist{padding:10px 0 10px 18px;}
#rmyxkh .bd .piclist li{float:left;margin-right:19px;width:96px; text-align:center;}
#rmyxkh .bd .piclist li img{display:block;margin-bottom:5px;padding:2px;width:90px;height:120px;border:1px solid #e3e3e3;}
.bd .hot-list{padding:0 0 10px 17px;width:708px;overflow:hidden;}
.bd .hot-list ul{float:left;padding-left:15px;width:334px;background:url(http://img1.cache.netease.com/game/projects/faka/css/line-dot-y.png) repeat-y 1px 0;}
.bd .hot-list ul.first{background:transparent none;}
.bd .hot-list ul.first {padding-left:0;}
.bd .hot-list li{clear:both;margin-right:12px;height:28px;line-height:28px;overflow:hidden;}
.bd .hot-list .title{padding-left: 10px;background:url(http://img1.cache.netease.com/game/projects/faka/css/sp_index.png) no-repeat -954px -358px;}
.bd .hot-list .btn{float:right;margin:5px 0 0 6px;display:inline-block;width:39px;height:17px;line-height:17px;text-align:center;color:#fff;border:1px solid #f57f1f;background:#fd912f;}
.bd .hot-list .btn-t{border:1px solid #45cd24;background:#65d549;}
.bd .hot-list .btn-l{border:1px solid #3a86df;background:#3a95df;}
.bd .hot-list .btn-yyd{border:1px solid #a8a7a7;background:#b3b3b3;}
.hots-ka{position:relative;}
.hots-tabs { display:none}
.hots-contents ul{ display:none;}
.hots-contents ul.on{ display:block;}
.hots-ka-ctrl-prev,.hots-ka-ctrl-next{ background: #3F94DF; color: #FFF; display: block; font-weight: bold; opacity: 0.8; filter:alpha(opacity=80); position: absolute; text-align: center; text-decoration: none;top:50px; height: 30px; line-height: 30px; font-size:20px; width: 30px; cursor:pointer;font-family:\5B8B\4F53;left:5px; display:none;}
.hots-ka.active .hots-ka-ctrl-prev,.hots-ka.active .hots-ka-ctrl-next{ display:block;}
.hots-ka-ctrl-next{left:663px;}
.hots-ka-ctrl-prev:hover,.hots-ka-ctrl-next:hover { background:#3F94DF;text-decoration:none;opacity:1; filter:alpha(opacity=100); }

/* 鏈€鏂板彂鍙锋洿鏂� */
#zxfhgx .hd h3{background-position:-926px -65px;}
#zxfhgx .bd{padding-bottom:5px;overflow:hidden;}
#zxfhgx .bd table{width:709px;*width:100%;border-collapse:separate;overflow:hidden;text-align:center;vertical-align:middle;}
#zxfhgx .bd table td{line-height:28px;vertical-align: middle;}
#zxfhgx .bd table th{height:26px;border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #d4d9db;text-align:center;background-color:#f2f2f2;}
#zxfhgx .bd table .col-type{width:91px;}
#zxfhgx .bd table .col-name{width:230px;}
#zxfhgx .bd table .col-info{width:90px;}
#zxfhgx .bd table .col-time{width:100px;}
#zxfhgx .bd table .col-source{width:80px;}
#zxfhgx .bd table .col-btn{width:110px;}
#zxfhgx .bd table .odd{background-color:#fff;}
#zxfhgx .bd table .even{background-color:#f6f6f6;}
#zxfhgx .bd table .td1 a,#zxfhgx .bd table .td1 span{margin-left: 10px;padding-left: 14px;background:url(http://img1.cache.netease.com/game/projects/faka/css/sp_index.png) no-repeat -954px -358px;}
#zxfhgx .bd table .td2 a,#zxfhgx .bd table .td2{padding-left:5px;text-align:left;color:#1e50a2;}
#zxfhgx .bd table .td4,#zxfhgx .bd table .td5{color:#727171;}
#zxfhgx .bd table .td6{text-align:left;}
#zxfhgx .bd table .td6 .btn{display:inline-block;width:39px;height:17px;line-height:17px;text-align:center;color:#fff;border:1px solid #f57f1f;background:#fd912f;}
#zxfhgx .bd table .td6 .btn-t{border:1px solid #45cd24;background:#65d549;}
#zxfhgx .bd table .td6 .btn-l{border:1px solid #3a86df;background:#3a95df;}
#zxfhgx .bd table .td6 .btn-yyd{border:1px solid #a8a7a7;background:#b3b3b3;}
#zxfhgx .bd .popup{margin-left:0;}
#zxfhgx .bd .popup a{padding:0!important;}

#zxfhgx .hd h3{position: relative;}
#zxfhgx .hd h3 span{padding-right:280px;}
#zxfhgx .hd h3 .tab{position: absolute;top:5px;right:20px;padding:0;line-height: 25px;background:none;}
#zxfhgx .hd h3 .tab li{float:left;background:#63a7e4;margin-right:1px;padding:0 10px;font-size:12px;color:#fff;font-weight:normal;cursor:pointer;}
#zxfhgx .hd h3 .tab .current{background:#fff;font-weight:bold;color:#4d4d4d;}

#zxfhgx .lst-num{display:none;}
#zxfhgx .current{display:block;}

/* 鏈€鏂板彂鍙烽璁� */
#zxfhyd .hd h3 {background-position:-926px -95px;}
#zxfhyd .bd{width:708px;padding:15px 0 5px 0;overflow:hidden;}
#zxfhyd .bd .piclist{margin-left:15px;width:750px;}
#zxfhyd .bd .piclist li{float:left;margin-right:18px;width:214px;}
#zxfhyd .bd .piclist li img{float:left;margin-right:8px;padding:2px;width:90px;height:120px;border:1px solid #ced6df;}
#zxfhyd .bd .piclist li .title{line-height:22px;color:#316caf;}
#zxfhyd .bd .piclist li .desc{padding-top:1px;height:59px;line-height:18px;}
#zxfhyd .bd .piclist li .count{height:22px;}
#zxfhyd .bd .piclist li .count strong{font-size:14px;font-weight:bold;color:#ba2636;}
#zxfhyd .bd .piclist li .btn-yd{margin-left:106px;display:block;width:60px;height:20px;line-height:20px;text-align:center;color:#fff;border:1px solid #f57f1f;background:#fb8b2d;}
#zxfhyd .bd .piclist li .btn-yyd{border:1px solid #a8a7a7;background:#b3b3b3;}
/* 娓告垙鍒嗙被鍙戝彿鎺掕 */
#ph-yxflfh .hd h3{background-position:-926px -125px;}
#ph-yxflfh .bd{padding:10px 0 0;}
#ph-yxflfh .cell{float:left;_display:inline;margin-left:13px;margin-right:7px;width:214px;background-position:0 -155px;background-color:#fefefe;}
#ph-yxflfh .cell .chd{padding:0 8px 13px 14px;height:28px;line-height:28px;background:url(http://img1.cache.netease.com/game/projects/faka/css/sp_index.png) no-repeat 0 -72px;}
#ph-yxflfh .cell .chd h5{float:left;font-weight:bold;color:#316caf;}
#ph-yxflfh .cell .chd .more{float:right;}
#ph-yxflfh .cell .cbd{padding-bottom:20px;}
/* 棰嗗彿椤荤煡 */
#lhxz .hd h3{background-position:-926px -155px;}
#lhxz .bd{padding:8px 15px;}
#lhxz .bd p{padding:6px 0;line-height:20px;}
