/**
 *
 * NetEase(D.163.COM)
 * Diablo III : Reaper Of Souls
 *
**/
	
html, body { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-bg-center.jpg) repeat-y center 0 #000; color:#b99d6e; -webkit-text-size-adjust: none;}
a { color:#A99877;}
.active { display:block !important;}
.none { display:none;}
.float { clear:both;}
.float li { float:left;}
.ntes-nav-main { width:1200px !important;}
	
.cWhite,.cWhite:visited,.cWhite a{color:#fff;}
.cYellow,.cYellow:visited{color:#ff0;}
.cGreen,.cGreen:visited{color:#008000;}
.cGray,.cGray:visited,.cGray a{color:#333;}
.cDGray,.cDGray:visited,.cDGray a{color:#727171;}
.cBlack,.cBlack:visited,.cBlack a{color:#000;}
.cBlue,.cBlue:visited,.cBlue a{color:#1E50A2;}
.cRed,.cRed:visited,.cRed a{color:Red;}
.cDRed,.cDRed:visited,.cDRed a{color:#ba2636;}
.cRed a:hover,a.cRed:hover,.cBlue a:hover,a.cBlue:hover,.cDRed a:hover,a.cDRed:hover,.cGray a:hover,a.cGray:hover,.cDGray a:hover,a.cDGray:hover,.cWhite a:hover,a.cWhite:hover,.cBlack a:hover,a.cBlack:hover,.cGreen a:hover,a.cGreen:hover,.cYellow a:hover,a.cYellow:hover{color:#ba2636;}
	
.logo { width:430px; height:179px; position:absolute; left:-39px; top:73px; }
	
/* Common */
.image-articles {}
.image-articles li {}
.image-articles li a { display:block;}
.image-articles li a img { border:1px solid #483a30; border-radius:3px; box-shadow:0 0 10px #000;}
.image-articles li a:hover img { border:1px solid #824C06;}
.image-articles li a span { display:block; cursor:pointer; text-align:center; line-height:24px;}
.articles-list { clear:both;}
.articles-list li { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/bullet.gif) no-repeat 0 center; padding:0 0 0 15px; line-height:24px;}
.d3 { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-bg-bottom.jpg) no-repeat center bottom;}
.d3 .d3-bg { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-bg-top.jpg) no-repeat center top;}
.d3 .wrapper { width:1200px; margin:0 auto; background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-bg-top.jpg) no-repeat center 0;}
.d3 .wrapper .header { position:relative; z-index:1; width:1200px; height:352px; }
.d3 .wrapper .header h1 { text-indent:-999em;}
	
	/* Menu */
	.header .menu { height:42px; position:absolute; left:0; top:310px; z-index:1; background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-menu-bg.jpg) no-repeat 0 0;}
	.header .menu li { float:left; position:relative; z-index:2;}
	.header .menu li a { width:120px; height:42px; display:block; line-height:42px; text-align:center; color:#f3e6d0; font-size:14px; text-shadow:0 0 5px #000;}
	.header .menu li a:hover, .header .menu li a.hover { color:#fff;}
	.header .menu li a.index:hover,
	.header .menu li a.index.hover { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-menu-bg.jpg) no-repeat 0 -42px;}
	.header .menu li a.data:hover,
	.header .menu li a.data.hover { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-menu-bg.jpg) no-repeat -120px -42px;}
	.header .menu li a.classes:hover,
	.header .menu li a.classes.hover { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-menu-bg.jpg) no-repeat -240px -42px;}
	.header .menu li a.wikipedia:hover,
	.header .menu li a.wikipedia.hover { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-menu-bg.jpg) no-repeat -360px -42px;}
	.header .menu li a.download:hover,
	.header .menu li a.download.hover { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-menu-bg.jpg) no-repeat -480px -42px;}
	.header .menu li a.video:hover,
	.header .menu li a.video.hover { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-menu-bg.jpg) no-repeat -600px -42px;}
	.header .menu li a.heroes:hover,
	.header .menu li a.heroes.hover { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-menu-bg.jpg) no-repeat -720px -42px;}
	.header .menu li a.db:hover,
	.header .menu li a.db.hover { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-menu-bg.jpg) no-repeat -840px -42px;}
	.header .menu li a.console:hover,
	.header .menu li a.console.hover { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-menu-bg.jpg) no-repeat -960px -42px;}
	.header .menu li a.bbs:hover,
	.header .menu li a.bbs.hover { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-menu-bg.jpg) no-repeat -1080px -42px;}
	
	.header .menu ul { width:110px; display:none; position:absolute; top:43px; left:0; z-index:999; padding:0 5px 5px; background:#0d0d0d; border:1px solid #22201c; border-radius:3px; box-shadow:0 0 5px #000;  }
	.header .menu ul li { width:110px; float:none; clear:both; margin:5px 0 0; border-radius:2px; background:#12110f; border:0; position:relative; }	
	.header .menu ul a { width:100px; height:25px; display:block; padding:0 0 0 10px; border-radius:2px; line-height:25px; text-align:left; font-size:12px; color:#a78f70; }
	.header .menu ul a.arrow { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/arrow.gif) no-repeat 100px center #12110F;}
	.header .menu ul a.arrow:hover,
	.header .menu ul a.arrow.hover { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/arrow-hover.gif) no-repeat 100px center #22201c; }
	.header .menu ul a:hover,
	.header .menu ul a.hover { background:#22201c;}
	.header .menu ul span { width:20px; height:20px; float:left; display:block; margin:3px 0 0 0; padding:0 10px 0 0; }
	.header .menu ul ul { position:absolute; left:116px; top:-5px;}
		
/* Contents */
.d3 .contents { padding:40px 5px 0; }
.d3 .contents a:hover { color:#ff9300;}
.d3 .contents .content-left { width:640px; height:100%; float:left; padding:0 20px 0 15px; }
	
	/* Blog Articles */
	.blog-articles {}
	.blog-articles .article-wrapper { padding:20px 0; background:url(http://img3.cache.netease.com/game/blizzard/d3/images/blog-seperator.gif) repeat-x 0 0;}
	.blog-articles .article-wrapper .article-image { float:left;}
	.blog-articles .article-wrapper .article-image a img { display:block; border-radius:3px; padding:1px; border:1px solid #483a30; box-shadow:0 0 10px #000;}
	.blog-articles .article-wrapper .article-image a:hover img { border:1px solid #824C06;}
	.blog-articles .article-wrapper .article-content { float:left; padding:0 0 0 20px; width:410px;}
	.blog-articles .article-wrapper .article-content h2 { font-size:16px; white-space:nowrap;}
	.blog-articles .article-wrapper .article-content h2 a { color:#f3e6d0;}
	.blog-articles .article-wrapper .article-content h2 a:hover { color:#fff;}
	.blog-articles .article-wrapper .article-content p { margin:10px 0; line-height:22px;}
	.blog-articles .article-wrapper .article-meta a.article-comment { display:inline-block; background:url(http://img3.cache.netease.com/game/blizzard/d3/images/comment-icon.gif) no-repeat 0 4px; padding:0 5px 0 16px; color:#6f9ca2;}
	.blog-articles .article-wrapper .article-meta a.article-comment:hover { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/comment-icon.gif) no-repeat left -12px; }
	.blog-articles .article-wrapper .article-meta .article-date { color:#999;}
	.blog-articles .article-wrapper .no-border-top { border-top:0;}
	.blog-articles .article-wrapper .no-border-bottom { border-bottom:0;}
	.blog-articles .view-more { margin:10px 0;}
	.blog-articles .view-more a { display:block; line-height:40px; text-align:center; background:#0A0908; border-radius:3px;}
	.blog-articles .view-more a:hover { background:#000;}
		
/* Content Right */
.d3 .contents .content-right { width:515px; height:100%; float:left; font-size:13px; }
		
/* Sidebar */
.sidebar { height:100%; background:url(http://img3.cache.netease.com/game/blizzard/d3/images/sidebar-center.jpg) repeat-y 0 0;}
.sidebar .sidebar-bg { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/sidebar-top.jpg) no-repeat 0 0; padding:15px 5px 0 10px; }
.sidebar .article-date { float:right; color:#999;}
.sidebar h3 { height:44px; color:#ff9300; font-size:18px; background:url(http://img3.cache.netease.com/game/blizzard/d3/images/sidebar-title-bg.jpg) no-repeat 0 0; line-height:42px;}
.sidebar h3 .sidebar-icon { display:inline-block; float:left; width:25px; height:25px; margin:10px 5px 0 20px;}
.sidebar .sidebar-content { padding:20px; }
	
/* BBS */
.sidebar-bbs { color:#35110f;}
.sidebar-bbs a { color:#35110f;}
.sidebar-bbs a:hover { color:#990000 !important;}
.sidebar-bbs .sidebar-content { height:317px; background:url(http://img3.cache.netease.com/game/blizzard/d3/images/sidebar-bbs-bg.jpg) no-repeat 0 0;}
.sidebar-bbs .sidebar-icon { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-sidebar-icons.png) no-repeat 0 0;}
.sidebar-bbs .bbs-articles {}
.sidebar-bbs .bbs-articles li { line-height:32px; border-bottom:1px solid rgba(152,112,63,0.4); }
.sidebar-bbs .bbs-articles .player-name { float:right;}
.sidebar-bbs .bbs-articles .bbs-label { background:#35110f; border-radius:3px; padding:2px 8px; color:#ad835a; margin:0 10px 0 0; } 
.sidebar-bbs .image-articles { margin:20px 0 0 -17px;}
.sidebar-bbs .image-articles li { padding:0 0 0 17px;}
.sidebar-bbs .image-articles li a img { box-shadow:0 0 2px #382109;}
.sidebar-bbs .image-articles li a:hover img { border:1px solid #990000; box-shadow:0 0 2px #990000;}
	
/* Data */
.sidebar-data { margin:10px 0 0;}
.sidebar-data .sidebar-content { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/sidebar-data-bg.jpg) no-repeat -100px -20px; margin:-1px 1px 0; border:1px solid #312818; border-top:0;}
.sidebar-data .sidebar-icon { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-sidebar-icons.png) no-repeat 0 -175px;}
.sidebar-data .data-link li { width:127px; height:28px; overflow:hidden; float:left; background:url(http://img3.cache.netease.com/game/blizzard/d3/images/bullet.gif) no-repeat 0 center; line-height:28px; padding:0 10px 0 15px;}
.sidebar-data .data-link li a { color:#e1ce9a;}
	
/* Blue Post */
.sidebar-bluepost { margin:10px 0 0;}
.sidebar-bluepost .sidebar-content { padding:10px 20px; background:url(http://img3.cache.netease.com/game/blizzard/d3/images/bluepost-bg.jpg) no-repeat 0 -15px; margin:-1px 1px 0; border:1px solid #312818; border-top:0;}
.sidebar-bluepost .sidebar-icon { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-sidebar-icons.png) no-repeat 0 -150px;}
.bluepost-articles { }
.bluepost-articles li { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/bluepost-icon.gif) no-repeat 0 center; padding:0 0 0 45px; line-height:30px; }
.bluepost-articles li a { color:#00B4FF;}
.bluepost-articles li a:hover { color:#fff;}
.bluepost-articles .article-date { float:right;}
	
/* Classes */
.sidebar-classes { margin:10px 0 0;}
.sidebar-classes .sidebar-content { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/sidebar-bg.jpg) no-repeat 0 0 #0f0b0a; margin:-1px 1px 0; border:1px solid #312818; border-top:0; padding:10px 20px;}
.sidebar-classes .sidebar-icon { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-sidebar-icons.png) no-repeat 0 -125px;}
.sidebar-classes .class-link { margin:0 0 10px 0;}
.sidebar-classes .class-link li { float:left; text-align:center; line-height:30px; padding:5px 0 5px 10px;}
.sidebar-classes .class-link li a { width:140px; height:30px; display:block; color:#fff; text-shadow:0 0 2px #000; background:url(http://img3.cache.netease.com/game/blizzard/d3/images/classes-button.png) no-repeat 0 0;}
.sidebar-classes .class-link li a:hover { color:#fff;}
.sidebar-classes .class-link li a.barbarian { background-position:0 -30px;}
.sidebar-classes .class-link li a.barbarian:hover { background-position:-141px -30px;}
.sidebar-classes .class-link li a.crusader { background-position:0 -150px;}
.sidebar-classes .class-link li a.crusader:hover { background-position:-141px -150px;}
.sidebar-classes .class-link li a.demon-hunter { background-position:0 -60px;}
.sidebar-classes .class-link li a.demon-hunter:hover { background-position:-141px -60px;}
.sidebar-classes .class-link li a.monk { background-position:0 -90px;}
.sidebar-classes .class-link li a.monk:hover { background-position:-141px -90px;}
.sidebar-classes .class-link li a.witch-doctor { background-position:0 -120px;}
.sidebar-classes .class-link li a.witch-doctor:hover { background-position:-141px -120px;}
.sidebar-classes .class-link li a.wizard { background-position:0 0;}
.sidebar-classes .class-link li a.wizard:hover { background-position:-141px 0;}	
.sidebar-classes .class-articles {}
.sidebar-classes .class-articles li { line-height:25px; padding:5px 0; border-top:1px solid #261a15;}
.sidebar-classes .class-articles li:first-child { border:0;}
.sidebar-classes .class-articles li a { color:#cf590b;}
.sidebar-classes .class-articles .article-date { color:#ad835a;}
.sidebar-classes .class-articles .class-icon { width:25px; height:25px; display:inline-block; border:1px solid #3a2912; vertical-align:middle; margin:0 10px 0 0;}
.sidebar-classes .class-articles .barbarian { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/classes-icon.jpg) no-repeat 0 0;}
.sidebar-classes .class-articles .crusader { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/classes-icon.jpg) no-repeat 0 -125px;}
.sidebar-classes .class-articles .demon-hunter { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/classes-icon.jpg) no-repeat 0 -25px;}
.sidebar-classes .class-articles .monk { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/classes-icon.jpg) no-repeat 0 -100px;}
.sidebar-classes .class-articles .witch-doctor { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/classes-icon.jpg) no-repeat 0 -75px;}
.sidebar-classes .class-articles .wizard { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/classes-icon.jpg) no-repeat 0 -50px;}
	
/* Videos */
.sidebar-videos { margin:10px 0 0;}
.sidebar-videos .sidebar-content { padding:10px;}
.sidebar-videos .sidebar-icon { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-sidebar-icons.png) no-repeat 0 -100px;}
.sidebar-videos .video-image {}
.sidebar-videos .video-image a { width:480px; height:195px; display:block; position:relative; z-index:0; border:1px solid #483a30; box-shadow:0 0 10px #000;}
.sidebar-videos .video-image a:hover { border:1px solid #824C06;}
.sidebar-videos .video-image a img { display:block;}
.sidebar-videos .video-image span { display:block;}
.sidebar-videos .video-image span.video-title { width:480px; height:30px; line-height:30px; text-align:center; position:absolute; left:0; bottom:0; background:rgba(0,0,0,0.7); z-index:2;}
.sidebar-videos .video-image span.video-mask { width:60px; height:60px; display:block; position:absolute; left:50%; top:50%; margin:-40px 0 0 -30px; background:url(http://img3.cache.netease.com/game/blizzard/d3/images/video-play-icon.png) no-repeat 0 0; z-index:1;}
.sidebar-videos .video-articles { margin:20px 0 0;}
	
/* Images */
.sidebar-images { margin:10px 0 0;}
.sidebar-images .sidebar-content { padding:10px 0;}
.sidebar-images .sidebar-icon { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-sidebar-icons.png) no-repeat 0 -75px;}
.sidebar-images .image-articles li { padding:5px 0 5px 20px;}
	
/* Vote */
.sidebar-vote { margin:10px 0 0;}
.sidebar-vote .sidebar-content { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/sidebar-bg.jpg) no-repeat 0 -100px #0f0b0a; margin:-1px 1px 0; border:1px solid #312818; border-top:0; padding:10px;}
.sidebar-vote .sidebar-icon { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-sidebar-icons.png) no-repeat 0 -50px;}
.sidebar-vote .vote-text { padding:10px; margin:0 0 10px;}
.sidebar-vote .vote-text p { line-height:20px; text-indent:2em;}
.sidebar-vote .select { padding:0 0 0 50px;}
.sidebar-vote .select dt { line-height:22px;}
.sidebar-vote .select dd { height:25px; line-height:25px;}
.sidebar-vote .result { width:360px; text-align:center; margin:20px auto;}
.sidebar-vote .result .submit { background:#12110f; border:1px solid #322d29; font-size:14px; color:#AD835A; display:block; width:170px; height:30px; line-height:28px; float:left; cursor:pointer; font-family:'Microsoft Yahei';}
.sidebar-vote .result .submit:hover { border:1px solid #824C06; color:#ff9300;}
.sidebar-vote .result a { background:#12110f; border:1px solid #322d29; font-size:14px; margin:0 0 0 20px; display:block; width:168px; height:28px; line-height:28px; float:left;}
.sidebar-vote .result a:hover { border:1px solid #824C06; color:#ff9300;}
	
/* Sidebar News */
.sidebar-news { margin:10px 0;}
.sidebar-news .sidebar-content { padding:10px 20px;}
	
/* Friends */
.sidebar-friends { margin:10px 0 0;}
.sidebar-friends .sidebar-content { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/sidebar-bg.jpg) no-repeat 0 -100px #0f0b0a; margin:-1px 1px 0; border:1px solid #312818; border-top:0; padding:10px;}
.sidebar-friends .sidebar-icon { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-sidebar-icons.png) no-repeat 0 -25px;}
.sidebar-friends .friends a { border:1px solid #322d29; background:#12110f; border-radius:3px; display:inline-block; padding:2px 10px; margin:0 5px 5px 0;}
.sidebar-friends .friends a:hover { border:1px solid #824C06;}
.sidebar-bg-bottom { height:56px; background:url(http://img3.cache.netease.com/game/blizzard/d3/images/sidebar-bottom.png) no-repeat 0 0; }
	
.sidebar .more { font-size:12px; float:right; padding:0 30px 0 0;}
	
/* Footer */
.d3 .footer { height:270px; padding:150px 0 0; text-align:center; line-height:24px;}
.d3 .footer .text { padding:5px 0; margin:0 0 5px;}
.d3 .footer a { color:#A99877;}
.d3 .footer a:hover { color:#fff;}
.d3 .footer .cRed { color:#ff0000;}