.d3 .contents .content-left { width:740px; background: #12110f; padding: 0 20px 20px 15px; }
.d3 .contents .content-right { width:415px; font-size:12px;}
	
.sidebar h3 { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/endpage-sidebar-title-bg.jpg) no-repeat 0 0;}
.sidebar-bbs .sidebar-content { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/endpage-sidebar-bbs-bg.jpg) no-repeat 0 0;}
.sidebar-bbs .image-articles { margin:20px 0 0;}
.sidebar-bbs .image-articles li { padding:0 19px;}
.sidebar-news .sidebar-content,
.sidebar-bluepost .sidebar-content { padding:10px;}
.sidebar-data .data-link li { width:153px;}
.sidebar-bg-bottom { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/endpage-sidebar-bottom.png) no-repeat 0 0; }
	
.blog-articles .article-wrapper:first-child { background:none;}
.blog-articles .article-wrapper .article-content { width:510px;}
	
.location { border-bottom:3px solid #22201C;}
.location a, .location span { display: inline-block; padding: 10px 10px 10px 15px; background: url(http://img3.cache.netease.com/game/blizzard/d3/images/arrow.gif) no-repeat 0 center; line-height: 22px; }
	
.article-content { padding:0 20px;}
.article-content #h1title { color:#F3E6D0; margin:30px 0 5px; font-size:24px;}
.article-content .info { font-size:12px; line-height:21px; padding:5px 0; color:#AD835A;}
.article-content .info a { padding:0 5px;}
	
/* Page */
.page-number { height: 50px; line-height: 50px; text-align: center; }
.page-number a { border: 1px solid #322d29; padding: 5px 10px; text-align: center; background: #191814; }
.page-number a:hover { border: 1px solid #ff9300; }
.page-number span { padding: 5px 10px; text-align: center; }
.page-number .nopage { border: 1px solid #1f1c19; color: #1f1c19; }
.page-number .thispage { border: 1px solid #ff9300; color: #ff9300; }
	
/* Article Content */
#endText { width: auto; font-size: 14px; clear:both; text-align:justify; padding:10px 0;}
#endText strong,#endText b { font-weight:bold; }
#endText table td p { text-indent:0; }
#endText img { box-shadow:0 0 10px #000;}
#endText hr { border: 1px solid #22201C;}
#endText td { border:1px solid #22201C; padding:5px;}
#endText p { margin: 14px 0; text-indent:2em; line-height:24px;}
#endText a { color: #A4601E; }
#endText a:hover { color: #FFF; }
#endText img { padding: 1px; border: 1px solid #4D3F32; }
#endText a:hover img { border:1px solid #ff9300;}
#endText .no-shadow { box-shadow: none; }
#endText .no-border { border: none; }
#endText a:hover img.no-border { border:none;}
#endText .no-padding { padding:0;}
#endText li { list-style-type: disc; font-size:12px; line-height:22px;}
#endText ul { padding: 0 0 0 40px;}
#endText ul li ul { padding: 0 0 0 15px;}
#endText ul li ul li ul { padding: 0 0 0 15px;}
#endText .icon { margin:3px 0 0; border:0; }
#endText .f_center { text-align:center; text-indent:0; }
#endText .f_justify { text-align:justify; text-justify:inter-ideograph; text-indent:0; }
#endText .f_table { border-collapse: collapse; margin: 0 auto;}
#endText .f_left { text-align: left;}
#endText .f_right { text-align: right;}
#endText .blue-post .link a { font-size: 12px;}
#endText .blue-post .blue-post-content p { font-size: 12px; }
#endText .blue-post .blue-post-spokesman img { border: 0; box-shadow: none; }
	
/* Vote */
#endText .nvt_vote_4 { border-bottom: 1px solid #27221b; text-align: left; border-left: 1px solid #322d27; margin: 0 auto; width: 434px; background: #0d0b08; clear: both; border-top: 1px solid #322d27; border-right: 1px solid #322d27; padding: 0; }
#endText .nvt_vote_4 .nvt_vote_til { border-bottom: 1px solid #27221b; line-height: 35px; padding-left: 35px; background: url("http://img1.cache.netease.com/cnews/img/nvt10/voteicon.gif") no-repeat scroll 10px 8px #1A0804; font-weight: bold; }
#endText .nvt_vote_4 .nvt_vote_list { border-top: none; }
#endText .nvt_vote_cnt, .nvt_vote_info { margin: 10px; }
	
/* Images */
.d3tjtj { margin-top: 20px; }
.d3tjtj .hd { padding-left: 10px; margin-bottom: -6px; position: relative; }
.d3tjtj .hd h3 { font-size: 14px; font-weight: bold; color: #d99b3c; }
.d3tjtj .bd { width: 586px; overflow: hidden; background: url(http://img3.cache.netease.com/game/img11/D3_YL/listart/hr02.png) no-repeat left top; }
.d3tjtj .lst-img-title { width: 586px; padding: 12px 0 0 20px; margin-top: 45px; background: url(http://img3.cache.netease.com/game/img11/D3_YL/listart/bg04.png) no-repeat left top; zoom: 1; }
.d3tjtj .lst-img-title:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.d3tjtj .lst-first { margin-top: 0; }
.d3tjtj .lst-img-title li { width: 160px; float: left; _display: inline; margin-right: 32px; }
.d3tjtj .lst-img-title li h5 { margin-top: 28px; font-size: 14px; text-align: center; }
	
.bluepost-list { }
.bluepost-list ul { margin:20px 0;}
	
.images-list {}
.images-list ul { margin:20px 0;}
.images-list li { padding:11px;}
	
.class-articles-list .class-articles { margin:20px 0;}
.class-articles-list .class-articles li { line-height:25px; padding:5px 0; }
.class-articles-list .class-articles li a { color:#cf590b;}
.class-articles-list .class-articles .article-date { float:right;}
.class-articles-list .class-articles .class-icon { width:25px; height:25px; display:inline-block; border:1px solid #3a2912; vertical-align:middle; margin:0 10px 0 0;}
.class-articles-list .class-articles .barbarian { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/classes-icon.jpg) no-repeat 0 0;}
.class-articles-list .class-articles .crusader { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/classes-icon.jpg) no-repeat 0 -125px;}
.class-articles-list .class-articles .demon-hunter { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/classes-icon.jpg) no-repeat 0 -25px;}
.class-articles-list .class-articles .monk { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/classes-icon.jpg) no-repeat 0 -100px;}
.class-articles-list .class-articles .witch-doctor { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/classes-icon.jpg) no-repeat 0 -75px;}
.class-articles-list .class-articles .wizard { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/classes-icon.jpg) no-repeat 0 -50px;}
		
.sidebar-news .sidebar-icon { background:url(http://img3.cache.netease.com/game/blizzard/d3/images/d3-sidebar-icons.png) no-repeat 0 -25px;}
	
.ep-tie-simple { background:url(http://img1.cache.netease.com/game/img/endpage/sprites_v1.4.png) no-repeat 0 0 !important;}
.comment { margin:20px 0 0;}
#tieArea { color:#2b2b2b}
#tieArea a:hover { color:#990000 !important;}
	
/* viewbox container */
.container { width:100%; height:100%; z-index:999; position:absolute; }
.container .loading { width:236px; height:236px; background:url(http://img3.cache.netease.com/game/blizzard/static/images/uber-loading.gif) no-repeat center #000; display:block; position:absolute; top:0; left:0; z-index:1002; text-align:center; line-height:500px; }
.container .backdrop { background:#000; opacity:0.7; position:absolute; top:0; left:0; z-index:1000;}
.container .viewbox { position:absolute; top:50px; z-index:1001; text-align:center; padding:18px;}
.container .viewbox .lightbox-border,
.container .viewbox .corner { position:absolute; z-index:1009;}
.container .viewbox .border-top,
.container .viewbox .border-bottom { width:100%; height:18px; left:0; }
.container .viewbox .border-top { top:0; background: url(http://img3.cache.netease.com/game/blizzard/d3/images/lightbox-frame.png) repeat-x 0 0; }
.container .viewbox .border-bottom { bottom:0; background: url(http://img3.cache.netease.com/game/blizzard/d3/images/lightbox-frame.png) repeat-x 0 -18px; }
.container .viewbox .border-left,
.container .viewbox .border-right { height:100%; width:18px; top:0;}
.container .viewbox .border-left { left:0; background: url(http://img3.cache.netease.com/game/blizzard/d3/images/lightbox.png) repeat-y -254px 0;}
.container .viewbox .border-right { right:0; background: url(http://img3.cache.netease.com/game/blizzard/d3/images/lightbox.png) repeat-y -272px 0;}
.container .viewbox .corner-top-left,
.container .viewbox .corner-bottom-left { width:18px; height:18px; left:0; z-index:1011;}
.container .viewbox .corner-top-left { top:0; background: url(http://img3.cache.netease.com/game/blizzard/d3/images/lightbox.png) repeat-y -143px -300px;}
.container .viewbox .corner-bottom-left { bottom:0; background: url(http://img3.cache.netease.com/game/blizzard/d3/images/lightbox.png) repeat-y -143px -318px;}
.container .viewbox .corner-top-right,
.container .viewbox .corner-bottom-right {  width:18px; height:18px; right:0; z-index:1011;}
.container .viewbox .corner-top-right { top:0; background: url(http://img3.cache.netease.com/game/blizzard/d3/images/lightbox.png) repeat-y -161px -300px;}
.container .viewbox .corner-bottom-right { bottom:0; background: url(http://img3.cache.netease.com/game/blizzard/d3/images/lightbox.png) repeat-y -161px -318px;}
.container .viewbox a.viewbox-close { width: 70px; height: 73px; display:block; position: absolute; right:4px; top:4px; z-index:1012; background: url(http://img3.cache.netease.com/game/blizzard/d3/images/lightbox.png) no-repeat -1px -300px; cursor: pointer; }
.container .viewbox a.viewbox-close:hover { background-position: -72px -300px; }
	
.no-list-style { padding:0 0 0 10px !important;}
.no-list-style li { list-style:none !important;}