.mainwrap {background: #262a2d url(http://s2.open.126.net/ocb/res/img/play/playstage.jpg) center bottom no-repeat; height: 350px; margin-bottom: 15px; padding-top: 20px; }
.plybtn{background: url(http://img1.cache.netease.com/v/open/index/images/sprite.png?v=1) no-repeat 9999px 9999px;_background: url(http://img1.cache.netease.com/v/open/index/images/sprite-ie.png?v=1) no-repeat 9999px 9999px;}
.refbtn,.downbtn,.norefbtn,.nodownbtn{background:url(http://img1.cache.netease.com/video/2012/7/3/20120703163245445c8.png) no-repeat;;_background:url(http://img5.cache.netease.com/video/2012/6/26/201206261313212dbaf.png) no-repeat;}
.m-cintro {padding: 20px;border-bottom:2px solid #399466;background:#f4f4f4;height:288px;width:920px;margin:0px auto}
.m-cintro img{float:left;margin-right:20px;}
.m-cdes {text-align:left;width:520px;float:right;position: relative;}
.m-cdes h2{font-size:27px;text-align:left;line-height:33px;}
.m-cdes p,.m-cdes b{line-height:23px;}
.blank20 {clear: both; height: 15px; overflow: hidden; display: block; }
.blank9 {clear: both; height: 9px; overflow: hidden; display: block; }
.plybtn{display: block; width: 160px; height: 55px; position: absolute; background-position: 0px -350px; bottom: -50px; right: 10px;}
.plybtn:hover{background-position: 0px -413px;}
.u-cshare{margin-top:10px;}
.m-mn{border:1px solid #E8E8E8;border-top:2px solid #6C6C6C;}
.m-t-innerbg h2{font-size:18px;padding:15px 20px;width:400px;float:left;}
.m-t-innerbg .download-kejian{background: url(http://img4.cache.netease.com/video/2012/11/2/201211021604569591e.png) no-repeat 0 3px;margin:16px 0 0;padding: 0 0 0 20px;font-weight: lighter;display:block;float:right;width:90px;height:22px;line-height: 25px;color:#16914e;text-decoration: none;}
.m-t-innerbg .download-kejian:hover{text-decoration: underline;}
.m-clist{margin:0 20px;font-size:12px;}
.m-clist th{text-indent:10px;color:#999;}
.m-clist td{text-indent:10px;color:#444;}
.m-clist tr{height:45px;border-bottom:1px solid #ECECEC;}
.u-odd{background:#F5F5F5;}
.u-ctitle{width:520px;}
.u-cref,.u-cdown{width:90px;}
.u-downall{float:right; margin:10px 30px 20px 0; display:block;width:60px; height:25px; line-height:25px; border:1px solid #D6D6D6; background:#F4F4F4; padding:0 0 0 8px; border-radius:1px; box-shadow:1px 1px 1px #D6D6D6; -webkit-box-shadow:1px 1px 1px #D6D6D6; -moz-box-shadow:1px 1px 1px #D6D6D6; }
.m-cteacher{border-bottom:1px solid #E8E8E8;padding-bottom:20px}
.m-ccollege{margin-top:20px;}
.m-ccollege h3,.m-cteacher h3{font-size:14px;}
.cContent{ color: #444;clear: both;margin: 0 auto;text-align: left;line-height: 18px;text-indent:20px;}
.picText { color:#444; clear:both; margin:0 auto;  text-align:left; line-height:18px;}
.picText h5 { text-align:left; font-size:12px; line-height:21px; padding-bottom:3px; color:#2b2b2b}
.picText h6{text-align:left; font-size:12px; line-height:18px;  color:#444; font-weight:normal;}
.picText img { float:left; border:1px solid #ccc; margin:0 8px 3px 0;}
.norefbtn,.nodownbtn,.refbtn,.downbtn{display: block;width:16px;height:16px;margin: 8px 0 0 30px;}
.refbtn{background-position:0 -60px;}
.nodownbtn{background-position:0 -30px;}
.norefbtn{background-position:0 -90px;}
.isyy{vertical-align:sub;*vertical-align:top}
#ckepop{float:left;}
.ckcoll,.ckcoll2,.ckcoll1{background: url('http://img1.cache.netease.com/video/2013/1/27/201301271204046de59.png') no-repeat;}
.ckcoll{cursor:pointer;margin-left:-10px;height: 20px;width: 55px;float: left;background-position: -2px -29px;}
.ckcoll1{cursor:pointer;margin-left:-10px;height: 20px;width: 56px;float: left;background-position: 0 -155px;}
.ckcoll2{cursor:pointer;margin-left:10px;height: 20px;width: 115px;float: left;background-position: -2px -62px;position:relative;}
.u-seemore{height: 30px;margin: 20px;line-height: 30px;text-align: center;font-size: 16px;border: 1px solid #ECECEC;background: whiteSmoke;color: #999;cursor: pointer;}
.ckcoll1{height: 20px;line-height: 20px;color: #666;padding-left:26px;}
.ckcoll1:hover{color:#16914e;}
.ckcoll3{width: 147px;height: 18px;line-height: 18px;background: #d0d0d0;border: 1px solid #bebebe;text-align: center;float: left;color: #666;margin-left: 10px;}
.ckcoll3 a{color: #16914e;}
.ckcoll3 a:hover{text-decoration:underline;}