/* (reset&base)(tags) */
*[hidefocus]{outline:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
a,p{line-height:18px;font-size:12px;}
fieldset,img,html,body,iframe{border:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
h1,h2,h3,h4{font-family:'Microsoft YaHei';font-weight:bold;font-size:100%;}
h5,h6{font-family:"宋体",arial;font-weight:bold;font-size:100%;}
caption,th{font-weight:normal;font-style:normal;text-align:left;}
em,strong{font-style:normal;}
body,textarea,select,input{font-family:arial,simsun,helvetica,sans-serif;font-size:12px;color:#333;}
body{background-color:#fff;}
a,button{cursor:pointer;}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:underline;color:#16914E}
/* background-image */
.m-tit-zxls span,.m-tit-zrkx span,.m-tit-jgfx span,.m-tit-jckx span,.m-tit-gcjs span,.m-tit-nlyy span,.m-ocnav .m-select span.w-arr-2,.cap-btn,.w-btn-h3,.m-tit-rwyshkx span,.m-mnlst-1 li a.wgo,.m-tit-zrkx span,.m-vote-head span,.w-sco,.m-class span,.w-focus,.m-nav a,.m-nav em,.w-btn,.g-navcnt,.m-subnav li,.m-subnav li a,.w-new,.m-shelf ul,.w-arr-1,.w-arr-2,.m-searchBtn,a.ocprev,a.ocnext,a.ogprev,a.ognext,.w-slchg span,.m-client .inner .cl,.m-client .inner .phone{background:url(http://img1.cache.netease.com/v/open/index/images/sprite.png?v=1) no-repeat 9999px 9999px;_background:url(http://img1.cache.netease.com/v/open/index/images/sprite-ie.png?v=1) no-repeat 9999px 9999px;}
.m-logo{background:url(http://img1.cache.netease.com/v/open/index/images/banner-bg.png?v=1) no-repeat 0 1px;}
.m-famth h2,.m-teacher h2,.m-vote-head h3,.m-topic h2 span,.m-client h3 span,.m-hot h3 span,.m-class h3,.tlt{background:url(http://img3.cache.netease.com/video/2013/3/22/2013032210510947fb3.png) no-repeat 9999px 9999px;}
.m-tit-zxls,.m-tit-zrkx,.m-tit-jgfx,.m-tit-jckx,.m-tit-gcjs,.m-tit-nlyy,.m-tit-zxjz,.m-tit-qbjz,.m-tit-zrkx2,.m-tit-shkx,.m-tit-rwkx,.m-tit-zrkx,.m-mnkh h2,.m-mnt h2,.g-mn-ted h2,.m-mncn h2,.m-global h2,.m-china h2{background:url(http://img3.cache.netease.com/video/2013/9/22/20130922175430e2077.png) no-repeat 9999px 9999px;}
#container{background:#000 url(http://img1.cache.netease.com/v/open/index/images/slide-bg-rep.png?v=1) repeat-x 0 0;}
.g-all{background:#fff url(http://img1.cache.netease.com/v/open/index/images/bg-rep-2.png?v=1) repeat-x 0 0;}
.m-t-innerbg,.m-t-bg{background:#fff url(http://img1.cache.netease.com/v/open/index/images/m-bg.png?v=1) repeat-x 0 0;}
.m-t-innerbg2{background:#fff url(http://img1.cache.netease.com/v/open/index/images/zxjz-bg-rep.png?v=1) repeat-x 0 0;}
.w-footline,.w-vote-headr,.w-vote-headl,.m-china,.m-global,.m-mnkh,.m-mnt,.m-mncn,.g-mn-ted{background:url(http://img1.cache.netease.com/v/open/index/images/rp.png?v=1) repeat-x 0px 0px;}
.m-sidenav h3.tit2,.m-sidenav h3{background:url(http://img1.cache.netease.com/v/open/index/images/tit-sdbg.png?v=1) repeat-x 0 0;}
.m-select{background:url(http://img1.cache.netease.com/v/open/index/images/nav-sl-bg.png?v=1) repeat-x 0 0;}
.w-observe{background:url(http://img1.cache.netease.com/v/open/index/images/ob-bg.png?v=1) no-repeat;}
.g-wrap-3,.g-wrap-1,.g-wrap-2{background:#2F2F2F url(http://img1.cache.netease.com/v/open/index/images/bg_font0619.png) repeat-x;9999px 9999px;}
/* clear float */
.g-hd:after,.g-bd:after,.g-ft:after,.m-nav ul:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.g-hd,.g-bd,.g-ft,.m-nav ul{zoom:1;}
/* (grids)(.g-) */
html,body,.g-navcnt{width:100%;height:100%;}
html{overflow:auto;overflow-y:scroll;}
body{text-align:center;}
.g-all{width:100%;}
.g-doc,.g-wrap{width:960px;margin:0 auto;text-align:left;}
.g-wrap-1{width:100%;height:30px;background-position:0px -60px;}
.g-wrap-2{width:100%;height:30px;background-position:0px 0px;}
.g-wrap-3{width:100%;height:30px;background-position:0px -120px;}
/* 头部 */
.g-hd{margin:0 0 0px;height:73px;z-index:5;}
/* 主体 */
.g-bd{margin-bottom:30px}
.g-navcnt{height:40px;background-color:#3A1B10;background-position:0 -100px;background-repeat:repeat-x;box-shadow: 0 2px 1px black;-webkit-box-shadow: 0 2px 1px black;-moz-box-shadow: 0 2px 1px black;}
/* 主栏 */
.g-mn{float:left;width:650px;}
/* 侧栏 */
.g-mc{width:960px;}
.g-sd{position:relative;float:right;width:295px;}
/* 尾部 */
.g-vt{margin:25px 0 0 0;}
.g-ft{width:100%;margin:40px 0 0;padding:0 0 20px;background:url(http://img1.cache.netease.com/v/open/index/images/bg-dot.jpg);}
.g-mn-ted{height: 312px;border: 1px solid #EBEBEB;background-position: 0 -112px;}
/* 模块(module)(.m-) */
.m-topbar,.m-topbar li{height:27px;line-height:27px;z-index:120;}
/* 顶部链接 */
.m-link{float:left;}
.m-link li{display:inline;float:left;margin-right:13px;} 
.m-login,.m-afterlogin{float:right;}
.m-afterlogin{display:none;}
.m-login li,.m-afterlogin li{display:inline;float:left;margin-left:12px;}
.m-login li.sh-len,.m-afterlogin li.sh-len{margin-left:6px}
/* logo */
.m-logo{position:absolute;left:-52px;top:0;padding-left:52px;width:475px;height:73px;}
.m-logo a{display:block;margin:10px 0 0 0;width:200px; height:55px; overflow:hidden;text-indent:-20000px;}
 
/* 搜索栏 */
.m-search{float:right;width:412px;margin:20px 0 0 0;border:5px #969696;}
.m-searchBtn{width:63px;height:32px;background-position:-140px 0;border:none;background-color:#969696;}
.m-inputArea{width:340px;height:28px;line-height:28px;padding-left:5px;font-size:14px;background:#fff;border:2px solid #969696;color:#999}
/* 导航 */
.m-nav{}
.m-subnav{float:left;width:605px;}
.m-subnav ul{}
.m-subnav li,.m-subnav a,.m-subnav{display:block;float:left;color:#fff;font-weight:normal;height:39px;line-height:39px;font-size:14px;}
.m-subnav li{padding:0 12px 0 0;}
.m-subnav li a{padding:0 0 0 12px;text-shadow: 0 -1px -1px black;}
.m-subnav li a:hover{text-decoration:none;}
.m-subnav li.js-hover,.m-subnav li.js-hover a,.m-subnav li:hover,.m-subnav li:hover a{background-position:0 -240px;color:#fff; }
.m-subnav li.js-crt{background-position:right -303px;}
.m-subnav li.js-crt a{background-position:0 -303px;text-align:center;}
.m-separator{cursor:normal;color:#505050}
.m-shelf{float:right;}
.m-shelf ul{background-position:0 -303px}
.m-shelf li,.m-shelf a,.m-shelf em{float:left;height:40px;line-height:40px;font-size:12px;}
.m-shelf li em{padding:0 8px;font-weight:normal;}
.m-shelf li em.hasdown{padding-right:19px;*padding-right:18px;}
.m-shelf li a{color:#9A886D;}
.m-shelf li.fst em{padding:0 11px 0 16px;_padding:0 8px 0 13px;}
.m-shelf li .sep{color:#3a3532;font-size:14px;}
.m-shelf li a:hover,.shelf-crt{background-color:#583E23;color:#fff;text-decoration:none;}
.shelf-crt a em{color:#fff;}
.m-shelf li a:hover .sep,.shelf-crt .sep{color:#583E23;}
.m-shelf li em.hasdown .w-arr-1{position:absolute;top:15px;right:9px;_right:5px;_top:12px;}
.m-shelf li a:hover .w-arr-1,.shelf-crt .w-arr-1{background-position:-285px -227px;_background-position:-285px -225px;}
/* 导航栏 */
.m-ocnav{height:30px;z-index:20px;}
.m-ocnav ul li,.m-ocnav ul li a{display:inline;float:left;}
.m-ocnav li.ocnavli a:hover{color:#ebebeb;text-decoration:none;}
.m-ocnav ul li{height:30px;padding:0 7px 0 12px;cursor:pointer; color:#AEAEAE;font-weight:normal;line-height:31px;font-size:12px}
.m-ocnav li.ocnavli a{height:30px; line-height:31px;}
.m-ocsubnav{padding-top:8px;opacity:0.95;background:rgb(222,222,222);filter:alpha(opacity:95);display:none;position:absolute;z-index:200;top:30px;left:0px;width:626px;border:5px solid #828282;box-shadow:0px 2px 5px #222;-moz-box-shadow:0px 2px 5px #222;-webkit-box-shadow:0px 2px 5px #222;}
.m-ocnav .m-ocsubnav li{height:21px;width:290px;margin:0 10px 8px 10px;padding:0;line-height:16px;border-bottom:1px dotted #828282;}
.m-ocnav .m-ocsubnav li a{height:21px;line-height:16px;display: block;}
.m-ocnav .m-select{color:#fff}
.m-ocnav .m-select span.w-arr-2{background-position:-285px -227px;_background-position:-285px -225px;}
/* 幻灯片 */
#container {
	width:100%;
	margin:0 auto;
	position:relative;
	z-index:0;
	padding-top:20px;margin-bottom:10px;width:100%;height:388px;overflow: hidden;
        background-position:0px -1px;
}
/*
	Slideshow
*/
#slides,#slides-2{
	position:relative;
	z-index:100;
}
#slides-2{
	display: none;
}
/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/
.slides_container {
	width:1680px;
	height:350px;
	overflow:hidden;
	position:relative;
	display:none;
}
/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/
.slides_container div.slide {
	width:1440px;
	height:350px;
	display:block;
}
div.slide a{
	display: block;
	text-align:center;
	margin:auto;
	width:800px;
}
/*
	Next/prev buttons
*/
 a.ocnext,a.ocprev,a.ognext,a.ogprev {
	display: block;
	position:absolute;
	top:143px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}
a.ocprev,a.ogprev{
	left:30px;
	background-position:-185px -355px;width:30px;height:50px;
}
a.ocnext,a.ognext {
	right:30px;
	background-position:-240px -358px;width:30px;height:50px;
}
a.ocprev:hover,a.ogprev:hover{background-position:-185px -420px;}
a.ocnext:hover,a.ognext:hover{background-position:-240px -420px;}
/*
	Pagination
*/
.m-slul .pagination {
	margin:0px auto 0px auto;
	padding-top:12px;
	width:310px;
	height:16px;
}
.m-slul .pagination li {
	float:left;
	margin:0px 1px;
	list-style:none;
}
.m-slul .pagination li a {float:left;overflow:hidden;display:inline-block;zoom:1;*display:inline; width:20px; height:8px; margin:4px 3px;border:1px solid #999;background:none;text-indent: -9999px;overflow: hidden;}
.m-slul .pagination li a:hover{
	border:1px solid #fff;
}
.m-slul .pagination li.current a {
	border:1px solid #19B961;background: #197442;
}
/*
	Caption
*/
.caption,.caption2 {
	display: none;
	z-index:500;
	position:absolute;
	top:15px;
	left:0;
	width:210px;
	height:320px;
	text-shadow:none;
}
div.slide a.cap-btn{
	display: block;
	width:160px;
	height:55px;
	position:absolute;
	background-position:0px -350px;
	bottom:20px;
	left:25px;
}
div.slide a.cap-btn:hover{
	background-position:0px -413px;
}
.m-slul{display:inline-block; margin:0px auto 0 auto; width:960px; height:38px;}
.w-slchg{display:none; position:absolute;left:0;float:left; height:36px; line-height:36px;color:#8F8E8E;}
.w-slchg a{color: #CCC;}
.w-slchg span{display:inline-block; width:10px; height:10px; margin:14px 0 0 85px;background-position:-305px -193px;}
/* 尾部站点 */
.m-nts{text-align:center;line-height:22px;}
.m-nts .contact{height:32px;line-height:32px;color:#4d4d4d;border-bottom:1px solid #ccc;}
.m-nts .links a{margin:0 6px;color:#4d4d4d;}
.sander-nts .links a{margin:0 6px;color:rgba(221, 221, 221, 0.85);}
.m-nts .links{height:30px;line-height:31px;margin-bottom:10px;}
.m-nts p,.m-nts p a{height:16px;line-height:16px;color:#727171;}
/* 尾部版权 */
.m-cprt{text-align:center;line-height:20px;font-family:arial;}
/* 正文 */
.m-mnc{margin-bottom:15px;border:0px solid #EBEBEB;border-top:none;}
.m-mnkh{margin-bottom:15px; height:181px; border:1px solid #EBEBEB;border-top:2px solid #236742;}
.m-mncn{margin-bottom:0px; height:181px; border:1px solid #EBEBEB;border-top:2px solid #236742;}
.m-mnt{height:182px; border:1px solid #EBEBEB;}
.m-cnt{padding:0 15px;}
.m-topic{height:323px;margin-bottom:15px; border:1px solid #EBEBEB;}
.m-topic h2 span{display: block; width:100px; height:30px; background-position: 15px 15px;}
.m-topic h2 a{position:absolute;right:15px;top:15px;font-weight:normal;}
.m-topc{width:263px;padding:7px 0 12px;border-bottom:1px dotted #DBD7D5;}
.m-topc-1{border:none;padding:15px 0 0;}
.m-topc .tlt{display:inline-block;height:21px;line-height:21px;color:#444}
.m-topc a.tlt:hover{color:#16914E;}
.m-hot{height:381px; border:1px solid #EBEBEB;}
.m-hot h3,.m-hot h3 span{height:33px}
.m-hot h3 span{display: block; background-position: -295px 15px;}
.m-cloud{height:80px;overflow:hidden;}
.m-dl{height:120px;padding:10px 16px;border-top:1px solid #EBEBEB;}
.m-client{height:130px;border-top:1px solid #EBEBEB;}
.m-client h3 span{display: block; background-position: 16px -100px;}
.m-client .cnt{margin:0 15px;padding:10px 0 5px 10px;border:1px solid #e9ecee;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:#E9ECEE;}
.m-client .inner .cl{width:60px;height:60px;float:left;background-position:0 -160px;}
.m-client .inner .clinet{margin-left:70px;}
.m-client .inner .phone{display:inline-block;margin:0  0 5px 5px;width:68px;height:26px;line-height:26px;color:#fff;font-family:"微软雅黑";text-shadow:1px 0 0 #C5D9CE;text-align:center;background-position:-78px -160px;}
.m-client .inner .phone:hover{background-position:-213px -193px;text-decoration:none;}
.m-client .inner .phone-1{width:96px;background-position:-78px -193px;}
.m-client .inner .phone-1:hover{background-position:-183px -160px;}
 
.m-china,.m-global,.m-mnkh,.m-mnt,.m-mncn{background-position:0 -112px}
.m-china{margin-bottom:30px;border:1px solid #EBEBEB;}
.m-global{margin-bottom:30px;border:1px solid #EBEBEB;}
/* 非主页内容 */
.m-t-bg{padding:0 1px;background-position:0 -66px}
.m-t-bg2{border:1px solid #ebebeb;border-top:2px solid #e51303}
.m-t-bg3{border:1px solid #ebebeb;border-top:2px solid #40744B}
.m-t-innerbg{margin-bottom:5px;height:45px}
.m-t-innerbg2{margin-bottom:5px;height:45px}
.m-conmt{margin-bottom:15px;padding:0 25px;border-bottom:1px solid #ebebeb;}
.m-conmt-t{padding:0 25px;}
.m-tit-zrkx{height:45px;width:150px;background-position:-160px -386px;}
.m-tit-zxls span,.m-tit-zrkx span,.m-tit-jgfx span,.m-tit-jckx span,.m-tit-gcjs span,.m-tit-nlyy span{position: absolute; top:14px;left:20px;display: block;width:20px;height:20px;background-position:-295px -377px}
.m-g-zxls{margin-top:30px}
.m-tit-zxls{height:45px;width:130px;background-position:-1px -447px;}
.m-tit-jgfx{height:45px;width:130px;background-position:-160px -448px;}
.m-tit-jckx{height:45px;width:130px;background-position:0px -505px;}
.m-tit-gcjs{height:45px;width:130px;background-position:-160px -505px;}
.m-tit-nlyy{height:45px;width:130px;background-position:-1px -558px;}
.m-tit-rwkx{height:45px;width:130px;background-position:7px -272px;}
.m-tit-shkx{height:45px;width:130px;background-position:7px -334px;}
.m-tit-zrkx2{height:45px;width:130px;background-position:7px -387px;}
.m-tit-qbjz{height:45px;width:130px;background-position:-180px -270px;}
.m-tit-zxjz{height:45px;width:130px;background-position:-160px -332px;}
.w-btn-h3{display:block;float: left;height:24px;width:24px;background-position:-295px -441px;}
.m-ted{padding:15px;height:304px;border:1px solid #ebebeb;}
.m-tedinfo{padding:15px 0 15px 0;border-bottom:1px dotted #ebebeb;}
.m-tedinfo img{float:right}
.m-kahaninfo{padding:15px 0 15px 0;}
.m-kahaninfo img{float:right;}
/* //非主页内容 */
.w-tlt{height:50px;} 
.w-tlt h2{width:300px;height:50px}
.w-tlt h2.tcbg{background-position:-1px -136px}
.w-tlt h2.tgbg{background-position:0 -203px}
.w-tlt h2.tkbg{background:url(http://img6.cache.netease.com/video/2013/4/22/201304222104150f5db.jpg) no-repeat 0 0}
.w-tlt h2.ttbg{background-position:0 -630px}
.w-tlt h2.tzbg{background-position:0 -137px}
.w-tlt div.mor{right:20px;top:20px;}
.w-tlt div.mor span{margin-right:10px;}
.w-tlt div.mor a{color:#16914E;}
.m-class{padding-top:20px;margin:0 20px;border-top:1px solid #c8c8c8;}
.m-class span.w-lg{float:left; width:20px; height:30px; margin-right:6px; background-position:-295px 5px;}
.m-class h3{ width:150px; height:30px;}
.m-class h3.t1{background-position:-2px -140px;} 
.m-class h3.t2{background-position:-310px -140px;}
.m-class h3.t3{background-position:-2px -170px;} 
.m-class h3.t4{background-position:-310px -170px;}
.m-clscnt{padding:12px 5px 7px;}
.m-clscnt li{margin:7px 15px 0;}
.m-clscnt li .cnt{padding:0 0 10px;}
.m-clscnt li{float:left;display:inline;width:126px;  }
.m-clscnt li .cimg{display:block;width:126px;}
.m-clscnt li a img{border:1px solid #D6D6D6;margin:2px;}
.m-clscnt li a img:hover{border:1px solid #999;}
.m-clscnt li a:hover{color:#29754d;}
.m-clscnt li h5{padding-top:7px;line-height:17px;font-weight:normal;overflow:hidden;}
.m-clscnt li h6{color:#727171;font-weight:normal;}
.m-clscnt-4,.m-clscnt-1{padding:0 5px 10px;}
.m-clscnt-1 li{margin:10px 16px 0;}
.m-clscnt-4 li{margin:10px 14px 0 18px;}
.m-clscnt-3,.m-clscnt-2{padding:0 5px 15px;margin:0 -20px;}
.m-clscnt-3 li{margin:5px 15px 0;}
.m-teacher{padding:15px;border:1px solid #ebebeb}
.m-teacher h2{width:250px; display:block;height:15px;background-position:-310px -120px}
.m-teacher ul{width:265px}
.m-teacher ul li{float:left;width:264px;padding-bottom:24px}
.m-teacher a.tinfo{display: block;margin:4px 0 8px 0;}
.m-teacher span{line-height:18px;}
.m-famth{margin-top:15px;padding:15px;border:1px solid #ebebeb}
.m-famth h2{margin-bottom:10px;width:250px; display:block;height:15px;background-position:-310px -98px}
.m-cndoc{padding:0 20px;}
/* 翻译进度栏 */
.m-vote-head{width:960px;float:left;;margin-bottom:15px}
.m-vote-head span{width:20px;height:20px;background-position: -296px -33px;display: block;float: left;}
.m-vote-head h3{height:20px;width:500px;background-position:0 -205px}
.m-vote-list{width:465px;float:left;}
.m-vote-listr{width:465px;float:left;margin-left:30px}
/* 页脚 */
.m-resource{padding-bottom:30px;border-bottom:1px solid #e1e1e1;}
.m-resource p{margin:0 36px;line-height:17px;text-indent:20px;}
.m-share{padding:20px 0;border-bottom:1px solid #e1e1e1;border-top:1px solid #fff;}
.m-thx{padding-top:30px;padding-bottom:20px;border-top:1px solid #fff;}
.m-thx p{margin:10px 36px 0 36px;text-indent:20px;}
/* fixed导航栏 */
.m-sidenav{
	position: absolute;
	left:0px;
	top:627px;
	width:96px;
	background:#f2f2f2;
	border:1px solid #dbdbdb;
	padding-bottom:10px;
}
.m-tag{padding:12px 5px 0px 5px;height:277px;width:636px;overflow:hidden;}
.m-tag2{padding:6px 0px 0px 0px;width:650px;min-height:290px;}
.m-tag ul,.m-tag2 ul{display:inline;}
.m-sidenav li,.m-sidenav li a{float:left;}
.m-sidenav li{margin:4px 8px;_margin:4px 6px;height:18px;line-height:18px;}
.m-sidenav h3{position:absolute;width:104px;height:34px;line-height:26px;color:#fff;text-indent:15px;background-position:0px 0px;}
.m-sidenav h3.tit2{width:104px;height:34px;line-height:26px;color:#fff;text-indent:15px;background-position:-120px 0px;}
 .m-sidenav  ul{padding-top:34px;*padding-bottom:10px;}
  /* 我的收藏 */ 
.m-mnlst{display:none;position:absolute;right:0;top:40px;border:5px solid #583E23;}
.m-mnlst .lst{width:210px;padding:0 10px;background:#fff;opacity:0.9;filter:alpha(opacity=90);}
.m-mnlst li{border-bottom:1px dotted #BABABA;}
.m-mnlst li.lst a,.m-mnlst li.lst a:hover{float:right;height:35px;color:#208F53;line-height:35px;}
.m-mnlst li,.m-mnlst li a{float:none;display:block;padding:0;height:31px;line-height:31px;color:#000;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.m-mnlst li .playtt{width:225px;}
.m-mnlst li.lst,.m-mnlst-1 li.lst{border:none;padding:0;height:35px;}
.m-mnlst li a:hover{background-color:#fff;text-decoration:underline;opacity:0.9;filter:alpha(opacity=90);color:#000;}
/* 播放记录 */
.m-mnlst-1{}
.m-mnlst-1 .lst{width:225px;}
.m-mnlst-1 li{height:40px;padding:5px 0;}
.m-mnlst-1 li a,.m-mnlst-1 li p{height:20px;line-height:20px;}
.m-mnlst-1 li p span{float:left;margin-right:20px;color:#8C8C8C;}
.m-mnlst-1 li a.wgo{float:right;padding-left:16px;background-position:-299px -157px;} 
.m-mnlst-1 li .more{margin-right:15px;}
/* 组件(widget)(.w-) */
/* 关注 */
.w-observe{display:none;position:absolute;height:104px;width:172px;left:-110px;top:21px}
.w-sina{padding:6px 0 0 20px}
/*  */
.w-list{}
.w-focus{margin:2px 2px 0 0;width:35px;padding-left:25px;height:24px;line-height:21px; background-position:0px 0px;font-weight:bold;}
.w-new{position:absolute; left:27px;top:-12px;width:30px; height:25px; background-position:-80px 0;}
.w-arr-1{width:10px;height:10px;line-height:10px;background-position:-302px -227px;_background-position:-302px -225px;}
.w-arr-2{_margin:10px 0 0;display: inline-block;zoom:1;*display:inline;width:11px;height:10px;background-position:-302px -213px}
.w-mnav{height:36px;background:#E6E6E6}
.w-mnav li{float:left;width:110px;text-align:center;line-height:33px;height:33px;cursor:normal;border-top:3px solid #e6e6e6;border-right:1px solid #fff;}
.w-mnav li a:hover{background:#fff;text-decoration:none;border-top-color:#236742;}
.w-mnav li.on{border-top-color:#236742;font-weight:bold;cursor:default;border-right:none;background-color: #fff;}
.w-conmt{}
.w-conmt li{float:left;} 
.w-sep{display:block; margin-left:20px; height:1px; width:920px; border-top:1px solid #C8C8C8}
.w-dotline{display:block; float:left; margin:0 16px; height:1px; width:260px; border-top:1px dotted  #C8C8C8}
.w-vote-headl{height:28px;line-height:28px;text-indent:12px;color:#FFF;font-weight:normal; background-position:0 -37px;}
.w-vote-headr{height:28px;line-height:28px;text-indent:12px;color:#FFF;font-weight:normal; background-position:0 -70px;}
.w-vtul li{height:64px;padding:10px 0px;border-bottom:1px dotted #a9a9a9;color:#333;}
.w-vtul li p{padding-top:10px;text-indent:20px;}
.w-sco{float:left;width:64px;height:64px;margin-right:10px;background-position:-215px 0px;}
.w-sco h3{height:40px; line-height:40px; color:#42835E;font-family:georgia;font-size:16px;text-align: center;}
.w-sco h3.cbdr-1{color:#7F2D00;}
.w-sco a span{display:block;height:20px;line-height:20px; text-align:center;color:#333;}
.w-footline{width:100%;height:6px;background-position:0px -101px;}
.w-res{margin:0 0 0 12px;}
.w-res li{float:left;display:inline;margin:12px 0 0 24px;width:92px;height:86px}
.w-res li a{display:block;padding:5px;border:1px solid #D3D3D3;background:#fff;}
.w-res li a img{width:80px;height:50px;} 
.w-manav1{float:left;height:270px;width:636px;list-style-type:square;list-style-position:inside}
.m-clscnt li.w-lst1{width:295px;_width:290px;float:none;display:list-item;margin: 10px 0 0 10px;list-style-type:square;list-style-position:inside}
.w-cloud{white-space:nowrap;float:left;margin: 5px 2px 2px 16px;}
.w-cloud a{display:inline-block;}
.left-header,.translator-bottom{width:960px;margin:0px auto;}
.left-header{margin-top:25px;margin-bottom:15px;}
.translator-bottom ul li{float:left;margin-left:20px;width:220px;text-align:left;line-height:20px;}
/* 功能(function)(.f-) */
.f-cb:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.f-cb{zoom:1;}
.f-ff0{font-family:arial;}
.f-ff1{font-family:simsun,\5b8b\4f53;}
.f-fs0{font-size:12px;}
.f-fs1{font-size:14px;}
.f-fw0{font-weight:normal;}
.f-fw1{font-weight:bold;}
.f-dn{display:none;}
.f-db{display:block;}
.f-ib{display:inline-block;zoom:1;*display:inline;}
.f-usn{user-select:none;-moz-user-select:none;-webkit-user-select:none;-khtml-user-select:none;-o-user-select:none;}
.f-oh{overflow:hidden;}
.f-pr{position:relative;}
.f-pa{position:absolute;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-tac{text-align:center;}
.f-tal{text-align:left;}
.f-tar{text-align:right;}
.f-vat{vertical-align:top;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-thide{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.f-ul,.f-ul:hover{text-decoration:underline;}
.f-ulno,.f-ulno:hover{text-decoration:none;}
.f-hide{text-indent:-9999px;overflow: hidden;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-nc{width:960px;margin:20px auto;}
.f-linesep{display:block; height:1px; width:100%; border-top:1px solid #484848}
.f-t30{margin-top:30px}
.f-vam,.f-vama *{vertical-align:middle;}
.f-blank0 {display: block;width:100%;height:20px}
.f-DGray{color:#666;margin-top:0px}
.f-noborder{border:none}
.f-fc2{line-height:27px;height:27px}
/* 皮肤(skin)(.s-) */
.s-fc0,a.s-fc0:hover{color:#000;/* 黑色 */}
.s-fc1,a.s-fc1:hover{color:#333;/* 灰黑色 */}
.s-fc2,a.s-fc2:hover{color:#666;/* 灰色 */}
.s-fc3,a.s-fc3:hover{color:#999;/* 浅灰色 */}
.s-fc4,a.s-fc4:hover{color:#494949;/* 浅灰色 */}
.s-fc5,a.s-fc5:hover{color:#fff;/* 白色 */}
.s-fc6,a.s-fc6:hover{color:#16914E; /* 链接的绿色 */}
.s-fc7,a.s-fc7:hover{color:#bf8c8c; /* TED的红色超链接 */}
.s-fc8,a.s-fc8:hover{color:#7f7f7f; /* TED的红色超链接 */}
.s-fc9,a.s-fc9:hover{color:#86958A; /* Tkahan的红色超链接 */}
.s-teda,.s-teda:hover{color: #c81400;}
.s-yh{font-family: 'Microsoft YaHei';}
/* blank */
.b-5,.b-10, .b-20, .b-30, .b-15, .b-40 { clear: both; height: 10px; overflow: hidden; display: block; }
.b-5  { height: 5px; }
.b-20 { height: 20px; }
.b-30 { height: 30px; }
.b-15 { height: 15px; }
.b-40 { height: 40px; }
/* added by hzshaoyy blockui 7.20 */
.loginWin2{display: none;}
.loginForm2{width:360px;top: 24px;left: 20px}
.eSuggest{position: absolute;top: 33px;left: 63px;border:1px solid #e4e4e4;width:247px;}
.eSuggest li{background: white;border-bottom: 1px solid #E4E4E4;height: 32px;line-height: 32px;cursor: pointer;width: 231px;padding: 0 8px;color: #444;float:left;}
.eSuggest li.select{background: #fafafa;}
.hidden{display: none;}
.loginWin2 .u-bar{height:39px;background-color:#ebebeb;line-height:39px;}
.loginWin2 h2{font-size:14px;color:#444444;padding-left:19px;float:left;}
.loginWin2 .close{background:url(http://img1.cache.netease.com/v/open/index/images/openlogclose.png) no-repeat;float:right;margin:16px 14px;width:9px;height:9px;cursor:pointer;}
.loginWin2 .u-ipt{font-size:14px;margin-bottom:24px;color:#444444;}
.loginWin2 .u-ipt input{margin-left:17px;width:247px;height:31px;background-color:#fafafa;border:1px solid;border-color:#c5c5c5 #e4e4e4 #e4e4e4 #c5c5c5;}
.autoLogin,.fCenter{padding-left:70px;}
.autoLogin{margin-bottom:14px;color:#333333;}
.loginWin2 a{color:#049339;}
.fCenter a{display:block;float:left;line-height: 33px;}
.autoLogin .d1{margin-right:5px;}
.loginWin2-toLogin{display:block;background:url(http://img3.cache.netease.com/video/2012/7/20/20120720203638bfc03.png) no-repeat;border:none;width:73px;height:32px;}
.u-feedbackTip{height:42px;line-height:42px;display:none;}
.u-feedbackTip span{width: 30px;height: 30px;background: url('http://img3.cache.netease.com/video/2013/1/23/20130123094834414a4.jpg') no-repeat 9999px 9999px;margin: 6px 10px;}
.u-feedbackTip h1{font-size: 14px;font-weight: normal;}
.okTip{background-color:#287d4f;}
.okTip span{background-position:0 0;}
.wrongTip{background-color:#fad6d6;border:1px solid #fbb6b6;}
.wrongTip h1{color:#cc3333;}
.wrongTip span{background-position:0 -50px;}
.m-confirmBox p,.m-confirmBox .yes,.m-confirmBox .false{background: url(http://img1.cache.netease.com/v/open/developTest/topic/others/centericon.png) no-repeat 9999px 9999px;}
.m-confirmBox{height: 94px;cursor: default;}
.m-confirmBox .box{padding:14px 14px 0 14px;}
.m-confirmBox p{padding-left: 34px; height: 31px; line-height: 31px; background-position: 5px -378px;}
.m-confirmBox .btn{padding: 0 35px;}
.m-confirmBox .yes{cursor: pointer;height: 33px; width: 56px; background-position: 0 -529px; background-repeat: repeat-x; color: white; line-height: 33px;} 
.m-confirmBox .yes:hover{background-position: 0 -572px;}
.m-confirmBox .false{cursor: pointer;margin-left: 10px; height: 33px; width: 57px; background-position: 0 -618px; background-repeat: repeat-x; color: #666; line-height: 33px;}
.m-confirmBox .false:hover{background-position: 0 -660px;}
/*  pager  */
.u-page{display:none;float:right;font-size:0;text-align:center;margin:12px 0 0;padding: 10px 0;}
.pageBtn,.u-page a,.u-page span{border:1px solid #bfc6cc;float:left;width:22px;height:20px;line-height:20px;color:#5a5a5a;font-size:12px;margin-left:5px;text-decoration:none;background-color: #fff;}
.u-page .current{line-height: 22px;border: none;width: 24px;height: 22px;background-color:#29754d;color:#fff;}
.u-page span{cursor:pointer;color:#fff;}
.u-page a:hover{color:#fff;background-color:#29754d;text-decoration:none;}
.u-page .next,.u-page .prev{width:50px;}
.u-page .current.next,.u-page .current.prev{background:none;color:#999;border: 1px solid #BFC6CC;}
.u-page .next.current,.u-page .prev.current{height: 20px;}
/* nav my opencourse */
.m-link .s-fc2:hover,.m-login .s-fc2:hover{color: #16914E;text-decoration: underline;}
.m-login .u-myopen {margin-top: 5px; height: 20px; line-height: 14px;width: 75px;}
.u-myopen .shelf{position: absolute; top: 20px; left: -5px; background: #fff; border: 1px solid #ddd; width: 90px; display: none;}
.u-myopen .it{padding: 5px 10px;height:14px;}
.u-myopen .it:hover{background-color: #dedede;}
.u-myopen .moa{display:block;}
.u-myopen .arrdown{top:2px;right:0; width: 10px; height:10px; background: url(http://img1.cache.netease.com/v/open/index/images/sprite.png?v=1) no-repeat -305px -215px;}