@charset "gb2312";
/*
	qn官网文章页统一样式	
	注意：只能修改提供的属性,可自定义额外的样式
	文章页全样式结构：http://产品域名.163.com/test/art.layout.html
*/
@import url(http://res.nie.netease.com/comm/css/art.com.css);
#NIE-art{margin:0 0 10px 0;}
/*核心提示*/#NIE-art .artTips{border-color:#78738b;background-color:#5b85ac;color:#ffffff;}
/*诗词*/#NIE-art .artPoem{color:#1694c7;}
/*标题*/#NIE-art .artTitle{color:#1899dd;font-size:22px;line-height:40px;font-family:\5FAE\8F6F\96C5\9ED1,\9ED1\4F53}
/*正文*/#NIE-art .artText{/*color:#000;*/min-height:683px;}
/*一级标题*/#NIE-art .artText h2{background:url(../images/inner_arttitle.png) no-repeat;width:657px;height:27px;padding-top:10px;padding-left:27px;font-size:16px;font-weight:bold;color:#ffffff;line-height:26px;}
/*二级标题*/#NIE-art .artText h3{background:url(../images/inner_arttitle.png) no-repeat 0 -37px;width:518px;height:27px;padding-left:12px;font-size:14px;font-weight:bold;color:#2d6da9;line-height:26px;}
#NIE-art .artText h3{margin-left:30px;}
#NIE-art .artText .artCon2 h3{margin-left:0px}
/*列表*/#NIE-art ul li{background:url(../images/art-list-li.gif) no-repeat 3px 11px;}
/*链接颜色*/
#NIE-art a{color:#2D6DA9;text-decoration:underline;}
/*分页*/
/* normal */#NIE-art .paging a i{/*border-color:#030f46;*/background:#5b85ac;color:#fff;border:none;}
/* hover,current */#NIE-art .paging i,#NIE-art .paging a:hover i{color:#fff;background:#5b85ac;/*border-color:#131F51;*/border:none;}
#NIE-art .paging i{background:none;color:#626262;}

/* === 发布系统 === */
/*普通文字颜色*/#NIE-art{color:#626262;}
/*着重色1*/#NIE-art .red{color:#ff6600;}
/*着重色1加粗*/#NIE-art .redb{color:#ff6600;font-weight:bold;}
/*着重色2*/#NIE-art .blue{color:#3399ff;}
/*服务器名字*/#NIE-art .fuchsia{color:#cc66ff;}

/*文字表格*/
#NIE-art .table-txt{}
/* == 为了兼容旧table颜色，方便统一修改（可拆开使用）== */
/*浅色背景色*/#NIE-art .table-pic,#NIE-art .table-txt,#NIE-art .table3,#NIE-art .table4,#NIE-art .tablepad12,#NIE-art .tablepad{background-color:#8da7bd;color:#ffffff;}
/*深色背景色*/#NIE-art .table-txt thead td,#NIE-art .table4 thead td,#NIE-art .table3 thead td{background:#5b85ac;color:#71e3ff;}
/*边框颜色*/#NIE-art .table-txt td,#NIE-art .table-pic td,#NIE-art .table3 td,#NIE-art .table4 td,#NIE-art .tablepad12 td,#NIE-art .tablepad td{border-color:#a8c3db;}
/*图片边框颜色*/#NIE-art .table-pic img,#NIE-art .table3 img{border-color:#75aad8;}
/*图片.hover边框颜色*/#NIE-art .table-pic a:hover img,#NIE-art .table3 a:hover img{border-color:#75aad8;}
/*table3 thead文字样式*/#NIE-art .table3 thead td{font-size:14px;font-weight:bold;}
/*table3 td,th样式*/#NIE-art .table3 td, #NIE-art .table3 th{padding:3px}
#NIE-art .table3 th{background:#a83781;}
/*表格th部分兼容*/#NIE-art .table-txt th,#NIE-art .table3 th{border:1px solid #a8c3db;}
/*兼容之前图片样式pic*/#NIE-art .pic{background:#5b85ac;padding:3px;display:inline-block;margin:0 auto;}
/*图片表格*/
#NIE-art .table-pic{background-color:#75aad8;color:#b0e6ff;}
#NIE-art table a{color:#71e3ff;}

/*底部版权分享等*/
#NIE-art .artRemark{border-color:#2d6da9}
#NIE-art .artDisclaimer{color:#fff}
/*#NIE-art .NIE-share-more a, #NIE-share-panel div a, #NIE-share-sideBar div span p a{color:#96D7F9}*/
#NIE-art .artDisclaimer .artDisclaimer-btn, #NIE-art .artDisclaimer i .closeBtn{background:url(../images/disclaimer.gif);}
#NIE-art .artDisclaimer .shareBtn{width:50px;}
#NIE-art .artDisclaimer .copyLinkBtn{width:54px;background-position:-81px 0;}
#NIE-art .artDisclaimer .goTopBtn{width:54px;background-position:-166px 0;}
#NIE-art .artDisclaimer .artDisclaimer-btn{color:#fff}
#NIE-art .artDisclaimer .artDisclaimer-btn:hover{color:#fff}
#NIE-art .NIE-share-more a{color:#000;}
/*#NIE-art .NIE-share1 .NIE-share-more span{top:10px;}
#NIE-art .NIE-share-more span{background-color:#202F67;border-color:#295198;}
#NIE-art .NIE-share-more a:hover,#NIE-art #NIE-share-sideBar div span p a:hover{background-color:#202F67;border-color:#295198;text-decoration:underline !important;}
#NIE-art .NIE-share-more a,#NIE-art #NIE-share-panel div a, #NIE-share-sideBar div span p a{border:none}*/
/* === 自定义额外的样式 === */
#art-wrap{width:685px;margin:0 auto;padding-top:25px;clear:both;}
#NIE-art .b{font-weight:bold;}
/*#NIE-art .artInfo{color:#626262;}*/