/*head.txt CSS*/
/*房产头条区域*/
.house-title-bar { border-top:2px solid #256A8E; width:590px; padding-top:19px; clear:both; overflow:hidden;}
.house-title-bar h2 { float:left; width:103px; height:25px; line-height:25px; overflow:hidden;}
.house-title-bar .more { float:right; padding-top:10px; padding-right:2px; color:#ddd;}
.house-title-bar .more a,.house-title-bar .more a:visited { color:#1F1F1F;}
.house-title-bar .more a:hover { color: #BA2636; }
.house-mod { width:590px; clear:both; margin:0 auto; overflow:hidden;}
.house-mod .left-img { float:left; width:160px;}
.house-mod .left-img ul { clear:both; margin:0 auto; overflow:hidden;}
.house-mod .left-img li { float: left; _display: inline; overflow: hidden;}
.house-mod .left-img li h3 { width:160px; height: 24px; line-height: 24px; overflow: hidden; text-align: center; background: #575757;}
.house-mod .left-img li h3 a { display: block;}
.house-mod .left-img li h3 a:link,.house-mod .left-img li h3 a:visited { color: #ffffff;}
.house-mod .left-img li h3 a:hover,.house-mod .left-img li h3 a:active { color: #ffffff;}
.house-mod .right-text { float:right; width:400px;}
.house-mod .right-text h2 { font-family: "Microsoft YaHei", "微软雅黑", "宋体"; font-size: 16px; font-weight: bold; height:24px; line-height: 24px; margin:0 auto; overflow:hidden; }
.house-mod .right-text p { margin:0 auto; clear:both; line-height:21px; color:#161616;}
.house-mod .right-text .text-list { clear:both; margin:0 auto; overflow:hidden;}
.house-mod .right-text .text-list li { clear:both; background: url(http://img1.cache.netease.com/cnews/css13/sprites.png) 0 -108px no-repeat; font-size: 14px; height: 27px; line-height: 27px; padding-left: 10px; overflow:hidden;}
.house-mod .dot-line { clear:both; height:1px; border-bottom:1px dotted #DCDCDC; overflow:hidden; display:block; font-size:1px; }
    /*新车图库*/
.new-car-pic { width:590px; clear:both; overflow:hidden; margin:0 auto;}
.new-car-pic .dot-line { clear:both; height:1px; border-bottom:1px solid #DCDCDC; overflow:hidden; display:block; font-size:1px; }
.scrlBody{ overflow:hidden;}
.scrlCtrl{ text-align:center;}
.scrl_1 .scrlCtrl ul{ display:inline-block; *display:inline; zoom:1; margin:0 4px 0 12px;font-size: 0;}
.scrl_1 .scrlCtrl li{ display:inline-block; *display:inline; zoom:1; width:10px; height:9px; cursor:pointer; background:url(http://img1.cache.netease.com/cnews/css13/img/scr-icon-bg.gif) left -48px no-repeat; margin-right:8px; overflow:hidden;font-size: 0;}
.scrl_1 .scrlCtrl .active{ background:url(http://img1.cache.netease.com/cnews/css13/img/scr-icon-bg.gif) left -58px no-repeat;}
.scrl_1 .scrlPrev{ display:inline-block; width:7px; height:11px; margin-top:1px; background:url(http://img1.cache.netease.com/cnews/css13/img/scr-icon-bg.gif) left top no-repeat;overflow:hidden;}
.scrl_1 .scrlNext{ display:inline-block; width:7px; height:11px; margin-top:1px; background:url(http://img1.cache.netease.com/cnews/css13/img/scr-icon-bg.gif) right -24px no-repeat;overflow:hidden;}
.scrl_1 .scrlPrev:hover{ background:url(http://img1.cache.netease.com/cnews/css13/img/scr-icon-bg.gif) left -12px no-repeat;}
.scrl_1 .scrlNext:hover{ background:url(http://img1.cache.netease.com/cnews/css13/img/scr-icon-bg.gif) right -36px no-repeat;}
.list-box li{ float:left;width:590px;}
.roll-pic-list { padding-bottom:15px;}
.roll-pic-list li{ float:left; width:160px; padding-right:55px; line-height:21px;}
.roll-pic-list li.last { padding-right:0;}
.roll-pic-list h5{ margin-top:6px;}
    /*moule1*/
.mod-imgText { clear: both; line-height: 0; }
.mod-imgText img {  float: left;line-height: 21px; padding-bottom:2px; }
.imgText-widget-1 { overflow: hidden; }
.imgText-widget-1 img { margin: 3px 15px 0 0; }
.imgText-widget-1 img { padding-bottom:12px; }
.imgText-widget-1 .detail a { color:#0e558d; }
.imgText-widget-1 p { color: #888; line-height: 21px; margin: 0;}
.main-title { font-size: 14px; font-weight: bold; height: 34px; line-height: 34px; overflow: hidden; }
    /*装修论坛按钮列表*/
.house-btn-list { width:300px; clear:both; margin:0 auto; overflow:hidden;}
.house-btn-list ul { float:left; width:310px;}
.house-btn-list li { float:left; width:90px; height:30px; background:url(http://img1.cache.netease.com/cnews/css13/img/house-btn-bg.gif) left top no-repeat; margin-right:11px; margin-bottom:7px; display:inline; color:#174F82; text-align:center; line-height:30px; font-size:14px; font-weight:bold;}
.house-btn-list li a,.house-btn-list li a:visited { color:#174F82;}
.house-btn-list li a:hover { color:#ba2636;}
    /*house rank list 排行*/
.ep-h-title { border-top:2px solid #246B8F; height: 31px; line-height: 31px; padding: 7px 0 8px; clear:both; overflow:hidden;}
.ep-h-title .title { float: left; _display: inline; font-size: 16px; font-weight: bold; font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", sans-serif;}
.ep-h-title .title:link,.ep-h-title .title:visited { color: #252525;}
.ep-h-title .title:hover,.ep-h-title .title:active { color: #cc1b1b;}
.h-rankList-header { width:300px; height:24px; line-height:24px; color:#888888; background:#F6F6F6; clear:both; float:left; overflow:hidden;}
.h-rankList-header .name { float:left; padding-left:28px;}
.h-rankList-header .region { float:right; width:50px; text-align:right;}
.h-rankList-header .price { float:right; width:60px; padding-right:13px; text-align:right;}
.h-rankList li { border-bottom: 1px dotted #ddd; display: inline-block; float: left; height: 29px; line-height: 29px; overflow: hidden; width: 300px; color:#252525;}
.h-rankList li span.ranknum { width: 18px; height: 14px; color: #FFFFFF; float: left; line-height: 14px; margin-top: 7px; font-family: "Arial";  font-weight: bold; text-align: center; }
.h-rankList li span.front { background-color: #BD534B; }
.h-rankList li span.follow { background-color: #888888; }
.h-rankList li a { color: #252525; float: left; padding-left: 10px; }
.h-rankList li a:hover { color: #BA2636; }
.h-rankList li .price { float:right; width:43px; padding-right:13px; text-align:right;}
.h-rankList li .region { float:right; width:50px; text-align: center;}
/***********************************/
.daren-item, .msg-item { zoom: 1; margin: 8px 0; background: #FFF; overflow: hidden; font-size: 12px; padding: 10px 10px 10px 110px; border: 1px solid #d8d9d9; }
.daren_w .daren-item, .daren_w .msg-item { margin: 0; }
.avatar { width: 90px; display: inline; margin-left: -100px; float: left; }
.avatar img { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; height: 84px; padding: 2px; width: 84px; display: block; }
.wb-article-folow, .wb-article-minFolow { margin: 6px auto 0; }
.author-info, .status-info { color: #1e50a2; }
.info-top { min-height: 72px; _height: 72px; }
#endText a.author-name, a.author-name { vertical-align: bottom; text-decoration: none; font-size: 14px; font-weight: bold; color: #1e50a2; }
.daren-icon { vertical-align: top; margin-left: 5px; display: inline-block; width: 19px; height: 19px; background: url(http://img1.cache.netease.com/t/2011/03/weibo_fe.gif) no-repeat 0 -8px; }
.daren-icon {  *vertical-align: baseline; }
.weibo-up-arr { background: url(http://img1.cache.netease.com/t/2011/03/weibo_fe.gif) no-repeat 0 -27px; font-size: 0; height: 8px; left: 16px; position: absolute; top: 18px; width: 11px; }
#endText a.talk-to, .talk-to { margin-left: 5px; white-space: nowrap; color: #1e50a2; text-decoration: none; vertical-align: bottom; }
#endText a.talk-to:visited, .talk-to:visited { color: #1e50a2; }
#endText a.talk-to:hover, .talk-to:hover { text-decoration: underline; color: #1e50a2; }
.followers { line-height: 24px; color: #636363; }
.status, .reason { color: #000; line-height: 1.5em; }
.status-link, #endText .status-link a { text-decoration: none; color: #ba2636; }
.option-item { text-align: right; color: #999999; }
#endText .option-item a, .option-item a { color: #8ba4cd; text-decoration: none; }
#endText .option-item a:hover, .option-item a:hover { text-decoration: underline; }
.daren-keyword { position: relative; }
.daren_w { display: none; background: url(http://img1.cache.netease.com/t/2011/03/weibo_fe.gif) no-repeat 0 -40px; padding-top: 24px; position: absolute; z-index: 9999; width: 264px; text-align: left; }
.daren_w .daren-close { width: 9px; height: 8px; background: url(http://img1.cache.netease.com/t/2011/03/weibo_fe.gif) no-repeat 0 0; cursor: pointer; position: absolute; right: 8px; top: 32px; font-size: 0; }
#btn-retweet { background: url(http://img1.cache.netease.com/t/2011/03/weibo_fe.gif) no-repeat 0 -100px; width: 90px; height: 25px; display: none; position: absolute; }
#btn-retweet:hover { background-position: 0 -125px; }
#btn-retweet:active { background-position: 0 -150px; }
/* foot */
#js_N_nav_footer{padding:28px 0 0;background:#F6F6F6;}
.js_N_nav_footer_nav_fixed{position:fixed;z-index:1000;border-top:1px solid #ddd;width:100%;left:0;}
.fixed-sitemap-main{width:960px;margin:0 auto;overflow:hidden;}
.subfoot-wrap{width:100%;margin-top:80px;border-top:1px solid #ddd;background:#F6F6F6;}
.subfoot-wrap .main{width:960px;margin:0 auto;position:relative;z-index:100;}
.sitemap-ctrl{width: 100px;height:32px;cursor:pointer;position:absolute;right: 0;top: -34px;z-index:1000;border:1px solid #ddd;text-align: center;line-height: 32px;background-color:#f6f6f6;_display:none;}
.sitemap-fixed-arr{position: absolute;z-index:10;left: 50%;top: 50%;margin-top: -2px;margin-left: -4px;border-color: transparent transparent #45454D transparent;border-style: dashed dashed solid;border-width: 0 4px 4px;font-size: 0;height: 0;width: 0;line-height: 0;}
.sitemap-fix-circle{position:relative;z-index:9;margin:5px 5px 0 0;float:right;border:1px solid #d2d2d2;width:20px;height:20px;background:#fafafa;-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px;}
.sitemap{margin-left:-12px;}
.sitemap-logo{float:left;width:128px;height:71px;overflow:hidden;text-indent:-10em;margin-bottom:30px;background-position:left top;background-image:url(http://img4.cache.netease.com/www/v2013/img/bg_sprites.png);background-repeat:no-repeat;}
.sitemap-info,.sitemap-con{float:left;_display:inline;width:150px;height:150px;margin-left:12px;margin-bottom:12px;}
.sitemap-con{line-height:25px;background:#E8E8E8;}
.sitemap-con:hover{background:#206F96;color:#fff;}
.sitemap-con:hover a{color:#fff;}
.sitemap-con strong{display:block;margin:6px 0 0 12px;}
.sitemap-con strong a{width:auto;margin-left:0;}
.sitemap-con a{display:inline-block;width:52px;margin-left:12px;white-space:nowrap;}
.sitemap-icon{float:left;width:20px;height:21px;margin-right:11px;text-indent:-100em;}
.sitemap-flink{height:40px;padding-right:9px;line-height:30px;border-bottom:1px solid #DEDEDE;text-align:right;}
.subfoot{height:280px;padding-top:36px;border-top:1px solid #fff;}
.subfoot-verify{float:left;margin-top:12px;}
.subfoot-links{float:right;line-height:26px;margin-bottom:20px;}
.subfoot-links td{padding-right:45px;vertical-align:top;}
.subfoot-links a,.subfoot-links a:visited,.subfoot-links .text{display:block;white-space:nowrap;color:#666;}
.subfoot-links a:hover{color:#ba2636;}
.i-entry{background-image:url(http://img4.cache.netease.com/www/v2013/img/icon_v2.png);background-repeat:no-repeat;padding:2px 22px 2px 0;background-position:right -89px;}
/************直通车css*****************/
.houseztca { width:542px; clear:both; margin:0 auto;}
.houseztcaBg1 { background:url(http://img1.cache.netease.com/house/img13/ztc1303/ztcbg40.gif) no-repeat 0 0; height:264px; width:542px;}
.houseztca .c1 { width:510px; clear:both; margin:0 auto;}
.houseztca .c1 h2 { font-size:20px; font-family:Arial, Helvetica, sans-serif; color:#EBEBEB; text-align:left; padding:8px 0 8px 25px; margin:0 auto; background:url(http://img1.cache.netease.com/house/img13/ztc1303/ztcbg41.gif) no-repeat 0 8px; float:right; font-weight:bold;}
.houseztca .c1 .k1 {font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53"; font-size:18px; font-weight:bold;}
.houseztca .c1 h3 { font-size:14px; font-weight:bold; color:#C91212; padding:13px 0 0 160px; text-align:left; line-height:25px; clear:both; margin:0 auto;}
.houseztca .c1 h3 a ,.houseztca .c1 h3 a:visited { color:#C91212;}
.houseztca .c1 h3 a:hover { color:#bc2931;}
.houseztca .c1 h4 { padding:8px 20px; text-align:left; line-height:21px;}
.houseztca .c1 .k2 {color:#C91212;}
.houseztca .c2 { width:470px; clear:both; margin:0 auto;}
.houseztca .c2 ul { clear:both;}
.houseztca .c2 li { font-weight:bold; line-height:21px; height:31px; text-align:left;}
.houseztca .c2 .kInput10 { border:1px solid #C1BEAD; background:#F7F7F7; padding:4px 5px 3px; font-size:12px; margin-bottom:-3px; width:145px;}
.houseztca .c2 .kInput11 { position:relative; width:140px; border:1px solid #C1BEAD; background:#F7F7F7 url(http://img1.cache.netease.com/house/img12/ztc1205/ztcbg03.gif) no-repeat right 0; padding:4px 5px 3px; font-size:12px; cursor:pointer;}
.houseztca .c3 { width:490px; margin:0 auto; clear:both; text-align:center; padding:2px 0 12px;}
.houseztca .c3 .kInput12 { background:url(http://img1.cache.netease.com/house/img13/ztc1303/ztcbg42.gif) no-repeat 0 0; border:0px; width:87px; height:29px; overflow:hidden; font-size:14px; color:#fff; line-height:31px; text-align:center;}
/**************************************/
.left {
	FLOAT: left
}
.ep-tbtj {
	WIDTH: 295px;
	BACKGROUND: #f8f8f8;
	HEIGHT: 129px;
	OVERFLOW: hidden
}
.ep-tbtj .mcolL {
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 20px;
	PADDING-LEFT: 0px;
	WIDTH: 155px;
	PADDING-RIGHT: 10px;
	WORD-WRAP: break-word;
	FLOAT: left;
	WORD-BREAK: break-all;
	PADDING-TOP: 0px
}
.ep-tbtj .mcolL H3 {
	PADDING-BOTTOM: 2px;
	LINE-HEIGHT: 26px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: "微软雅黑", "宋体", sans-serif;
	COLOR: #333;
	FONT-SIZE: 16px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 2px
}
.ep-tbtj .mcolL H2 {
	MARGIN-TOP: -3px
}
.ep-tbtj P {
	MARGIN: 0px;
	COLOR: #888
}
.ep-tbtj .pic {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: #ddd 1px solid;
	PADDING-BOTTOM: 9px;
	PADDING-LEFT: 9px;
	WIDTH: 110px;
	PADDING-RIGHT: 9px;
	BACKGROUND: #fff;
	HEIGHT: 110px;
	OVERFLOW: hidden;
	BORDER-TOP: #ddd 1px solid;
	BORDER-RIGHT: #ddd 1px solid;
	PADDING-TOP: 9px
}