#wrapper{
   width:100%;
   color:#333333;
   background:url("/zt/2011pingxuan/images/bg.jpg") repeat-x  left 32px;
}
#header{
    width:100%;
	height:347px;
	background:url("/zt/2011pingxuan/images/top_bg.jpg") no-repeat  center top;
	
}
a:link, a:visited, a:active {
	color:#666666;
	text-decoration:none;
}
a:hover {
	color:#FF6600;
	text-decoration:none;
}
h1,h2,h3,h4{margin:0;padding:0;}
.mt5{margin-top:5px;}
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}
.mb5{margin-bottom:5px;}
.mt10{margin-top:10px;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.mt15{margin-top:15px;}
.ml15{margin-left:15px;}
.mr15{margin-right:15px;}
.mb15{margin-bottom:15px;}
.mt20{margin-top:20px;}
.pt5{padding-top:5px;}
.pr35{padding-right:35px;}
.db{display:block;}
.cc{color:#CCCCCC;}
.c9{color:#999999;}
.lh24{line-height:24px;}
#banner{
    width:1000px;
	height:300px;
	margin:0 auto;
	position: relative;
}
#logo{
    width:180px;
	height:60px;
	position: absolute;
	top:10px;
	left:20px;
	background:url("/zt/2011pingxuan/images/bg_logo01.gif") no-repeat left top;
	display:block;
	cursor:hand;
}
#nav{
    width:1000px;
	height:47px;
	line-height:47px;
	margin:0 auto;
	text-align:center;
}
#nav ul{
    margin:0;
	padding:0;
}
#nav ul li{
	margin:0 8px;
	font-size:16px;
	font-family:Microsoft Yahei;
	display:inline;
	background:url("/zt/2011pingxuan/images/nav_bg_line.jpg") no-repeat left center;
	padding-left:19px;
	text-shadow: 1px 1px 0px #750000; 
}
#nav a:link, #nav a:visited, #nav a:active {
	color:#FCE7D8;
	text-decoration:none;
}
#nav a:hover {
	color:#FFFFFF;
	text-decoration:none;
}
#nav .show a:link, #nav .show a:visited, #nav .show a:hover,  #nav .show a:active{
    color:#fff156
}
#header .bn{
    background:none;
	padding:0;
	margin-left:0;
}
#container{
    width:1000px;
	margin:0 auto;
	overflow:hidden;
}
#introduce{
    width:560px;
	line-height:26px;
	font-size:14px;
	background:url("/zt/2011pingxuan/images/jianjie.gif") no-repeat left top;
	padding:25px 0 0 10px;
}
.js_block{
    width:110px;
	height:103px;
}
.red{color:#a91d1c;}
#prize{
    width:395px;
	height:235px;
	padding:30px 10px 10px 15px;
	line-height:24px;
	color:#FCE7D8;
}
.prize_title{
    width£º400px;
	font-size:24px;
	font-family:Microsoft Yahei;
	color:#FCE7D8;
}
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fs24{font-size:24px;}
.fs26{font-size:26px;}
.cu{font-weight:bold;}
.content_block{
     width:1000px;
	 margin:10px 0;
	 font-size:14px;
	 line-height:26px;
}
.content_block_title_1, .content_block_title_2, .content_block_title_3, .content_block_title_7, .content_block_title_8, .content_block_title_9, .content_block_title_10{
	height:30px;
	line-height:30px;
	width:1000px;
	position: relative;
}
.content_block_title_1{
    background:url("/zt/2011pingxuan/images/bg_title_all.gif") no-repeat 0 0px;
}
.content_block_title_2{
    background:url("/zt/2011pingxuan/images/bg_title_all.gif") no-repeat 0 -30px;
}
.content_block_title_3{
    background:url("/zt/2011pingxuan/images/bg_title_all.gif") no-repeat 0 -60px;
}
.content_block_title_7{
    background:url("/zt/2011pingxuan/images/bg_title_all.gif") no-repeat 0 -180px;
}
.content_block_title_8{
    background:url("/zt/2011pingxuan/images/bg_title_all.gif") no-repeat 0 -210px;
}
.content_block_title_9{
    background:url("/zt/2011pingxuan/images/bg_title_all.gif") no-repeat 0 -240px;
}
.content_block_title_10{
    background:url("/zt/2011pingxuan/images/bg_title_all.gif") no-repeat 0 -270px;
}
.yc{
    z-index:-999;
    position: absolute;
}
.content_block_c{
    width:980px;
	padding:8px 10px;
}
#footer{
    width:100%;
	height:60px;
	margin:20px auto 0 auto;
	line-height:50px;
	text-align:center;
	border-top:1px #CCCCCC solid;
}
#main .content_block{
     width:745px;
	 margin:10px 0;
	 font-size:14px;
	 line-height:24px;
}
.content_block_title_4, .content_block_title_5, .content_block_title_6{
	height:30px;
	line-height:30px;
	width:745px;
	position: relative;
}
.content_block_title_4{
      background:url("/zt/2011pingxuan/images/bg_title_all.gif") no-repeat 0 -90px;
}
.content_block_title_5{
      background:url("/zt/2011pingxuan/images/bg_title_all.gif") no-repeat 0 -120px;
}
.content_block_title_6{
      background:url("/zt/2011pingxuan/images/bg_title_all.gif") no-repeat 0 -150px;
}
#main .content_block_c{
    width:745px;
	padding:15px 0px;
}
#main .content_block ul{
     margin:0;
     padding:0;
}
#main .content_block ul li{
     float:left;
	 display:inline;
	 margin:6px 5px;
}
.jg_block{
     width:234px;
	 border:1px #E4E4E4 solid;
	 padding:10px 0 5px 0;
	 position: relative;
}
.jg_logo{
     width:145px;
	 height:85px;
	 background:url(/zt/2011pingxuan/images/bg_logo.gif) no-repeat center center;
	 padding:8px 45px;
}
.jg_title{
     width:225px;
	 text-align:center;
	 height:30px;
	 line-height:30px;
	 font-size:15px;
	 font-family:Microsoft Yahei;
	 font-weight:bold;
	 margin:0 auto;
	 overflow:hidden;
}
.jg_jj{
    width:220px;
	height:72px;
	overflow:hidden;
	font-size:12px;
	padding:0 7px;
}
.toupiao{
    font-weight:bold;
	height:25px;
	line-height:30px;
	padding:5px 10px;
	overflow:hidden;
}
#rightbar{
    width:242px;
}
.right_block{
    width:240px;
	overflow:hidden;
	margin:10px 0;
}
.right_block_title{
    width:225px;
	height:27px;
	line-height:27px;
	font-family:Microsoft Yahei;
	font-size:15px;
	background:url("/zt/2011pingxuan/images/bg_menu.jpg") no-repeat left top;
	color:#FCE7D8;
	padding-left:15px;
}
.right_block_c{
    width:230px;
	padding:5px;
	line-height:24px;
}
.right_block_c ul{
    margin:0;
	padding:0;
}
.right_block_c ul li{
    float:left;
    display:inline;
	width:100px;
	height:100px;
	line-height:24px;
	margin:5px 7px;
	text-align:center;
	overflow:hidden;
}
.bk{
	background:url("/zt/2011pingxuan/images/bg_cj.gif") no-repeat left 28px;
}
table{margin-bottom:0em;}
td{
    padding:0.2em;
}


.message{
    width:800px;
	padding:30px 50px 30px 150px;
	background:url("/zt/2011pingxuan/images/xinxi.gif") no-repeat left top;
	font-size:14px;
	line-height:20px;
	position: relative;
	
}
.message_2{
    width:760px;
	padding:30px 50px 30px 150px;
	background:url("/zt/2011pingxuan/images/bg_xx.gif") no-repeat left top;
	font-size:14px;
	line-height:30px;
}
.jiangpin{
    width:460px;
	padding:30px 50px 30px 140px;
	background:url("/zt/2011pingxuan/images/bg_xx.gif") no-repeat left top;
	font-size:14px;
	line-height:30px;
}
.toupiao2{
   width:230px;
   margin:20px auto;
   font-weight:bold;
}

.guanzhu {
    bottom: 15px;
    left: 14px;
    position: absolute;
	color:#F1F1F1;
	font-family: "Microsoft Yahei";
}
.btn_guanzhu {
    float: left;
    height: 38px;
    margin-top: 1px;
    width: 106px;
}
.btn_yiguanzhu {
    float: left;
    height: 38px;
    margin-top: 1px;
    width: 106px;
}
.btn_guanzhu a {
    background: url("/zt/2011pingxuan/images/btn_guanzhu.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 38px;
    width: 106px;
}
.btn_yiguanzhu a {
    background: url("/zt/2011pingxuan/images/btn_yiguanzhu.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 38px;
    width: 106px;
}
.btn_guanzhu a:hover {
    background: url("/zt/2011pingxuan/images/btn_guanzhu.gif") no-repeat scroll 0 -37px transparent;
    display: block;
    height: 38px;
    width: 106px;
}
.share {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.guanzhu span {
    font-family: "Microsoft Yahei";
    font-size: 28px;
	line-height:38px;
	color:#FFFFFF;
	font-weight: bold;
}
.fenxiang {
    bottom: 18px;
    left: 310px;
    position: absolute;
	color:#F1F1F1;
	font-weight: bold;
}
.more{
    z-index:999;
	font-size:12px;
	font-weight:500;
	padding-right:10px;
}
#wrapper .bn{
    background:none;
}
.txt_Gray{
    color:#999999;
    font-size:12px;
}
.bg_jt{
    background:url("/zt/2011pingxuan/images/bg_jt.gif") no-repeat right center;
}

.block_preview{
    width:145px;
	height:85px;
	padding:15px;
	background:url("/zt/2011pingxuan/images/bg_logo.gif") no-repeat center center;
	position: absolute;
	top:65px;
	left:608px;
	border:1px solid #F1F1F1;	
}
.zj_photo{
    width:150px;
	height:150px;
	padding:3px;
	border:1px solid #CCCCCC;
	margin:9px 5px;
}
.zjjs{
    width:560px;
	height:150px;
	padding:4px;
	margin:9px 5px;
}
.tuijian{
    width:47px;
	height:47px;
	position: absolute;
	top:0px;
	left:0px;
}
.shijia{
    width:47px;
	height:47px;
	position: absolute;
	top:0px;
	left:0px;
}
#container .content_block ul{
    padding:0;
	margin:0;
}
#container .content_block ul li {
    display: inline;
    float: left;
    margin: 6px 4px;
}
.roster{
    font-family:Microsoft Yahei;
    font-size:16px;
	padding-left:15px;
	padding-top:10px;
	line-height:36px;
}