* {margin:0px; padding:0px;}
body {text-align:center;}
table {border-collapse:collapse; border-spacing:0px; border:none;}
td {line-height:160%;}
li {list-style:none;}
a{font-size: 14px;}
a:link {color:#000000; text-decoration:none;}
a:visited {color:#000000; text-decoration:none;}
a:hover {color:#ff0000; text-decoration:underline;}
a:active {color:#000000; text-decoration:none;}
a img {border:none;}
br {line-height:5px;}
.wrap {width:1000px; margin:0 auto; text-align:left;}
.noShow {display:none;}
.clearAll {clear:both;}
.gap10{
	margin-top: 10px;
}
.gap20{
	margin-top: 20px;
}
#copyright {
	padding: 10px 0;
	border-top: 4px solid #4291D6;
	background: #F6F6F6;
	text-align: center;
	color: #000000;
	font-size: 12px;
	line-height: 180%;
	clear: both;
	width: 100%;
	margin: 0 auto;
}
/*--------------------comm end------------------*/

.wrap{
	width:100%;
	background: #F6F6F6;
}
#header{
	background: #EFEFEF url(img/idx_headerBgd.jpg) repeat-x center bottom;
	height: 390px;
	
}
.headerWrap{
	background: #EFEFEF url(img/idx_topBgd.jpg) no-repeat center top;
	width:100%;
	margin:0 auto;
	position: relative;
	padding-top: 180px;
}
.headerWrap h3{
	width:1000px;
	margin:20px auto 2px auto;
	font-size: 14px;
}
#zb1{
	width:1000px;
	margin:0 auto;
	height: 70px;
}
#localNav{
	width:1000px;
	margin: 10px auto;
	background: url(img/idx_navBgd.png) repeat-x;
	height: 38px;
}
#localNav li{
	float: left;
	margin-top: 10px;
	display: inline;
}
#localNav li a{
	font-family: "Microsoft YaHei","微软雅黑";
	padding: 0 12px;
	border-right: solid 1px #ccc;
	color:#3163AD;
	font-size:16px;
	text-decoration: none;
}
#localNav li a:hover,#localNav li a.big:hover{
	color:#a00;
}
#localNav li a.big{
	font-weight: bold;
	padding-left: 30px;
	color:#0F346B;
}
#localNav li a.lastItem{
	border-right: none;
}

#syNav{
	width:920px;
	margin: 0px auto;
	background: url(img/idx_subNavBgd.png) repeat-x left bottom;
	height: 35px;
}
#syNav li{
	float: left;
	display: inline;
}
#syNav li a{
	font-family: "Microsoft YaHei","微软雅黑";
	padding: 2px 9px 0 9px;
	color:#666;
	font-size:15px;
	text-decoration: none;
	height: 30px;
	display: block;
}
#syNav li a:hover{
	font-weight: bold;
	background: url(img/idx_icon1.png) no-repeat bottom center;
}





#content1{
	background: #EFEFEF;
}

.part1{
	width:1057px;
	margin:0 auto;
	background: url(img/idx_p1Bgd.png) no-repeat center bottom;
	padding-bottom: 20px;
}
.p1Col1{
	width:333px;
	float: left;
	display: inline;
}
.p1Col2{
	width:690px;
	float: right;
	margin-right: 30px;
	display: inline;
}
.tank1DoorOut{
	background: url(img/idx_tank1DoorOut.png) no-repeat right bottom;
	width:333px;
}
.tank1DoorIn{
	background: url(img/idx_tank1DoorIn.png) no-repeat;
	width:333px;
}
.ifm1{
	padding-left:60px;
	padding-top: 66px;
}
.titleDiaoyu{
	background: url(img/idx_title22.png) no-repeat center center;
	text-indent: -9999px;
	margin-left: 55px;
	width:266px;
	height:40px;
	border-top: solid 1px #5D99DD;
	border-bottom: solid 1px #5D99DD;

}
.ifm2{
	padding-left:60px;
	padding-top: 16px;
}
.yygs{
	background: url(img/idx_tank2.png) no-repeat;
	height: 32px;
	padding-left: 120px;
	padding-top: 3px;
}
#zb2{
	overflow:hidden; 
	width:540px;
}
#zb2 a{
	font-size: 14px;
}

.tank3DoorOut{
	background: url(img/idx_tank3DoorOut.png) no-repeat left bottom;
	width:693px;
}
.tank3DoorIn{
	background: url(img/idx_tank3DoorIn.png) no-repeat;
	width:693px;
	min-height: 74px;
	padding-top: 50px;
}
#zb3{
	width:652px;
	margin:0 auto;
}
#zb3 td{
	text-align: center;
}
#zb3 a{
	font-size: 32px;
	font-family: "Microsoft YaHei","微软雅黑";
	color:#1F4789;
	font-weight: bold;
	text-decoration: none;
}
.p1Col2L{
	width:323px;
	display: inline;
	float:left;
}
.p1Col2R{
	width:323px;
	display: inline;
	float:right;
}
.more{
	position: relative;
}
.more a{
	display: block;
	position: absolute;
	right:0px;
	top:15px;
	background: url(img/idx_icon2.png) no-repeat;
	text-indent: -9999px;
}
.title1{
	background: url(img/idx_title1.png) no-repeat;
	height: 30px;
	text-indent: -9999px;
}
.title2{
	background: url(img/idx_title2.png) no-repeat;
	height: 30px;
	text-indent: -9999px;
}
.title3{
	background: url(img/idx_title3.png) no-repeat;
	height: 30px;
	text-indent: -9999px;
}

.tank4DoorOut{
	background: url(img/idx_tank4DoorOut.png) no-repeat left bottom;
	width:324px;
}
.tank4DoorIn{
	background: url(img/idx_tank4DoorIn.png) no-repeat;
	width:368px;
	min-height: 74px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 13px;
}
.title23{
	background: url(img/idx_title23.png) no-repeat;
	height: 20px;
	text-indent: -9999px;
}
.title24{
	background: url(img/idx_title24.png) no-repeat;
	height: 20px;
	text-indent: -9999px;
}
.title25{
	background: url(img/idx_title25.png) no-repeat;
	height: 20px;
	text-indent: -9999px;
}
.ifm3,.ifm4,.ifm5{
	padding-bottom: 10px;
	border-bottom: solid 1px #A5C6EC;
	width:290px;
}
#zb9{
	width:956px;
	margin-left: 50px;
}
#content2{
	background: #fff;
}
.part2{
	width:1100px;
	margin:0 auto;
	background: #fff;
	padding-bottom: 2px;
}
.p2Col1{
	float: left;
	margin-left: 80px;
	width:257px;
}
.p2Col2{
	width:737px;
	float: right;
	display: inline;
	background: url(img/idx_tank6DoorOut.png) no-repeat right bottom;
	padding-bottom: 20px;
}
.p2Col2DoorIn{
	background: url(img/idx_tank6DoorIn.png) no-repeat right top;
	width:737px;
}
.title4{
	background: url(img/idx_title4.png) no-repeat;
	height: 30px;
	text-indent: -9999px;
}
.title5{
	background: url(img/idx_title5.png) no-repeat;
	height: 30px;
	text-indent: -9999px;
}
.p2Col2L{
	width:362px;
	float: left;
	display: inline;
	padding-left: 1px;
}
.p2Col2R{
	width:308px;
	float: left;
	display: inline;
	
}

.more1{
	position: relative;
}
.more1 a{
	display: block;
	position: absolute;
	background: none;
	top:0;
	left:0;
	width:240px;
	height: 24px;
}
.yzys{
	padding-bottom: 20px;
	padding-top: 10px;
	background: #fff url(img/idx_tank7DoorOut.png) no-repeat bottom right;
}
.title6{
	background: url(img/idx_title6.png) no-repeat;
	height: 27px;
	text-indent: -9999px;
	width: 326px;
}
.title7{
	background: url(img/idx_title20.png) no-repeat;
	height: 27px;
	text-indent: -9999px;
	margin-left: 10px;
}
.title8{
	background: url(img/idx_title21.png) no-repeat;
	height: 27px;
	text-indent: -9999px;
	margin-left: 10px;
}
.title9{
	background: url(img/idx_title15.png) no-repeat;
	height: 27px;
	text-indent: -9999px;
	margin-left: 10px;
}
.title10{
	background: url(img/idx_title16.png) no-repeat;
	height: 27px;
	text-indent: -9999px;
	margin-left: 10px;
}
.title11{
	background: url(img/idx_title17.png) no-repeat;
	height: 27px;
	text-indent: -9999px;
	margin-left: 10px;
}
.title12{
	background: url(img/idx_title18.png) no-repeat;
	height: 27px;
	text-indent: -9999px;
	margin-left: 10px;
}
.title13{
	background: url(img/idx_title19.png) no-repeat;
	height: 27px;
	text-indent: -9999px;
	margin-left: 10px;
}
#content3{
	background: #eee url(img/idx_content3TopBgd.png) no-repeat top center;
	width:100%;
}
.part3{
	width:1100px;
	margin:0 auto;
	padding-bottom: 2px;
	padding-top: 20px;
}
#zb20{
	width:960px;
	margin:0 auto;
	margin-bottom: 20px;
}
.tank8DoorOut{
	width:1100px;
	background: url(img/idx_tank8DoorOut.png) no-repeat right bottom;
	padding-bottom: 20px;
}
.tank8DoorIn{
	background: url(img/idx_tank8DoorIn.png) no-repeat right top;
	width:1100px;
}
.p3Col1{
	float: left;
	width:280px;
	margin-left: 85px;
	display: inline;
}
.p3Col2{
	float: left;
	width:638px;
	margin-left: 34px;
	display: inline;
}
.title14{
	background: url(img/idx_title7.png) no-repeat;
	height: 31px;
	text-indent: -9999px;
}
.title15{
	background: url(img/idx_title8.png) no-repeat;
	height: 31px;
	text-indent: -9999px;
}
.title16{
	background: url(img/idx_title9.png) no-repeat;
	height: 31px;
	text-indent: -9999px;
}
.title17{
	background: url(img/idx_title10.png) no-repeat;
	height: 31px;
	text-indent: -9999px;
}
.p3Col2L{
	float: left;
	width:295px;
	display: inline;
}
.p3Col2R{
	float: left;
	width:295px;
	margin-left: 46px;
	display: inline;
}
.title18{
	background: url(img/idx_title11.png) no-repeat;
	height: 31px;
	text-indent: -9999px;
}
.title19{
	background: url(img/idx_title13.png) no-repeat;
	height: 31px;
	text-indent: -9999px;
}
.title20{
	background: url(img/idx_title12.png) no-repeat;
	height: 31px;
	text-indent: -9999px;
}
.title21{
	background: url(img/idx_title14.png) no-repeat;
	height: 31px;
	text-indent: -9999px;
}
.part4{
	width:1100px;
	margin:0 auto;
	padding-bottom: 20px;
	padding-top: 20px;
}
.tank5DoorOut{
	width:1100px;
	background: url(img/idx_tank5DoorOut.png) no-repeat right bottom;
	padding-bottom: 20px;
}
.tank5DoorIn{
	background: url(img/idx_tank5DoorIn.png) no-repeat right top;
	width:960px;
	padding-top: 46px;
	padding-left: 80px;
	padding-right: 60px;
}
#zb29,#zb30{
	background: url(img/idx_blueBar.png) no-repeat left bottom;
	padding-bottom: 15px;
	/*border:solid 1px #f00;*/
}
#zb4,#zb6,#zb7,#zb8,#zb10,#zb11,#zb12,#zb13,#zb14,#zb15,#zb16,#zb17,#zb18,#zb19{
	margin-left: 10px;
	margin-top: 10px;
	/*border:solid 1px #f00;*/
}
#zb12{
	width:312px;
}
#zb21,#zb22,#zb23,#zb24,#zb25,#zb26,#zb27,#zb28,#zb31{
	/*border:solid 1px #f00;*/
}
#zb21,#zb22,#zb23{
	width:270px;
}

#zb1 td{
	padding: 2px;
}
#zb5 td{
	padding: 11px 0;
}
#zb5 img{
	border:solid 1px #ccc;
}
#zb10 td{
	background: url(img/idx_picBgd.png) no-repeat top center;
	padding-bottom: 10px;
	width:241px;
}
#zb10 img{
	margin-top:5px;
	margin-bottom: 16px;
}
#zb10 a{
	color:#1449B4;
}
#zb11 td{
	background: url(img/idx_picBgd2.png) no-repeat top center;
	padding-bottom: 10px;
	width:241px;
}
#zb11 img{
	margin-top:7px;
	margin-bottom: 16px;
}
#zb11 a{
	color:#1449B4;
}
#zb32{
	margin-left: 15px;
}
#zb32 a{
	font-size: 12px;
}
#zb17 td,#zb19 td{
	background: url(img/idx_picBgd3.png) no-repeat center top;
}
#zb17 img,#zb19 img {
	margin-top: 3px;
	margin-bottom: 16px;
}
/*#zb17 table{
	border-collapse: collapse;
	width: 130px;
}*/
#zb17 center,#zb19 center{
	position: relative;
	height: 116px;
}
a.zb17Text,a.zb19Text  {
	display: block;
	width: 130px;
	height:20px;
	line-height: 20px;
	text-align: center;
	z-index: 200;
	position: absolute;
	bottom: 20px;
	left: 10px;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0 !important;
	background: none;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000);
	zoom: 1;
}
#zb24{
	padding-bottom: 16px;
	padding-top: 12px;
}
#zb21 a,#zb22 a,#zb23 a,#zb25 a,#zb26 a,#zb27 a,#zb28 a{
	font-size: 12px;
}
#zb30 td,#zb31 td{
	padding-bottom: 10px;
}



.ifm5{display: none;}
.title25{display: none;}
.ifm1 iframe{height: 410px;}