

/*reset*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,label,blockquote,th,td,button,span{padding:0;margin:0;}
table{border-spacing:0;border-collapse:collapse;}
fieldset,img{border:none;}
address,caption,cite,code,dfn,th,var,em{font-weight:normal;font-style:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
input,select{vertical-align:middle}

/* --------------------公共部分--------------------- */

/* 头部 */
.header{width:960px;height:70px;margin:0 auto;position:relative;z-index:999;}
.ad_area {position:absolute;top:0;left:280px;}
.logo{margin-top:30px;}
.logo1{margin-top:20px}
.header_tool{float:right;text-align:right;line-height:24px;padding-top:10px;width:500px;}

/*顶部广告样式*/
#topArea {position:absolute;top:0;left:280px;width:280px;height:69px;overflow:hidden;text-align:left}
#topArea ul {position:absolute;top:0px;zoom:1}
#topArea ul li {height:69px;overflow:hidden;zoom:1}
#topArea img {display:inline-block}

/* 菜单 */
.menu{width:960px;margin:0 auto;height:54px; background:url(../images/repeat.png) 0 0 repeat-x;overflow:hidden;}
.menu li{float:left;height:54px;}
.menu li a{display:inline-block;width:120px;height:43px;background:url(../images/icon_20100929.png?v=20130311) no-repeat;}
.menu li a span{display:none;}
.menu .m1{width:149px;background-position:0 0;}
.menu .m2{background-position:-159px 0;}
.menu .m3{background-position:-285px 0;}
.menu .m4{width:149px;background-position:-536px 0;}
.menu .m5{background-position:0px -311px;}
.menu .m6{width: 117px;background-position:-414px 0;}

.menu .m1:hover{background-position:0 -73px;}
.menu .m2:hover{background-position:-159px -73px;}
.menu .m3:hover{background-position:-285px -73px;}
.menu .m4:hover{width:149px;background-position:-536px -73px;}
.menu .m5:hover{background-position:0px -384px;}
.menu .m6:hover{background-position:-413px -73px;}

.menu .m1_a{width:149px;background-position:0 -73px;}
.menu .m2_a{background-position:-159px -73px;}
.menu .m3_a{background-position:-285px -73px;}
.menu .m4_a{width:149px;background-position:-536px -73px;}
.menu .m5_a{background-position:0px -384px;}
.menu .end{float:right;width:98px;height:54px; background:url(../images/icon_20100929.png?v=20130311) -862px -24px no-repeat;}

/* 主体 */
.main{width:960px;margin:0 auto;}
.main1{width:802px; margin:0 auto ; }
.main_top,.main_bottom,.main_top1,.main_bottom1,.main1_bottom{height:3px;font-size:1px;line-height:1px;background:url(../images/icon_20100929.png?v=20130311) no-repeat;}
.main_top{background-position:0 -227px;}
.main_top1{background-position:0 -264px;}
.main_bottom{background-position:0 -268px;height:31px;}
.main_bottom1{background-position:0 -231px;height:31px;}
.main1_bottom{background-position:-1px -218px;height:6px; position:relative}
.main1_bottom span{ display:block; background:url(../images/icon_20100929.png?v=20130311) no-repeat right -218px;height:6px; width:10px; font-size:1px; position:absolute; right:0px; }
.main1_con{border:1px solid #c4c4c4; border-bottom:none}
.main_con,.main_con1{background:url(../images/left_menu.png) 0 0 repeat-y;border:1px solid #C8C8C8;border-top:none;border-bottom:none;height:auto!important;  min-height:600px;  height:600px;}
.main_con1{ background:none; height:auto;min-height:0;}



/* 左侧菜单 */
.left_pan{width:149px;float:left;}
.left_menu{}
.left_menu dt,.left_menu dd{padding-left:14px;}
.left_menu dt{height:29px;line-height:28px;font-weight:bold;background:url(../images/icon_20100929.png?v=20130311) -690px -65px no-repeat;}
.left_menu dd{height:28px;line-height:28px;margin:5px 0}
.left_menu .act_dd{background:url(../images/icon_20100929.png?v=20130311) -691px -25px no-repeat;}
.left_menu .act_dd a{font-weight:bold;color:#000;}
.left_menu .act_dd a:visited{font-weight:bold;color:#000;}
.right_pan{float:left;width:779px;padding:0 15px;}
.clum_title{height:29px;line-height:29px;border-bottom:2px solid #C6D4E4;padding-top:2px}

/* 表单 */
.main_form{padding:10px 0}
.main_form li{padding:6px 0; clear:left;line-height:200%;zoom:1;}
.main_form li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.input,.input_err,.input_ok,.input_on{width:221px;height:19px;border:1px solid #C4C4C4;padding:3px 0 0 3px; background:#F9F9F9;}
.input_on{background:#ffffee;}
.input_err{ background:#fef5f5; border:1px solid #d59799; color:#ad0006}
.input_ok{background:#eaffe5; border:1px solid #aab9a6;}
.main_form select{height:23px;}
.select{height:21px;margin-top:4px;*margin-top:0;_margin-top:2px;*height:auto;}
.radio{*margin-left:-4px;}
.fm_left{float:left;text-align:right;padding-right:10px;width:130px}
.fm_right{float:left;}
.main_form .g_line{margin:15px 0;padding:0}
.g_line{font-size:1px;height:1px;line-height:1px;background:url(../images/repeat.png) 0 -89px repeat-x;}
.bule_table{border:1px solid #bfd2e1; width:560px;border-collapse:collapse; }
.bule_table th{ background:url(../images/repeat.png) repeat-x 0 -171px; border-bottom:1px solid #c0d9e6; height:37px; line-height:37px; font-weight:bold; padding-left:10px}
.bule_table td{ height:44px; line-height:44px; padding-left:10px; }
.bule_table td.border_b{border-bottom:1px solid #dfe8f0;}

/* 表单提示作息 */
.err,.err2{color:#ff0000;padding-left:20px;font-size:12px;display:none;background:url(../images/errIcon.png?v=20120209) -2px 3px no-repeat;margin-left:10px;}
.err2{display:inline-block; }

.info{line-height:22px;font-size:12px;color:#999;}
.tishi{color:#7D7D7D;font-size:12px;}

.f_btn,.f_btn_blue,.y_btn{background:url(../images/icon_20100929.png?v=20130311) no-repeat;padding-left:4px;display:inline-block;*display:inline;}
.y_btn{ background-position: -848px -111px;height:30px; padding:0; width:110px; border:none; cursor:pointer}
.f_btn{background-position:-766px -143px;}
.f_btn_blue{background-position:-766px -176px;}
.f_btn .r_btn,.f_btn_blue .r_btn{border:none;height:29px;background:url(../images/icon_20100929.png?v=20130311) no-repeat;color:#333;font-size:14px;cursor:pointer;display:inline-block;line-height:29px;color:#000;text-decroration:none;padding-right:10px;padding-left:6px;overflow:visible;}
.f_btn .r_btn{background-position:right -143px;  text-shadow: 1px 1px 0 #FFF;}
.f_btn_blue .r_btn{background-position:right -176px;}
.r_btn:link{color:#000;}
.r_btn:visited{color:#000;}
.r_btn:hover{color:#000;text-decoration:none;}
.w_50{width:50px;}
.w_85{width:85px;}
.w_100{width:100px;}
.icon{width:48px;height:49px;background:url(../images/icon1.png?v=20130620) no-repeat;display:inline-block;margin-right:20px;}
.i1{ background-position:0 0;}
.i2{ background-position:0 -64px;}
.i3{ background-position:-15px -216px;width:16px;height:16px;margin-right:10px;vertical-align:middle}
.info_frame{padding:30px 66px;overflow:hidden;}
.info_frame_text{float:left;line-height:28px;margin-top:-2px;}
.s_btn_box{padding:30px 0 30px 130px}
.info_list{padding:20px 30px;}
.info_list li{padding:5px 0}
.password_text{padding:20px 30px}
.x_info{color:#999;font-size:12px;line-height:20px;}

.help_list{padding-left:10px; padding-top:5px}
.help_con{padding:0 15px;}
.question_title{padding:20px 0 10px 0}
.dot_link a,.dot{background:url(../images/icon1.png?v=20130620) -20px -306px no-repeat;padding-left:8px;*background-position:-20px -308px}
.help_title_open{background: url(../images/icon1.png?v=20130620) no-repeat -15px -350px; padding-left:20px}
.help_title_close{ background:url(../images/icon1.png?v=20130620) no-repeat -15px -379px; padding-left:20px}
.help_text{ padding-left:20px;}




/* 首页 */
.index_clum_title{color:#393939;font-weight:bold;padding-left:9px;}
.index_clum_top{height:33px;line-height:33px;background:url(../images/repeat.png) 0 -314px repeat-x;}
.index_clum_t1{width:3px;height:33px;background:url(../images/safty_bk.png?v=201206) -38px -83px no-repeat;float:left;}
.index_clum_t2{float:left}
.index_clum_t3{width:3px;height:33px;background:url(../images/safty_bk.png?v=201206) -45px -83px no-repeat;float:right;}

.index_clum_content{clear:both;border:1px solid #BFD2E1;border-top:none;border-bottom:none;background:#fff;}

.index_clum_bottom{height:14px;line-height:33px;background:url(../images/repeat.png) 0 -352px repeat-x;font-size:1px;line-height:1px;}
.index_clum_b1{width:3px;height:14px;background:url(../images/safty_bk.png?v=201206) -52px -83px no-repeat;float:left;}
.index_clum_b2{float:left}
.index_clum_b3{width:3px;height:14px;background:url(../images/safty_bk.png?v=201206) -57px -83px no-repeat;float:right;}


.my_account{width:550px;float:left;}
.my_account .index_clum_content{height:155px;}
.my_account_top{height:41px;line-height:41px;background:#F4F9FC;border-bottom:1px solid #E7EFF5;position:relative;}
.account_name{padding-left:18px;font-weight:bold;float:left;}
.mobileEmail_logo1{float:left;margin:9px 0 0 10px;}
.mobileEmail_logo0{float:left;margin:9px 0 0 10px;}
.link_account{position:absolute;top:7px;right:5px;line-height:30px;}
.link_account_btn_1,.link_account_btn_2,.link_account_btn_3,.link_account_btn_4{background:url(../images/ad.png?v=20110331) 0 0 no-repeat;width:107px;height:29px;display:inline-block;margin-right:1px;}
.link_account_btn_2{background-position:-109px 0;}
.link_account_btn_3{background-position:-218px 0; width:96px;}
.link_account_btn_4{background-position:-316px 0;}
.link_account_btn span,.link_account_btn_1 span,.link_account_btn_2 span,.link_account_btn_3 span,.link_account_btn_4 span{display:none;}
/*旧样式*/
.link_account_btn{background:url(../images/safty_bk.png?v=201206) no-repeat;width:112px;height:30px;display:inline-block;margin-right:1px;}
.link_account_btn span,.link_account_btn13 span{display:none;}
.l1{background-position:-204px -80px;width:123px;}
.l2{background-position:-329px -80px;}
.link_account_btn13{background:url(../images/tuan_ad.png) no-repeat;width:123px;height:30px;display:inline-block;margin-right:1px;}

.account_info{padding:5px 18px 0 18px;}
.account_info_left{float:left;width:202px;}
.account_info_right{float:left;width:290px;font-size:12px;margin-left:18px}

.edit_account{height:40px;line-height:40px;}
.h_65{height:65px}
.pt_5{*padding-top:10px;*height:55px}
.bind_info{line-height:18px;padding-top:5px}

.i_link{width:34px;height:27px;line-height:27px;background:url(../images/safty_bk.png?v=201206) no-repeat;display:inline-block;padding-left:30px; font-family:"宋体";margin-right:7px;}
.i_link_1{ background-position:-455px -80px;}
.i_link_2{ background-position:-526px -80px;}
.i_link_3{ background-position:0px -167px;width:60px}

.i_link_1_1{ background-position:-455px -118px;}
.i_link_2_1{ background-position:-526px -118px;}
.i_link_3_1{ background-position:0px -205px;width:60px}

.i_link_1_2{ background-position:-455px -157px;}
.i_link_2_2{ background-position:-526px -157px;}
.i_link_3_2{ background-position:0px -244px;width:60px}

.safety_level,.safety_level1,.safety_level2{background:url(../images/safty_bk.png?v=201206) no-repeat;padding-left:2px;height:15px;display:inline-block; }
.safety_level em,.safety_level1 em,.safety_level2 em{background:url(../images/safty_bk.png?v=201206)  no-repeat;display:inline-block;height:15px;}

.safety_level{background-position:-625px -192px}
.safety_level1{background-position:-625px -211px}
.safety_level2{background-position:-625px -230px}

.safety_level em{background-position:right -192px}
.safety_level1 em{background-position:right -211px}
.safety_level2 em{background-position:right -230px}




.recommend{width:400px;float:right;}
.recommend_tag{height:28px;color:#1E50A2;padding-left:5px;width:360px;margin-top:5px;}
.recommend_tag li{float:left;width:85px;height:28px;text-align:center;line-height:28px;cursor:pointer; position:relative;}
.recommend_tag .active{background:url(../images/safty_bk.png?v=201206) -98px -113px no-repeat;color:#393939;font-weight:bold;padding-top:3px;height:25px;line-height:25px;}
.recommend .index_clum_content{padding:10px 0 0 15px;height:145px;}
.recommend_list{}
.recommend_list dl{clear:both;height:29px;line-height:29px;}
.recommend_list dd,.recommend_list dt{float:left;margin-right:5px;}
.tongxun_dl dd{margin-right:4px;}

.custom_clum_box{padding-top:10px;*padding-top:5px;_padding-top:10px;}
.custom_clum_box .index_clum{margin-bottom:10px;}

.custom_menu{width:140px;float:left;}
.custom_menu_list{position:relative;}

.hover_menu{}
.hover_menu_left{position:absolute;top:0;left:-5px;width:144px;height:29px;background:url(../images/load_bk_20100920.png) 0 -583px no-repeat;cursor:pointer;}
.hover_menu_right{position:absolute;top:-14px;left:139px;z-index:500}
.hover_menu_right_bk{padding:10px;background:url(../images/load_bk_20100920.png) -144px -569px no-repeat;position:absolute;z-index:100;width:400px;height:175px;}
.mask_menu{position:absolute;z-index:50;width:420px;height:195px;border:0;}
.hover_menu_right .index_clum_content{height:130px;}

.custom_menu_list li{height:29px;line-height:29px;background:url(../images/repeat.png) 0 -370px repeat-x;padding-left:12px;cursor:pointer;}

.custom_menu_list span,.h_menu{background-image:url(../images/index_menu_20140410.png?v=2014033101);background-repeat:no-repeat;padding-left:28px;display:inline-block;}
.h_menu_left{padding:0 0 0 17px;color:#fff}
.custom_menu_list .cm1{background-position:0 8px;}
.custom_menu_list .cm2{background-position:0 -22px;}
.custom_menu_list .cm3{background-position:0 -50px;}
.custom_menu_list .cm4{background-position:0 -80px;}
.custom_menu_list .cm5{background-position:0 -107px;}
.custom_menu_list .cm6{background-position:0 -137px;}
.custom_menu_list .cm7{background-position:0 -167px;}
.custom_menu_list .cm8{background-position:0 -195px;}
.custom_menu_list .cm9{background-position:0 -246px;}
.custom_menu_list .cm10{background-position:0 -389px;}
.custom_menu_list .cm11{background-position:0 -451px;}
.custom_menu_list .cm12{background-position:0 -472px;}
.custom_menu_list .cm13{background-position:0 -500px;}
.custom_menu_list .cm14{background-position:0 -535px;}
.custom_menu_list .cm15{background-position:0 -595px;}
.custom_menu_list .cm16{background-position:0 -628px;}
.custom_menu_list .cm17{background-position:0 -655px;}
.custom_menu_list .cm18{background-position:0 -678px;}
.custom_menu_list .cm19{background-position:0 -1330px;}
.custom_menu_list .cm20{background-position:0 -731px;}
.custom_menu_list .cm21{background-position:0 -1504px;}
.custom_menu_list .cm22{background-position:0 -777px;}
.custom_menu_list .cm23{background-position:0 -799px;}
.custom_menu_list .cm24{background-position:0 -825px;}
.custom_menu_list .cm25{background-position:0 -850px;}
.custom_menu_list .cm26{background-position:0 -875px;}
.custom_menu_list .cm27{background-position:0 -898px;}
.custom_menu_list .cm28{background-position:0 -1074px;}
.custom_menu_list .cm29{background-position:0 -948px;}
.custom_menu_list .cm30{background-position:0 -974px;}
.custom_menu_list .cm31{background-position:0 -999px;}
.custom_menu_list .cm32{background-position:0 -1025px;}
.custom_menu_list .cm33{background-position:0 -1049px;}
.custom_menu_list .cm34{background-position:0 -1227px;}
.custom_menu_list .cm35{background-position:0 -1100px;}
.custom_menu_list .cm36{background-position:0 -1150px;}
.custom_menu_list .cm37{background-position:0 -1175px;}
.custom_menu_list .cm38{background-position:0 -1380px;}
.custom_menu_list .cm39{background-position:0 -1254px;}
.custom_menu_list .cm40{background-position:0 -1279px;}
.custom_menu_list .cm41{background-position:0 -1406px;}
.custom_menu_list .cm42{background-position:0 -1431px;}
.custom_menu_list .cm43{background-position:0 -1456px;}
.custom_menu_list .cm44{background-position:0 -1481px;}
.custom_menu_list .cm45{background-position:0 -1527px;}

.custom_clum{width:810px;float:right;-moz-user-select: none;-khtml-user-select: none;user-select: none;overflow:hidden}
.custom_clum .index_clum_content{height:127px; }
.load_box{width:400px;height:173px;background:url(../images/load_bk_20100920.png)  no-repeat;}
.load_img{ background:url(../images/loading.gif) center 20px no-repeat;padding-top:20px;margin:0 auto;display:block;padding-top:70px}
.load_img img{display:block;}
.custom_clum_left{float:left;width:400px;}
.custom_clum_right{float:right;width:400px; }

.load_title{color:#393939;font-weight:bold;padding-left:9px;height:32px;line-height:32px;-moz-user-select: none;-khtml-user-select: none;user-select: none;cursor:move;}
.load_box .load_title{cursor:auto}
.clum_iframe{border:none;width:398px;height:130px; display:none;margin-left:1px;}
.add_clum{float:right;width:74px;height:24px;display:inline-block;background:url(../images/safty_bk.png?v=201206) -98px -81px no-repeat;padding-left:30px;margin:4px 5px 0 0;line-height:24px;font-weight:bold;color:#fff;cursor:pointer;font-size:13px;}
/*.dis_add_clum{float:right; font-size:12px;padding-right:10px;padding-left:20px;background:url(../images/index_menu_20131204.png?v=2013052701) 0 -218px no-repeat;}*/
.dis_add_clum{float:right;font-size:12px;padding-right:10px;padding-left:20px; background-image:url(../images/index_menu_20131204.png?v=2013071101); _background-image:url(../images/index_menu_20131204.png?v=2013071101); background-repeat:no-repeat; background-position:0 -218px;}

/* 普通栏目 */
.clum_box{ position:relative;z-index:10;}
.clum,.clum_box_copy,.clum_box_currnet{width:400px;height:173px;padding-bottom:10px;-moz-user-select: none;-khtml-user-select: none;user-select: none;background:url(../images/load_bk_20100920.png) 0 0 no-repeat;}

.pt{background:url(../images/load_bk_20100920.png) 0 -180px no-repeat;}
.zg{background:url(../images/load_bk_20100920.png) 0 -375px no-repeat;}

.clum_box_currnet{border:1px dashed #87A0D3;width:398px;height:171px; background:#fff;}/**/
.clum_box_copy {position:absolute;z-index:1000;}
.clum_tools{float:right;margin-top:12px;}
.clum_tools .reload,.clum_tools .close{width:12px;height:10px;line-height:1px;font-size:1px;display:inline-block;background:url(../images/safty_bk.png?v=201206)  no-repeat;margin-right:10px; cursor:pointer;zoom:1}
.clum_tools .reload{ background-position:-247px -116px;}
.zg .clum_tools .reload{ background:none;}
.clum_tools .close{ background-position:-227px -116px;}
.zg .clum_tools .close{ background-position:-227px -136px;}
.mask{position:absolute;width:400px;height:141px;top:32px;left:0;display:none;*background:#ff0000;filter:alpha(opacity=0);}

.reset_pass{border:1px solid #BFD2E1;width:700px;margin:30px 0 0 30px;}
.reset_pass th{background:url(../images/repeat.png) 0 -402px repeat-x;heigth:38px;line-height:38px; font-weight:bold;}
.reset_pass td{border-bottom:1px solid #DFE8F0}
.reset_pass th,.reset_pass td{padding:0 0 0 25px}



/* 注册 */
.nav{clear:both; background:url(../images/repeat.png) repeat-x 0 -217px;height:47px;line-height:45px;font-weight:bold;overflow:hidden;width:802px;margin:0 auto;font-size:14px;}
.nav_middle_wel,.nav_middle_suc{float:left; margin-left:10px;width:178px;background:url(../images/icon_20100929.png?v=20130311) 0 0 repeat-x;height:45px}
.nav_middle_wel{background-position:-35px -153px}
.nav_middle_suc{background-position:-226px -153px; width:80px}
.nav_left{float:left;width:6px;height:45px; background:url(../images/icon_20100929.png?v=20130311) 0px -153px no-repeat}
.nav_right{float:right;width:6px;height:45px; background:url(../images/icon_20100929.png?v=20130311) -10px -153px no-repeat}

.login_title{ background:url(../images/repeat.png) repeat-x 0 -271px; height:38px; line-height:38px; padding-left:10px}

/*.login_con{ background:url(../images/icon1.png?v=20130620) no-repeat 40px -393px; padding:10px 25px 30px}*/
.login_con{ background:url(../images/icon1.png?v=20130620) no-repeat 40px -417px; padding:10px 25px 30px}

.login_form{border-bottom:1px solid #e4e4e4; padding:20px 0; padding-left: 50px; }
.login_form li{clear:left;line-height:200%;padding:10px 0;}
.login_form a{color: #1E50A2;}
.login_form a:link,.login_form a:visited {color: #1E50A2;}
.login_form a:hover{color:#bc2931;}
.login_btn{background:url(../images/icon_20100929.png?v=20130311) no-repeat -690px -101px; width:122px ; height:37px;border:none; cursor:pointer }

.suc_form{border-bottom:1px solid #e4e4e4; width:750px; padding:30px 0; margin:0 50px}
.suc_form .fm_left{ text-align:left; width:230px}
.suc_form .fm_right{width:510px}
.log_suc_title{background:#f2f7ff; height:50px; line-height:50px; font-weight:bold; padding-left:30px}
.free_img{background:url(../images/icon_20100929.png?v=20130311) no-repeat right -83px; display: inline-block; height:18px; width:60px; vertical-align:middle}
.blue_btn{width:155px; height:38px; background:url(../images/icon_20100929.png?v=20130311) -322px -152px no-repeat; font-size:14px; color:#FFFFFF; font-weight:bold; border:none; cursor:pointer}
.green_btn{background:url(../images/icon_20100929.png?v=20130311) no-repeat -527px -175px ; width:190px; height:36px;border:none; cursor:pointer }
.g_btn{width:120px; background:url(../images/repeat.png) repeat-x 0 -135px; height:24px; line-height:22px; border:1px solid #c4c4c4; cursor:pointer}
.left_img_bk,.left_img_126,.left_img_sdy,.left_img_txz,.left_img_vip,.left_img_popo,.left_img_sj,.left_img_jryy,.left_img_mhxy{display: block; height:144px; width:195px; border:2px solid #f6f6f6; background:url(../images/left_img.png) 0 0 no-repeat}
.left_img_126{ background-position:-195px 0}
.left_img_sdy{ background-position:0 -130px}
.left_img_txz{ background-position:-195px -130px}
.left_img_vip{ background-position:0 -250px}
.left_img_popo{background-position:-195px -394px}
.left_img_sj{ background-position:-195px -250px}
.left_img_jryy{background-position:0px -394px}
.left_img_mhxy{background-position:0px -538px; border:none; width:198px; height:148px}

.ad_youdao{padding:0px 0 30px 50px;*padding-top:10px; font-size:12px; clear:both}

/* 模拟选择框 */
.s_select{width:183px;height:24px; background:#F9F9F9 url(../images/icon_20100929.png?v=20130311) no-repeat -526px -145px;position:relative;cursor:pointer;z-index:100; border:none;margin:2px 5px 0 0px;display:inline-block}
.s_select span{display:block;height:24px;overflow:hidden;padding:0px 24px 0 8px; line-height:23px;background:url(../images/s_icon.png) no-repeat right -852px; color:#000000}
.s_select .s_item{ position:absolute;top:24px;border:1px solid #c4c4c4;left:0px;background:#fff;display:none;}
.s_select .s_item li{margin:0;padding:0;line-height:19px}
.s_select .s_item li a{display:block;width:auto;padding-left:7px;height:19px;overflow:hidden;line-height:19px; color:#000000; text-decoration:none}
.s_select .s_item li a:hover{background:#e0e0e0;color:#000}

/* 提示信息、错误提示 */
.infoDiv{ position:relative; float:left; margin-left:5px}
.infoIcon_ok,.infoIcon_err{ width:16px; height:16px; background:url(../images/s_icon.png) no-repeat -7px -435px; position:absolute; top:5px;}
.infoIcon_err{ background:url(../images/s_icon.png) no-repeat -7px -905px; }
.infoBox_ok{}
.infoBox_ok .arrow{ background:url(../images/s_icon.png) no-repeat -20px -943px; width:10px; height:13px; font-size:1px; top:8px; left:22px;position:absolute}
.infoBox_ok .cnt{ border:2px solid #ddddce; background:#ffffee; padding:8px; position:absolute; left:30px; width:270px; font-size:12px; line-height:20px; top:-5px; text-align:left}

.infoBox_err{}
.infoBox_err .arrow{ background:url(../images/s_icon.png) no-repeat -20px -980px; width:10px; height:13px; font-size:1px; top:8px; left:22px;position:absolute}
.infoBox_err .cnt{ border:2px solid #d59799; background:#fef5f5; padding:8px; position:absolute; left:30px; width:270px; font-size:12px; line-height:20px; top:-5px; text-align:left}

/* 找回密码 */
.cont{margin:25px 5px 0 30px ; clear:left}
.item_1,.item_2,.item_3,.item_4,.item_5,.item_6{float:left;margin-right:20px;width:120px; height:60px;padding-left:90px;margin-bottom:20px; background:url(../images/icon1.png?v=201206051841) 0 -443px no-repeat}
.item_2{ background-position:0 -512px}
.item_3{ background-position:0 -577px}
.item_4{ background-position:0 -647px}
.item_5{ background-position:0 -713px}
.item_6{ background-position:0 -1159px}


/* 秘保管理 */
.mibao_con{padding:0 30px}
.mibao_table{width:440px;border:1px solid #CBCBAA;background:#FEFBE3;}
.mibao_table td{padding:3px 0 3px 15px;}
.mibao_table th{background:url(../images/repeat.png) 0 -95px repeat-x;color:#616152;font-weight:bold;height:35px;padding-left:15px;}
.mibao_btn_box{padding:20px 0;}
.mibao_tishi{font-size:12px;color:#999;}
.mibao_tishi_title{font-weight:bold;margin-top:20px;color:#000;display:block;}
.yellow_frame{background:#FEFBE3;border:1px solid #CBCBAA;padding:10px;}
.w_420{width:420px;}
.change_card .fm_left{width:72px;}
.change_shiti .fm_right{width:210px;}
.change_shiti .fm_left{width:163px;}
.change_shiti_left{width:380px;float:left;}
.change_shiti_right{float:left;}
.change_shiti_left .change_shiti .fm_left{width:120px;}
.p_10{padding:10px 0;}
.mb_no{display:inline-block;width:25px;height:19px;line-height:19px;text-align:center;color:#fff;font-size:12px;margin-right:5px;}
.mb_no_1{background:#009900;}
.mb_no_2{background:#990000;}
.mb_no_3{background:#000099;}
.s_icon{background:url(../images/s_icon.png) no-repeat;}
.si1{ background-position:0 -678px;padding:5px 0 5px 40px;}
.si2{ background-position:0 -714px;padding:5px 0 5px 40px;}
.si3{ background-position:0 -750px;padding:5px 0 5px 40px;}
.si4{ background-position:-5px -188px;padding:5px 0 5px 25px;}
.si5,.si6,.si7{width:12px;height:12px;display:inline-block;margin-top:8px}
.si5{background-position:-7px -254px;}
.si6{background-position:-7px -319px;}
.si7{background-position:-7px -384px;}
.si8,.si9,.si10{width:22px;height:22px;display:inline-block;margin-top:6px}
.si8{background-position:-5px 0;}
.si9{background-position:-5px -61px;}
.si10{background-position:-5px -126px;}
.si11{background-position:-5px -484px;padding:5px 0 5px 30px;}
.si12{background-position:-5px -547px;padding:5px 0 5px 30px;}
.si13{background-position:-5px -620px;padding:5px 0 5px 30px;}
.si14{background-position:-5px -796px;padding:5px 0 5px 30px;}
.si15{background-position:-6px -434px;width:18px;height:18px;display:inline-block; vertical-align:middle}
.si16{background:url(../images/v_icon.png) no-repeat;background-position:-487px -175px;width:18px;height:18px;display:inline-block; vertical-align:middle}


.urs_con{padding:20px 30px;line-height:250%;}
.zht_img{margin:0 0 15px 24px;}
.m_265{margin-left:265px;margin-top:5px;}
.gs_no,.gs_no1{background:url(../images/icon1.png?v=20130620) -14px -329px no-repeat; display:inline-block;width:18px;height:18px;text-align:center;line-height:18px;color:#fff;font-weight:bold;}
.gs_no1{background:url(../images/v_icon.png) -212px -125px no-repeat;}
.icon_more{background:url(../images/icon1.png?v=20130620) -15px -356px no-repeat; display:inline-block;width:16px;height:17px; cursor:pointer; vertical-align:middle}
.icon_more1{background:url(../images/icon1.png?v=20130620) -15px -277px no-repeat; display:inline-block;width:16px;height:17px; cursor:pointer; vertical-align:middle}
.safty_bk{width:735px;height:34px;background:url(../images/safty_bk.png?v=201206) 0 0 no-repeat;}
.pt_20{padding:10px 0 0 25px}
.safty .fm_left{width:85px;}
.find_mibao{width:370px;text-align:right;}
.jjl_jb_sm{margin-left:60px;font-size:12px;color:#ff0000;  }
.jjl_table{}
.jjl_table td{padding:5px 0}
.jjl_table th,.jjl_table td{border:1px solid #C8C8C8;padding-left:20px}
.jjl_table th{height:32px;background:url(../images/repeat.png) 0 -134px repeat-x;}
.bind_jjl_info .dot{padding-left:10px}
.y_tishi{background:#FFFFE1;border-bottom:1px solid #E0E0BE;padding-left:10px}
.sj_gl{font-size:12px;margin-top:-2px;}
.check_mobile_box{width:358px;}
.check_mobile_top,.check_mobile_bottom{height:8px;font-size:1px;line-height:1px;background:url(../images/safty_bk.png?v=201206) no-repeat; position:relative}
.check_mobile_top span,.check_mobile_bottom span{ display:block; background:url(../images/safty_bk.png?v=201206) no-repeat;height:8px; width:10px; font-size:1px; position:absolute; right:0px; }
.check_mobile_top{ background-position:0 -51px;}
.check_mobile_top span{ background-position: right -51px;}
.check_mobile_bottom{ background-position:0 -59px;}
.check_mobile_bottom span{ background-position:right -59px;}
.check_mobile_con{background:#EDF5F9;border-left:2px solid #D9E6F1;border-right:2px solid #D9E6F1;padding:10px 15px;zoom:1}
.mobile_check_form .fm_left{width:96px;}
.green_arr{width:27px;height:31px;display:inline-block;background:url(../images/safty_bk.png?v=201206) 0 -84px no-repeat;}
.check_mobile_arr{text-align:center;width:358px;height:37px;}
.mobile_server_table{width:510px;margin-top:20px;line-height:24px;}
.mobile_server_table td{border:1px solid #C8C8C8;padding:10px}
.blue_frame{border:2px solid #BFD2E1; background:#EDF5F9;padding:10px;}
.cmxy{width:484px;height:73px;border:1px solid #C4C4C4;font-size:13px;padding:5px;}
.cm_text{padding:5px 0 0 26px;}
.p_t_5{padding-top:5px;}
.p_t_10{padding-top:10px;}
.ml_30{margin-left:30px; }
.game_list{width:605px;display:block;overflow:hidden;}
.game_list li{width:280px;float:left;clear:none;margin-right:4px;cursor:pointer;padding:3px 0; }
.game_list li input{margin-top:-4px;*margin-top:-2px}
.game_list .game_list_1{float:none;width:auto;}


/* 小图标 */
.v_icon{display:inline-block;background:url(../images/v_icon.png) no-repeat;vertical-align:middle;}
.v1{background-position:-319px -176px;width:16px;height:16px;}/*小红叉*/

/* 底部 */
.footer{text-align:center;margin:15px auto 6px;width:960px;line-height:26px;color:#666;font-size:12px;height:55px;padding-top:4px}
.footer a:link,.footer a:visited {color: #1E50A2;}
.footer a:hover {color:#bc2931;}

/* 页码 */
.page{padding:20px 0;}
.page a{background:#F5F5F5;color:#666;border:1px solid #ccc;padding:3px 6px;margin-right:14px;display:inlie-block;*padding-bottom:1px;}
.page a:hover{color:#CC0000;border-color:#CC0000;background:#FFF7ED;}


/*提示样式*/
.clew_con{width:400px; margin:0 auto;padding:30px}
.clew_con_box{overflow:hidden;zoom:1}
.clew_icon{width:57px;height:58px;background:url(../images/icon1.png?v=20130620) no-repeat;display:inline-block;float:left;margin-top:6px;}
.ci1{background-position:0 0;}
.ci2{background-position:0 -64px;}
.ci3{background-position:0 -124px;}
.clew_con_text{float:right;width:330px;}

.lock_pass_title{font-size:14px;width:924px;height:44px;line-height:44px;font-weight:bold;margin:0 auto; border-bottom:2px solid #C9D4E3;}

/* 关联浮窗 */
.popup{width:540px;}
.popup .index_clum_content{padding:0 25px;padding-top:10px}
.check_info li{}
.popup .index_clum_title{width:525px;background:url(../images/repeat.png) 0 -314px repeat-x;}
.check_info li .fm_left{width:73px;background:url(../images/icon1.png?v=20130620) 100px 100px no-repeat;margin-right:5px}
.check_info li .fm_right{width:400px;font-size:12px;}
.check_info li .check_icon1{background-position:0 -795px;height:73px;}
.check_info li .check_icon2{background-position:0 -890px;height:73px;}
.check_info li .check_icon3{background-position:0 -980px;height:73px;}
.check_info li .check_icon4{background-position:-10px -1081px;height:73px;}
.check_info li .check_icon5{background-position:0 -1234px;height:73px;}

.check_btn{width:97px;height:26px;line-height:26px;background:url(../images/safty_bk.png?v=201206) -330px -117px no-repeat; display:inline-block;text-align:center;font-size:12px;}
.checked_btn{background:url(../images/safty_bk.png?v=201206) -330px -151px no-repeat;color:#5F9158;}
.check_info  .f_btn{font-size:12px;}
.popup .index_clum_t1{width:3px;height:33px;background:url(../images/index_menu_20131204.png?v=2013052701) 0 -281px no-repeat;float:left;}
.popup .index_clum_t3{width:3px;height:33px;background:url(../images/index_menu_20131204.png?v=2013052701) -7px -281px no-repeat;float:right;}
.popup .index_clum_top{background:none;}

.ts_box{ position:absolute;}
.ts_top{height:6px;}
.ts_top_left,.ts_top_right,.ts_bottom_left,.ts_top_middle,.ts_bottom_middle,.ts_bottom_right{width:6px;height:6px;line-height:1px;font-size:1px;background:url(../images/index_menu_20131204.png?v=2013052701) no-repeat;}
.ts_top_left{float:left; background-position:0 -321px;}
.ts_top_middle{float:left;height:5px;border-top:1px solid #CCCCA4;background:#FFFFEE;}
.ts_top_right{float:right; background-position:-13px -321px;display:inline;}
.ts_middle{background:#FFFFEE;border:1px solid #CCCCA4;border-top:none;border-bottom:none;}
.ts_bottom_left{float:left; background-position:0 -329px;}
.ts_bottom_middle{float:left; border-bottom:1px solid #CCCCA4;background:none;position:relative;background:#FFFFEE;}
.ts_bottom_right{float:right;background-position:-13px -329px;}
.ts_middle{position:relative;zoom:1;padding:20px;_padding-bottom:0px;}
.ts_i1{width:48px;height:48px;display:inline-block;background:url(../images/safty_bk.png?v=201206) -675px -131px no-repeat;float:left;}
.ts_i2{width:31px;height:49px;display:inline-block;background:url(../images/safty_bk.png?v=201206) -704px -73px no-repeat;float:left;}
.ts_text{float:left;padding-left:20px;font-size:12px;}
.ts_close{width:9px;height:9px;line-height:1px;font-size:1px;cursor:pointer;display:inline-block;background:url(../images/safty_bk.png?v=201206) -678px -78px no-repeat;position:absolute;right:10px;top:10px;}
.ds_none,.hide{display:none;}
.ts_input{width:154px;height:23px;}
.y_arr{width:19px;height:11px; background:url(../images/index_menu_20131204.png?v=2013052701) 0 -342px no-repeat;position:absolute;bottom:-11px;}
/*----------golbal css-----------*/

/*main*/
html,body{font:14px Arial,"宋体";color:#000;line-height:200%;background:#fff;}

/*link*/
a{text-decoration:none;}
a:link{color:#1E50A2;}
a:visited{color:#1E50A2}
a:hover{color:#c9171e;text-decoration:underline}
a:active,a:focus{color:#1e50a2;}

.l_0066CC:link,.l_0066CC:visited{color:#0066CC; text-decoration:underline}
.l_336699:link,.l_336699:visited{color:#336699; font-size:13px}
.l_BE2732:link,.l_BE2732:visited{color:#BE2732;}

/*text*/
.f_w_b{font-weight:bold}
.f_s_14{font-size:14px;}
.f_s_12{font-size:12px;}
.f_b_12_000{font-weight:bold;font-size:12px;color:#000;}


/*color*/
.c_000{color:#000;}
.c_CC0000{color:#CC0000;}
.c_999{color:#999;}
.c_FF0000{color:#FF0000;}
.c_2EA400{color:#2EA400;}
.red_b{color:#FF0000;font-weight:bold;font-size:15px; letter-spacing:2px}
.green_b{font-weight:bold;color:#04A000;font-size:15px; letter-spacing:2px}

/*other*/
.dis_none{display:none}
.clear{clear:both;}
.underline{text-decoration:underline}
.f_left{float:left;}
.f_right{float:right;}
.p_30{padding:30px;}

.c_D42B2F{color:#D42B2F}/*红字*/
.c_038BDE{color:#038BDE}/*蓝字*/
.c_27BB43{color:#27BB43}/*绿字*/


.matrix{}
.matrix  th,.matrix  td{ width:35px; vertical-align:middle; text-align:center;}
.matrix  td{ border:1px solid #eeeeee;}
.matrix .first,.matrix .middle,.matrix .last{color:#fff;font-size:11px;}
.matrix .first{background:#009900;}
.matrix .middle{background:#990000;}
.matrix .last{background:#000099;}
.smallmatrix  th,.smallmatrix  td{ width:25px; height:17px;}

.main_form .errInfo{padding:0 0 0 128px; color:#FF6600;}
.main_form .errInfo li{ padding:0};


.importantTip{ color:#ff0000; margin:0 5px 0 5px;}
.important{ color:red; margin:0 5px;}

.mibao_table{ margin-bottom:15px;}

.smallTip a{font-size:12px; text-decoration:underline;}


.y_tishi .errInfo{ color:red;}
div.download a{ margin-right:20px; padding:0;}

/*帐号通*/
div.zht{ font-size:12px;}
div.zht .important,div.phone .important{ font-size:#ff0000; margin:0 3px;}
div.zht a:link{ text-decoration:underline;}
div.phone{ font-size:12px;}

form .errTip{font-size:12px; color:#ff0000; padding-left:5px;}

.fm_right_err{ padding-left:130px;}
.yellow_frame{margin-bottom:15px;}
.fm_left_long{ width:170px;}
.change_shiti_left .change_shiti .fm_left{width:130px;}
.guashi_row{ padding:5px 0;}
.mibao_guashi_btn_box{padding:20px 0 20px 200px;}

/*操作步骤提示 */
ul.step{ list-style:none; font-size:14px; height:28px; margin:15px 0 0 0; padding:0;}
ul.step li{float:left;background:url(../images/step.gif) no-repeat scroll 0 0; width:28px; height:28px;}

ul.step li.step1{ background-position:-1px 0 ; }
ul.step li.step2{ background-position:-32px -1px ;}
ul.step li.step3{ background-position:-62px 0px ;}

ul.step li.step1_now{ background-position:-1px -29px ;}
ul.step li.step2_now{ background-position:-32px -29px ;}
ul.step li.step3_now{ background-position:-63px -29px ;}

ul.step li.arrow{ background-position:-109px -24px; width:7px; height:13px; margin:6px 5px 0 0; }
 
 
 ul.step li.text{ padding-left:5px;background:none; width:100px; color:#Bfbfbf; font-weight:bold;}
 ul.step li.step_now_text{ color:#F18B10;}
 ul.step li.clear{clear:both; background:none; width:0; height:0;}
 
 /*tab页*/
 
 ul#tabnav { 
text-align: left; 
margin: 1em 0 1em 0; 
border-bottom: 1px solid #A6C4E4; 
list-style-type: none;
padding: 3px 10px 3px 10px; 
font-size:12px;
width:260px;
}

ul#tabnav li { 
display: inline;
}


ul#tabnav li.visited a { 
color: #000; 
background-color: #fff; 
position: relative;
top: 1px;
padding-top:4px;

}


ul#tabnav li a {
padding: 3px 4px; 
border: 1px solid #A6C4E4; 
color: #666; 
margin-right: 0px; 
text-decoration: none;
border-bottom: none;
}

ul#tabnav a:hover {
background: #fff; 
}

table.table_answer{ font-size:12px;}
table.table_answer th{ text-align:right; padding-right:10px;}

.jjl_jb_sm{margin-left:95px;font-size:12px;color:#999999;  }


.red_b{font-weight:bold;color:#ff0000;font-size:15px; letter-spacing:2px}


.menu .m1_hover{background-position:0 -73px;}
.menu .m2_hover{background-position:-159px -73px;}
.menu .m3_hover{background-position:-285px -73px;}
.menu .m4_hover{width:149px;background-position:-536px -73px;}
.menu .m5_hover{background-position:0px -384px;}
.menu .m6_hover{background-position:-413px -73px;}

/*弹窗的修正*/

/*shelter用于遮挡弹窗后面的内容*/
.shelter {
	Z-INDEX: 2000; BACKGROUND: #efefef; FILTER: alpha(opacity=70);  moz-opacity: 0.7; opacity: 0.7;LEFT: 0px; TOP: 0px; WIDTH: 100%;  HEIGHT: 1050px;POSITION: absolute; 
}

/*shelteriframe用于帮助shelter在ie6.0下遮挡select控件。*/
.shelteriframe{ z-index:2000; position: absolute; top:0; left:0 ; width:100%; height:1050px; background:#efefef;FILTER: alpha(opacity=70);  moz-opacity: 0.7; opacity: 0.7;}


.popup{ position:absolute; top:18%; left:25%; z-index:2000;}
.popup .row{ margin-bottom:5px; }
.popup .row .check_btn{ margin-left:5px; cursor:pointer;}
.popup .row .tip{ font-weight:bold;}
.popup .tiprow{ color:red;}

.custom_menu_list .hot{background-image:url(../images/index_menu_20131204.png?v=2013071101);_background-image:url(../images/index_menu_20131204.png?v=2013071101);background-repeat:no-repeat;background-position:0 -434px;width:24px;height:9px; display:inline-block; vertical-align:middle;margin-left:10px;_margin-top:5px;}
.custom_menu_list .hot2{background:url(../images/index_menu_20131204.png?v=2013052701) 0 -434px no-repeat;height:9px; display:inline-block; vertical-align:middle;margin-left:2px;_margin-top:5px;}
.custom_menu_list .free{background-image:url(../images/index_menu_20131204.png?v=2013071101);_background-image:url(../images/index_menu_20131204.png?v=2013071101);background-repeat:no-repeat;background-position:0 -1310px;width:24px;height:19px; display:inline-block; vertical-align:middle;margin-left:10px;_margin-top:5px;}

.custom_menu_list .new{background:url(../images/index_menu_20131204.png?v=2013052701) 0 -576px no-repeat;width:13px;height:9px; display:inline-block; vertical-align:middle;margin-left:1px;_margin-top:5px;}
/*help*/
#mask_box{ position:absolute;z-index:2000;top:0;left:0;}
.maske{background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;height:100%}
.mask_iframe{z-index:-1;position:absolute; border:0; left:0;top:0; filter:alpha(opacity=0);-moz-opacity:0}  
#mask_middle{overflow:hidden;}
#mask_middle div{float:left;}
.m_middle{background:#fff\9;filter:alpha(opacity=0);}

.hp_box{width:960px;margin:0 auto; position:relative;z-index:30000;}
.hp_close{height:8px;width:8px;background:url(../images/help.png) 0 -1498px no-repeat;font-size:1px;line-height:1px; cursor:pointer; display:block;right:19px;top:19px; position:absolute;}
.hp_title{ font-weight:bold;color:#1E50A2; font-size:16px;}
.hp_btn_box{height:28px;line-height:28px;bottom:18px;right:19px; position:absolute;text-align:right;}
.hp_btn{width:75px;height:27px;background:url(../images/help.png) -12px -1498px no-repeat;border:none; cursor:pointer;font-weight:bold;color:#333;margin-left:15px;}

.help{width:405px;height:1530px;background:url(../images/help.png) 0 0 no-repeat;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://reg.163.com/gaiban/images/help.png');} 
.hp1,.hp2,.hp3,.hp4,.hp5,.hp6,.hp7{position:absolute; overflow:hidden;}

.hp1{width:391px;height:208px;left:288px;top:267px;}
.hp1_text{padding:70px 0 0 148px;color:#666}

.hp2{width:391px;height:266px;top:330px;left:166px;}
.hp2 .help{margin-top:-213px;}
.hp2_c{padding-top:213px}
.hp2_text1{padding:38px 0 0 110px;}
.hp2_text2{color:#999;px;padding:20px 0 50px 35px;font-size:12px;}
.hp2 .hp_close,.hp3 .hp_close{top:28px}

.hp3{width:391px;height:183px;left:314px;top:332px;}
.hp3 .help{margin-top:-490px;}
.hp3_c{padding-top:490px}
.hp3_text{padding:52px 0 0 114px;}

.hp4{width:398px;height:183px;left:145px;top:335px;}
.hp4 .help{margin-top:-701px;}
.hp4_c{padding-top:701px}
.hp4_text{padding:38px 0 0 114px;}
.hp4 .hp_btn_box{bottom:27px;}

.hp5{width:398px;height:181px;left:200px;top:165px;}
.hp5 .help{margin-top:-1078px;}
.hp5_c{padding-top:1078px}
.hp5_text{padding:38px 0 0 114px;}
.hp5 .hp_btn_box{bottom:25px}
.hp5 .hp_close,.hp6 .hp_close{right:25px;_right:19px;}{right:25px;_right:19px;}

.hp6{width:398px;height:181px;left:147px;top:145px;}
.hp6 .help{margin-top:-885px;}
.hp6_c{padding-top:885px}
.hp6_text{padding:38px 0 0 114px;}
.hp6 .hp_btn_box{bottom:25px}

.hp7{width:391px;height:208px;left:288px;top:252px;}
.hp7 .help{margin-top:-1275px;}
.hp7_c{padding-top:1275px}
.hp7_text{padding:68px 0 0 147px;color:#666}

.hp_box .help{color:#333;z-index:10000;line-height:24px;_background:none}

/*登录后统一导航样式*/
.user163_info{color:#5D5D5D;font-size:12px;font-weight:normal;display:inline;line-height:21px;}
.user163_box{position:relative;font-size:13px;z-index:200}
.user163_name,.user163_name_act{background:url(../../images/user163_bk.png) 0 0 no-repeat; width:165px;padding:0 20px 0 7px;vertical-align:middle;display:inline-block;height:22px;cursor:pointer;text-align:left;color:#626262;font-weight:bold;}
.user163_name_act{background-position:0 -23px;}
.user163_box ul{width:182px;border:1px solid #DCDDDD;border-top:none;float:none; position:absolute;top:20px;*top:21px;top:7px\0;left:0;padding:5px 4px;overflow:hidden;background:#fff;z-index:100;}
.user163_box ul li a{width:183px;height:21px;display:block;color:#2B2B2B;text-align:left; text-decoration:none}
.user163_box ul li a:hover{background-color:#4472AE;color:#fff;}

.recommend_tag li{ position:relative;}

/*修改登录邮箱*/
.c_008F15{ color:#008F15;}
.c_32A200{ color:#32A200;}
.m_t_6{ margin-top:-6px;}
.top_text{ padding:50px 0 0 115px; margin-bottom:45px;}
.mail_img{background:url(../images/icon4.png) 0 -61px no-repeat; width:72px; height:33px; float:left; margin:15px 15px 15px 0;}
.succ_img{background:url(../images/icon4.png) -674px 0 no-repeat; width:46px; height:45px; float:left;margin:5px 15px 0 0;}
.yz_succ{ padding:20px 0 0 20px;}
.r_text{ padding-top:-10px; line-height:30px; font-size:16px;}
.seperate{background:url(../images/repeat.png) repeat-x 0 -48px; height:3px; width:768px; margin:0 auto;font-size:1px;line-height:1px;}
.button2{background:url(../images/icon4.png) -74px -61px no-repeat; width:208px; height:37px; display:block; margin:20px 0 0 87px;}
.v_info{padding:30px 0 60px 30px; font-size:12px;}
.succ_text{font-size:16px; margin-top:10px; font-weight:bold;}
.ver_s_text{ border:1px solid #C6C6A8; background-color:#FFFFE1; width:625px;margin:20px 0 0 61px; font-size:14px; padding:10px; line-height:22px;}
.fail_text{ padding:50px 0 15px 40px; width:500px;display:inline-block; overflow:hidden;}
.fail_img{background:url(../images/icon4.png) -741px 0 no-repeat; width:48px; height:48px; float:left;margin:5px 30px 0 0;}
.info2{padding:15px 0 200px 120px; font-size:14px;}

/*找回密码*/
.w_200{ width:200px;}
.w_500{width:500px;}
.c_888888{color:#888888;}
.m_l_120{margin-left:120px;}
.pass_text,.pass_text2{font-size:14px;width:157px;height:47px;line-height:47px;font-weight:bold;margin:0 20px; float:left;}
.pass_text2{width:900px;height:30px; line-height:30px; margin-bottom:10px;}
ul.m_step1,ul.m_step2,ul.m_step3{background:url(../images/m_step.png) 0 0 no-repeat; width:753px; height:28px; display:inline-block;}
ul.m_step2{ background-position: 0 -30px;}
ul.m_step3{ background-position: 0 -58px;}
ul.m_step1 li,ul.m_step1 li.active,ul.m_step2 li,ul.m_step2 li.active,ul.m_step3 li,ul.m_step3 li.active{ width:251px; text-align:center; color:#888888; float:left; display:inline-block;}
ul.m_step1 li.active,ul.m_step2 li.active,ul.m_step3 li.active{ color:#FFFFFF; font-weight:bold;}

/* 提示建议输入框 */
.suggest_box{position:relative;font-size:12px;color:#010101;display:inline-block;}
.suggest_box .suggest_list{position:absolute;border:1px solid #8AA3C2;left:0;top:26px;background-color:#fff;display:none;font-family:Arial;width:auto!important;min-width:200px; width:200px;}
.suggest_box  h6{background:#FFFFE1;padding:3px 0;margin:0;font-weight:normal;font-size:12px;border-bottom:1px dotted #7EA0C1;}
.suggest_box .suggest_list li{padding:3px 10px 2px 3px;cursor:pointer;margin-bottom:3px;border-bottom:1px dotted #7EA0C1;font-size:12px;}
.suggest_box .suggest_list .list_focus{background:#5B7FAB;color:#fff;}
.suggest_box .iframe{position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:-1;display:none;left:0;top:26px;border:none;}


/* 确定删除弹出框 */
.del_box{width:291px;height:104px;font-weight:bold;overflow:hidden;margin:0 auto;font-size:16px;}
.del_left,.del_right{background:url(../images/del_popup.png) 0 0 no-repeat; width:8px; height:104px; float:left;}
.del_right{ background-position:-7px 0;}
.del_middle{ border-top:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; background-color:#F1F1F1; float:left; height:102px; width:275px; text-align:center;}
.del_info{ margin-top:20px;}
.del_button{background:url(../images/del_popup.png) -17px 0 no-repeat; width:65px; height:26px; display:inline-block; font-size:12px; font-weight:normal; text-align:center; line-height:25px; margin-top:10px; cursor:pointer;}
.del_middle a:hover,.del_middle a:link,.del_middle a:active,.del_middle a:visited{color:#000; text-decoration:none;}

/*手机将军令 */
.czdk_img{background:url(../images/jjl_icon.png) 0 -39px no-repeat; width:48px; height:41px; display:inline-block; margin:0 10px -20px;}
.wyb_img{background:url(../images/jjl_icon.png) 0 0 no-repeat; width:80px; height:31px; display:inline-block; margin:0 10px -10px;}
.zf_info{ padding:25px 0 20px 78px; font-size:12px; line-height:12px;color:#999;}
.zf_info ul{ margin-top:10px;}
.zf_info2{ padding:10px 0 15px 78px; font-size:12px; line-height:22px;}
.star_img{background:url(../images/jjl_icon.png) -52px -32px no-repeat;display:inline-block; font-size:12px; padding:5px 0 5px 10px;}
.jjl_form{ padding:15px 0 20px 78px; color:#333333;}
.jjl_form .f_btn{ margin-top:10px}
.jjl_form .f_btn .r_btn{ padding:0 29px 0 24px;}
.m_b_10{ margin-bottom:10px;}
.bt_bg{ margin:10px 0 10px -8px; background:#ffffcc; width:300px; height:40px; padding:10px 0 0 7px; color:#333333; font-size:14px}
.bt_bg .f_btn{ margin-left:25px;}
.bt_bg .f_btn .r_btn{color:#aca899; cursor:auto; padding:0 37px 0 33px;}
.bt_bg .f_btn .active{color:#000; cursor:pointer;}
.c_ff0000{color:#ff0000;}
.m_t_20{ margin-top:20px;}

/*手机验证功能提取 弹框*/
.phonePop{width:480px;left:36%;top:32%;}
.phonePop .mibao_pop_info{ line-height: 41px; padding: 50px 10px 40px;}
.phonePop .index_clum_content{padding: 10px 5px 5px;}
.phonePop .main_form .fm_left{ width:120px;}
.phonePop .main_form .txtLi{padding:5px 0 10px 35px;}
.phonePop .main_form .btnLi{border-top:1px dashed #dfdfdf; padding:16px 0 0 212px;}
.phonePop .input{width:165px}
.phonePop .main_form .tipsLi{ padding-top:10px;}
.tipsLi .fm_right{padding:10px 0 0 0;}
.phonePop .index_clum_top{background-image:none;background-color:#D6EBF9;border:1px solid #BFD2E1; border-bottom:none;}
.phonePop .index_clum_title{width:460px; background-image:none;}
.phonePop .index_clum_content{border-bottom:1px solid #BFD2E1;}
.phonePop .titTips{font-weight:normal;color:#555;font-size:12px;}

/*二代密保*/
.mibao_cap{ font-size:14px; margin-left:75px; color:#2b2b2b;}
.mb5{ margin-bottom:5px;}
.mibao_main_form li{ padding:7px 0;}
.mibao_main_form .select{background:#F9F9F9; border: 1px solid #C4C4C4; height: 23px; padding:2px; width: 225px;}
.mibao_main_form .err2, .mibao_main_form3 .err2{ line-height:normal;background:url(../images/errIcon.png?v=20120209) -2px -3px no-repeat;}
.red_be2732{ color:#be2732;}
.mibao_main_form .fm_left{width:142px;}
.mibao_main_form,.mibao_main_form2,.mibao_main_form3{ padding-top:10px; color:#2b2b2b;}
.mibao_main_form3 .fm_left{ width:215px;}
.mibao_pop{ text-align:center;}
.mibao_pop_info{ padding:50px 0 40px 0; line-height:25px;}
.mibao_pop_bar{ margin-bottom:20px;}
.gr_btn, .gr_btn_i{background:url(../images/mb_btn.png) no-repeat; display:inline-block;*display:inline; }
.gr_btn_i:link,.gr_btn_i:visited,.gr_btn_i:hover{ color:#fff; text-decoration:none;}
.gr_btn{ padding-left:3px;}
.gr_btn_i{border:none; color:#fff;background-position: 100% 0; padding:0 10px 0 7px; font-weight:bold; cursor:pointer;height:29px; line-height:29px; font-size:14px; text-decoration:none; overflow:visible;display:inline-block;}

.t_iselect{ border:1px solid #C4C4C4; display:inline-block; *float:left;position: relative; width:224px; background:#F9F9F9; vertical-align:middle;}
.t_iselect span{ height:22px; line-height:22px; display:block; padding: 0 20px 0 5px; overflow: hidden; cursor:pointer;}
.main_form a:link,.main_form a:visited,.main_form a:hover,.main_form a:active{text-decoration:none;}
.t_iselect em{ position:absolute; top:9px;overflow:hidden; zoom:1; right:5px; border-style:solid; _border-style:solid dotted; border-width:4px 4px 0; border-color:#626262 transparent transparent; height:0; width:0;}
.t_iselect_list{ position:absolute; top:22px; left:-1px;  border:1px solid #C4C4C4; width:224px;background:#fff; display:none; }
.t_iselect_list li{ padding:0; margin:0;}
.t_iselect_list li a{ display:block; height:22px; line-height:22px;padding-left:5px; color:#000; overflow:hidden;}
.t_iselect_list li a:hover{ background:#316ac5; color:#fff;}
.t_iselect_active .t_iselect_list{ display:block;}
/*二级密码验证页面新增样式*/
.nav_intro{ font-size:12px; font-weight:bold; margin-top:10px;}
a.blueLink:link, a.blueLink:visited,.mb_describe a:link, .mb_describe a:visited{color: #1E50A2;}
a.blueLink:link, a.blueLink:visited{ text-decoration: underline;}
.mb_describe{line-height:200%; font-size:12px;}
.gray7d{ color:#7d7d7d;}
.grayc4{ color:#c4c4c4;}
.mb_describe .g_line{ margin:9px 0 20px 0;}
.mb_describe h3{ font-weight:bold; }
.textHolder{ position:absolute; top:0; left:0; color:#c4c4c4; padding-left: 5px; width:221px; cursor: text;}
/*注册成功页*/
.reg_suc_part{ text-align:center; padding-top:60px;}
.reg_suc_part p{ vertical-align: middle; padding:18px 0; font-weight:bold; font-size:14px;}
.reg_suc_part .icon{ vertical-align:middle;}
.reg_suc_bar{ margin-top:35px;}

/*20130523 by tiangang
.pos_rel{position:relative;zoom:1;}
.main_form .curQues{background:url("../images/sel_bg.gif") no-repeat;width:226px;height:25px;line-height:23px;padding-left:6px;display:block;color:#2b2b2b;}
.main_form a:link,.main_form a:visited,.main_form a:hover,.main_form a:active{block;color:#2b2b2b;text-decoration:none;}
.main_form .questionList{list-style:none;width:224px;position:absolute;left:0px;top:23px;border:1px solid #c4c4c4;background:#fff;}
.main_form .questionList li{padding:0;border:1px solid #fff;}
.main_form .questionList li a{display:block;padding:0 6px;}
.main_form .questionList li a:hover{background:#ebf4f8;}

.mibao_main_form  li{}*/


/*20130620 by 郑弋天 --start--*/
.f-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb{zoom:1;}
.hide{ display: none;}
.nav_safe_intro{ font-size:16px; margin: 30px 0 10px 70px; line-height: 48px;}
.nav_safe_intro em{color: #F55176; font-weight: bold;}
.nav_safe_intro span{color: #1E50A2; margin-left: 10px; font-weight: bold;}
/*图标*/
.icon_safe_21,.icon_safe_22,.icon_safe_51,.icon_safe_61,.icon_safe_71,.icon_safe_72,.icon_safe_81{
	background: url(../images/icon_safe.png) no-repeat; margin: 2px; float: left;
}
.icon_safe_21{  background-position: 0 -17px; height: 31px; width: 31px; margin: 5px 10px 5px 0;}
.icon_safe_22{  background-position: -32px -17px; height: 31px; width: 31px; margin: 5px 10px 5px 0;}
.icon_safe_51{  background-position: 0px -102px;height: 20px; width: 22px;}
.icon_safe_61{  background-position: 0 -122px; height: 26px; width: 22px;}
.icon_safe_71{  background-position: 0 -149px; height: 40px; width: 40px;}
.icon_safe_72{  background-position: -41px -156px; height: 34px; width: 32px;}
.icon_safe_81{  background-position: 0 -190px; height: 30px; width: 39px;}

.safe_mibao{}
.safe_mibao form{ margin-left: 64px;}
.safe_mibao .icon_safe_51{ margin-left: 40px;}
.safe_mibao .icon_safe_61{ margin: -4px 2px 2px 32px;}
.safe_mibao .icon_safe_81,.safe_mibao .icon_safe_72{ margin: -4px 2px 2px 24px;}
.safe_mibao #li_getSmsBtn p,.safe_mibao #li_getSmsBtn span{ margin-bottom: 15px; }
.safe_mibao  .fm_left{ padding-right: 20px;}
.safe_mibao .blueLink{ font-size: 13px;}
/*弹出信息区*/
.safe_pop_info{
	padding: 28px 10px 20px;;
}
.safe_pop_info dt, .safe_pop_info dd{
	float: left;
}
.safe_pop_info dd{
	line-height: 42px;
	text-align:left;
}

/*按钮类*/
.btn_gray{  display: inline-block; background: #E7E7E7; color:#888; border: 1px solid #B9B9B9; text-align: center; font-weight: bold; height: 25px; line-height: 25px; padding: 0 12px;text-decoration: none;}
/*绿色大按钮*/
.btn_g_big{padding-left: 3px;}
.btn_g_big, .btn_g_big_i{
	background: url("../images/btn_g_big.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
}
.btn_g_big_i{
	background-position: 100% 0;
	border: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	height: 38px;
    line-height: 38px;
    overflow: visible;
    padding: 0 10px 0 7px;
}
.btn_g_big_i:link, .btn_g_big_i:visited, .btn_g_big_i:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.new_reg_suc .icon { float: left;}
.new_reg_suc .main_r{ float: left;}
.new_reg_suc .title{ font-weight: bold;line-height: 46px; font-size: 16px;}
.new_reg_suc .title em{color: green; margin: 0 5px;}
.new_reg_suc .dec{ font-weight: normal; font-size: 14px; margin-top: 15px; }
.new_reg_suc a{ margin-right: 10px;}
.new_reg_suc .button3{ color: #FFF; text-decoration: none;}
.new_reg_suc .btn_gray{ color: #888888; width: 130px; height: 35px; line-height: 35px; margin: 20px 15px 0;text-decoration: none;}
.new_reg_suc .reg_suc_bar{ margin-top:50px;}

/*20130620 by 郑弋天 --end--*/


/* 解决main页面左边菜单栏在IE6下元素消失的问题 20130712 by 周卿 --start-- */
.index_clum_content{_position:relative;_zoom:1;}
.custom_menu_list{_zoom:1;}
.custom_menu_list li{_position:relative;_width:126px;_zoom:1;}
.hover_menu_left{_z-index:1;}
/* 20130712 by 周卿 --end-- */

/* 国际手机input框样式 */
.inputContainer{position:relative;display:inline-block;*display:inline;*zoom:1;border:1px solid #C4C4C4;background:#F9F9F9;}
.inputContainer input{border:none;background:none;}
.itlPhone input{width:186px;}
/* 20130924 by 周卿 --end-- */


















