/* Global CSS */
body{text-align:center;font-family:宋体,serif;background:#ffffff;font-size:12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote{padding:0; margin:0;}   
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
table{ margin:0 auto;}
img{vertical-align:top;border:none;}
ol,ul {list-style:none;}   
caption,th {text-align:left;}   
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}   
q:before,q:after {content:'';}   
abbr,acronym {border:0;}
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;}   
a {color:#2b2b2b;text-decoration:none;}
a:visited {color:#83006f;text-decoration:none;}
a:hover {color:#BA2636;text-decoration:underline;}
a:active {color:#BA2636;}
.cWhite,.cWhite:visited,.cWhite a{color:#fff;}
.cYellow,.cYellow:visited{color:#ff0;}
.cGreen,.cGreen:visited{color:#008000;}
.cGray,.cGray:visited,.cGray a{color:#333;}
.cDGray,.cDGray:visited,.cDGray a{color:#727171;}
.cBlack,.cBlack:visited,.cBlack a{color:#000;}
.cBlue,.cBlue:visited,.cBlue a{color:#1E50A2;}
.cRed,.cRed:visited,.cRed a{color:Red;}
.cDRed,.cDRed:visited,.cDRed a{color:#BA2636;}
.cGold,.cGold:visited,.cGold a{color:#8d6449;}
.cDGold,.cDGold:visited,.cDGold a{color:#603913;}
.cRed a:hover,a.cRed:hover,.cBlue a:hover,a.cBlue:hover,.cDRed a:hover,a.cDRed:hover,.cGray a:hover,a.cGray:hover,.cDGray a:hover,a.cDGray:hover,.cWhite a:hover,a.cWhite:hover,.cBlack a:hover,a.cBlack:hover,.cGreen a:hover,a.cGreen:hover,.cYellow a:hover,a.cYellow:hover,.cGold a:hover,a.cGold:hover,.cDGold a:hover,a.cDGold:hover{color:#BA2636;}
.fB{font-weight:bold;}
.fI{font-style: italic;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.left{float:left;}
.right{float:right;}
.hidden{display:none;}
.unLine,.unLine a{text-decoration:none;}
.noBorder{border:none;}
strong {font-weight:normal;}
.I_V_ {background:url(base/icon.png) left center no-repeat; padding-left:18px;}
.I_M_ {background:url(base/icon.png) -457px center no-repeat; padding-left:18px;}
.foot{margin:0 auto; color:#4d4d4d; width:960px; line-height:21px; clear:both;}
.foot .text{padding:5px 0 4px; border-bottom:1px solid #4d4d4d; margin:0 0 6px;}
.foot a,.foot a:visited{color:#4d4d4d;}
.foot a:hover {color:#ba2636;}
.editorSign{margin:0 auto; width:950px; clear:both; line-height:21px; padding:16px 9px 5px; color:#4d4d4d;}
.editorSign a,.editorSign a:visited {color:#4d4d4d;}
.editorSign a:hover {color:#ba2636;}
.ad960 {width:960px; margin:0 auto; padding-top:4px; clear:both; overflow:hidden;}
.clear {clear:both; height:0; overflow:hidden; display:block;}
.clearfix:after {clear:both; height:0; overflow:hidden; display:block; visibility:hidden; content:"."; }
.blankW {background:#fff;}
.blank2 {clear:both; height:2px; overflow:hidden; display:block; font-size:1px;}
.blank3 {clear:both; height:3px; overflow:hidden; display:block; font-size:1px;}
.blank6 {clear:both; height:6px; overflow:hidden; display:block; font-size:1px;}
.blank9 {clear:both; height:9px; overflow:hidden; display:block; font-size:1px;}
.blank9w {background:#ffffff; clear:both; height:9px; overflow:hidden; display:block; font-size:1px;}
.blank12 {clear:both; height:12px; overflow:hidden; display:block;}
.blank15 {clear:both; height:15px; overflow:hidden; display:block;}
.blank20 {clear:both; height:20px; overflow:hidden; display:block;}
/*channel nav css*/
.NTES_sec_ {border-bottom:1px solid #dcdddd;}
.NTES_nav_ {width:960px; height:30px; line-height:30px; margin:0 auto; text-align:left;}
.NTES_bg_ {height:35px; background:url(base/ntes_bg.jpg) left bottom repeat-x;}
.NTES_nav_ .NTES_logo {float:left; display:inline; margin:5px 5px 0 5px;}
.NTES_nav_ .nav_link{float:left; color:#b3b3b3;}
.nav_link a,.nav_link a:visited {color:#2b2b2b;}
.nav_link a:hover {color:#ba2636;}
.NTES_link a,.NTES_link a:visited {padding:0 2px 0 3px; color:#1E50A2;}
.NTES_nav_ .nav_link a:hover {color:#ba2636;}
.NTES_nav_ .nav_link a {padding:0 3px;}
.NTES_nav_ .rightCon {float:right; width:210px; _display:inline; margin:0 0 0 6px;}
.NTES_nav_ .rightCon .rss {float:right; _display:inline; margin:8px 3px 0 0;}
.NTES_bg_ .nav_link {margin-top:2px;}
.NTES_nav_ .hidden {display:none;}

.NTES_nav_ .rightCon .NTES-link {float:left;}
.ntes-usercenter-logined,.ntes-usercenter-name,.ntes-usercenter-logined:hover {background:url("http://img2.cache.netease.com/common/img/reg_bg.png") no-repeat;}
.NTES_nav_ .ntes-usercenter {position:relative; margin-right:0px;}
.NTES_nav_ .ntes-usercenter-entry {display:none; position:absolute; z-index:2; width:100%; _width:170px; left:0; top:23px; overflow:hidden; background:#fff; line-height:18px; text-align:left; color:#2b2b2b;}
.NTES_nav_ .ntes-usercenter-entry .user-entry {display:block; border:1px solid #dcdddd; padding:1px;}
.NTES_nav_ .ntes-usercenter-entry a {display:block; clear:both; width:100%; _width:166px; height:21px; line-height:21px; text-indent:3px; font-weight:normal; color:#2b2b2b;}
.NTES_nav_ .ntes-usercenter-entry a:hover{ background-color:#4472AE; color:#fff; text-decoration: none; }
.NTES_nav_ .ntes-usercenter {float:left;}
.NTES_nav_ .ntes-usercenter-loginout {padding:0 0 0 2px; color:#727171;}
.NTES_nav_ .ntes-usercenter-logined {float:left; height:21px; margin-top:3px; padding-left:6px; line-height:21px; font-family:Verdana,\5B8B\4F53,san-serif; background-position:left top;}
.NTES_nav_ .ntes-usercenter-name {float:left; width:60px; cursor:pointer; padding-right:18px; background-position:right -20px; background-color:#fff;}
.NTES_nav_ .ntes-usercenter-logined:hover {background-position:left -40px;}
.NTES_nav_ .ntes-usercenter-logined:hover .ntes-usercenter-name {background-position:right -60px;}

.top_search {float:right; margin:9px 0 0; display:inline;}
.top_search .select_box {background:url(base/ntes_nav_img.gif) left -56px no-repeat; width:45px; height:18px; ove rflow:hidden; border:none; position:relative; text-align:left; cursor:pointer; float:left; margin-right:4px;}
.top_search .select_box .select_list {display:block; position:absolute; width:3em; line-height:19px; left:0; top:0; background:#fff; display:none;}
.top_search .select_box .search_site {height:18px; line-height:20px; padding-left:6px; float:left; overflow:hidden;}
.top_search .select_box .select_list {width:43px; border:1px solid #B4B4B4;}
.top_search .select_box {width:45px;}
.top_search .select_box a {display:block; height:18px; text-indent:5px;}
.top_search .select_box a:hover {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
.top_search .select_box a.active {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
.top_search .textBox {width:119px; height:18px; color:#7B7C7D; background:url(base/enterinput.gif) left top no-repeat; border:none; float:left; line-height:18px; text-indent:3px;}
.top_search .btn {overflow:hidden; width:41px; height:18px; background:url(base/ntes_nav_img.gif) left -28px no-repeat; border:none; float:left; line-height:19px; font-size:12px; cursor:pointer;}
.top_search form {float:left;}
.select_goahead {position:relative; display:block; width:150px; height:21px; margin:5px 0 0; background:url(base/endnav_bg1001.jpg) 141px -204px no-repeat;}
.select_goahead .loginName {display:block; overflow:hidden; width:140px; height:21px; line-height:21px; color:#727171; font-weight:bold; text-align:right; cursor:pointer;}
.select_goahead .loginName:hover {color:#ba2636;}
.select_goahead .select_box {display:none; position:absolute; width:91px; _left:0; right:0; top:21px; overflow:hidden; background:#fff; border:1px solid #dcdddd; line-height:18px; text-align:left; color:#2b2b2b;}
select_goahead .select_box a {clear:both; display:block; width:91px; height:18px; line-height:18px; text-indent:6px; font-weight:normal; color:#2b2b2b;}
select_goahead .select_box a:visited {color:#2b2b2b;}
select_goahead .select_box .dotLine {margin:2px 0;}
.select_passport .select_list a {clear:both; display:block; width:110px; height:18px; text-indent:2px; cursor:pointer; background:#fff; color:#2b2b2b;}
.select_passport .select_list a:visited {color:#2b2b2b;}	
.select_goahead .select_box a:hover,.select_goahead .select_box a.active {text-decoration:none; color:#fff; background:#85B6EA;}
#divSelect {float:left;}
.NTES_nav_ .top_search {float:right; margin:6px 6px 0 0; display:inline;}
.NTES_bg_ .top_search {margin-top:8px;}
.NTES_nav_ .top_search .select_box {background:url(base/ntes_nav_img.gif) left -56px no-repeat; width:45px; height:18px; border:none; position:relative; text-align:left; cursor:pointer; float:left; margin-right:4px; z-index:1000;}
.NTES_nav_ .top_search .select_box .select_list {display:block; position:absolute; width:3em; line-height:19px; left:0; top:0; background:#fff; display:none;}
.NTES_nav_ .top_search .select_box .search_site {height:18px; line-height:20px; padding-left:6px; float:left; overflow:hidden;}
.NTES_nav_ .top_search .select_box .select_list {width:43px; border:1px solid #B4B4B4;}
.NTES_nav_ .top_search .select_box {width:45px;}
.NTES_nav_ .top_search .select_box a {display:block; height:18px; text-indent:5px;}
.NTES_nav_ .top_search .select_box a:hover {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
.NTES_nav_ .top_search .select_box a.active {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
.NTES_nav_ .top_search .textBox {width:88px; height:18px; color:#7B7C7D; background:url(base/ntes_nav_img.gif) left top no-repeat; border:none; float:left; line-height:18px; text-indent:3px;}
.NTES_nav_ .top_search .btn {overflow:hidden; width:41px; height:18px; background:url(base/ntes_nav_img.gif) left -28px no-repeat; border:none; float:left; line-height:19px; font-size:12px; cursor:pointer;}
.NTES_nav_ .top_search form {float:left;}
.NTES_nav_ .top_search .rss{float:left; margin:2px 0 0 6px;}
.nav_channel_end {background:url(base/endnav_bg1001.jpg) left -67px repeat; height:37px; line-height:38px; overflow:hidden; width:960px; margin:0 auto;}
.nav_channel_end .rightS {background:url(base/endnav_bg1001.jpg) right -141px no-repeat; display:block; width:8px; height:37px; float:right; overflow:hidden;}
.nav_channel_end .nav {background:url(base/endnav_bg1001.jpg) left -30px no-repeat; height:37px; float:left; line-height:38px; color:#1E50A2; overflow:hidden;}
.nav_channel_end .nav a {padding:0 5px; float:none;}
.nav_channel_end .nav .firstNode {margin-left:8px; background:none;}
.nav_channel_end .goHome {float:right; width:77px; height:18px; background:url(base/endnav_bg1001.jpg) left -178px no-repeat; overflow:hidden; margin:10px 5px 0 0; line-height:19px; text-align:left; text-indent:10px;}
.nav_channel_end .nav a,.nav_channel_end .nav a:visited {color:#1E50A2;}
.nav_channel_end .nav a:hover {color:#BA2636;}
.nav_channel_end .search {float:right; display:inline; width:128px; height:20px; margin:8px 13px 0 0; overflow:hidden;}
.nav_channel_end .search .textBox {background:url(base/endnav_bg.jpg) right -202px no-repeat; width:106px; height:20px; line-height:21px; text-indent:4px; padding:2px 0 0 0; border:none; line-height:18px; color:#727171; float:left;}
.nav_channel_end .search .btn {background:url(base/endnav_bg.jpg) left -178px no-repeat; width:22px; height:20px; border:none; text-indent:-100em; cursor:pointer; float:left;}
/*house nav css*/
/* 频道导航 */
.channel{clear:both;margin:0 auto;width:960px;height:32px;text-align:left;}
.channel .logo{float:left; display:inline;margin:2px 0 0 3px;}
.channel .clogo{float:left; display:inline;margin:0 0 0 20px;}
.channel .position{ float:left; margin:8px 0 0 20px; padding:0; line-height:21px; display:inline;}
.channel .hotkey{float:left;line-height:12px;margin:0;padding:10px 0 0 20px;}
.channel .hotkey a{margin-right:6px;}
.channel .hotkey span{color:#8D6449}
.channel .top_search{float:right;margin:6px 0 0;display:inline;}
.channel .top_search .select_box {background:url(base/navbg.png) -40px -94px no-repeat;width:45px;height:18px;border:none;position:relative;text-align:left;cursor:pointer;float:left;margin-right:4px;}
.channel .top_search .select_box .select_list {display:block; position:absolute; width:3em; line-height:19px; left:0; top:0; background:#fff; display:none;}
.channel .top_search .select_box .search_site {height:18px; line-height:20px; padding-left:6px; float:left; overflow:hidden;}
.channel .top_search .select_box .select_list {width:43px; border:1px solid #B4B4B4;}
.channel .top_search .select_box {width:45px;}
.channel .top_search .select_box a{display:block;height:18px;text-indent:5px;text-decoration:none;}
.channel .top_search .select_box a:hover {background:#1E50A2;color:#fff;display:block;height:18px;}
.channel .top_search .select_box a.active {background:#1E50A2;color:#fff;display:block;height:18px;}
.channel .top_search .textBox {margin-right:-1px;width:117px;height:16px;color:#7B7C7D;background:url(base/navbg.png) -85px -95px no-repeat;border:1px solid #acacac;float:left;line-height:16px;text-indent:3px;}
.channel .top_search .btn {overflow:hidden; width:41px; height:18px; background:url(base/navbg.png) left -94px no-repeat; border:none; float:left; line-height:19px; font-size:12px; cursor:pointer;}
.channel .top_search form {float:left;}
.channel .top_search .rss{float:left; margin:2px 0 0 6px;}
.channel .calendar{ float:right;padding-right:11px;display:inline;margin:6px 11px 0 0;border-right:1px solid #ddd; height:18px;}
.channel .calendar .arrow{float:left;background:url(base/navbg.png) no-repeat -56px -119px;width:72px;height:18px;line-height:19px; overflow:hidden;text-indent:6px;cursor:pointer;}
.channel .region{float:right;padding:0 11px 0 1px;display:inline;margin:6px 11px 0 0;border-right:1px solid #ddd; height:18px;}
.channel .region li{ float:left; margin-left:-1px; display:inline; background:url(base/navbg.png) no-repeat 0 -119px; line-height:19px; height:18px; overflow:hidden;text-align:center;}
.channel .region li a,.channel .region li a:visited{display:block;width:46px;color:#3f3f3f;}
.channel .region .on a,.channel .region .on a:visited{width:45px; line-height:15px;height:14px; overflow:hidden; margin:1px;border:1px solid #fff;background:#ECE8D6;color:#814328;}
.channel .region li.more{background:url(base/navbg.png) no-repeat 0 -630px; }
.channel .region li.more a,.channel .region li.more a:visited{width:66px; line-height:15px;height:14px; margin:1px;border:1px solid #fff;}
.channel_nav{clear:both;width:960px;margin:0 auto; background:url(base/navbg.png) repeat-x 0 0; height:32px;}
.channel_nav .menu{line-height:33px;height:32px;overflow:hidden;background:url(base/navbg.png) no-repeat 0 -140px;}
.channel_nav .main{float:left;}
.channel_nav .main a,.channel_nav .main span,.channel_nav .main strong{ float:left;margin:0 0 0 7px;}
.channel_nav .main strong a,.channel_nav .main span a{margin:0;}
.channel_nav strong{ font-weight:bold;}
.channel_nav .main .on{ margin:5px 0 0 7px; padding:0; background:url(base/navbg.png) no-repeat 0 -35px; font-weight:bold; font-size:14px; line-height:28px; height:27px; overflow:hidden; position:relative; z-index:1;}
.channel_nav .main .index{ margin-right:-9px;}
.channel_nav .main .on a{height:27px; overflow:hidden;background:url(base/navbg.png) no-repeat right -63px; padding:0 7px;}
.channel_nav strong.sp{ background:url(base/navbg.png) no-repeat -134px -35px; padding-left:8px;}
.channel_nav .exp{ float:right; padding-right:10px; background:url(base/navbg.png) no-repeat right -172px; height:32px;}
.channel_nav .phone{ background:url(base/navbg.png) no-repeat -283px -73px; padding:1px 0 0 16px;}
.channel_nav .menu a,.channel_nav .menu a:visited{ color:#fff}
.channel_nav .main .on a,.channel_nav .main .on a:visited{ color:#000}
.channel_nav .menu strong a,.channel_nav .menu strong a:visited{ color:#FFD584}
.channel_nav .list{clear:both; padding-left:13px; text-align:left; line-height:24px; color:#b2b2b2;}
.channel_nav .list a,.channel_nav .list a:visited{ color:#000100}
/*网易底部导航*/
.nav_channel_end {background:url(base/endnav_bg1001.jpg) left -67px repeat; height:37px; line-height:38px; overflow:hidden; width:960px; margin:0 auto;}
.nav_channel_end .rightS {background:url(base/endnav_bg1001.jpg) right -141px no-repeat; display:block; width:8px; height:37px; float:right; overflow:hidden;}
.nav_channel_end .nav {background:url(base/endnav_bg1001.jpg) left -30px no-repeat; height:37px; float:left; line-height:38px; color:#1E50A2; overflow:hidden;}
.nav_channel_end .nav a {padding:0 5px; float:none; font-weight:normal; background:none;}
.nav_channel_end .nav .firstNode {margin-left:8px; background:none;}
.nav_channel_end .goHome {float:right; width:77px; height:18px; background:url(base/endnav_bg1001.jpg) left -178px no-repeat; overflow:hidden; margin:10px 5px 0 0; line-height:19px; text-align:left; text-indent:10px;}
.nav_channel_end .nav a,.nav_channel_end .nav a:visited {color:#1E50A2;}
.nav_channel_end .nav a:hover {color:#BA2636;}
.nav_channel_end .search {float:right; display:inline; width:128px; height:20px; margin:8px 13px 0 0; overflow:hidden;}
.nav_channel_end .search .textBox {background:url(base/endnav_bg.jpg) right -202px no-repeat; width:106px; height:20px; line-height:21px; text-indent:4px; padding:2px 0 0 0; border:none; line-height:18px; color:#727171; float:left;}
.nav_channel_end .search .btn {background:url(base/endnav_bg.jpg) left -178px no-repeat; width:22px; height:20px; border:none; text-indent:-100em; cursor:pointer; float:left;}