/* CSS Document */
/* 房产通道 */
.houseType{margin:0 auto;width:960px;height:24px;line-height:24px;border-bottom:1px solid #b9aaa3;position:relative; z-index:1;}
.houseType .tab{background:url(base/navbg.png) repeat-x left -206px;height:25px;padding-right:1px; margin-bottom:-1px; position:relative;z-index:2;}
.houseType .tab ul,.houseType .tab li{float:left;}
.houseType .tab li{display:inline;border-left:1px solid #b9aaa3;border-right:1px solid #b9aaa3;margin-right:-1px; font-weight:bold;position:relative; z-index:3;}
.houseType .tab li span{float:left;margin-top:1px;padding:0 15px;border-left:1px solid #fff;border-right:1px solid #fff;cursor:pointer;color:#505050;line-height:23px;}
.houseType .tab li.on{background:url(base/navbg.png) no-repeat 0 -230px;}
.houseType .tab li.on span{padding-bottom:1px;color:#603913;}
.houseType .bbslogin{height:24px; line-height:18px;}
.houseType .bbslogin label,.houseType .bbslogin input{ float:left; margin-left:6px;}
.houseType .bbslogin .txt{border:1px solid #736f5f;width:73px;height:16px;}
.houseType .bbslogin .bt{background:url(base/navbg.png) no-repeat 0 -260px; width:63px;height:18px;line-height:18px;border:0;cursor:pointer;}
.typeList{margin:0 auto;width:958px;border:1px solid #b9aaa3;border-top:0;background:#f7f4ef url(base/navbg.png) repeat-x 0 -433px;}
#houseTypeList2{border:1px solid #b9aaa3;}
.typeList .list{width:956px;border:1px solid #fff;border-top:0;}
.typeList .list .cell{clear:both;padding:0 8px 0 12px;text-align:left;line-height:21px;}
.typeList .list strong.left{font-weight:bold;}
.typeList .list .bt{background:url(base/navbg.png) no-repeat -63px -260px;width:60px;height:20px;border:none; cursor:pointer;}
.typeList .list .smap{ width:91px; height:20px;background:url(base/navbg.png) no-repeat -122px -260px;border:none; text-indent:15px;cursor:pointer;}
.typeList .list .nav{display:inline;margin-left:6px;width:862px; }
.typeList .list .nav li{display:inline;float:left;width:105px;}
.typeList .bbsearch form{position:relative; z-index:20;}
.typeList .nav .tips{ float:left; width:205px; text-align:left; padding:2px 6px; position:absolute; left:0; top:18px; z-index:999; background:#fff; border:1px solid #ccc; line-height:18px;}
.typeList .nav .tips a{ display:block;margin:2px 0; border-bottom:1px dashed #ccc;}
.typeList .nav .tips li{ display:block; float:none; width:auto;}
.typeList .list .wAuto li{ width:auto; margin-right:12px;}
.typeList .list .hotarea{border-bottom:1px solid #fff;overflow:hidden;}
.typeList .list .hotarea ul{margin-left:-11px;padding-right:10px;width:100%;border-bottom:1px solid #c8c8c8;}
.typeList .list .hotarea li{padding:0 0 0 11px;width:121px;background:url(base/navbg.png) no-repeat -244px -388px;}
/* 布局 */
.area{ margin:0 auto; width:960px;}
.areabg{ background:#fff url(default/bg_y.gif) repeat-y 0 0;}
.areabg2{ background:#fff url(default/bg_y.gif) repeat-y -1950px 0;}
.areabor{ border-top:1px solid #dcdddd}
.areabot{ display:block; clear:both; font-size:1px; height:1px; overflow:hidden; background:url(default/bg_y.gif) no-repeat -966px 0;}
.areabot2{ display:block; clear:both; font-size:1px; height:1px; overflow:hidden; background:url(default/bg_y.gif) no-repeat -966px -2px;}
.dotline{ display:block; clear:both; background:url(default/bg_x.gif) repeat-x 0 0; height:1px; overflow:hidden; font-size:1px; line-height:1px;}
.colLM {width:750px; float:left;}
.colMR {width:650px; float:right;}
.colLM .colM {float:right;}
.colMR .colM {float:left; width:280px;}
.colL {width:310px; float:left;}
.colM {width:440px; float:left;}
.colR {width:210px; float:right;}
.content{margin:0 6px; line-height:21px;}
.colLM .content{margin:0 21px 0 6px;}
.colL .content{margin:0 16px 0 6px;}
.colM .content{margin:0 25px 0 16px;}
.colM .content2{margin:0 0 0 10px;}
.colR .content{margin:0 10px 4px 13px; line-height:21px;}
.areabox{ width:958px; border:1px solid #dcdddd; border-top:0; background:#f7f4ee url(default/bg_x.gif) repeat-x 0 -814px;}
.areabox .colbor{ border:2px solid #fff;}
.colaB .cola{ float:left; width:383px;}
.colaB .colB{ float:left; width:571px;}
.colaB .colB .content{margin:0 14px; line-height:21px;}
.marR15{ margin-right:15px;}
/* 全局切换样式 */
.tab .normal {display:none;}
.tab .on {display:block;}
/*头图*/
.focusImg{ width:308px; height:288px; border:1px solid #ccc; background:#fff; overflow:hidden;}
.ficnt li{ display:none;}
.ficnt li.on{ display:block;}
.ficnt{padding:4px 3px 0 4px; text-align:left;}
.ficnt li img{margin-bottom:8px;}
.ficnt li cite{ width:100%; text-indent:6px;display:block; float:left;color:#000;font-size:14px; font-weight:bold;cursor:pointer;}
.ficnt li a:hover{text-decoration:none;}
.finav {padding:2px 0 0 194px;}
.finav li{ float:left; width:21px; margin-right:7px; height:24px; overflow:hidden; line-height:26px; background:url(default/bg_norp.gif) no-repeat -279px 0; text-align:center; color:#2B2B2B; font-weight:bold; font-size:14px; font-family:Tahoma; cursor:pointer;}
.finav li.on{ background-position: -247px 0; color:#fff;}
/* 头条 */
.hLine{ margin:0; padding:0; text-align:left;}
h2.hLine{ font-size:20px; font-family:"黑体";}
h3.hLine{ font-size:18px; font-family:"黑体";}
p.hLine{ line-height:21px;}
.hLine2{ margin:0; padding:0; text-align:left;}
h4.hLine2{ font-size:16px; font-family:"黑体";}
p.hLine2{ text-indent:2em; line-height:21px; color:#727171;}
/* 栏目标题 */
.colTil{ background:url(default/bg_x.gif) repeat-x 0 -161px; height:25px; line-height:25px;}
.colTil h2{ float:left; padding-left:23px; background:url(default/bg_norp.gif) no-repeat 0 -245px;}
.colTil .exp{ float:right; padding-right:12px; background:url(default/bg_norp.gif) no-repeat right -245px;}
.colL .colTil{ margin-right:10px;}
.colM .colTil{margin-left:10px; margin-right:15px;}
.colTil2{ background:url(default/bg_x.gif) repeat-x 0 -32px; line-height:25px; height:25px;}
.colLM .colTil2{ margin:0 15px 0 0}
.colL .colTil2{ margin:0 10px 0 0;}
.colM .colTil2{ margin:0 15px 0 10px;}
.colR .colTil2{ margin:0 10px;}
.colTil2 h2{ float:left; background:url(default/bg_norp.gif) no-repeat -284px -306px; font-weight:bold; padding:0 0 0 23px;}
.colTil2 .exp{ float:right; padding-right:8px;}
.colTil2 .tab{ float:left;}
.colTil2 .tab li{ float:left; margin:0 0 0 -1px; background:url(default/bg_x.gif) repeat-x 0 -416px; height:25px; border-left:1px solid #ddd; border-right:1px solid #ddd;}
.colTil2 .tab li span{ float:left; margin:1px 0 0 0;border-left:1px solid #fff; border-right:1px solid #fff; width:53px; line-height:22px;}
.colTil2 .tab li.on span{  line-height:24px;background:#fbfaf5; border-color:#fbfaf5; font-weight:bold; color:#603913}
.colTil2 .w92 li span{ width:92px;}
.colTil3{ background:url(default/bg_x.gif) repeat-x 0 -243px; height:28px; line-height:28px; position:relative; z-index:1;}
.colLM .colTil3{ margin:0 15px 0 0;}
.colTil3 h2{ float:left; padding-left:23px;height:28px; background:url(default/bg_norp.gif) no-repeat 0 -270px;}
.colTil3 .tab{ float:left; padding-left:32px;}
.colTil3 .tab li{ float:left;margin:6px 0 0 -1px; background:url(default/bg_x.gif) repeat-x 0 -275px; border-left:1px solid #9b8e62; border-right:1px solid #9b8e62; height:21px; color:#505050; cursor:pointer;}
.colTil3 .tab li span{ float:left; line-height:19px; border-left:1px solid #fff; border-right:1px solid #fff; margin-top:1px; width:65px;}
.colTil3 .tab li.on{ background-position:0 -300px; padding-top:1px; color:#663019; cursor:text;}
.colTil3 .exp{ float:right; height:28px; padding-right:12px; background:url(default/bg_norp.gif) no-repeat right -270px;}
.colTil3 .search{ float:right; line-height:18px; height:18px; padding:3px 8px 7px;position:relative; z-index:1;}
.colTil3 .search .bt{ margin-bottom:-1px;}
.colTil3 .tips{ float:left; width:80px; text-align:left; padding:2px 6px; position:absolute; left:86px; top:23px; z-index:2; background:#fff; border:1px solid #ccc; line-height:18px;}
.colTil3 .tips a{ display:block;margin:2px 0; border-bottom:1px dashed #ccc;}
.colTil3Tab{ border:1px solid #b9aaa3; border-top:0; width:958px; background:#f7f4ee url(default/bg_x.gif) repeat-x 0 -506px;}
.colTil3TabBg{ border:1px solid #fff; border-top:0;}
.colTil3TabBor{border:1px solid #DCDDDD;}
.colTil3TabBor .colTil3TabBg{border-top:1px solid #fff;}
.tabTil{ background:#fff url(default/bg_x.gif) repeat-x 0 -75px; height:25px; line-height:25px;}
.colLM .tabTil{ margin:0 15px 0 0;}
.colL .tabTil{ margin:0 10px 0 0;}
.colM .tabTil{ margin:0 15px 0 10px;}
.colaB .colB .tabTil{ margin:0 5px;}
.tabTil .tab{ float:left;}
.tabTil .tab li{ float:left; position:relative; z-index:1; margin-right:-1px; border-left:1px solid #ddd;border-right:1px solid #ddd; background:url(default/bg_x.gif) repeat-x 0 -187px; cursor:pointer;}
.tabTil .tab li span{ float:left;border-left:1px solid #fff;border-right:1px solid #fff; line-height:23px; margin-top:1px; width:88px;}
.tabTil .w147 li span{ width:147px;}
.tabTil .w115{ margin-left:10px; display:inline}
.tabTil .w115 li span{ width:115px;}
.tabTil .tab li.on{ background:url(default/bg_x.gif) repeat-x 0 -213px; cursor:text;}
.tabTil .tab li.on span{ padding-bottom:1px; font-weight:bold; color:#603913;}
.tabTil .exp{ float:right; padding-right:8px;}
.tabTil .txtBt2{ margin-top:-4px; position:relative; z-index:1;}
.tabTil2{ height:25px; background:url(default/bg_x.gif) repeat-x 0 -128px;}
.tabTil2 li{ float:left; position:relative; z-index:1; margin-right:-1px; border-left:1px solid #ddd;border-right:1px solid #ddd; background:url(default/bg_x.gif) repeat-x 0 -325px;height:24px;cursor:pointer;}
.tabTil2 li span{ float:left;border-left:1px solid #fff;border-right:1px solid #fff; padding-top:1px; line-height:21px; margin-top:1px; width:70px;}
.tabTil2 li.on{ padding-top:1px;background-position:0 -354px;border-left:1px solid #b4b4b4;border-right:1px solid #b4b4b4; z-index:2; cursor:text;}
.colTil3Tab .tabTil2{ margin:0 8px;}
#myhouseMenu li span{ width:61px;}
/* 标题列表 */
.tList14{text-align:left; line-height:25px; font-size:14px;}
.tList14 li{ background:url(default/bg_norp.gif) no-repeat -293px -344px; padding-left:14px;}
.tList14 li .f12px{ line-height:20px;}
.tList14 .p2{ float:left; width:50%;}
.tList14 dt{ float:left; display:inline; margin:5px 6px 0 0; padding:13px 0; width:17px;background:#ECE8D6; font-size:12px; font-weight:bold; text-align:center; line-height:19px;}
.tList14p2{text-align:left; line-height:25px; font-size:14px;}
.tList14p2 li{ width:100%; float:left; background:url(default/bg_x.gif) repeat-x 0 -8px}
.tList14p2 .til{ float:left; background:#fff url(default/bg_norp.gif) no-repeat -293px -344px; padding:0 8px 0 14px;}
.tList14p2 .rp{ float:right; padding:0 8px; background:#fff; font-size:12px; color:#646464;}
.tList12{text-align:left; line-height:21px; font-size:12px;}
.tList12 .p2{ float:left; width:50%;}
.tList12 li{ background:url(default/bg_norp.gif) no-repeat -293px -346px; padding-left:13px;}
.tList12p2{text-align:left; line-height:21px; font-size:12px;}
.tList12p2 li{ float:left; width:100%; background:url(default/bg_x.gif) repeat-x 0 -11px;}
.tList12p2 li .til{ float:left; background:#fff url(default/bg_norp.gif) no-repeat -293px -346px; padding:0 5px 0 12px;}
.tList12p2 li .name{ float:right; background:#fff; padding-left:5px;}
/* 自由文本 */
.aTxt{ text-align:left; line-height:21px;}p.aTxt{margin:0; padding:0;}
.aTxt strong{ font-weight:bold;}
.txtBt2{ width:85px;line-height:23px;height:23px; margin:0 auto;}
.txtBt2 a,.txtBt2 a:visited{ display:block;height:23px; background:url(default/bg_norp.gif) no-repeat 0 -80px; color:#fff;}
.txtBt2 a:hover{ background-position:-86px -80px;}
.txtBt2 a:active{ background-position:0 -102px;}
.txtBt3{ float:left; width:85px;line-height:23px; margin-left:10px;}
.txtBt3 a,.txtBt3 a:visited{ display:block; background:url(default/bg_norp.gif) no-repeat 0 -80px; color:#fff;}
.txtBt3 a:hover{ background-position:-86px -80px;}
.txtBt3 a:active{ background-position:0 -102px;}
.txtBt4{ display:block;width:121px;line-height:23px;height:23px;margin:0 auto; text-align:center;}
.txtBt4 a,.txtBt4 a:visited{ display:block;height:23px; background:url(default/bg_norp.gif) no-repeat -86px 0;}
.txtBt5{ display:block;width:39px;line-height:23px;height:23px;margin:0 auto; text-align:center;}
.txtBt5 a,.txtBt5 a:visited{ display:block;height:23px; background:url(default/bg_norp.gif) no-repeat -202px -29px;}
/* 图片列表 */
.pList{text-align:left; line-height:0;}
.pList h3{font-weight:bold; line-height:21px;}
.pList h3.hLine{font-weight:normal; padding:6px 0 6px;}
.pList img{ border:1px solid #ccc; float:left; margin:3px 9px 0 0;}
.pList p{margin:0; padding:0; text-indent:2em; line-height:21px;}
.colR .pList{ margin:0 3px;}
.colaB .cola .pList{ margin:0 6px;}
.pList2{ width:100%; overflow:hidden;}
.pList2 ul{ width:120%;}
.pList2 li{ float:left; display:inline; margin:0 6px 0 8px; text-align:left; line-height:21px; width:122px; color:#505050;}
.pList2 li img{ border:1px solid #ccc;}
.pList2 li h3,.pList2 li strong{ font-weight:bold;}
.pList2 li p{ margin:0; padding:0;}
.pList3{ width:100%; overflow:hidden;}
.pList3 ul{ width:110%;}
.pList3 li{ float:left; width:122px;text-align:left; line-height:21px;}
.pList3 li img{ border:1px solid #ccc; margin-bottom:3px;}
.pList3 p{ margin:0; padding:0;}
.pList3p2 li{ margin-right:30px;}
.pList3p3 li{ margin-right:30px;}
.pList3p4 li{ margin-right:18px;}
.pList3p5 li{ margin-right:21px;}
.pkpList{ margin:0 0 0 10px;}
.pkpList cite{ display:block; margin:3px 0 3px; line-height:21px; height:21px; overflow:hidden;}
.pkpList li{ float:left; width:122px;}
.pkpList li.pk{margin:113px -6px 0 -6px;width:38px; height:22px; text-indent:-10em; overflow:hidden; background:url(default/bg_norp.gif) no-repeat -9px -32px;}
.pkpList li .txtBt a{ background:url(default/bg_norp.gif) no-repeat -97px -29px; width:106px; height:23px; line-height:23px; text-indent:10px;}
/* 资料 */
.datalist{ background:#fff; color:#2b2b2b;}
.datalist th,.datalist td{ padding:3px 5px 2px 7px; line-height:21px; text-align:left;}
.datalist th{ background:#ece8d6;}
.datalist .bg{ background:#f7f6f1;}
.datalistbor .c1,.datalistbor .c2{ border-right:1px solid #fff;}
.colR .datalist{ width:188px;}
.colData{ margin:0 15px 0 9px;}/* 两列 */ 
.colData .esf li{ float:left; display:inline; margin:0 5px 0 2px;background:url(default/bg_norp.gif) no-repeat -163px -107px; width:137px; height:137px; overflow:hidden;}
.colData .esf li dl{text-align:left; line-height:18px;}
.colData .esf li a{padding:15px 9px 12px; display:block;}
.colData .esf li a a{ padding:0;}
.colData .esf li a,.colData .esf li a:visited{ text-decoration:none; color:#2b2b2b;}
.colData .esf li a:hover{ text-decoration:none;}
.colData .esf li a dt,.colData .esf li a:visited dt{ background:#ece8d6; text-align:center; line-height:25px; font-weight:bold; color:#a87137;}
.colData .esf dd{ padding:0 3px 0 5px;}
.colData .esf .size{ margin:4px 0 2px; font-weight:bold;}
.colData .esf .ab{ color:#666}
.colData .esf .pri{ line-height:28px; text-align:center; vertical-align:middle; color:#f00}
.colData .esf .pri img{ vertical-align:middle; margin:-3px -2px 0 -2px}
.colData .esf .pri strong{ font-weight:bold; font-size:16px; padding-right:3px;}
.colData .right{ display:inline; margin-right:13px; margin-top:6px;}
.dataList2 th,.dataList2 td{ text-align:left; line-height:22px; padding:2px 4px; background:#fff;}
.dataList2 .bg th,.dataList2 .bg td{ background:#f7f6f1;}
.datalist3{ text-align:left; line-height:21px;}
.datalist3 dl{ width:100%; float:left; clear:both; border:0}
.datalist3 dt{ float:left; font-weight:bold;}
.datalist3 dd{ float:left; width:105px;}
.datalist3 .w120 dd{width:120px;}
.datalist3 dd a,.datalist3 dd a:visited{ color:#777;}
.hotList{ line-height:26px; background:#f7f6f1; text-align:left;}
.hotList p{ clear:both; margin:0; padding:0 0 0 6px; background:#fff;}
.hotList .til{ float:left; padding-left:6px;}
.hotList .num,.datalist .num,.dataList2 .num{ margin:3px 6px 0 5px; background:url(default/bg_norp.gif) no-repeat -229px 0; float:left; width:13px; line-height:12px; height:13px; text-align:center; color:#fff; font-family:Arial; font-size:10px; font-weight:bold;}
.hotList .num2,.datalist .num2,.dataList2 .num2{ margin:3px 6px 0 5px; background:url(default/bg_norp.gif) no-repeat -214px 0; float:left; width:13px; line-height:12px; height:13px; text-align:center; color:#fff; font-family:Arial; font-size:10px; font-weight:bold;}
.datalist .num,.datalist .num2{ margin-left:0;}
.hotList .bg td{ background:#fff;}
.hotList th.c1{ padding-left:6px;}
.hotList p .c1{ float:left; width:54px;}
.hotList p .c2{ float:left; width:42px;}
.hotList p .c3{ float:left; width:42px; color:#c00;}
.hotList .total{ margin-top:9px; padding:5px 0 5px 5px; border:1px solid #dcdddd; background:#ece8d6; line-height:21px;}
.hotList .total strong{ font-weight:bold;}
.searchBox{ margin-right:15px; padding:0 6px 0 15px; background:#f3f3f3; text-align:left;}
.searchBox strong{ font-weight:bold;vertical-align:middle}
.searchBox input,.searchBox select{vertical-align:middle}
.keyword{ border:1px solid #dcdddd; margin-right:15px;}
.keyword p{ margin:0; padding:0 8px; text-align:left; line-height:21px;}
.keyword .en{ background:url(default/bg_x.gif) repeat-x 0 -384px;line-height:29px;}
.keyword p.ch{ padding-top:4px; padding-bottom:4px;}
.houseIncome,.houseIncome dt,.houseIncome dd{ margin:0; padding:0; float:left; font-size:14px; line-height:40px;}
.houseIncome img{ border:1px solid #ccc; margin-right:5px;}
.areaLinks{ width:197px; margin:0 auto; background:#fff;}
.areaLinks td{ background:#ECE8D6; text-align:center; line-height:17px;}
.areaLinks a,.areaLinks a:visited{ color:#6D6D6D;}
.areaLinks .on,.areaLinks .on a,.areaLinks .on a:visited{ background:#A0925A;color:#fff;}
/* 广告位 */
.pListUn li{ display:inline; margin-left:5px; float:left; width:90px;}
.pListUn li img{ border:1px solid #DCDDDD;}
.ggarea{width:958px;margin:0 auto;border:1px solid #dcdddd;clear:both;overflow:hidden;text-align:left;background:#fafafa;}
.ggarea .ggtext{padding-left:12px;width:965px;}
.ggarea .ggtext li{width:120px;float:left;margin-right:13px;}
.ggarea .ggtext li a{color:#7b7c7d;}
.ggarea .ggimg{padding-left:12px;}
.ggarea .ggimg li{margin-right:12px;float:left;}
.ggarea .ggimg li.gg125{width:125px;}
.ggarea .ggimg li.gg680{width:660px;}
.ggTab{margin:0 auto;border:1px solid #D0D0D0;width:198px;overflow:hidden;border-top:0;background:#fff;}
.ggTab .ggTabTil{margin:0 -1px; float:left;background:url(default/bg_x.gif) repeat-x 0 -447px;border-right:1px solid #D0D0D0;line-height:26px;height:26px;overflow:hidden;}
.ggTab .ggTabTil ul{width:120%;}
.ggTab .ggTabTil li{float:left;border-left:1px solid #D0D0D0;width:39px;cursor:pointer;}
.ggTab .ggTabTil li.on{background:url(default/bg_x.gif) repeat-x 0 -472px;font-weight:bold;}
.ggTab .c3 li{width:65px;}
.ggTab .c3 li.on{width:66px;}
.ggTab .c4 li{width:49px;}
.ggTab .c5 li{width:39px;}
.ggTab .list{ clear:both;padding:8px 8px 4px 10px; text-align:left;}
.ggTab .list h3{ margin-bottom:3px;}
.ggTab .list ul{ margin-top:6px;}
.ggTab .list h3,.ggTab .list li{background:url(default/bg_norp.gif) no-repeat -296px -391px;line-height:21px;padding-left:10px;}
.ggTab .list a,.ggTab .list a:visited{ color:#585858}
.gg735 {width:735px; overflow:hidden; float:left;}
.gg210 {width:210px; overflow:hidden; float:right;}
.gg250 {width:250px; overflow:hidden; margin:0 auto;}
.gg195 {width:195px; overflow:hidden; margin:0 auto;}
/* 友情链接 */
.friendLink{margin:0 auto;width:958px;border:1px solid #dcdddd;background:#FAFAFA;overflow:auto;clear:both;color:#4d4d4d;}
.friendLink a:hover {color:#BA2636;}
.friendLink a,.friendLink a:visited {color:#4d4d4d;}
.friendLink .text{line-height:21px; padding:9px 9px 5px; clear:both; text-align:left;}
.NTES_nav_ {width:960px; line-height:30px; margin:0 auto; clear:both;}
.NTES_nav_ .nav_link {float:left; color:#B3B3B3;}
.NTES_nav_ .nav_link a,.NTES_nav_ .nav_link a:visited {padding:0 3px; color:#2b2b2b;}
.NTES_nav_ .nav_link a:hover {color:#ba2636;}
.NTES_nav_ .rightCon {float:right;}
.NTES_nav_ .rightCon .rss{display:inline; float:right; margin:8px 6px 0 6px;}
.NTES_nav_ .NTES_link {float:left; color:#B3B3B3;}
.NTES_nav_ .NTES_link a,.NTES_nav_ .NTES_link a:visited {padding:0 2px 0 3px; color:#1E50A2;}
.NTES_nav_ .NTES_link a:hover {color:#ba2636;}

.colR .tList12{margin-left:1px;}

/*新加*/
.area{ clear:both; margin:auto; width:960px; text-align:center;}
.area p{ margin:0;}
.box{ overflow:hidden; width:100%;}

.bar_title{ clear:both; overflow:hidden; height:25px;}
.bar_title h2,.bar_title h3{ float:left; font-weight:bold; line-height:27px;}
.bar_title .bar_more{ float:right; padding-right:8px; line-height:27px;}
.til_2{ background:url(default/bg10.png) no-repeat right 0;}
.til_2 h2,.til_2 h3{ padding-left:18px; background:url(default/bg11.png) no-repeat 0 0;}
.til_2 p{ float:left; padding-top:6px; padding-left:9px; line-height:19px; color:#9C9C9C;}

.scrlBody{ overflow:hidden; margin:0 auto; width:945px;}
.scrlCtrl{ text-align:center;}

.scrl_1 .scrlCtrl ul{ display:inline-block; *display:inline; zoom:1; margin:0 15px;}
.scrl_1 .scrlCtrl li{ display:inline-block; *display:inline; zoom:1; width:13px; height:16px; cursor:pointer; background:url(default/bg13.png) no-repeat 2px 4px;}
.scrl_1 .scrlCtrl .active{ background:url(default/bg13.png) no-repeat -11px 4px;}
.scrl_1 .scrlPrev,.scrl_1 .scrlNext{ display:inline-block; width:20px; height:16px; background:url(default/bg14.png) no-repeat;}
.scrl_1 .scrlPrev{ background-position:0 0;}
.scrl_1 .scrlPrev:hover{ background-position:0 -36px;}
.scrl_1 .scrlNext{ background-position:0 -18px;}
.scrl_1 .scrlNext:hover{ background-position:0 -54px;}

.list_pic li{ float:left; line-height:21px;}
.list_pic img{ border:1px solid #DCDDDD;}
.list_pic h2,.list_pic h3,.list_pic h4,.list_pic h5{ margin-top:5px;}
.list_pic h2,.list_pic h3{ font-size:14px;text-align:center;}
.list_pic h2,.list_pic h4{ font-weight:bold;}
.pic_5{ width:965px; margin:0 auto;}
.pic_5 li{ padding-bottom:10px; padding-right:16px; width:120px; overflow:hidden;}
