html,body { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/heroes-bg.jpg) no-repeat center 35px #01080e; color:#7eadc1;}
.wrapper { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/body-bg-bottom.jpg) no-repeat center bottom ;}
.heroes-content a { color:#88E8FF;}
.heroes-content a:hover { color:#fff !important;}
.active { display:block !important;}
.none { display:none;}
.block { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/left-block.jpg) repeat-x 0 0; height:55px; line-height:55px; text-align:center; margin:-1px 0 0 0;}
	
/* Header */
.header { width:1000px; height:335px; margin:0 auto; position:relative;}
.header .menu { height:65px; background: url(http://img4.cache.netease.com/game/blizzard/heroes/images/menu-bg.gif) no-repeat 0 0; border-radius:15px; box-shadow:none; width:1000px; height:65px; position:absolute; left:0;  top:271px;}
.header .menu-content li { float:left; padding:10px 0 0 13px; position:relative;}
.header .menu-content li a { width:110px; height:45px; display:block; background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/menu-button-bg.gif) no-repeat 0 0; text-align:center; line-height:45px; color:#00afff; font-size:14px; }
.header .menu-content li a:hover { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/menu-button-bg.gif) no-repeat 0 -45px;}
.header .menu-content li a.hover { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/menu-button-bg.gif) no-repeat 0 -45px;}
.header .menu-content ul { width:100px; display:none; position:absolute; top:58px; left:13px; background:#07121a; padding:0 5px 5px; border:1px solid #024464; border-radius:3px; box-shadow:0 0 5px #000; z-index:999;}
.header .menu-content ul li { width:100px; float:none; clear:both; margin:5px 0 0; border-radius:2px; border:0; position:relative; padding:0; }
.header .menu-content ul a { width:90px; height:25px; display:block; padding:0 0 0 10px; border-radius:2px; line-height:25px; text-align:left; font-size:12px; background:#023046;}
.header .menu-content ul a:hover { background:#0e4864;}
.header .menu-content ul a.hover { background:#0e4864;}
.header .menu-content ul span { width:20px; height:20px; float:left; display:block; margin:3px 0 0 0; padding:0 10px 0 0; }
.header .menu-content ul ul { position:absolute; left:105px; top:-5px;}
	
/* Slideshow */
.slideshow { width: 510px; height: 225px; margin: 10px 15px 50px; position: relative; z-index: 0; }
.slideshow .mask { width: 510px; height: 225px; position: absolute; left: 0; top: 0; z-index: 1; cursor: pointer; background:url(http://img3.cache.netease.com/game/blizzard/heroes/images/top-image-mask.png) no-repeat 0 0; }
.slideshow .slideshow-image { }
.slideshow .slideshow-image li { display: none; }
.slideshow .slideshow-image li img { display: block; line-height: 0; }
.slideshow .slideshow-image li a { display: block; }
.slideshow .slideshow-image li span { width: 500px; height: 40px; display: block; position: absolute; left: 0; bottom: -43px; z-index: 2; line-height: 40px; color: #fff; font-size:14px;}
.slideshow .slideshow-image li a span { color:#88E8FF;}
.slideshow .slideshow-image li a:hover span { color: #00AFFF; }
.slideshow .slideshow-tabs { position: absolute; right: 15px; bottom: -30px; z-index: 2; }
.slideshow .slideshow-tabs li { float: left; }
.slideshow .slideshow-tabs li a { width: 23px; height: 12px; display: block; background: url(http://img3.cache.netease.com/game/blizzard/heroes/images/slideshow-button.gif) no-repeat 0 0; }
.slideshow .slideshow-tabs li.active a { background: url(http://img3.cache.netease.com/game/blizzard/heroes/images/slideshow-button.gif) no-repeat 0 -48px; }
.slideshow .slideshow-tabs li a:hover { background: url(http://img3.cache.netease.com/game/blizzard/heroes/images/slideshow-button.gif) no-repeat 0 -48px; }
	
/* Content */
.wrapper .heroes-content { width:970px; margin:0 auto; padding:0 5px 5px; background:#01080e; border:1px solid #041c2c;}
.page-number { height:50px; line-height:50px; text-align:center; }
.page-number a { border:1px solid #031c2d; padding:5px 10px; text-align:center; background:#06131c;}
.page-number a:hover { border:1px solid #fff;}
.page-number span { padding:5px 10px; text-align:center; }
.page-number .nopage { border:1px solid #031c2d; color:#0e4864; background:#06131c;}
.page-number .thispage { border:1px solid #008dc5; background:#023046;}
	
.sidebar { margin:5px 0 0 0;}
.sidebar .sidebar-title { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/sidebar.gif) no-repeat right -6px; margin:0 0 0 5px;}
.sidebar .sidebar-title h2 { font-size:14px; color:#fff; background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/sidebar.gif) no-repeat 0 -41px; height:31px; line-height:30px; padding:2px 0 2px 2px; margin:0 0 0 -5px; }
.sidebar .sidebar-tag { float:right; padding:2px 2px 0 0;}
.sidebar .sidebar-tag li { float:left; background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/sidebar-button.gif) no-repeat 0 -30px; text-align:center; line-height:28px; display:inline; margin:0 0 0 5px;}
.sidebar .sidebar-tag li a { display:block; width:80px; height:30px;  }
.sidebar .sidebar-tag li a:hover { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/sidebar-button.gif) no-repeat 0 0;}
.sidebar .sidebar-tag .active { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/sidebar-button.gif) no-repeat 0 0; }
.sidebar .sidebar-tag .active a { color:#01b2f1;}
.sidebar .sidebar-content { border-left:1px solid #041c2c; border-right:1px solid #041c2c; background:#06131c; padding:10px 5px 5px; margin:0 5px;}
.sidebar .sidebar-border-bottom { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/sidebar.gif) no-repeat right -240px; margin:0 5px 0 10px;}
.sidebar .sidebar-border-bottom .left-icon { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/sidebar.gif) no-repeat 0 -245px; margin:0 0 0 -5px; height:5px; }
.sidebar .sidebar-icon { width:32px; height:31px; display:block; float:left; padding:0 10px 0 0;}
.sidebar .blizzard { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/sidebar.gif) no-repeat 0 -205px; }
.sidebar .images { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/sidebar.gif) no-repeat 0 -112px; }
.sidebar .videos { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/sidebar.gif) no-repeat 0 -143px; }
.sidebar .articles { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/sidebar.gif) no-repeat 0 -174px; }
.sidebar .vote { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/sidebar.gif) no-repeat 0 -81px; }
.articles-list { padding:0 5px 0;}
.articles-list li { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/list-icon.gif) no-repeat left center; padding:0 0 0 10px; line-height:22px;}
.articles-list .article-date { float:right; color:#0e4864;}
	
.images-list {}
.images-list li { float:left; padding:5px;}
.images-list li a img { padding:1px; border:1px solid #04243b; display:block; }
.images-list li a:hover img { border:1px solid #fff; }
.images-list li a span { display:block; text-align:center; height:24px; line-height:24px;}
	
.blizz a { color:#0099cc;}
.heroes-vote {}
.heroes-vote .vote-text { padding:10px; background:#020B12; margin:0 0 10px;}
.heroes-vote .vote-text p { line-height:20px; text-indent:2em;}
.heroes-vote .select { padding:0 0 0 10px;}
.heroes-vote .select li { height:25px; line-height:25px;}
.heroes-vote .select li span { display:block; padding:0 5px 0 0; float:left;}
.heroes-vote .select .btn { background:url(http://img3.cache.netease.com/game/esport/template/images/vote-buttons.png) no-repeat 0 6px; width:15px; height:25px; }
.heroes-vote .select .btn-on { background:url(http://img3.cache.netease.com/game/esport/template/images/vote-buttons.png) no-repeat 0 -35px; width:15px; height:25px; }
.heroes-vote .result { width:320px; text-align:center; margin:10px auto;}
.heroes-vote .result .submit { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/vote-submit.gif) no-repeat 0 0; border:0; cursor:pointer; display:block; width:150px; height:30px; float:left;}
.heroes-vote .result .submit:hover { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/vote-submit.gif) no-repeat 0 -30px;}
.heroes-vote .result a { background:#020B12; border:1px solid #0E4864; font-size:14px; margin:0 0 0 20px; display:block; width:148px; height:28px; line-height:28px; float:left;}
.heroes-vote .result a:hover { border:1px solid #01b2f1; color:#01b2f1 !important;}
.heroes-friends a { border:1px solid #0E4864; background:#020B12; border-radius:3px; display:inline-block; padding:2px 5px; margin:0 5px 5px 0;}
.heroes-friends a:hover { border:1px solid #01b2f1; color:#01b2f1 !important;}
.no-border, .no-border td { border:0 !important;}
				
.editor-info { margin:20px 0;}
.editor-info .editor-icon { width:75px; height:75px; float:left;}
.editor-info .editor-info-content { padding:0 0 0 90px;}
.editor-info .editor-name { font-size:14px; color:#88e8ff;}
.editor-info .editor-signature { color:#7eadc1; font-size:12px;}
.editor-info .editor-speak { position:relative; margin:10px 0 0; padding:5px 10px; border:1px solid #007196; border-radius:3px; color:#48ccff;}
.editor-info .editor-speak .border-icon { width:6px; height:5px; position:absolute; left:3px; bottom:-5px; display:block; background:url(http://img3.cache.netease.com/game/blizzard/heroes/images/t-icon.gif) no-repeat 0 0;}
	
.guide { width: 970px; margin: 0 auto; position: relative; left:0; }
.guide-content { width: 727px; float: left; padding: 0 20px 20px; overflow: hidden; background:#011523; border-left: 1px solid #024464; }
.guide-content h1 { font-size: 24px; color: #B99D6E; }
.guide-content #endText { width:727px;}
.guide-menu-title { height: 41px; line-height: 41px; text-align: center; color: #88E8FF; font-size: 18px; background:#023046; }
	
.guide-menu { width: 200px; float: left; text-align: left; background:#07121A; border:1px solid #024464; }
.guide-menu h3 { cursor: pointer; color: #00AFFF; height: 33px; line-height: 33px; padding: 0 0 0 30px; font-size: 14px; background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/special-menu-list-icon.gif) no-repeat 13px 13px #011f2e; border-top:1px solid #041c2c;}
.guide-menu h3:hover { color:#fff; background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/special-menu-list-icon.gif) no-repeat 13px 13px #023046;}
.guide-menu h3.open { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/special-menu-list-icon.gif) no-repeat 13px -19px;}
.guide-menu h3.open:hover { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/special-menu-list-icon.gif) no-repeat 13px -19px #023046;}
.guide-menu .guide-menu-content { background: #07121A; }
.guide-menu .guide-menu-content li { border-top: 1px solid #041c2c; line-height:30px;  }
.guide-menu .guide-menu-content li.active { background:#020b11;}
.guide-menu .guide-menu-content li a { display: block; padding: 0 10px 0 40px; color:#88E8FF; }
.guide-menu .guide-menu-content li a:hover {  background:#023046; }
.guide-top-img { width: 970px; height: 200px; }
.guide-top-img .guide-text { text-indent: 2em; padding: 50px 0 50px 20px; width: 400px; color: #7EADC1; }
.guide-content h1 { height: 140px; line-height: 120px; font-size: 16px; }
			
/* viewbox container */
.container { width:100%; height:100%; z-index:999; position:absolute; }
.container .loading { width:200px; height:200px; background:url(http://img3.cache.netease.com/game/blizzard/static/images/uber-loading.gif) no-repeat center #000; display:block; position:absolute; top:0; left:0; z-index:1002; text-align:center; line-height:500px; }
.container .backdrop { background:#000; opacity:0.7; position:absolute; top:0; left:0; z-index:1000;}
.container .viewbox { position:absolute; top:50px; z-index:1001; text-align:center; }
.container .viewbox .lightbox-border,
.container .viewbox .corner { position:absolute; z-index:1009;}
.container .viewbox a.viewbox-close { width: 24px; height: 24px; display:block; position: absolute; right:0; top:0; z-index:1012; background:url(http://img3.cache.netease.com/game/static/images/close-icons-s.gif) no-repeat center 5px #06131C; cursor: pointer; color:#7EADC1; }
.container .viewbox a.viewbox-close:hover { background:url(http://img3.cache.netease.com/game/static/images/close-icons-s.gif) no-repeat center -33px #06131C;}
		
/* Footer */
.footer { width:980px; margin:0 auto; text-align:center; height:240px; padding:240px 0 0 0;}
.footer a { color:#88E8FF;}
.footer a:hover { color:#fff;}