@charset "utf-8";
/* Heroes of the Storm  */
/* Content Left */
.content-left,
.content-wide { width:970px; padding:10px 0; background:#011523;}
.content-left .article-content,
.content-wide .article-content { padding:0 20px 10px;}
.article-content .block { margin:10px 0;}
.article-content #h1title { font-size:22px; margin:15px 0 0; color:#00AFFF;}
.article-content .info { font-size:12px; line-height:21px; padding:5px 0; color:#0E4864;}
.article-content .info a { padding:0 5px;}
.location { height:40px; line-height:40px; border-bottom:3px solid #041c2c; margin:0 20px;}
.location a { display:inline-block; padding:0 10px 0 15px; background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/list-icon.gif) no-repeat left center; }
.more-news-left { float:left; width:480px; display:inline; margin:10px 0 10px 5px;}
.more-news-right { float:left; width:475px; margin:10px 0 10px 5px;}
.more-news-left, .more-news-right { white-space:nowrap; overflow:hidden;}
.ep-source { color:#0E4864;}
.ep-tie-simple { background:url(http://img1.cache.netease.com/game/img/endpage/sprites_v1.4.png) no-repeat 0 0 !important;}
#endText { width:930px; text-align:justify; text-justify:inter-ideograph; overflow:hidden; padding:9px 0; font-size:14px; clear:both; line-height:23px; word-wrap:break-word; }
.hs-wide-arc #endText{ width:100%;}
#endText strong,#endText b { font-weight:bold; color:#88E8FF;}
#endText a, #endText a:visited { color:#00AFFF; text-decoration:none; }
#endText a:hover { color:#fff; text-decoration: underline; }
#endText h2 { font-size:14px; }
#endText p { font-size:14px; line-height:23px; text-indent:2em; margin: 14px 0; }
#endText table td p { text-indent:0; }
#endText img { box-shadow:0 0 10px #000;}
#endText hr { border: 1px solid #0E4864;}
#endText td { border:1px solid #2A2A2A; padding:5px;}
#endText td.no-padding { padding:0;}
#endText li { list-style-type: disc; font-size:12px; }
#endText ul { padding: 0 0 0 40px;}
#endText ul li ul { padding: 0 0 0 15px;}
#endText ul li ul li ul { padding: 0 0 0 15px;}
#endText .icon { margin:3px 0 0; border:0; }
#endText .f_center { text-align:center; text-indent:0; }
#endText .f_justify { text-align:justify; text-justify:inter-ideograph; text-indent:0; }
#endText .blz-news { background: url("http://img1.cache.netease.com/game/blizzard/static/images/blizzard-new-bg.jpg") no-repeat scroll center 20px #13181E; border: 1px solid #333333; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 12px rgba(0, 0, 0, 0.8) inset; color: #33A7FF; margin: 20px; padding: 20px; text-align: left; }
#endText .blz-news a { color: #FFFFFF; }
#endText .blz-news a:hover { text-decoration: underline; }
#endText .blz-news h3 { background: url("http://img1.cache.netease.com/game/blizzard/static/images/blz-icon.gif") no-repeat scroll 0 center transparent; border-bottom: 1px solid #2D2D2D; font-size: 14px; font-weight: bold; height: 20px; line-height: 20px; padding: 5px 0 5px 30px; }
#endText .blz-news li { list-style: disc inside none; }
#endText .blz-news p { color:#0099CC; font-size:12px;}
#endText .blue-post { border: 1px solid #333333; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset; color: #33A7FF; margin: 20px; padding: 20px; text-align: left; max-width: 960px; min-height: 230px; }
#endText .blue-post-blizzard { background: url("http://img1.cache.netease.com/game/blizzard/static/images/blue-post-blizzard.jpg") no-repeat 0 0 #13181e; }
#endText .blue-post-netease { background: url("http://img1.cache.netease.com/game/blizzard/static/images/blue-post-netease.jpg") no-repeat 0 0 #13181e; }
#endText .blue-post li { list-style: disc inside none; }
#endText .blue-post p, .blue-post li { font-size: 12px !important; }
#endText .blue-post a { color: #FF9100; }
#endText .blue-post a:hover { text-decoration: underline; }
#endText .blue-post .blue-post-spokesman { float: left; position: relative; width: 84px; color: #e4e3e3; padding: 7px 0 0 2px; }
#endText .blue-post .blue-post-spokesman .portrait { background: url("http://img1.cache.netease.com/game/blizzard/static/images/blue-post-icon.jpg") no-repeat 0 0; }
#endText .blue-post .blue-post-spokesman .name { width: 84px; text-align: center; padding: 10px 0 0; line-height: normal; font-size: 12px; }
#endText .blue-post .blue-post-spokesman .position { -webkit-text-size-adjust: none; color: #00A2FB; font-size: 11px; line-height: 15px; text-align: center; }
#endText .blue-post h3 { line-height: 40px; color: #e4e3e3; background: url("http://img1.cache.netease.com/game/blizzard/static/images/blue-post-line.jpg") no-repeat 0 bottom; }
#endText .blue-post .title { font-size: 14px; font-weight: bold; }
#endText .blue-post .link { float: right; }
#endText .blue-post .link a { font-size: 12px;}
#endText .blue-post .blue-post-content { padding: 0 0 0 110px; }
#endText .blue-post .blue-post-content p { font-size: 12px; }
#endText .blue-post .blue-post-spokesman img { border: 0; box-shadow: none; }
#endText .no-shadow { box-shadow:none;}
#endText .box-show { background: #1a1a1a; border: 1px solid #222; border-radius: 5px; box-shadow: 0 0 5px #000000; margin: 0 auto; padding: 5px 10px; width: 550px;}
#endText .f_table { border-collapse: collapse; margin: 0 auto;}
#endText .f_left { text-align: left;}
#endText .f_right { text-align: right;}
#tieArea { color:#2b2b2b}
#tieArea a:hover { color:#990000 !important;}
.nph_photo_desc h2 { color:#7EADC1 !important;}
.blog-wrapper { margin:0 15px; padding:20px 0; border-bottom:1px solid #01080e; border-top:1px solid #041c2c;}
.blog-wrapper .article-image { float:left;}
.blog-wrapper .article-image a { display:block; padding:1px; border:1px solid #0e4864; box-shadow:0 0 10px #000;}
.blog-wrapper .article-image a:hover { border:1px solid #fff;}
.blog-wrapper .article-content { float:left; padding:0 0 0 10px; width:410px;}
.blog-wrapper .article-content h2 { font-size:16px; white-space:nowrap;}
.blog-wrapper .article-content h2 a { color:#00afff;}
.blog-wrapper .article-content p { margin:10px 0; line-height:22px;}
.blog-wrapper .article-meta {}
.blog-wrapper .article-meta a.comment-icon { display:inline-block; background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/speech-bubble.gif) no-repeat left 4px; padding:0 5px 0 16px; color:#56c702;}
.blog-wrapper .article-meta a.comment-icon:hover { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/speech-bubble.gif) no-repeat left -12px; }
.blog-wrapper .article-meta .article-date { color:#0e4864;}
.blog-wrapper .no-border-top { border-top:0;}
.blog-wrapper .no-border-bottom { border-bottom:0;}
.articles .article-date { float:none;}
.back-index {  background: url("http://img4.cache.netease.com/game/blizzard/heroes/images/icon.gif") no-repeat 65px center #021524;  color: #00AAFF;  left: 910px;  padding: 5px 20px 5px 10px;  position: absolute;  top: 220px; }
/* Content Right */
.content-right { width:350px; float:left; padding:0 0 0 5px; }
.images-list li a span { width:154px; overflow:hidden;}