/* Left */
.cd { height:30px; line-height:30px;}
.content-left { width:545px; float:left; background:#011523;}
.top-images { margin:10px 0; }
.top-images li { float:left; padding:0 0 0 13px; }
.top-images li img { display:block; border-radius:5px; padding:1px 0 0 1px;}
.top-images li a { display:block; position:relative; }
.top-images li a .mask { display:block; width:250px; height:110px; position:absolute; top:0; left:0; z-index:1; border-radius:5px; box-shadow:inset 0 0 10px #000; border:1px solid #0E4864; }
.top-images li a:hover .mask { border:1px solid #fff;}
.top-images .top-image-title { text-align:center; display:block; width:252px; height:25px; line-height:25px;}
.cd span { font-size:16px; color:#fff; }
.blog-articles {}
.blog-wrapper { margin:0 15px; padding:20px 0; border-bottom:1px solid #01080e; border-top:1px solid #041c2c;}
.blog-wrapper .article-image { float:left;}
.blog-wrapper .article-image a { display:block; padding:1px; border:1px solid #0e4864; box-shadow:0 0 10px #000;}
.blog-wrapper .article-image a:hover { border:1px solid #fff;}
.blog-wrapper .article-content { float:left; padding:0 0 0 10px; width:350px;}
.blog-wrapper .article-content h2 { font-size:16px; white-space:nowrap;}
.blog-wrapper .article-content h2 a { color:#00afff;}
.blog-wrapper .article-content p { margin:10px 0; line-height:22px;}
.blog-wrapper .article-meta {}
.blog-wrapper .article-meta a.comment-icon { display:inline-block; background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/speech-bubble.gif) no-repeat left 4px; padding:0 5px 0 16px; color:#56c702;}
.blog-wrapper .article-meta a.comment-icon:hover { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/speech-bubble.gif) no-repeat left -12px; }
.blog-wrapper .article-meta .article-date { color:#0e4864;}
.blog-wrapper .no-border-top { border-top:0;}
.blog-wrapper .no-border-bottom { border-bottom:0;}
/* Content Right */
.content-right { width:420px; float:left; padding:5px 0 0 5px; }
.keywords { background:url(http://img4.cache.netease.com/game/blizzard/heroes/images/keyword-bg.jpg) no-repeat 0 0; border:1px solid #041c2c; width:418px; height:238px; position:relative;}
.keywords a { position:absolute; top:0px; left:0px; color:#008dc5;}
.keywords a:hover { color:#fff;}
.video-images { width:398px; position:relative; z-index:0; }
.video-images a img { padding:1px; border:1px solid #04243b; display:block;}
.video-images a:hover img { border:1px solid #fff;}
.video-images .scroll-view li { display:none;}
.video-images .scroll-view li a { font-size:14px; width:398px; position:relative; z-index:10; display:block; }
.video-images .scroll-view li a:hover { color:#fff;}
.video-images .scroll-view li span { width:394px; height:30px; position:absolute; left:2px; bottom:2px; background:#000; z-index:11;}
.video-images .scroll-view li .image-title { position:absolute; left:2px; bottom:2px; width:394px; height:30px; line-height:30px; text-align:center; z-index:12;}
.video-images .scroll-view li img { width:394px;}
.video-images .scroll-view .scroll-active { display:block;}
.video-images .scroll-button { margin:5px 0 10px; text-align:center;}
.video-images .scroll-button li { float:left; padding:0 0 0 7px; cursor:pointer; }
.video-images .scroll-button li:first-child { padding:0;}
.video-images .scroll-button a { display:block;}
.video-images .scroll-button img { width:124px; border:1px solid #04243b; padding:1px;}
.video-images .scroll-button .button-active img { border:1px solid #00afff; }
.images-list li a span { width:189px; overflow:hidden;}
.back-index { display:none;}
a.join-bbs { background:#023046; border:2px solid #1F4A6B; box-shadow:0 0 1.25em #314A6C inset; display: block; font-size:16px; height:40px; line-height:40px; margin:0 0 10px 0; text-align:center; transition:all 0.3s ease 0s;}
a.join-bbs:hover { border:2px solid #296288; box-shadow:0 0 1.25em #3d5c87 inset;}
.heroes-hot li { padding:0 2px;}
.heroes-game-data { margin:10px 0;}
.heroes-game-data li { float:left; width:115px; line-height:22px; padding:0 0 0 13px;}
.heroes-search { margin:15px 0 0 0; position:relative;}
.heroes-search .search-input { width:250px; height:20px; background:#011523; border:1px solid #0e4864; border-radius:5px 5px 5px 5px; box-shadow:0 0 15px #000 inset; color:#7eadc1; line-height:20px; left:0; padding:5px 35px 6px 5px; }
.heroes-search .search-button { width:28px; height:28px; background:url(http://img3.cache.netease.com/game/blizzard/heroes/images/search-button.png) no-repeat 0 0; position:absolute; left:260px; top:3px;}
.global-time-location { position:absolute; right:5px; top:0; }
.global-time-module a { outline: none; text-decoration: none; color: #88E8FF; }
.global-time-module a:hover { color: #fff; }
.global-time-module .hidden { display: none; }
.global-time-module { position: relative; z-index: 10; color: #88E8FF; font-size: 12px; text-align: left; }
.global-time-module a.open-module { display: block; width: 71px; height: 28px; line-height: 28px; color: #88E8FF; background: #020B12; cursor: pointer; text-align: center; border:1px solid #0E4864 }
.global-time-module a.open-module:hover {  color: #01b2f1 !important; border:1px solid #01b2f1;}
.global-time-module a.close-module { width: 20px; height: 20px; text-align:center; line-height:20px; position: absolute; left: 439px; top: -1px; background: #020B12; cursor: pointer; color:#0E4864; border:1px solid #0E4864; }
.global-time-module a.close-module:hover { background-position: 0 -20px; }
.global-time { padding: 10px 10px 20px 20px; background: #020B12; width: 430px; height: 100px; z-index: 10; border: 1px solid #0E4864; position: absolute; left: -390px; top: 42px; box-shadow: 0 0 15px #000; }
.global-time span { height: 20px; line-height: 20px; }
.global-time input { width: 30px; height: 22px; padding: 0 5px; line-height: 22px; border: 1px solid #0E4864; background: #020B12; color: #88E8FF; box-shadow: inset 0 0 5px #000; }
.global-time option { line-height: 20px; box-shadow: inset 0 0 5px #000; }
.global-time .choose-timezone { margin: 15px 0 0 0; line-height: 25px; }
.global-time .choose-timezone select { width: 155px; height: 20px; color: #88E8FF; border: 1px solid #0E4864; background: #020B12; font-size: 12px; box-shadow: inset 0 0 5px #000; }
.global-time .conversion { width: 71px; height: 24px; border:1px solid #0E4864; background: #020B12; box-shadow: 0 0 5px #000; outline: none; color: #88E8FF; font-size: 12px; cursor: pointer; margin-left: 43px; vertical-align: middle; }
.global-time .conversion:hover { background-position: 0 -30px; }
.global-time .conversion span { height: 23px; display: block; }
.global-time .input-time { margin: 10px 0 0 0; line-height: 22px; }
.global-time .display-time { margin: 10px 0 0 0; }
.global-time .result { width: 400px; display: block; line-height: 20px; }
.global-time .result span { color: #D96500; }
.global-time-open { width: 100px; height: 20px; line-height: 20px; display: block; background: #222; cursor: pointer; position: relative; }
.scroll-comment { height:124px; position:relative; overflow:hidden; padding:0 5px !important;}
.scroll-comment .scroll-content { position:absolute; left:0;}
.industry-wrapper { margin:0 5px; height:104px; padding:10px 0;}
.industry-wrapper .industry-image { float:left;}
.industry-wrapper .industry-image img { display:block;}
.industry-wrapper .industry-image a { display:block; padding:1px; border:1px solid #0e4864; box-shadow:0 0 10px #000;}
.industry-wrapper .industry-image a:hover { border:1px solid #fff;}
.industry-wrapper .industry-content { float:left; padding:0 0 0 10px; width:224px;}
.industry-wrapper .industry-content p { margin:0 0 10px; line-height:22px;}
.industry-wrapper .industry-meta { text-align:right;}
.industry-wrapper .industry-meta .industry-info { color:#0e4864;}