
.blank15 {clear:both; height:15px; overflow:hidden; display:block;}
.cWhite,.cWhite:visited,.cWhite a{color:#fff;}
.cYellow,.cYellow:visited{color:#ff0;}
.cGreen,.cGreen:visited{color:#008000;}
.cGray,.cGray:visited,.cGray a{color:#333;}
.cDGray,.cDGray:visited,.cDGray a{color:#727171;}
.cBlack,.cBlack:visited,.cBlack a{color:#000;}
.cBlue,.cBlue:visited,.cBlue a{color:#1E50A2;}
.cRed,.cRed:visited,.cRed a{color:Red;}
.cDRed,.cDRed:visited,.cDRed a{color:#ba2636;}
.cRed a:hover,a.cRed:hover,.cBlue a:hover,a.cBlue:hover,.cDRed a:hover,a.cDRed:hover,.cGray a:hover,a.cGray:hover,.cDGray a:hover,a.cDGray:hover,.cWhite a:hover,a.cWhite:hover,.cBlack a:hover,a.cBlack:hover,.cGreen a:hover,a.cGreen:hover,.cYellow a:hover,a.cYellow:hover{color:#ba2636;}
.fB{ font-weight:bold;}

.btn1{ float:left; width:100px; height:28px; line-height:28px; font-size:14px; font-weight:bold; text-align:center; background:url(bg04.png) no-repeat;}
.btn1,.btn1:visited{ color:#fff;}
.title1 .btn1{ margin:-6px 0 0 26px;}
.pro-tnav { float:left; overflow:hidden; border-left:1px solid #dcdddd;}
.pro-tnav li{ float:left; overflow:hidden; width:226px; height:25px; line-height:27px; font-weight:bold; text-align:center; background:url(bg01.jpg) no-repeat -226px 0;}
.pro-tnav li.active{ background:url(bg01.jpg) no-repeat 0 0;}
.pro-tcnt{ display:none; margin-top:24px; padding:15px 4px; line-height:21px; border:1px solid #dcdddd; background:#fff url(bg02.jpg) no-repeat bottom;}
.pro-tcnt.active{ display:block;}
.pro-tb th{ padding:5px 15px; width:100px;}
.pro-tb .pro-type{ display:block; width:100px; font-weight:bold; text-align:center; color:#fff; background:#979ca3;}
.pro-hd{ overflow:hidden; margin:15px 0;}
.pro-hd .hd-bg{ float:left; margin-right:8px; padding:0 12px;height:42px; border-right:1px solid #E7EEF1; background:url(../7513/sprite.png) no-repeat 0 -68px;}
.pro-hd h2{ float:left; margin:20px 19px 0 0; font-size:14px; font-weight:bold; color:#1E50A2;}
.pro-hd .btn1{ margin-top:8px;}
.pro-hd .more{ float:left; margin-top:20px;}
.dotLine{ display:block; overflow:hidden; clear:both; height:21px; background:url(bg03.png) repeat-x left center;}

.data-cnt{ padding:10px 19px;}
.chd{height:24px;line-height:24px; border-bottom:1px solid #afafb0;}
.chd h4{ float:left; padding-left:25px; font-weight:bold; background:url(../7513/sprite.png) no-repeat -940px 5px;}
.chd span{float:right; color:#727171;}
.chd span a{color:#727171;}
.chd span a:hover{color:#ba2636;}
.cbd ul{margin:auto; width:910px;}
.cbd li{ float:left;padding:15px 10px;width:162px; }
.cbd h3{ line-height:19px; text-align:center;}
.cbd img{ display:block; margin-bottom:5px;width:160px; height:120px; border:1px solid #ddd;}
.cbd2 ul{margin:auto; width:910px;}
.cbd2 li{ float:left;padding:15px 12px;width:122px; }
.cbd2 h3{ line-height:19px; text-align:center;}
.cbd2 img{ display:block; margin-bottom:5px;width:120px; height:160px; border:1px solid #ddd;}

.photo-topbar{ overflow:hidden; padding:7px 0 0 94px; height:25px; line-height:23px; color:#b3b3b3; background:url(bg05.jpg) no-repeat;}
.photo-nav{ float:left;}
.photo-search{ float:right; padding-right:13px;}
.photo-search .tt{ padding-top:1px; width:270px; height:18px; vertical-align:middle; color:#69696a; border:none; background:none;}
.photo-search .ts{ width:22px; height:19px; vertical-align:middle; cursor:pointer; border:none; background:none;}

.photo-cnt{ overflow:hidden; clear:both; margin-top:10px;}
.photo-cnt .cnt-left{ float:left; overflow:auto; width:210px; height:2000px; border:1px solid #dcdddd; background:#f3f3f3;}
.photo-cnt .cnt-right{ float:right; overflow:hidden; width:735px; min-height:2100px;}

.pnav-title{ margin-bottom:10px; padding-left:26px; width:166px; height:29px; line-height:29px; font-weight:bold; background:url(bg06.jpg) no-repeat;}
.pnav-list{ margin:0 0 10px 9px; width:183px;}
.pnav-list a{ display:inline-block; margin-bottom:6px; width:21px; height:21px; line-height:21px; font-family:Arial; font-weight:bold; text-align:center; background:url(bg07.jpg) no-repeat;}
.pnav-list a,.pnav-list a:visited{ color:#69696a;}
.pnav-cnt{ margin:0 0 10px 10px; width:182px; border-bottom:1px solid #dcdddd; background:url(bg11.png) repeat-y;}
.pnav-box{ background:url(bg08.jpg) no-repeat;}

.box-title{ padding-left:7px; height:32px; line-height:32px;}
.box-title .btn-unfold,.box-title .btn-fold{ margin-top:10px;}
.pnav-letter{ font-family:Arial; font-size:20px; font-weight:bold; color:#c00;}
.btn-unfold{ float:left; margin-right:5px; width:13px; height:13px; background:url(bg10.png) no-repeat;}
.btn-fold{ float:left; margin-right:5px; width:13px; height:13px; background:url(bg09.png) no-repeat;}
.box-list{ padding:10px 0;}
.box-list li{ padding-left:23px; line-height:25px;}
.box-list li .btn-unfold,.box-list li .btn-fold{ margin-top:5px;}
.box-list h2,.box-list h2 a,.box-list h2 a:visited{ color:#1e50a2;}
.box-list .off,.box-list .off:visited{ color:#727171;}

.phd{ clear:both; overflow:hidden; height:25px; background:url(bg12.jpg) no-repeat right top;}
.phd h2{ float:left; padding-left:18px; line-height:27px; font-size:14px; font-weight:bold; background:url(bg13.png) no-repeat;}
.phd h3{ float:left; line-height:27px;}
.phd .more{ float:right; line-height:27px; padding-right:8px;}

.photo-focus{ overflow:hidden; margin-bottom:10px;}
.focus-left{ float:left; width:310px; overflow:hidden;}
.focus-right{ float:right; width:415px; overflow:hidden;}
.focus-bg{ overflow:hidden; background:url(bg22.png) repeat-y center top;}
.focus-box{ width:195px;}

.photo-slide{ overflow:hidden; border:1px solid #dcdddd;}
.photo-scnt{ display:none; padding:4px;}
.photo-scnt img{ margin-bottom:5px;}
.photo-scnt h2{ line-height:21px; font-size:14px; font-weight:bold;}
.photo-scnt.active{ display:block;}
.photo-snav{ float:right; overflow:hidden; margin-bottom:9px;}
.photo-snav li{ float:left; margin-right:7px; padding-top:3px; width:21px; height:21px; line-height:21px; font-family:Arial; font-weight:bold; text-align:center; cursor:pointer; background:url(bg21.png) no-repeat;}
.photo-snav li.active{ color:#fff; background:url(bg20.png) no-repeat;}
.photo-show{ border:1px solid #dcdddd;}
.photo-show .chd{ margin-left:10px; margin-right:10px;}
.list-1{ margin:10px 6px 0; line-height:21px;}
.list-1 .num{ float:left; margin:3px 7px 0 0; width:13px; height:13px; line-height:13px; font-weight:bold; text-align:center; color:#fff; background:url(bg24.png) no-repeat;}
.list-1 .num.hot{ background:url(bg23.png) no-repeat;}

.cps{zoom:1; padding:10px 0 20px; text-align:center; color:#1F3A87;}
.cps a{ display:inline-block; padding:0 6px; height:18px; line-height:18px; text-align:center; color:#1F3A87; border:1px solid #CCC;}
.cps a.active{ font-weight:bold; color:#FFF; background:#1F3A87;}
.cps span{ display:inline-block; padding:0 6px; height:18px; line-height:18px; text-align:center; color:#CCC; border:1px solid #CCC;}
.support{ margin-top:10px; padding:8px 11px; line-height:21px; color:#4D4D4D; border:1px solid #DCDDDD; background:#FAFAFA;}
.support a,.support a:visited{ color:#4D4D4D;}
.support a:hover{ color:#BA2636;}

.box-contrast{ position:absolute; top:0; left:50%; margin-left:-512px;}
.box-min{ width:32px; height:257px; background:url(bg25.png) no-repeat;}
.rBtn{ position:absolute; top:204px; left:15px; width:17px; height:21px;}
.c1Btn{ position:absolute; top:227px; left:15px; width:17px; height:21px;}
.box-restore{ width:257px; height:100px; background:url(bg27.jpg) no-repeat left bottom;}
.restore-hd{ position:relative; width:257px; height:32px; background:url(bg26.png) no-repeat;}
.mBtn{ position:absolute; top:0; left:203px; width:21px; height:17px;}
.c2Btn{ position:absolute; top:0; left:227px; width:21px; height:17px;}

.factory_cnt{padding-left:10px;}
.factory_til{overflow:hidden;}
.factory_til .brand_fold{width:12px;height:12px;margin:6px 5px 0 0; float:left;background: url(http://img1.cache.netease.com/f2e/auto/pic_gallery/images/til_icon.png) no-repeat 3px -26px; }
.factory_til .brand_unfold{background-position:3px 0;}