/* CSS Document */
body{
	color:#6a6a6a;
	font-family:"宋体", arial;
	font-size:12px;
	margin:0 auto;
	padding:0;
	text-align:left;
	background-color:#f5f5f5;
}

/* 重置 */

div, form, p, i, img, ul, li, ol, dl, dt, dd, table, tr, td, th, fieldset, label, legend, select, button, input {
	margin:0;
	padding:0;
}
p, li, div {/* add */
	line-height:20px;
}
/* 标题样式 */



h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-size:12px;
	font-weight:normal
}
h1{
	font-size:18px;
	text-align:center;
	font-family:"黑体","宋体";
	color:#FF0000;
	line-height:18px;
}
h2{
	font-size:14px;
	font-weight:bold;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin: 0
}
/* 列表样式 */

ul, ol, li, dl, dt, dd {
	list-style:none;
}
/* 图片样式 */

img, a img {
	border:0px;
	padding:0px;
	margin:0px;
	vertical-align:middle;
	
}
/* 链接样式 */
a:link{
	color:#6a6a6a;
	text-decoration:none;
}
a:visited{
	color:#6a6a6a;
	text-decoration:none;
}
a:hover{
	color:#b0000b;
	text-decoration:none;
}
a:active{
	color:#6a6a6a;
	text-decoration:none;
}
/** 图片链接效果 **/

.pic a {
	padding:4px;
	border:1px solid #e6e7e7;
	display:inline-block;
}
.pic a:hover {
	border:1px solid #F60;
	background:#fff4ce;
	display:inline-block;
	margin:6px 0px 6px 0px;
}
.content{
	width:100%; height:100%;
	background:url(images/bg.jpg) no-repeat top;
}
.header{
	width:100%; height:211px;
	background:url(images/hbg.jpg) repeat-x;
}
.hd1{
	width:960px; height:145px;
	margin:0 auto;
	background:url(images/hd1bg.jpg) no-repeat;
}
.hd2{
	width:960px; height:50px;
	margin:0 auto;
}
.hd2a{
	width:695px; height:50px;
	float:left; display:block;
}
.hd2a li{
	height:18px;
	margin-top:15px;
	line-height:18px;
	padding:0px 6px;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #6a6a6a;
	float:left; display:block;
	font-size:14px;
}
.hd2b{
	width:220px; height:36px;
	margin-top:14px;
	margin-left:45px;
	float:left; display:inline;
}
.main{
	width:928px; height:100%; overflow:hidden;
	padding:16px;
	background-color:#FFFFFF;
	margin:0 auto;
}
.m1{
	width:928px; height:100%; overflow:hidden;
	margin-bottom:10px;
}
.m1a{
	width:330px; height:206px;
	margin-right:10px;
	float:left; display:block;
}
.m1b{
	width:298px; height:100%; overflow:hidden;
	border:1px solid #e2e2e2;
	margin-right:10px;
	padding:15px;
	float:left; display:block;
	
}
.m1ba{
	font-size:18px;
	font-weight:bold;
	text-align:center;
}
.m1ba a:link{
	color:#b0000b;
	text-decoration:none;
}
.m1ba a:visited{
	color:#b0000b;
	text-decoration:none;
}
.m1ba a:hover{
	color:#b0000b;
	text-decoration:none;
}
.m1ba a:active{
	color:#b0000b;
	text-decoration:none;
}
.m1bb{
	width:298px; height:100%; overflow:hidden;
	border-bottom:1px dotted #e2e2e2;
	padding-bottom:6px;
	margin-bottom:7px;
}
.m1c{
	width:248px; height:100%; overflow:hidden;
	float:left; display:block;
}
.m1ca{
	width:248px; height:34px;
	background:url(images/btbg.jpg);
	margin-bottom:9px;
}
.m1caa{
	width:16px; height:16px;
	margin-top:7px;
	margin-left:15px;
	margin-right:19px;
	float:left; display:inline;
}
.m1cab{
	width:150px; height:34px;
	float:left; display:inline;
	font-size:14px;
	font-weight:bold;
	line-height:34px;
}
.m1cb{
	width:248px; height:34px;
	background:url(images/btbg.jpg);
}
.m2{
	width:928px; height:100%; overflow:hidden;
	margin-bottom:10px;
}
.m2a{
	width:298px; height:100%; overflow:hidden;
	padding:10px 15px 15px 15px;
	border:1px solid #e2e2e2;
	margin-right:10px;
	float:left; display:block;
}
.m2abt{
	width:298px; height:22px;
	border-bottom:2px solid #e2e2e2;
	margin-bottom:10px;
}
.m2abt1{
	width:4px; height:13px;
	margin-top:3px;
	_margin-top:2px;
	margin-right:5px;
	float:left; display:inline;
}
.m2abt2{
	width:170px; height:22px;
	float:left; display:block;
	font-size:14px;
	font-weight:bold;
	color:#da0e1a;
}
.m2anr{
	width:298px; height:100%; overflow:hidden;
}
.m2anr ul li{
	width:298px; height:20px;
}
.mc{
	width:80px;
	font-size:14px;
	font-weight:bold;
	color:#3374b8;
	margin-left:5px;
}
.xhfu{
	width:149px; height:55px;
	margin-bottom:17px;
	float:left; display:inline;
}
.xhfu1{
	width:55px; height:56px;
	float:left; display:block;
}
.xhfu2{
	width:85px; height:56px;
	float:left; display:block;
}
.hyzx{
	width:298px; height:100%; overflow:hidden;
	margin-bottom:5px;
}
.hyzx1{
	width:125px; height:95px;
	margin-right:12px;
	float:left; display:block;
}
.hyzx2{
	width:160px; height:95px;
	float:left; display:block;
}
.hyzx2 a{
	font-size:14px;
	font-weight:bold;
}
.hyzx2 a:link{
	color:#0646a0;
	text-decoration:none;
}
.hyzx2 a:visited{
	color:#0646a0;
	text-decoration:none;
}
.hyzx2 a:hover{
	color:#da0e1a;
	text-decoration:none;
}
.hyzx2 a:active{
	color:#0646a0;
	text-decoration:none;
}
.fgx{
	width:298px; height:8px; overflow:hidden;
	border-bottom:1px dotted #e2e2e2;
	margin-bottom:8px;
}
.m2c{
	width:216; height:100%; overflow:hidden;
	padding:10px 15px 15px 15px;
	border:1px solid #e2e2e2;
	float:left; display:block;
}
.m2cbt{
	width:216px; height:22px;
	border-bottom:2px solid #e2e2e2;
	margin-bottom:10px;
}
.m2cbt1{
	width:4px; height:13px;
	margin-top:3px;
	_margin-top:2px;
	margin-right:5px;
	float:left; display:inline;
}
.m2cbt2{
	width:80px; height:22px;
	float:left; display:block;
	font-size:14px;
	font-weight:bold;
	color:#da0e1a;
}
.m2cnr{
	width:216px; height:100%; overflow:hidden;
}
.m2cnr ul li{
	width:216px; height:20px;
}
.m2cnr2{
	width:216px; height:100%; overflow:hidden;
}
.m2cnr2 p{
	font-size:14px;
	margin-bottom:7px;
}
.fgx2{
	width:216px; height:8px; overflow:hidden;
	border-bottom:1px dotted #e2e2e2;
	margin-bottom:8px;
}
.m3{
	width:928px; height:100%; overflow:hidden;
	margin-bottom:10px;
}
.m4{
	width:896px; height:100%; overflow:hidden;
	padding:10px 15px 20px 15px;
	border:1px solid #e2e2e2;
}
.m4bt{
	width:896px; height:22px;
	border-bottom:2px solid #e2e2e2;
}
.m4bt1{
	width:4px; height:13px;
	margin-top:3px;
	_margin-top:2px;
	margin-right:5px;
	float:left; display:inline;
}
.m4bt2{
	width:700px; height:22px;
	float:left; display:block;
	font-size:14px;
	font-weight:bold;
	color:#da0e1a;
}
.more{
	width:119px; height:22px;
	text-align:right;
	line-height:22px;
	font-family:Arial, "宋体";
	float:right; display:block;
}
.more a:link{
	color:#da0e1a;
	text-decoration:none;
}
.more a:visited{
	color:#da0e1a;
	text-decoration:none;
}
.more a:hover{
	color:#da0e1a;
	text-decoration:none;
}
.more a:active{
	color:#da0e1a;
	text-decoration:none;
}
.more2{
	width:85px; height:22px;
	margin-left:5px;
	line-height:22px;
	font-family:Arial, "宋体";
}
.more2 a:link{
	color:#da0e1a;
	text-decoration:none;
}
.more2 a:visited{
	color:#da0e1a;
	text-decoration:none;
}
.more2 a:hover{
	color:#da0e1a;
	text-decoration:none;
}
.more2 a:active{
	color:#da0e1a;
	text-decoration:none;
}
.m4nr{
	width:896px; height:100%; overflow:hidden;
}
.lj{
	width:114px; height:50px;
	float:left; display:block;
	margin-top:10px;
	margin-right:16px;
}
.lj2{
	width:114px; height:50px;
	float:left; display:block;
	margin-top:10px;
}
.footer{
	width:100%; height:100%; overflow:hidden;
	margin-top:10px;
	padding-bottom:10px;
}
.f0{
	width:100%; height:36px;
	background:url(images/f1bg.jpg) repeat-x;
}
.f1{
	width:960px; height:36px;
	text-align:center;
	line-height:36px;
	font-size:14px;
	color:#FFFFFF;
	margin:0 auto;
}
.f1 a:link{
	color:#fff;
	text-decoration:none;
}
.f1 a:visited{
	color:#fff;
	text-decoration:none;
}
.f1 a:hover{
	color:#fff;
	text-decoration:none;
}
.f1 a:active{
	color:#fff;
	text-decoration:none;
}
.f2{
	width:960px; height:100%; overflow:hidden;
	margin:0 auto;
	padding-top:10px;
	text-align:center;
}
.f3{
	width:960px; height:100%; overflow:hidden;
	margin:0 auto;
	padding-top:10px;
	text-align:center;
}



/*内容页*/
.cm1a{
	width:670px; height:100%; overflow:hidden;
	margin-right:10px;
	float:left; display:inline;
}
.cm1b{
	width:248px; height:100%; overflow:hidden;
	float:left; display:inline;
}
/*/内容页/*/
.mcol{
	width:1003px; height:100%; overflow:hidden;
	background-color:#FFFFFF;
}
.ml{
	width:155px; height:100%; overflow:hidden;
	background:url(images/nybgl.jpg) no-repeat top;
	padding-left:21px;
	padding-right:20px;
	padding-top:60px;
	float:left; display:block;
}
.ml01{
	width:132px; height:21px;
	padding-top:2px;
	line-height:21px;
	margin-bottom:1px;
	padding-left:23px;
	background:url(images/zcbgt.jpg);
}
.ml02{
	width:132px; height:21px;
	line-height:21px;
	margin-bottom:1px;
	padding-left:23px;
	background:url(images/zcbg.jpg);
}
.ml02 a{
	color:#555657;
	text-decoration:none;
}
.ml02 a:link{
	color:#555657;
	text-decoration:none;
}
.ml02 a:visited{
	color:#555657;
	text-decoration:none;
}
.ml02 a:hover{
	color:#a3302f;
	text-decoration:none;
}
.ml02 a:active{
	color:#555657;
	text-decoration:none;
}
.mr{
	width:807px; height:100%; overflow:hidden;
	float:left; display:block;
}
.mr01{
	width:788px; height:26px;
	border-bottom:1px solid #cf0000;
	background:url(images/nybg.jpg);
	font-size:18px;
	font-family:"微软雅黑","宋体";
	color:#000000;
	padding-top:100px;
}
.mr02{
	width:670px; height:32px;
	font-family:Arial,"宋体";
	color:#eb0000;
}
.mr02a{
	width:10px; height:11px;
	margin-top:10px;
	_margin-top:8px;
	margin-right:5px;
	float:left; display:block;
}
.mr02b{
	width:500px; height:32px;
	line-height:32px;
	float:left; display:block;
}
.mr02 a{
	color:#fff;
	text-decoration:none;
}
.mr02 a:link{
	color:#000;
	text-decoration:none;
}
.mr02 a:visited{
	color:#000;
	text-decoration:none;
}
.mr02 a:hover{
	color:#eb0000;
	text-decoration:none;
}
.mr02 a:active{
	color:#000;
	text-decoration:none;
}
.mr03{
	width:628px; height:100%; overflow:hidden;
	padding:20px;
	margin-bottom:55px;
	border:1px solid #ebebeb;
}
.mr03a{
	text-align:center;
	font-size:18px;
	color:#a32522;
}
.mr03b{
	text-align:center;
	font-size:12px;
	color:#535353;
	border-bottom:1px dotted #959595;
	padding:10px 0px;
	margin-bottom:10px;
}
.mr03c{
	font-size:14px;
	color:#535353;
	text-indent:2em;
	text-justify:inter-ideograph;
	text-align:justify;	
}
.mr03c p{
	padding:6px;
}
/*/新闻列表页/*/
.mr03f2{
	width:628px; height:100%; overflow:hidden;

}
.mr03d{
	width:545px; _width:658px; height:100%; overflow:hidden;
	font-size:16px;
	color:#a32522;
	float:left; display:block;
}
.mr03d a{
	color:#a32522;
	text-decoration:none;
}
.mr03d a:link{
	color:#a32522;
	text-decoration:none;
}
.mr03d a:visited{
	color:#a32522;
	text-decoration:none;
}
.mr03d a:hover{
	color:#ee0003;
	text-decoration:none;
}
.mr03d a:active{
	color:#a32522;
	text-decoration:none;
}

.mr03e{
	width:83px; height:100%; overflow:hidden;
	text-align:right;
	font-size:14px;
	color:#535353;
	float:lright; display:block;
}
.mr03f{
	width:628px; height:100%; overflow:hidden;
	font-size:12px;
	color:#000000;
	text-indent:2em;
	text-justify:inter-ideograph;
	text-align:justify;	
	border-bottom:1px dotted #959595;
	padding:10px 0px;
	margin-bottom:12px;
}
.fy{
	text-align:center;
}
.fy span{
	padding:3px 6px;
	background-color:#f4f6f6;
	border:1px solid #e1e1e2;
	color:#ee0003;
	font-weight:bold;
	text-decoration:none;
}
.fy a{
	padding:3px 6px;
	background-color:#f4f6f6;
	border:1px solid #e1e1e2;
	color:#535353;
	text-decoration:none;
}
.fy a:link{
	color:#535353;
	text-decoration:none;
}
.fy a:visited{
	color:#535353;
	text-decoration:none;
}
.fy a:hover{
	color:#ee0003;
	text-decoration:none;
}
.fy a:active{
	color:#535353;
	text-decoration:none;
}