@charset "utf-8";
/* CSS Document */
.hs-content .content-left { width:620px; float:left; padding:0 0 0 2px; }
.hs-content .content-right { width:350px; float:left; padding:0 0 0 5px;}
.content-left .article-content { background:#141414; padding:10px 20px;}
.hs-wide-arc .article-content {background:#141414; padding:10px 20px;}
.article-content #h1title { font-size:22px; margin:5px 0 0; color:#FFB100;}
.article-content .info { font-size:12px; line-height:21px; padding:5px 0; color:#897852;}
.article-content .info a { padding:0 5px;}
.article-content .page-number { background:none;}
/* Sidebar */
.sidebar { margin:5px 0 0 0;}
.sidebar:first-child { margin:0;}
.sidebar-title { height:40px; line-height:40px; font-size:14px; color:#ccc;}
.sidebar-title .title-bg { background:url(http://img3.cache.netease.com/game/blizzard/hs/template/images/title-bg.gif) no-repeat right 0; margin:0 0 0 5px; display:block;}
.sidebar-title .title-bg span { background:url(http://img3.cache.netease.com/game/blizzard/hs/template/images/title-bg.gif) no-repeat 0 -40px; padding:0 0 0 10px; margin:0 0 0 -5px; display:block; font-size:12px;}
.sidebar-title .title-bg span a { background:url(http://img3.cache.netease.com/game/blizzard/hs/template/images/news-icon.gif) no-repeat left center; padding:0 5px 0 10px; line-height:40px;}
.sidebar-title .title-bg h3 { background:url(http://img3.cache.netease.com/game/blizzard/hs/template/images/title-bg.gif) no-repeat 0 -40px; padding:0 0 0 10px; margin:0 0 0 -5px; }
.sidebar .sidebar-content { background:#141414; padding:10px;}
.sidebar .sidebar-bottom { background:url(http://img3.cache.netease.com/game/blizzard/hs/template/images/sidebar-bg-bottom.gif) no-repeat 0 0; height:10px;}
/* End More */
.endMore { height:46px; line-height:44px; overflow:hidden; clear:both; margin:10px 0 20px 0; background:#1a1a1a; border:1px solid #222; border-radius:3px; }
.endMore .left { display:inline; margin-left:9px; text-decoration:none; }
.endMore .left a { color:#FFB100; }
.endMore .right { display:inline; margin-right:9px; }
/* More News */
.more-news-left { float:left; width:285px; }
.hs-wide-arc .more-news-left{ width:360px;}
.more-news-right { float:left; width:285px; margin:5px 0 0 10px;}
.hs-wide-arc .more-news-right{ width:360px;}
.hs-wide-arc .more-video-right{ width:175px; float:left; margin:5px 0 0 15px;}
#endText { width:580px; text-align:justify; text-justify:inter-ideograph; overflow:hidden; padding:9px 0; font-size:14px; clear:both; line-height:23px; word-wrap:break-word; }
.hs-wide-arc  #endText{ width:100%;}
#endText strong { font-weight:bold;}
#endText a, #endText a:visited { color:#FFB100; text-decoration:none; }
#endText a:hover { color:#fff; text-decoration: underline; }
#endText h2 { font-size:14px; }
#endText p { font-size:14px; line-height:23px; text-indent:2em; margin: 14px 0; }
#endText table td p { text-indent:0; }
#endText img { box-shadow:0 0 10px #000;}
#endText hr { border: 1px solid #1a1915;}
#endText td { border:1px solid #2A2A2A; padding:5px;}
#endText td.no-padding { padding:0;}
#endText li { list-style-type: disc; font-size:12px; }
#endText ul { padding: 0 0 0 40px;}
#endText ul li ul { padding: 0 0 0 15px;}
#endText ul li ul li ul { padding: 0 0 0 15px;}
#endText .icon { margin:3px 0 0; border:0; }
#endText .f_center { text-align:center; text-indent:0; }
#endText .f_justify { text-align:justify; text-justify:inter-ideograph; text-indent:0; }
#endText .blz-news { background: url("http://img1.cache.netease.com/game/blizzard/static/images/blizzard-new-bg.jpg") no-repeat scroll center 20px #13181E; border: 1px solid #333333; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 12px rgba(0, 0, 0, 0.8) inset; color: #33A7FF; margin: 20px; padding: 20px; text-align: left; }
#endText .blz-news a { color: #FFFFFF; }
#endText .blz-news a:hover { text-decoration: underline; }
#endText .blz-news h3 { background: url("http://img1.cache.netease.com/game/blizzard/static/images/blz-icon.gif") no-repeat scroll 0 center transparent; border-bottom: 1px solid #2D2D2D; font-size: 14px; font-weight: bold; height: 20px; line-height: 20px; padding: 5px 0 5px 30px; }
#endText .blz-news li { list-style: disc inside none; }
#endText .blz-news p { color:#0099CC; font-size:12px;}
#endText .blue-post .blue-post-content p { font-size:12px;}
#endText .blue-post .blue-post-spokesman img { border:0;}
#endText .no-shadow { box-shadow:none;}
#endText .box-show { background: #1a1a1a; border: 1px solid #222; border-radius: 5px; box-shadow: 0 0 5px #000000; margin: 0 auto; padding: 5px 10px; width: 550px;}
#endText .f_table { border-collapse: collapse; margin: 0 auto;}
#endText .f_left { text-align: left;}
#endText .f_right { text-align: right;}
#tieArea{color:#2b2b2b}
#tieArea a:hover{color:#990000 !important;}
.images-list li span.endpage-sidebar { display:block; width:155px; height:25px; line-height:25px; text-align:center;}
.ep-tie-simple { background: url(http://img3.cache.netease.com/game/sprites_v1.gif) no-repeat !important;; }
.float-window {position: fixed;_position:absolute;top:400px;_top:expression(documentElement.scrollTop+400);z-index: 9000;left:50%; bottom:50px; margin:0 0 0 500px; width:130px; height:222px;color:#333;}
.close-float-window { display:block; width:50px; height:20px; border:1px solid #ccc; text-align:center; line-height:20px; cursor:pointer; float:left; background:#fff; }
.float-window-text {text-align: center;width:130px; line-height:20px; height:20px; display:block; background:#fff; }

a.more { padding:0 10px 0 0; font-size:12px; float:right;}
.article-include-news { background:#0f0f0f; margin:10px 0; }
.article-include-news .images-list { padding:10px;}
.articles { padding:15px;}
.articles .news-list { width:420px; float:left;}
.articles .news-list li { width:200px; float:left; line-height:28px;}
.articles .yixin { width:100px; float:left; text-align:center;}
.articles .yixin span { width:100px; display:block; line-height:14px; padding:10px 0 0;}