@charset "utf-8";
/* Copyright(11.12.01)NetEase Game(W.163.COM)World of Warcraft(4.3) Special.All Rights Reserved. */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border:0 none; font-size:100%; margin:0; outline:0 none; padding:0; }
html, body { background:#02090f; font-size:12px; text-transform:none !important; letter-spacing:0 !important; font-family:Î¢ÈíÑÅºÚ, Microsoft YaHei, Helvetica, Tahoma, StSun, ËÎÌå, SimSun, sans-serif !important; font-style:normal !important; }
ol, ul { list-style:none outside none; }
table { border-collapse:collapse; border-spacing:0; }
:focus { outline:0 none; }
button::-moz-focus-inner { border:0 none; padding:0;  }
a { outline:medium none; text-decoration:none; color:#e6c3e2; }
a:hover { text-decoration:underline; color:#fff; }
textarea { overflow:auto; }
.clear { clear:both; display:block; margin:0; padding:0; }
.clear-after:after { clear:both; content:""; display:block; height:0; visibility:hidden; }
.float-left { float:left; }
.float-right { float:right; }
.align-left { text-align:left; }
.align-center { text-align:center; }
.align-right { text-align:right; }
.relative { position:relative; }
.dynamic-center { margin:0 auto; }
.opacity0 { opacity:0; position:absolute; }
.opacity50 { opacity:0.5; }
.clickable { cursor:pointer; }
.table-center { margin:auto; }
.hide { display:none; }
.texthide { text-indent:-9999px; }
.p-color { color:#f4d9a3; }
p { color:#f4d9a3; text-indent:2em;}
.centerbox { width:960px; }
h3 { color:#e6c3e2; font-size:16px; height:30px; }
a.imglink { border:1px solid #6e3f64; display:inline-block; }
a.imglink:hover { border:1px solid #fff; }
.more { color:#ed1c24;}
a.ntes_w { display:block; position:absolute; left:780px; top:55px; width:150px; height:88px;}
#banner { height:254px; background:url(http://img1.cache.netease.com/game/wow/4.3/newbanner.jpg) no-repeat center top; }
#part-1 { height:221px; background:url(http://img1.cache.netease.com/game/wow/4.3/newpart_1.jpg) no-repeat center top; }
#part-2 { height:667px; background:url(http://img1.cache.netease.com/game/wow/4.3/newpart_2.jpg) no-repeat center top; }
#part-3 { height:799px; background:url(http://img1.cache.netease.com/game/wow/4.3/newpart_3.jpg) no-repeat center top; }
#part-4 { height:695px; background:url(http://img1.cache.netease.com/game/wow/4.3/part_4.jpg) no-repeat center top; }
#part-5 { height:579px; background:url(http://img1.cache.netease.com/game/wow/4.3/part_5.jpg) no-repeat center top; }
#part-6 { height:322px; background:url(http://img1.cache.netease.com/game/wow/4.3/newpart_6.jpg) no-repeat center top; }
#part-7 { height:504px; background:url(http://img1.cache.netease.com/game/wow/4.3/part_7.jpg) no-repeat center top; }
.menu-tab { width:500px; height:170px; position:absolute; top:15px; left:55px; }
.focus { margin:0 auto; clear:both; overflow: hidden; color:#000; }
.focus-tabs { width:510px; height:55px; overflow:hidden; float:left; text-align:center; line-height:21px; display:inline; }
.focus-tabs ul { padding: 0 0 0 20px; width:510px; }
.focus-tabs li { float:left; margin-right:54px; width:70px; height:55px; text-align:center; color:#000; cursor:pointer; }
.focus-tabs li a { width:70px; color:#aa7046; }
.focus-tabs li a:link, .focus-tabs li a:visited { color: #000; }
.focus-tabs li.active { font-weight:bold; color:#fff; background:url(http://img1.cache.netease.com/game/wow/4.3/menu-top.gif) no-repeat center bottom; }
.focus-contents { text-align:left; overflow:hidden; }
.focus-content { display: none; overflow:hidden; }
.focus-contents .focus-content.active { display: block; }
.focus-content p { width:312px; height:76px; display:inline; float:left; margin:13px 0 0 40px; line-height:20px; }
.focus-content img { width:100px; height:76px; float:left; display:inline; margin:13px 0 0 10px; }
.hh { position:absolute; top:0; left:0;}
a.pandarialink { width:112px; height:22px; position:absolute; top:59px; left:821px; display:block; }
.unrealtext { position:relative; padding:5px 0 0 200px; }
.unrealtext p { width:550px; line-height:18px;}
.aboutunreal { position:absolute; top:180px; left:50px; }
.aboutunreal p { width:250px; height:120px; line-height:20px; }
.whereunreal { position:absolute; left:300px; top:120px; }
.newsunreal { position:absolute; left:770px; top:120px; }
.unrealimg { overflow:hidden; }
.unrealimg a { display:block; margin-top:5px; width:152px; height:83px; }
.unrealnews { position:absolute; left:460px; top:130px; width:300px; }
.unrealnews ul { margin-top:20px; }
.unrealnews ul li { line-height:20px; background:url(http://img1.cache.netease.com/game/wow/4.3/newsicon.gif) no-repeat left center; padding-left:13px; }
.bank { position: absolute; left:10px; top:400px; }
.bank .p1 { width:400px; height:55px; position:absolute; left:40px; top:60px; }
.bank .p2 { width:160px; height:100px; position:absolute; left:285px; top:115px; }
.bank .p3 { width:395px; height:55px; position:absolute; left:540px; top:20px; }
.bank .p4 { width:395px; height:55px; position:absolute; left:540px; top:120px; }
.bank .other { width:395px; height:55px; position:absolute; left:540px; top:220px; }
.bank .other a { margin-right:20px; }
.df-text { position:absolute; left:500px; top:50px; color:#e6c3e2; width:466px; }
.df-imglist { position:absolute; top:150px; left:50px; }
.df-imglist a { width:195px; height:122px; margin-right:25px; }
.old-equip { width:330px; height:120px; position:absolute; left:50px; top:350px; }
.old-equip p { width:190px; height:88px; }
.old-equip a { float:right; }
.newzqbb { width:500px; height:115px; position:absolute; left:430px; top:350px; }
.newzqbb p { width:150px; }
.newzqbb a { margin-right:10px; }
.newcj { width:350px; height:250px; position:absolute; left:55px; top:530px; }
.newcj p { line-height:20px; width:330px; }
.newrenwu { width:510px; height:270px; position:absolute; left:425px; top:545px; }
.newrenwu ul { margin:0 0 0 15px; }
.newrenwu li { float:left; width:134px; display:inline; margin-right:27px; }
.newrenwu p { line-height:20px; width:120px; margin:5px 0 20px 0; }
.newrenwu h3 { font-size:14px;}
.newrenwulink { text-align:center; width:500px; display:block; height:30px; line-height:30px; padding:10px 0 10px 0; }
.tuanduitext { position:absolute; left:60px; top:180px; width:250px; height:210px; }
.tuanduitext a.tuanduiimg { width:128px; height:97px; display:block; border:1px solid #911001; }
.tuanduitext a.tuanduiimg:hover { border:1px solid #fff; }
.tuanduitext p { width:110px; color:#a60000; }
.tuanduitext p a { color:#c69c6d; }
.tuanduidiaoluo { margin-top:10px; }
.tuanduidiaoluo h3 { color:#911001; font-size:14px; }
.tuanduidiaoluo span a { color:#911001; padding:0 10px 0 0; }
.tuanduiboss { width:530px; position:absolute; left:400px; top:78px; }
.tuanduiboss li { float:left; width:130px; height:160px; }
.tuanduiboss li a { color:#ed1c24; }
.tuanduiboss li a:hover { color:#fff; }
.tuanduiboss li span { padding-top:110px; display:block; color:#f4d9a3; padding-left:25px; line-height:30px; }
.newfb { position:absolute; left:15px; top:495px; width:940px; }
.newfb a:hover { color:#fff; }
.newfb li { float:left; width:310px; height:140px; }
.newfb li a.fbmovie { width:167px; height:88px; display:block; }
.newfb li p { width:128px; line-height:20px; }
.newfb li cite { width:167px; font-style:normal; height:50px; display:block; }
.newfb li cite span { padding:20px 0 0 25px; line-height:50px; }
.t13text { position:absolute; left:530px; top:60px; font-size:14px; }
.t13 { position:absolute; left:110px; top:210px; }
.t13 ul { position:relative; width:840px; height:310px; }
.t13 li span { color:#f4d9a3; display:block; line-height:30px; padding-left:30px; }
.t13 li a { line-height:25px; }
.t13 .zs { position:absolute; top:10px; left:10px; }
.t13 .lr { position:absolute; top:10px; left:185px; }
.t13 .sm { position:absolute; top:10px; left:350px; }
.t13 .qs { position:absolute; top:10px; left:550px; }
.t13 .ms { position:absolute; top:10px; left:710px; }
.t13 .ss { position:absolute; top:255px; left:25px; }
.t13 .dz { position:absolute; top:255px; left:195px; }
.t13 .fs { position:absolute; top:255px; left:358px; }
.t13 .xd { position:absolute; top:255px; left:538px; }
.t13 .dk { position:absolute; top:255px; left:715px; }
.dagger-img { position:absolute; left:40px; top:90px; }
.dagger-img cite { font-style:normal; display:block; color:#c490bf; line-height:50px; width:245px; text-align:center; }
.dagger-center { position:absolute; left:310px; top:98px; }
.dagger-center p { text-indent:0;}
.dagger-color1 { color:#c490bf; font-size:14px; }
.dagger-color2 { color:#fde202; padding:0 10px 0 55px; }
.dagger-color3 { color:#ff0000; }
.dagger-color4 { color:#92278f; }
.dagger-color5 { color:#f26522; }
.dagger-center { width:265px; line-height:25px; }
.dagger-renwu { position:absolute; left:650px; top:50px; }
.dagger-renwu h2 { color:#c490bf; font-size:16px; line-height:40px; }
.dagger-renwu h3 { font-size:14px; height:20px; }
.dagger-renwu span { display:inline-block; }
.dagger-renwu span.renwu-mb { padding-bottom:40px; }
a.xkimg { display:block; width:233px; height:87px; position:absolute; left:37px; top:118px;}
a.xkimg:hover { border:1px solid #fff;}
.p7img { width:540px; height:190px; position:absolute; left:55px; top:90px; }
.p7img li { float:left; margin-right:15px; display:inline;}
.p7img cite { font-style:normal; display:block; width:236px; text-align:center; line-height:30px;}
.p7img-right { position:absolute; top:40px; left:610px; width:370px; height:230px; }
.p7img-right h3 { line-height:50px; height:50px;}
.p7img-right li { float:left; margin:0 50px 20px 0;}
/* Footer */
.footer { height:214px; }
.footer a { color:#fff; }
.footer a:hover { color:#fff; }
.footer .foot { color:#552c09; text-align:center; line-height:30px; }
.footer .col { line-height:30px; }
.footer .text { text-align:center; }
.footer .foot { color:#fff;}
.footer .cRed { color:#F00; }