@charset "utf-8";
/* Copyright 2011, NetEase Game. World of Warcraft(Cataclysm:4.2.2). All Rights Reserved. */
html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,em,img,strong,dl,dt,dd,ol,ul,li,form,table,tr,th,td,input,select { margin:0; padding:0; border:0; outline:0;}
html, body { font: normal 12px/1.3 "Microsoft YaHei", Arial, Helvetica, sans-serif; background:url(http://img1.cache.netease.com/game/wow/4.2/firelands_bg.jpg) no-repeat #050304 top center;}
body.firelands { background:#1b0905 !important;}
ol, ul { list-style: none; }
:focus { outline: 0; }
a { outline: none; text-decoration:none; color:#ff6600; cursor:pointer;}
a:hover { text-decoration:none; color:#fff;}
p { margin: 0.5em 0; color:#fbaf5d; text-indent:2em;}
.clear {clear:both; height:0; overflow:hidden; display:block; padding:0; margin:0; border:0;}
span { color:#fbaf5d;}
li { color:#fbaf5d;}
.ycolor { color:#fbaf5d;}
.bcolor { color:#0099ff;}
.rcolor { color:#cc0000;}
.hidden { display:none;}
.rightpd { padding-right:5px;}
.nav_link a ,.top_search { font-family:"ו"; color:#000;}
/* Firelands Main */
.firelandsmain { margin:0 auto; width:960px; }
/* Banner */
.banner { height:300px; position:relative;}
.banner a { display:block; width:233px; height:76px; position:absolute; right:20px; top:20px; }
/* Firelands Menu */
.firemenu { height:367px; position:relative;}
.firemenu .menulist { position:absolute; left:710px; top:5px;}
.firemenu .menulist li { margin-top:5px;}
.firemenu .menulist li a { display:block; width:220px; height:67px;}
.firemenu .menulist li a.newrc:hover { background:url(http://img1.cache.netease.com/game/wow/4.2/menuhover.jpg)  no-repeat -3px -5px;}
.firemenu .menulist li a.newjq:hover { background:url(http://img1.cache.netease.com/game/wow/4.2/menuhover.jpg)  no-repeat -3px -77px;}
.firemenu .menulist li a.chengzhang:hover { background:url(http://img1.cache.netease.com/game/wow/4.2/menuhover.jpg)  no-repeat -3px -149px;}
.firemenu .menulist li a.newfb:hover { background:url(http://img1.cache.netease.com/game/wow/4.2/menuhover.jpg)  no-repeat -3px -221px;}
.firemenu .menulist li a.newgn:hover { background:url(http://img1.cache.netease.com/game/wow/4.2/menuhover.jpg)  no-repeat -3px -293px;}
/* Modify */
.modify { background:url(http://img1.cache.netease.com/game/wow/4.2/modify.jpg) no-repeat 26px 0; height:278px;}
.modify ul { padding:70px 0 0 29px;}
.modify ul li { float:left; margin-left:4px; display:inline;}
.modify ul li a { display:block; width:147px; height:180px;}
.modify ul li a.modify-1:hover { background:url(http://img1.cache.netease.com/game/wow/4.2/modify.jpg) no-repeat -7px -289px;}
.modify ul li a.modify-2:hover { background:url(http://img1.cache.netease.com/game/wow/4.2/modify.jpg) no-repeat -158px -289px;}
.modify ul li a.modify-3:hover { background:url(http://img1.cache.netease.com/game/wow/4.2/modify.jpg) no-repeat -309px -289px;}
.modify ul li a.modify-4:hover { background:url(http://img1.cache.netease.com/game/wow/4.2/modify.jpg) no-repeat -460px -289px;}
.modify ul li a.modify-5:hover { background:url(http://img1.cache.netease.com/game/wow/4.2/modify.jpg) no-repeat -611px -289px;}
.modify ul li a.modify-6:hover { background:url(http://img1.cache.netease.com/game/wow/4.2/modify.jpg) no-repeat -762px -289px;}
/* Thrall */
.thrall { background:url(http://img1.cache.netease.com/game/wow/4.2/sr.jpg) no-repeat center top; height:520px; position:relative;}
.thrall a { display:block;}
.thrall a:hover { border:1px solid #fffb0f;}
.thrall .ul-left { position:absolute; left:31px; top:29px;}
.thrall .ul-left li { margin:62px 0 0 0;}
.thrall .ul-left li a { width:160px; height:60px;}
.thrall .ul-center { position:absolute; left:205px; top:91px;}
.thrall .ul-center a { width:283px; height:241px;}
.thrall .ul-right { position:absolute; left:499px; top:87px;}
.thrall .ul-right li { margin:4px 0 0 0;}
.thrall .ul-right li a { width:431px; height:57px;}
.thrall .ul-right-bottom { position:absolute; left:499px; top:339px;}
.thrall .ul-right-bottom a { width:431px; height:164px;}
.thrall .ul-left-bottom { position:absolute; left:50px; top:380px;}
.thrall .ul-left-bottom h3 { padding-left:40px; font-size:15px;}
.thrall .ul-left-bottom p { width:410px; text-indent:2em; line-height:22px; color:#000;}
/* Molten Front */
.moltenfront { position:relative;}
.moltenfront span { padding:0 5px 0 5px;}
.moltenfront li { line-height:22px;}
.moltenfront .part1 { background:url(http://img1.cache.netease.com/game/wow/4.2/newrc1.jpg) no-repeat center top; height:357px; position:relative;}
.moltenfront .part1 .text1 { position:absolute; left:640px; top:87px;}
.moltenfront .part1 .text2 { position:absolute; left:70px; top:200px;}
.moltenfront .part1 .text3 { position:absolute; left:520px; top:200px;}
.moltenfront .part2 { background:url(http://img1.cache.netease.com/game/wow/4.2/newrc2.jpg) no-repeat center top; height:453px; position:relative;}
.moltenfront .part2 .text1 { position:absolute; left:540px; top:17px;}
.moltenfront .part2 .text2 { position:absolute; left:70px; top:120px;}
.moltenfront .part2 .text2 span { margin:40px 0 0 -15px; display:block; padding:0;}
.moltenfront .part2 .text3 { width:665px; position:absolute; left:290px; top:120px;}
.moltenfront .part2 .text3 li { width:200px; height:21px; float:left; line-height:21px; display:block;}
.moltenfront .part2 p { line-height:20px;}
.moltenfront .part2 .item a { padding-left:8px;}
.moltenfront .part2 .text4 { width:280px; position:absolute; left:45px; top:305px;}
.moltenfront .part2 .text5 { width:280px; position:absolute; left:345px; top:305px;}
.moltenfront .part2 .text6 { width:280px; position:absolute; left:645px; top:260px;}
/* Firelands */
.firelands { background:url(http://img1.cache.netease.com/game/wow/4.2/firelands.jpg) no-repeat center top; height:516px; position:relative;}
.firelands .bossname { position:absolute; position:absolute; left:30px; top:360px;}
.firelands .bossname li { width:122px; float:left; margin:0 8px 0 0; display:inline; text-align:center;}
.firelands .bossname li a { color:#0099ff;}
.firelands .bossname li a:hover { color:#fff;}
.firelands .movies { position:absolute; left:30px; top:385px;}
.firelands .movies li { float:left; margin:0 8px 0 0; display:inline;}
.firelands .movies li a { display:block; width:120px; height:90px; border:1px solid #a87442;}
.firelands .movies li a:hover { border:1px solid #fffb0f;}
.firelands .bossitem { position:absolute; position:absolute; left:30px; top:475px;}
.firelands .bossitem li { width:122px; float:left; margin:0 8px 0 0; display:inline; text-align:center;}
.boss_ { display:none; }
.boss_ p { color:#fbaf5d;}
.boss:hover .boss_ { width:147px; height:218px; display:block; left:0; top:0; line-height:22px; position:absolute; z-index:9999;}
.boss:hover .boss_ * { display:block; padding:0px 2px; color:#fbaf5d;}
.bossie {cursor:pointer;}
.bossie .boss_ { width:147px; height:218px; display:block; left:0; top:0; line-height:22px; position:absolute; z-index:9999;}
.bossie .boss_ * { display:block; padding:55px 5px 0 15px;}
#firelandsboss { height:292px; position:relative; z-index:9999;}
#firelandsboss .boss-1 { position:absolute; left:190px; top:165px;}
#firelandsboss .boss-1 .bossie .boss_ { background:url(http://img1.cache.netease.com/game/wow/4.2/b.gif) no-repeat;}
#firelandsboss .boss-1 .boss { width:80px; height:50px; position:relative; cursor:pointer; z-index:9999;}
#firelandsboss .boss-1 .bossie { width:80px; height:50px; position:relative; z-index:9999;}
#firelandsboss .boss-2 { position:absolute; left:738px; top:105px;}
#firelandsboss .boss-2 .bossie .boss_ { background:url(http://img1.cache.netease.com/game/wow/4.2/l.gif) no-repeat;}
#firelandsboss .boss-2 .boss { width:80px; height:50px; position:relative; cursor:pointer; z-index:9999;}
#firelandsboss .boss-2 .bossie { width:80px; height:50px; position:relative; z-index:9999;}
#firelandsboss .boss-3 { position:absolute; left:445px; top:190px;}
#firelandsboss .boss-3 .bossie .boss_ { background:url(http://img1.cache.netease.com/game/wow/4.2/a2.gif) no-repeat;}
#firelandsboss .boss-3 .boss { width:80px; height:50px; position:relative; cursor:pointer;}
#firelandsboss .boss-3 .bossie { width:80px; height:50px; position:relative; }
#firelandsboss .boss-4 { position:absolute; left:105px; top:185px;}
#firelandsboss .boss-4 .bossie .boss_ { background:url(http://img1.cache.netease.com/game/wow/4.2/s.gif) no-repeat;}
#firelandsboss .boss-4 .boss { width:80px; height:50px; position:relative; cursor:pointer;}
#firelandsboss .boss-4 .bossie { width:80px; height:50px; position:relative; }
#firelandsboss .boss-5 { position:absolute; left:285px; top:180px;}
#firelandsboss .boss-5 .bossie .boss_ { background:url(http://img1.cache.netease.com/game/wow/4.2/belk.gif) no-repeat;}
#firelandsboss .boss-5 .boss { width:80px; height:50px; position:relative; cursor:pointer;}
#firelandsboss .boss-5 .bossie { width:80px; height:50px; position:relative; }
#firelandsboss .boss-6 { position:absolute; left:310px; top:110px;}
#firelandsboss .boss-6 .bossie .boss_ { background:url(http://img1.cache.netease.com/game/wow/4.2/lk.gif) no-repeat;}
#firelandsboss .boss-6 .boss { width:80px; height:50px; position:relative; cursor:pointer;}
#firelandsboss .boss-6 .bossie { width:80px; height:50px; position:relative; }
#firelandsboss .boss-7 { position:absolute; left:443px; top:100px;}
#firelandsboss .boss-7 .bossie .boss_ { background:url(http://img1.cache.netease.com/game/wow/4.2/lg.gif) no-repeat;}
#firelandsboss .boss-7 .boss { width:80px; height:50px; position:relative; cursor:pointer;}
#firelandsboss .boss-7 .bossie { width:80px; height:50px; position:relative; }
/* Orange rod */
.orangerod { background:url(http://img1.cache.netease.com/game/wow/4.2/cz.jpg) no-repeat center top; height:763px; position:relative;}
.orangerod li { line-height:22px;}
.orangerod .classname { position:absolute; left:290px; top:100px;}
.orangerod .classname li { float:left; width:115px; color:#fbaf5d; font-weight:bold; font-size:14px;}
.orangerod .text2 { width:370px;}
.orangerod .text2 li { float:left; width:180px; height:20px;}
.orangerod .text3 h3 { line-height:25px; padding-left:20px; font-size:14px;}
.orangerod .text3 p { width:400px; color:#000; line-height:22px;}
.orangerod .part1 { position:relative; height:195px; padding-top:160px;}
.orangerod .part1 .text1 { position:absolute; left:500px; top:170px;}
.orangerod .part1 .text2 { position:absolute; left:55px; top:255px;}
.orangerod .part1 .text3 { position:absolute; left:450px; top:230px;}
.orangerod .part2 { position:relative; height:195px;}
.orangerod .part2 .text1 { position:absolute; left:500px; top:10px;}
.orangerod .part2 .text2 { position:absolute; left:55px; top:110px;}
.orangerod .part2 .text2 li { list-style:none; line-height:30px;}
.orangerod .part2 .text3 { position:absolute; left:450px; top:70px;}
.orangerod .part3 { position:relative; height:195px;}
.orangerod .part3 .text1 { position:absolute; left:500px; top:10px;}
.orangerod .part3 .text2 { position:absolute; left:55px; top:100px;}
.orangerod .part3 .text2 li { list-style:none; float:none;}
.orangerod .part3 .text3 { position:absolute; left:450px; top:70px;}
.orangerod .orangerodvideo { position:absolute; left:250px; top:85px;}
.orangerod .orangerodvideo a { display:block; width:120px; border:1px solid #a87442;}
.orangerod .orangerodvideo a:hover { border:1px solid #fffb0f;}
/* Footer */
.footer { width:960px; height:109px; padding:100px 0 0 0; margin:0 auto; position:relative;}
.foot { color:#f88906; text-align:center; line-height:30px; }
.foot .col { color:#f88906; line-height:30px;}
.foot .text { text-align:center; }
.cRed { color:#F00;}