body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: center;
}
.middletitle{
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #294B85;
	padding-left: 10px;
	text-align: left;
}
.middletitle2{
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #D30000;
	padding-left: 10px;
	padding-right: 10px;
	text-align:center;
	padding-top: 10px;
}
.middletext{
	font-family: "宋体";
	font-size: 12px;
	color: #666666;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-align:left;
	line-height: 18px;
}
.a1 {
    font-family: "宋体";
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    text-decoration: none;
}
.f141 {
	font-family: "Tahoma";
	font-size: 12px;
	color: #333;
	font-weight:bold;
}
.border01 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D4D4D4;
	border-bottom-color: #D4D4D4;
	border-left-color: #D4D4D4;
	padding: 8px;
}
.middleborder {
	border: 1px solid #9EB7DD;
}
.dashed{
	border-bottom: 1px dashed #E1E1E1;
}

.a6 {
    font-family: "宋体";
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    text-decoration: none;
}

.rborder {
	border: 1px solid #CDCDCD;
}
.jbbottom {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	background-color: #EBEBEB;
	text-align: center;
	height: 40px;
}
.rmailbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 21px;
	font-weight: normal;
	text-align: left;
	padding-top: 20px;
	padding-right: 12px;
	padding-bottom: 20px;
	padding-left: 12px;
	color: #333333;
}
a:link {font-size: 12px;color: #555;	line-height: 18px;}
a:active {font-size: 12px;color: #555;	line-height: 18px;}
a:visited {font-size: 12px;color: #555;	line-height: 18px;}
a:hover {font-size: 12px;color: #CC0000;	line-height: 18px;text-decoration: underline;}

.white{padding-left:8px;padding-right:2px;text-decoration:none;}
.white a:link {font-size: 12px;color: #fff;	line-height: 18px;text-decoration:none;}
.white a:active {font-size: 12px;color: #ff;	line-height: 18px;text-decoration:none;}
.white a:visited {font-size: 12px;color: #fff;	line-height: 18px;text-decoration:none;}
.white a:hover {font-size: 12px;color: #fff;	line-height: 18px;text-decoration: underline;}

.a2 {
    font-family: "宋体";
    font-size: 12px;
    line-height: 18px;
    color: #6F8DEA;
    text-decoration: none;
}
.a2 a:link {font-size: 12px;color: #6F8DEA;	line-height: 18px;}
.a2 a:active {font-size: 12px;color: #6F8DEA;	line-height: 18px;}
.a2 a:visited {font-size: 12px;color: #6F8DEA;	line-height: 18px;}
.a2 a:hover {font-size: 12px;color: #004880;	line-height: 18px;}









.t_white_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "tahoma"; TEXT-DECORATION: none
}
.t_yellow {
	FONT-SIZE: 12px; COLOR: #ffe400; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: "tahoma"; TEXT-DECORATION: none
}
.t_deepgrey {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #303030; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
A.t_deepgrey:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #303030; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: "tahoma"; TEXT-DECORATION: none
}
A.t_deepgrey:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #303030; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: "tahoma"; TEXT-DECORATION: none
}
A.t_deepgrey:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #c32013; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: "tahoma"; TEXT-DECORATION: underline
}
A.t_deepgrey:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #303030; LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: "tahoma"; TEXT-DECORATION: none
}
.t_white_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "tahoma"; TEXT-DECORATION: none
}
A.t_white_bold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "tahoma"; TEXT-DECORATION: none
}
A.t_white_bold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "tahoma"; TEXT-DECORATION: none
}
A.t_white_bold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9900; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "tahoma"; TEXT-DECORATION: underline
}
A.t_white_bold:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "tahoma"; TEXT-DECORATION: none
}


.td {
	background:url(../images/sec_35.gif) repeat-x;
	height:24px;
	font-size:14px;
	color:#333333;

}
.td_date{
    width:79px;
	color:#666666;
	font-size:12px;
	background:url(../images/sec_35.gif) repeat-x;
	height:24px;	

}
.td a{
	color:#333333;	height:24px;
	font-size:13px;
	background:url(../images/sec_35.gif) repeat-x;text-decoration:none;
	line-height:28px;
}
.td a:link{
	color:#333333;	height:24px;
	font-size:13px;
	background:url(../images/sec_35.gif) repeat-x;text-decoration:none;
	line-height:28px;
}
.td a:actived{
	color:#333333;	height:24px;
	font-size:13px;
	background:url(../images/sec_35.gif) repeat-x;text-decoration:none;
	line-height:28px;
}
.td a:hover{
	color:#c00;
	line-height:28px;
}